[2019-05-07 17:33] caniszczyk opened #17 "Transfer opentelemetry.io to CNCF"
There's a 60 day lock on the domain that @bogdandrutu picked up

CNCF/LF use namecheap so we will have to wait.

[2019-05-14 15:31] bogdandrutu opened #4 "Please update the name of the project on the website"

[2019-05-14 18:31] vitaliis opened #5 "Rename repository to opentelemetry-website"
Currently the link on the [organization page (for all projects)](https://github.com/open-telemetry) doesn't work. It points to probably old location http://opentelemetry.dev .
The new fixed one is https://opentelemetry.netlify.com/ I assume.

In addition this project could be renamed. Maybe some domain neutral name would be good, such as `opentelemetry-website`.

[2019-05-19 11:32] #4 closed

[2019-05-19 11:33] lucperkins commented on #5
@vitaliis What's the rationale behind using a repo name like `*-website`?

[2019-05-19 12:25] vitaliis commented on #5
To keep it domain-independent (read abstract enough).

And by the way it is fixed by now... (both the repo name and the link on the org page)
At least for now. My intention was to keep it abstract enough so that new domain name doesn't break this repo name and therefore all the links pointing here.

[2019-05-19 12:25] #5 closed

[2019-05-30 06:43] tedsuo opened #12 "Community and Specification content"
We will have a fair amount of content in the community and spec repos which we also want to be available directly on the website. This content needs to live in these other repos, due having a different approval process. How should it live in both places? We could copy the changes over to the website by hand, but that feels both brittle and tedious.

Since the content in all three repos is written

[2019-05-30 14:34] lucperkins commented on #12
@tedsuo I think the same submodule-driven approach we took for the OpenTracing site is the way to go. Feel free to point me to content that you'd like to include and I can work up a system for doing so.

[2019-06-14 20:57] iredelmeier opened #15 "Consider a non-io URL"
tl;dr: There are a few significant issues with the .io TLD.

* **Political issues:** There are some [political concerns](https://gigaom.com/2014/06/30/the-dark-side-of-io-how-the-u-k-is-making-web-domain-profits-from-a-shady-cold-war-land-deal/) around the .io registry that many people feel strongly about. All debate about the actual concerns aside, it seems unnecessary to alienate users and poten

[2019-06-17 14:49] SergeyKanzhelev commented on #15
I'm glad you brought it. It was raised as an issue and discussed in smaller forum before. We discussed that we want to keep it consistent to other projects even knowing of all the risks.

@tedsuo predicted this question in public. Quote (posting with his permission):

So you can take him up for a conversation over drinks promise.

I suggest we open another issue like "Create a backup for the websi

[2019-06-17 14:54] SergeyKanzhelev opened #16 "Create a back up domain name"
See discussion here: https://github.com/open-telemetry/opentelemetry.io/issues/15

We can discuss alternatives:

- dev
- net
- org
- com

I think `dev` is cool, but project is not only about developers. So maybe `org` would be nicer.

[2019-06-20 21:45] #15 closed

[2019-06-20 21:51] iredelmeier commented on #16
Definitely.

It's probably worth grabbing those alternatives (e.g., variations on both `opentelemetry` and `open-telemetry`, as well as on TLDs) that are both available and not ridiculously expensive, so that squatters and other malicious parties can't cause future sadness.

(My super quick, incomplete search suggests that `open-telemetry` is available for $12 with most major TLDs, but `openteleme

[2019-06-20 22:00] caniszczyk commented on #16
we have opentelemetry.dev already, if there is a list of domains you want the LF/CNCF to pick up, let us know

[2019-06-20 23:15] SergeyKanzhelev commented on #16
I personally fine with opentelemetry.dev. @iredelmeier I looked - those are all premium domains. I don't really see a value in preventing squatting. Let's close the issue.

/all - please reopen if you believe we need more than `.dev ` as a back up.

[2019-06-20 23:15] #16 closed

[2019-06-20 23:19] SergeyKanzhelev commented on #12
This repo now has a lot of content: https://github.com/open-telemetry/opentelemetry-specification/

@lucperkins do you have any feedback on the structure of the repository? Basically, top level README.md is a starting point for specs, terminology, etc. Can you make the repo into the website?

[2019-06-20 23:22] SergeyKanzhelev commented on #17
tranferred issue out of community repo

[2019-06-24 01:33] lucperkins commented on #12
@SergeyKanzhelev I'm going to do my best to bring that material into the website. If any changes are necessary, I can submit a PR to that repo. Shouldn't be too hard in general.

[2019-07-02 20:16] lucperkins commented on #12
@SergeyKanzhelev @tedsuo So, I'm doing some digging, and I don't think it's going to work in the spec's current form. The issue is that a lot of the spec documents contain image links and relative links to other documents, such as the README, that won't work when transported outside that context. I'm going to see what I can do but it's possible that we won't be able to display the spec under opent

[2019-07-02 21:23] lucperkins commented on #12
@SergeyKanzhelev @tedsuo Actually, it turns out that this is an issue for OpenTracing as well: https://github.com/opentracing/opentracing.io/issues/349.

[2019-07-03 18:37] tedsuo commented on #12
Oof, yeah that is a tricky wicket. I wonder if there are ways we can change the spec and community repos to make embedding easier. Obviously this was not a requirement when we started.

Some questions:
* Would it be helpful to flatten the repo to a single folder? Right now some content is nested, but it is not really necessary.
* Can we write links / urls in a certain way to make them work in both

[2019-07-11 20:43] lucperkins commented on #12
@tedsuo There are basically two things that need to happen:

1. `../foo.md` links need to be converted to `../foo`
2. Page metadata of this form needs to be attached to each page:

[code]

#2 is easily achieved by changing the docs directly in the spec folder and committing those changes. #1 necessarily requires some kind of swap-out logic.

[2019-07-16 16:01] tedsuo commented on #12
Blech. That's a bummer. On the one hand, I want these docs on the website. But I see how this can sprawl... rewriting anchor links and other nonsense... sadness.

I'm open to creative solutions here. But for now, I agreer we should just link to the repos.

[2019-07-16 18:29] austinlparker commented on #12
As the person that broke the spec on opentracing.io (😂) I'm going to put a vote in favor of linking to the repos. I'd suggest that we look into ways to logically separate the 'documentation' from the 'specification', or create a consistent approach to allow for per-language documentation to be hosted on the website. Seems to me that language docs are going to be more valuable from a discovery/sear

[2019-07-16 18:56] lucperkins commented on #12
@tedsuo One possible solution would be to restructure the specification docs in a way that makes those docs immediately consumable by the site generator (i.e. break the Markdown links and add page metadata). It could be made abundantly clear in the specification repo README that that repo is "write only," i.e. only of interest to people working on the spec, and that opentelemetry.io is the canonic

[2019-07-17 20:00] lucperkins commented on #12
@austinlparker Logically separating the spec and the "docs" has definitely been the plan all along. The per-language docs will eventually live here in this repo and be part of an integrated experience. The spec will be the only exception to that and only for logistical reasons (**sigh**).

[2019-07-17 20:53] austinlparker commented on #12
The canonical presentation layer is a good idea, imo.

[2019-07-19 17:59] lucperkins commented on #12
@austinlparker Okay. If I can get a quorum of core maintainers on board I'm happy to make that happen.

[2019-08-07 19:02] caniszczyk commented on #17
This is fixed now!

[2019-08-07 19:02] #17 closed

[2019-09-24 16:59] mayurkale22 opened #31 "Libraries Status: Node.js vs Javascript"
Navigate to [https://opentelemetry.io/](https://opentelemetry.io/) and look for **Status** item, in the list of libraries you will see the Node.js and Javascript. I think we should only keep one, which is **Javascript**.

[2019-09-25 14:59] austinlparker commented on #31
Given that the JS project will support both, yeah, this makes sense to me. I'll adjust it. Thanks!

[2019-09-25 14:59] #31 closed

[2019-09-26 17:28] austinlparker opened #32 "Update Netlify permissions"
@lucperkins are you able to add me to the netlify team? #30 requires some build changes (need to put a API key in the env vars to pull github milestones)

[2019-09-27 00:42] lucperkins commented on #32
@austinlparker Invitation sent. Let me know if those permissions are sufficient.

[2019-09-27 14:28] austinlparker commented on #32
Yep, looks good. Thanks!

[2019-09-27 14:28] #32 closed

[2019-09-30 15:00] austinlparker opened #33 "JavaScript Tracing Documentation"
We need to create initial documentation for tracing. It should include -

* A quick start guide that includes information such as:
  * Initialize/configure the tracer.
  * Create a span, add attributes/events, finish the span.
  * Propagate the trace context to another process over HTTP.
  * Propagate the trace context inside the process.
* API documentation, or a link to the API documentation if

[2019-09-30 15:01] austinlparker opened #34 "Python Tracing Documentation"
We need to create initial documentation for tracing. It should include -

* A quick start guide that includes information such as:
  * Initialize/configure the tracer.
  * Create a span, add attributes/events, finish the span.
  * Propagate the trace context to another process over HTTP.
  * Propagate the trace context inside the process.
* API documentation, or a link to the API documentation if

[2019-09-30 15:01] austinlparker opened #35 "C# (.NET) Tracing Documentation"
We need to create initial documentation for tracing. It should include -

* A quick start guide that includes information such as:
  * Initialize/configure the tracer.
  * Create a span, add attributes/events, finish the span.
  * Propagate the trace context to another process over HTTP.
  * Propagate the trace context inside the process.
* API documentation, or a link to the API documentation if

[2019-09-30 15:02] austinlparker opened #36 "Golang Tracing Documentation"
We need to create initial documentation for tracing. It should include -

* A quick start guide that includes information such as:
  * Initialize/configure the tracer.
  * Create a span, add attributes/events, finish the span.
  * Propagate the trace context to another process over HTTP.
  * Propagate the trace context inside the process.
* API documentation, or a link to the API documentation if

[2019-09-30 15:02] austinlparker opened #37 "Java Tracing Documentation"
We need to create initial documentation for tracing. It should include -

* A quick start guide that includes information such as:
  * Initialize/configure the tracer.
  * Create a span, add attributes/events, finish the span.
  * Propagate the trace context to another process over HTTP.
  * Propagate the trace context inside the process.
* API documentation, or a link to the API documentation if

[2019-10-01 15:32] pavolloffay opened #38 "Upate timeline"
Update timeline to reflect the latest changes in https://github.com/open-telemetry/opentelemetry-specification/blob/master/milestones.md

If the spec is the root source of trust we could add a pointer to it in the UI.

[2019-10-01 17:29] austinlparker commented on #38
This has been taken care of in the redesign which just went live (see https://opentelemetry.io/project-status/ for more info)

[2019-10-01 17:29] #38 closed

[2019-10-01 17:34] austinlparker opened #39 "Site needs to redeploy at some interval in order to update project status chart."
The project status chart re-populates information every time the site is rebuilt, we should have a trigger to re-deploy the site every day in order to get fresh data. GitHub Actions might be suitable for this, need to investigate.

[2019-10-01 17:35] austinlparker opened #40 "Add content cards below the fold for highlighted/important info."
Currently we only have the latest blog post in the content cards, but it'd be good to have a component that was three wide and displayed 'top level' information (a link to the progress chart, for example, or highlighted videos)

[2019-10-01 18:41] lucperkins commented on #39
@austinlparker I set up a Zapier Zap to do this. A log of the first automated deploy can be viewed here: https://app.netlify.com/sites/opentelemetry/deploys/5d939d38552d588b8b1a8dec.

[2019-10-01 18:41] #39 closed

[2019-10-01 19:39] austinlparker opened #41 "Create a list of existing instrumentation plugins that work with OpenTelemetry via the OpenTracing bridges."
There's currently a wide variety of existing OSS instrumentation available for OpenTracing (see https://opentracing.io/registry), much of which should work 'out of the box' with OpenTelemetry through a bridge. It would be great if there was a page that had a chart showing which packages had been tested and verified to work, along with any steps required to make it work.

[2019-10-01 19:40] austinlparker opened #42 "Create a quick start guide for deploying the OpenTelemetry Collector."
Similar to the quick start guides for other languages, this should be a quick start guide for deploying the OpenTelemetry Collector and configure it to accept telemetry data/export it to Jaeger/Prometheus.

[2019-10-01 19:42] austinlparker opened #43 "Create a content card for OpenTelemetry Tuesdays."
Similar to the card for latest blog content, we should have a card that links to the OpenTelemetry Tuesday streams and archive. In addition, this card should have some visual assets (maybe even a logo for the stream?)

[2019-10-01 20:02] austinlparker opened #44 "Create an exporter configuration guide for Jaeger"
We need a quick start guide for configuring traces to be sent to the Jaeger exporter, which should also include setting up Jaeger (locally, at least?). Basically the idea is "here's what you need to do in order to run Jaeger so you can see traces" as a starting point.

[2019-10-01 20:03] austinlparker opened #45 "Create an exporter configuration guide for Prometheus"
We need a guide on how to set up Prometheus in order to see metric data from OpenTelemetry. This can be similar to the Jaeger one, just a quick start for running it locally at first.

[2019-10-01 20:31] austinlparker opened #46 "Flesh out the contributor's guide/get involved page."
The page on how to get involved is, quite sadly, bare! (https://opentelemetry.io/get-involved/) We need to add content here -
* Links to each SIG
* Links to the community repo
* Links to the website repo
* Code of conduct
* Links to public calendar (maybe even a widget?)
* Etc.

[2019-10-01 23:55] austinlparker opened #47 "Fix hugo bug in 0.58.3"
When loading the site on 0.58.3, the error 'Transformation failed' occurs. This appears to be a result of this hugo issue: https://github.com/gohugoio/hugo/issues/6274

[2019-10-01 23:58] austinlparker commented on #47
nevermind

[2019-10-01 23:58] #47 closed

[2019-10-02 00:01] michellejae commented on #46
Working on this now :)

[2019-10-03 20:34] austinlparker commented on #46
Closed by #54, thanks!

[2019-10-03 20:34] #46 closed

[2019-10-11 12:31] austinlparker opened #56 "Update project status page with milestone descriptions."
The project status page has a link to the milestone document in GitHub, but the text should be updated to reflect these milestones.

[2019-10-11 12:33] austinlparker opened #57 "Indicate that the rows on the status chart are clickable."
The rows are currently clickable, but it's not very clear that they are. We need some way to indicate that you can go to a SIG repo by clicking on its row.

[2019-10-11 12:34] austinlparker opened #58 "Latest release notes for each SIG repo should be pulled in."
We should display the release notes (cribbed from GH Releases) for each SIG on the project status page.

[2019-10-11 12:36] austinlparker opened #59 "Migrate the OpenTracing Registry to OpenTelemetry"
We should move the registry from OpenTracing to this site, and enhance it if needed.

[2019-10-17 01:54] maenad commented on #43
Hello! I want to give this a go! Do you have any link for the stream and archive? If not, I'll put a placeholder for it. Same with the logo bit.

[2019-10-17 17:27] tedsuo opened #62 "Too much padding on Sidebar"
Just feels a little pushed in.
For example, here with sidebar: https://opentelemetry.io/docs/js/metrics/
Versus here with no sidebar: https://opentelemetry.io/get-involved/

* Sidebar feels to far from the left edge
* Content is too far from the sidebar.
* Content registration is different depending on whether the sidebar is present. It "jumps" to the left when the sidebar appears.

[2019-10-28 19:05] austinlparker opened #64 "Add CODEOWNERS"
Does what it says on the tin...

[2019-10-31 02:19] #58 closed

[2019-10-31 17:07] austinlparker commented on #62
I'm going to adjust it so that the content is pulled in towards the sidebar more but leave the left edge of the sidebar where it is (it's consistent with every other page). this should help, I think - take a look at the PR preview when its ready.

[2019-10-31 17:37] #57 closed

[2019-10-31 17:38] #64 closed

[2019-10-31 18:29] tedsuo opened #70 "Blog not updating on the homepage"
Why, tho?

[2019-10-31 18:58] lucperkins commented on #70
The site build doesn’t have any awareness of the Medium blog, so the site needs to be rebuilt manually when blog posts are published.

[2019-11-01 05:56] lucperkins commented on #70
@tedsuo It looks like the Zap that I created wasn't set up to clear the build cache. I've changed that. This *should* work for now but if issues persist feel free to re-open.

[2019-11-01 05:56] #70 closed

[2019-11-04 22:30] codeboten commented on #34
Started the work https://github.com/open-telemetry/opentelemetry.io/pull/71

[2019-11-05 00:21] #62 closed

[2019-11-17 21:18] austinlparker commented on #40
See #43

[2019-11-17 21:18] #40 closed

[2019-11-17 21:18] austinlparker commented on #35
Done for now

[2019-11-17 21:18] #35 closed

[2019-11-17 21:18] austinlparker commented on #36
Done for now

[2019-11-17 21:18] #36 closed

[2019-11-17 21:19] austinlparker commented on #34
Done for now

[2019-11-17 21:19] #34 closed

[2019-11-17 22:50] #56 closed

[2019-11-17 22:50] #33 closed

[2019-11-17 22:50] #37 closed

[2019-11-17 22:50] #43 closed

[2019-11-25 04:35] tedsuo opened #78 "Project status broke?"
Looks like the fetch from github failed, so the progress bar and release notes are missing.

[2019-11-25 04:35] tedsuo commented on #78
<img width="598" alt="Screen Shot 2019-11-24 at 8 35 26 PM" src="https://user-images.githubusercontent.com/24074/69512727-ff3c2a00-0ef9-11ea-9daa-845b0d3bdf77.png">

[2019-11-25 16:01] #78 closed

[2019-11-25 19:33] austinlparker opened #81 "Quick Start: Intro to Distributed Tracing/Metrics"

[2019-11-25 19:34] austinlparker opened #82 "Quick Start: Language-Agnostic Install Guide"

[2019-11-25 19:34] austinlparker opened #83 "Quick Start: Migrating from OT/OC"

[2019-11-25 19:34] austinlparker opened #84 "Quick Start: Intro to the Collector"

[2019-11-25 19:35] austinlparker opened #85 "Quick Start: Exporter Configuration Guide"

[2019-11-25 19:35] austinlparker opened #86 "Quick Start: Interpreting Traces"

[2019-11-25 20:04] austinlparker opened #87 "Website Wishlist!"
This is a thread to collect things that we'd like to see done to the website in a more 'big picture' sense.

[2019-11-25 20:06] austinlparker commented on #87
It'd be nice to have the sidebar styling improved, and making it a bit easier to use.

[2019-11-25 20:45] codeboten commented on #87
Would love to see a registry section similar to the opentracing one https://opentracing.io/registry/

[2019-12-02 23:06] bhs commented on #87
I like @codeboten's idea, esp if it is built off of GitHub tags (in whole or in part)... that way there's no need to send a PR to a central repo.

I also like the idea of a firm and up-to-date maturity matrix across languages and the many/growing aspects of OTel (APIs, SDKs, auto-instrumentation, etc; and many of these "foreach language").

[2019-12-03 16:09] mtwo commented on #87
Echoing @codeboten and @bhs's comments: a registry and an extremely clear status matrix for each language are my two top requests

[2019-12-03 21:17] austinlparker commented on #87
@bhs the only thing that I don't like about building the registry off of GitHub tags is that it kinda locks people in to using GitHub for OTel stuff. What happens if someone wants to host a package on GitLab? /shrug

For the maturity matrix, it's a good idea if we can get a maturity model defined that everyone accepts.

[2019-12-05 18:43] mangotron opened #88 "Add OpenTelemetry banner to the OpenTracing website"
Just making sure folks can find what they need.

[2019-12-12 13:07] rajibmitra commented on #59
I am interested to contribute to this issue @austinlparker

[2019-12-12 13:31] mayankshah1607 commented on #59
Hi @austinlparker
I noticed that this project is under the CommunityBridge program by CNCF. I would like to contribute by working on this project if no one already is :)

[2019-12-12 18:14] khyatisoneji opened #90 "Add local setup information"
Information about downloading hugo and running the website locally is missing.

[2019-12-13 06:22] austinlparker commented on #90
Closed by #92

[2019-12-13 06:22] #90 closed

[2019-12-14 00:42] SergeyKanzhelev commented on #59
@rajibmitra @mayankshah1607 thank you for your interest! CNCF will pick subset of the project sponsored for Community Bridge program. This is proposed project, not approved. In any way I will be happy to guide either or both of you on this.

As noted in community bridge submission, we want to start with porting this registry: https://opentracing.io/registry/ to this site.  You can find sources for

[2019-12-15 15:24] rajibmitra commented on #59
okay , I am on it @SergeyKanzhelev  thanks.

[2019-12-17 11:45] kdanW commented on #59
Hi. Is recruiting mentees for this project finish?If not I would like to work on this

[2020-01-09 18:23] austinlparker commented on #59
Since this project wasn't accepted for CB, I'll claim it.

[2020-01-09 19:14] austinlparker commented on #88
https://github.com/opentracing/opentracing.io/pull/433

[2020-01-09 19:15] austinlparker commented on #88
Done

[2020-01-09 19:15] #88 closed

[2020-01-10 18:36] austinlparker opened #95 "Learning Resource Guide"
We need a place to collect OSS learning resources (workshop slides, sample apps, etc.) on the page.

[2020-01-21 17:30] austinlparker opened #96 "Standardize GitHub Milestones for Website"
The OpenTelemetry website will be updating shortly (see https://github.com/open-telemetry/opentelemetry.io/pull/30 for more details) with a new feature, an automatically generated SIG progress chart. This chart is generated automatically when the site is published, using data from the GitHub API.

**For existing SIGs**
In order for each SIG's progress to be accurately reported, each SIG needs to c

[2020-01-21 17:30] #96 closed

[2020-01-23 18:43] austinlparker commented on #95
Also, the learning page should have some sort of 'upcoming workshop' thing.

[2020-02-04 15:25] #59 closed

[2020-02-04 16:46] bhs opened #102 ""add your project" link broken in registry"
@austinlparker thank you for getting the registry live!

The `Find out how to add your project to the registry here!` link is broken – just wanted to record that, hopefully the fix is easy.

[2020-02-04 16:47] austinlparker commented on #102
There's a fix for this in #98 waiting on approval - thanks for the issue tho

[2020-02-04 16:54] austinlparker commented on #102
Closed by #98

[2020-02-04 16:54] #102 closed

[2020-02-04 17:01] austinlparker opened #103 "Rework the top-level registry page."
The list of items in the registry top-level page isn't great for a couple of reasons:

1: Client-side search is nice but we're pretty limited in what we can easily do through the search templating. You lose the ability to do loops or whatever, for example, like you might in Hugo. Might be a way to tackle this in the JS but I'd need to look at it more, I remember having trouble with it for the orig

[2020-02-06 14:16] MikeGoldsmith commented on #103
I think grouping projects by type and project maturity will help a lot with the page. It's not easy to discern the difference between projects right now.

I think it would be useful to either make the language tag more easily recogniseable and/or make the language a requirement in the project title. We have duplicate project names for different languages, which is super confusing.

[2020-02-09 23:57] bhs opened #109 "represent API and production maturity of the many components of OTel"
Per https://github.com/open-telemetry/community/pull/290, OTel is a "wide" project with many decoupled components that can and should mature on different schedules. The YAML file in that PR is an attempt to define the "schema" for maturity of both APIs and implementations across OTel.

This issue is a place to discuss how we might represent the maturity matrix on opentelemetry.io. As certain langu

[2020-02-10 04:33] mtwo commented on #109
It _may_ make more sense to represent non-language-specific projects like the collector and operator as items under individual headings rather than making them part of the main table, but I don't feel strongly about this

[2020-02-10 18:22] mangotron opened #110 "Add .svg logo files to the website for easier access"
We should make these available for folks who wish to print their own stickers/swag to make it easier to get.

Ideally both RGB and CMYK versions in full color should be added. I can create the files we need, but not sure if the best bet is to put these on a "brand" page of some kind?

[2020-02-10 18:39] lucperkins commented on #110
It may be easier to send people here: https://branding.cncf.io/projects/opentelemetry

[2020-02-11 00:19] SergeyKanzhelev commented on #110
we have it mentioned here: https://github.com/open-telemetry/community#logos-and-brand-guide should we have it on website as well?

[2020-02-11 00:47] bhs commented on #109
@mtwo re

Totally... had the same thought. I don't feel strongly about that.

IMO the most confusing thing about my proposal is that we have two concepts of "an API"... both for context/trace/metrics, and then for every component across the board as part of the "maturity level". From a nomenclature standpoint that is not great, even if the distinction can be defined. I don't have a better suggesti

[2020-02-11 01:30] mangotron commented on #110
Ah I didn't know the CNCF had a repo for this - maybe just a simple link to that repo from the website then? Website is the _first_ place I would look for this type of asset (speaking as someone who orders a lot of swag, I would not immediately try to find it in Github).

For some additional context, the question came up in the community gitter channel earlier today - going forward I'm more than h

[2020-02-11 19:42] austinlparker commented on #109
Some thoughts -

Externally, it seems like the most important things to me would be an 'overall' gauge of readiness. We should be able to hide the details in a dropdown or collapsible row. We can also do some iconography/badges to represent maturity/doneness. The following illustration is a rough sketch of what a collapsible element would look like, I think.

![image](https://user-images.githubuse

[2020-02-11 19:48] austinlparker commented on #109
left unspoken in my prior comment is a general question of 'ok, so what's the "overall" doneness and imo it should be the SDK maturity

[2020-02-11 23:45] jkwatson opened #112 "README instructions for running locally don't work"
I installed hugo with homebrew, then:

[code]

[2020-02-12 00:36] lucperkins commented on #110
@mangotron I honestly don't know how to discern the difference in images. As for updating that repo, that's not really feasible. The logos are highly standardized across all CNCF projects and any change we make would need to be synced across all of them.

[2020-02-12 19:39] austinlparker commented on #112
Closed by #114

[2020-02-12 19:39] #112 closed

[2020-02-26 04:40] Bhargavamacha commented on #44
Can I take this up? I have done it successfully locally.

[2020-02-26 12:46] austinlparker commented on #44
Sure!

[2020-02-26 12:50] Bhargavamacha commented on #44
I am planning on using opentelemetry-js' one of the examples to send data to Jaeger. Would that suffice?

[2020-02-26 13:51] austinlparker commented on #44
That's fine for a start, yeah. We can add other languages to it after the initial work is done.

[2020-02-27 13:45] Bhargavamacha commented on #44
I have created a document explaining how to get Jaeger up and running.
https://docs.google.com/document/d/1On-NA39ra9c6EO8AuBC-Zc0NfUSBjKgnm528drvqp3E/edit?usp=sharing
Any suggestions on which way I should be going right now?

[2020-02-27 16:29] austinlparker commented on #44
It'll need to be in markdown for us to use it on the site. I think it will be most useful if you could cover how to configure the opentelemetry exporter to Jaeger itself, and discuss any configuration options and what they do.

[2020-02-27 16:32] Bhargavamacha commented on #44
Cool, I'll do that

[2020-02-27 23:58] flands opened #116 "Left nav width is too small"
It appears the left nav width is set to 8.3333% for all devices. This is too narrow on desktop. The bulma theme has not been updated in a while so I am not sure if we want to patch or manually adjust.

[2020-02-28 17:56] Bhargavamacha commented on #44
I made a rough draft of the Quickstart:
https://github.com/Bhargavamacha/jaegerforot/blob/master/Exporter%20configuration%20guide%20for%20Jaeger.md
Let me know if there are any edits

[2020-03-03 22:24] mtwo commented on #44
Looks great! Can you create a PR to put it into the website repo? I'll add comments there

[2020-03-04 14:28] Bhargavamacha commented on #45
Can I take this up?

[2020-03-04 15:46] austinlparker commented on #45
Go for it.

On Wed, Mar 4, 2020 at 2:28 PM Bhargava Sai Macha <notifications@github.com>
wrote:

[2020-03-12 20:09] austinlparker opened #125 "Docs should pull README for each language"
The documentation page should pull README data from each language.

[2020-03-12 20:12] mtwo opened #126 "About page should focus more on OpenTelemetry, less on observability"
Need to reword the about page so that it:

- Focuses more on the project rather than the scope / industry
- Better reflects the beta status
- Move "Get Involved" content to this page
- Link to CNCF branding page

[2020-03-12 20:13] austinlparker opened #127 "Specification should be a Documentation nav item"

[2020-03-12 20:21] austinlparker opened #128 "Project Menu Changes"
* Project Status as top-level
* Get Involved migrates to About
* Project Status page should list being in beta and CTA to try beta languages

[2020-03-12 20:24] austinlparker opened #129 "Remove 'edit page' octocat"
It's buggy in FF right now

[2020-03-12 20:33] austinlparker opened #130 "Beta notification on front page top of fold left"

[2020-03-12 20:33] austinlparker commented on #130
Below logo

[2020-03-12 20:33] austinlparker commented on #130
have language logos + CTA to get started

[2020-03-12 20:35] austinlparker opened #131 "Front page strike first graf right push 2nd graf up"

[2020-03-12 20:43] austinlparker opened #132 "Remove Getting Started Section from FP"

[2020-03-12 20:44] austinlparker opened #133 "Guide content in navbar"

[2020-03-12 20:55] austinlparker opened #134 "Color/Image Changes for site (Big Changes)"
* Hero/CTA should have some sort of picture as BG (@mangotron )
* Navbar should be desaturated otel blue
* BG should be desaturated otel yellow (#fff0ce)
* Standard/drawn images for media content cards
* Add registry well/CTA between hero and content cards

[2020-03-12 20:57] mtwo commented on #126
I'll work on this next week

[2020-03-12 21:02] #41 closed

[2020-03-12 21:05] #42 closed

[2020-03-12 21:05] #81 closed

[2020-03-12 21:05] #82 closed

[2020-03-12 21:05] #83 closed

[2020-03-12 21:05] #84 closed

[2020-03-12 21:05] #85 closed

[2020-03-12 21:05] #86 closed

[2020-03-12 21:05] austinlparker opened #135 "OpenTelemetry Architectural Overview"

[2020-03-12 21:06] #87 closed

[2020-03-12 21:07] austinlparker commented on #110
@mtwo Can we get a link to the CNCF branding page for #126

[2020-03-12 21:08] austinlparker commented on #116
We'll tackle this in the upcoming beta sprint

[2020-03-12 21:09] austinlparker opened #136 "Improve Registry documentation"
Add more info in website readme on how to add data to registry

[2020-03-12 21:20] codeboten opened #137 "Registry search results improvements"
Searching the registry for https://opentelemetry.io/registry/?s=python+exporter returns results for all items containing python and all items containing exporter. I would expect it to return only python exporters.

[2020-03-19 13:59] austinlparker commented on #116
Fixed by #138

[2020-03-19 13:59] #116 closed

[2020-03-20 16:07] #136 closed

[2020-03-24 18:21] #125 closed

[2020-03-24 18:21] #127 closed

[2020-03-25 22:55] pauldraper opened #154 "Structure of opentelemetry"
Perhaps an overlap of #135. (Hard to read, that one.)

It seems like there isn't any good resource for what OpenTelemetry is, and how it's organized.

My best understanding:

* Concepts
  * [opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification)
* Language-independent specification of programming interfaces:
  * [opentelemetry-specification](https://github.com/

[2020-03-25 23:32] austinlparker commented on #154
This is something we'd like to have available for the GA, yes. In the short term, I'd look at #147 and see if those changes address any of these issues as we're trying to make that more clear in the short term.

[2020-03-26 17:33] #129 closed

[2020-03-27 20:46] #126 closed

[2020-03-30 15:48] #131 closed

[2020-03-30 15:48] #132 closed

[2020-03-30 15:48] #130 closed

[2020-03-30 15:48] #134 closed

[2020-03-30 21:25] #128 closed

[2020-03-31 19:26] mayurkale22 opened #162 "bug: registry UI is broken"
See:
<img width="1345" alt="Screen Shot 2020-03-31 at 12 24 11 PM" src="https://user-images.githubusercontent.com/6525361/78066882-9dc61500-734a-11ea-8ab3-438809286456.png">

[2020-04-07 22:18] yurishkuro opened #170 "Change the unorthodox chronological order of release numbers"
https://opentelemetry.io/project-status/

Release numbers are traditionally listed in the reverse chronological order, the latest release first.

[2020-04-09 17:34] austinlparker opened #172 "Improve load time of main background image"

[2020-04-09 17:37] #95 closed

[2020-04-21 14:29] austinlparker opened #175 "Add link to Linux Foundation Privacy Policy in footer"

[2020-04-26 02:39] Michael69out opened #176 "2:53 AR 46 ° * ..l 114% sip_log.txt 0-04-19 21 0-04-19 21 0-04-19 21 0-04-19 21 0-04-19 21 0-04-19 21 0-04-19 21ps://play.google.com/store/apps/details?id=com.officetool.pdfreader2018.pdfviewer2:53 AR 46 ° * ..l 114% sip_log.txt 0-04-19 21 0-04-19 21 0-04-19 Google say something tell me what this is I don't understand what I say it I cannot translate it please do it for 21 0-04-19 21 0-04-19 21 0-04-19 21 0-04-19 212:53 AR 46 ° * ..l 114% sip_log.txt 0-04-19 21 0-04-19 21 0-04-19 21 0-04-19 21 0-04-19 21 0-04-19 21 0-04-19 21https://play.google.com/store/apps/details?id=com.officetool.pdfreader2018.pdfviewer2:53 AR 46 ° * ..l 114% sip_log.txt 0-04-19 21 0-04-19 21 0-04-19 21 0-04-19 21 0-04-19 21 0-04-19 21 0-04-19 21"
2:53 AR 46 ° * ..l 114% sip_log.txt 0-04-19 21 0-04-19 21 0-04-19 21 0-04-19 21 0-04-19 21 0-04-19  21 0-04-19 212:53 AR 46°* ..l 114％sip_log.txt 0-04-19 21 0-04-19 21 0-04-19 21 0-04-19 21 0-04-19 21 0-04-19  21 0-04-19 212:53 AR 46 ° * ..l 114% sip_log.txt 0-04-19 21 0-04-19 21 0-04-19 21 0-04-19 21 0-04-19 21 0-04-19  21 0-04-19 21https://play.google.com/store/apps/details?id=com.officetool.pdf

[2020-04-26 05:01] #176 closed

[2020-05-11 16:14] austinlparker opened #182 "Create Vendor support page"
See https://github.com/open-telemetry/opentelemetry-specification/pull/594 for ongoing discussion about what the different support levels are.

[2020-05-11 20:15] austinlparker commented on #103
<img width="1596" alt="image" src="https://user-images.githubusercontent.com/4140740/81607374-9448b780-93a2-11ea-979b-1b130d9a5363.png">

current WIP of filtering/grouping

[2020-06-10 12:40] austinlparker opened #190 "Accessibility Review"
Per https://github.com/open-telemetry/community/issues/370#issuecomment-641370166 and other D&I measures, we'll need to do some work on making the website ARIA friendly and ensuring that we're using best practices for accessibility. This issue will hold the review from myself and others on figuring out what needs to be changed.

[2020-06-11 07:48] jpkrohling opened #193 "Create a glossary page"
Distributed Tracing and OpenTelemetry have their own set of definitions for words used elsewhere, and people are often confused about their meaning. We are also starting to have acronyms and there doesn't seem to be a place with their definitions. There is a page with a [glossary for terms used in the specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specific

[2020-06-15 18:36] austinlparker commented on #193
Great idea! Adding this to the milestone for GA.

[2020-06-15 19:00] austinlparker opened #200 "Add OpenTelemetry"
I mean... might as well eat our own dogfood, right?

[2020-06-17 15:38] austinlparker commented on #103
Closed by #183

[2020-06-17 15:38] #103 closed

[2020-06-17 15:46] austinlparker opened #203 "Documentation Tracking Issue"
For GA, we need to have docs for each language in GA on the site. This issue will track discovery and implementation.

**Please tag any docs issue or PR with the docs label**
Kanban: https://github.com/open-telemetry/opentelemetry.io/projects/1

**Need To Have**
- Discuss/edit this page link
- Search
- i18n
- Accessible

**To Do**
- [x] Evaluate existing CNCF docs sites
- [x] Create requirements f

[2020-06-18 17:38] #172 closed

[2020-06-24 17:19] mtwo opened #206 "Add link to OpenTelemetry Dev Stats"
It's worth linking to: https://opentelemetry.devstats.cncf.io/d/8/dashboards?orgId=1&refresh=15m

[2020-06-25 21:41] ocelotl opened #207 "Missing Python extensions"
Several Python extensions are missing from the registry.

[2020-06-29 12:53] #207 closed

[2020-06-30 19:37] connorlindsey opened #212 "Remove jQuery dependency from registry search"
The registry search currently uses jQuery which could be removed by refactoring the search.js script. Lighthouse lists removing jQuery as a good opportunity to increase our performance scores. I plan to replace any jQuery used with standard JS functions.

I would like to pick up this issue as well if the maintainers could please assign me to it. Thanks!

[2020-07-17 12:39] austinlparker commented on #212
Closed by #218, thanks!

[2020-07-17 12:39] #212 closed

[2020-07-19 01:56] albertteoh opened #219 "Add deep link to OTEL metrics aggregation specification"
The proposal is to add a deep link to the metrics aggregation specification within the Basic Concepts documentation. The SDK reference below, IIUC, is language-specific, so the user would need to use the "Documentation" menu drop-down for that.

from:
[code]

to:
[code]

[2020-07-19 02:03] albertteoh opened #220 "Fix minor typos in docs"
From https://opentelemetry.io/docs/, there are a few minor typos:

- reccomend.
- Capitalized words after semi-colon such as `car; It only ever goes up.` -> `car; it only ever goes up.`.

[2020-07-20 14:20] #220 closed

[2020-07-20 14:21] #219 closed

[2020-08-13 16:17] codeboten opened #231 "Update python packages in the registry"
The 0.12b0 release of opentelemetry-python is renaming all opentelemetry-ext-* packages to either opentelemetry-instrumentation or opentelemetry-exporter.

The registry needs to reflect this

[2020-08-17 16:29] austinlparker commented on #231
Closed by #232

[2020-08-17 16:29] #231 closed

[2020-08-20 14:50] ffe4 commented on #44
@Bhargavamacha are there any updates on this issue or #45 ?

[2020-08-20 14:59] Bhargavamacha commented on #44
The issue has been solved, it was merged to the master branch. [#119 ](https://github.com/open-telemetry/opentelemetry.io/pull/119#issue-383294712)

[2020-08-20 15:00] ffe4 commented on #44
@Bhargavamacha same with #45 ?

[2020-08-20 15:06] Bhargavamacha commented on #44
I haven't opened a PR for it yet, will do it.

[2020-08-20 15:07] austinlparker commented on #44
#119 only added guides for JavaScript. IMO, it'd be nice if there was a 'generic' landing page for Jaeger/Zipkin configs that had instructions for each language independently.

[2020-08-20 15:15] Bhargavamacha commented on #44
Yeah, I think that's a good idea. Maybe a page saying integrations with all the integrations and options to choose the language for the specific documentation? I haven't been active for a few months, so I am not entirely sure if it's in the works or is already present.

[2020-08-20 16:03] austinlparker commented on #44
There's a bit of a longer-term plan for this fall to rework the docs page entirely, where this would be a good fit.

[2020-08-20 16:06] ffe4 commented on #44
@austinlparker So, do we basically want a page with generic text for all languages and boxes with code where you can choose a tab for the language you are interested in?

[2020-08-20 16:14] Bhargavamacha commented on #44
Sure, sounds good. In the meantime, we can get started with it right, collecting the resources and creating them if there aren't any?

[2020-08-20 16:32] austinlparker commented on #44
Yeah, I think a generic page with different tabs would be great. @Bhargavamacha if you'd like to take point on this, feel free!

[2020-08-20 16:35] Bhargavamacha commented on #44
Cool, I'll get a basic framework of the webpage ready. Should a new issue be created?

[2020-08-20 16:36] ffe4 opened #236 "Website Sync still happening?"
According to the calendar these meetings still take place, but the most recent edit on the linked agenda notes was last year.

Quote from the community repo under Website SIG:

[2020-08-20 16:41] austinlparker commented on #44
Sure thing.

[2020-08-20 16:42] austinlparker commented on #236
Yes, but we're really bad at taking notes.

There's an open issue in community (https://github.com/open-telemetry/community/issues/427) about rolling the website SIG into a larger comms sig, so some changes might be happening soon.

[2020-08-20 16:46] Bhargavamacha opened #237 "Add a documentation page for all integrations with multiple language support"
Discussion @ #44, Continued here.

[2020-08-20 16:59] ffe4 commented on #236
I was hoping for some info regarding the discussions around #203 but I also don't think there are any videos of your meetings on the OTEL YouTube? I think the last video with _Website SIG_ in the title coincides with the last entry in the agenda document.

If the SIG likely gets merged soon anyway there's probably no point in changing much now. I ~assume~ hope once it is a _Comms_ SIG that will be

[2020-08-20 16:59] #236 closed

[2020-08-20 17:20] ffe4 commented on #237
Could you clarify what you want to discuss in this issue? #44 was specifically for Jaeger and discussion could be continued there. If you want merge this with the Prometheus #45 discussion, since you want to work on both issues anyway, the title should probably be about exporter configuration. Or do you want to talk more generally about how to implement docs for multiple languages for #203 ?

[2020-08-20 17:29] Bhargavamacha commented on #237
The issue's for implementing docs for multiple languages for #203.

[2020-08-20 17:33] austinlparker commented on #236
for what it's worth, we didn't really have any discussions around #203 yet. I'm usually the only person on the calls, it's been a busy summer, but I hope we can kickstart things with the SIG revamp and the upcoming website work pre-GA.

[2020-09-01 15:31] Aneurysm9 opened #245 "Confusing links to OpenTracing and OpenCensus"
https://opentelemetry.io/about/ includes links under the FAQ: What is Observability section labeled [Tracing](https://opentracing.io/docs/overview/what-is-tracing) and [Metrics](https://opencensus.io/stats) that lead to OpenTracing and OpenCensus documentation, respectively.  This has led to confusion regarding whether the information provided at those pages is relevant to OpenTelemetry implementa

[2020-09-01 22:19] austinlparker commented on #245
sure

[2020-09-02 16:57] austinlparker commented on #203
Adding some notes here for myself/anyone else following at home -

I've started looking into the feasibility of porting the site over to the Docsy theme (used by k8s doc site, most notably). To its credit, it checks a lot of boxes for us out of the box. Here's a preview of what the docs section could look like (most options in the theme are on defaults, so colors/fonts/etc are technically WIP) -
!

[2020-09-02 17:18] austinlparker commented on #203
Pardon the auto-translation, but here's an example of how the multi-language works - you get a dropdown in the corner (these languages need to be defined in `config.toml`) -
![image](https://user-images.githubusercontent.com/4140740/92015049-33ad0400-ed1e-11ea-9568-180abb093614.png)

In the repo itself, you just need to ensure that your content is defined per-language -
![image](https://user-image

[2020-09-02 21:54] #245 closed

[2020-09-04 20:38] HarryAtMove opened #248 "Ruby"
It would be great to see support for the Ruby language

[2020-09-10 05:13] ffe4 commented on #248
There is a link to the OpenTelemetry [Ruby OpenTelemetry client](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/README.md) under `Documentation` on the website. Do you mean something else?

[2020-09-10 15:43] HarryAtMove commented on #248
I obviously did not dig deep enough, thank you!

https://opentelemetry.io/ homepage should have the following section updated then.
![image](https://user-images.githubusercontent.com/4128444/92756451-b139cb00-f341-11ea-8863-ca8a63eb2fff.png)

[2020-09-10 15:59] ffe4 commented on #248
I think the Ruby client might not be in Beta yet, and therefore not listed in that section.

[2020-09-10 16:05] #248 closed

[2020-09-16 18:31] austinlparker commented on #203
working on some ideas for the landing page:
![image](https://user-images.githubusercontent.com/4140740/93377655-4e58a000-f829-11ea-8154-c4d5e61c68b7.png)

[2020-09-16 20:03] ffe4 commented on #203
Just stumbled upon your update and not sure what kind of feedback you are looking for, so just my first thoughts here, without really having thought about what the website could/should look like before.

I kind of like having the cards sit on the background like this, but I think the background itself just does not lend itself well to centered content. I also think it would be good to add a bit of

[2020-09-16 20:07] austinlparker commented on #203
yeah, i'm thinking of maybe doing 3-up for the cards (languages, libraries, integrations) with sort of the "featured" things. I'm also looking at integrating the existing look-n-feel a bit more. Could also just do languages/libraries 2-up then leave the supported analysis stuff at the bottom

![image](https://user-images.githubusercontent.com/4140740/93387072-a3e77980-f836-11ea-9535-263b6f36af40.p

[2020-09-17 11:57] ffe4 commented on #203
For me, the background is making this a bit awkward. The telescope is the most meaningful object in the picture (as it is our logo), but it seems that whichever way the image is cropped, the telescope will always be mostly covered by other stuff. It just feels kind of wrong to me.

If we want to use the background, maybe just having Get Started, Github, and scroll buttons and a short blurb without

[2020-09-17 12:12] ffe4 commented on #203
On second thought, having something like this would probably be the best use of the background, assuming we can make the text pop despite the busy image. (sorry for the very minimal effort example)

<img width="1280" alt="Screen Shot 2020-09-17 at 14 09 49" src="https://user-images.githubusercontent.com/61800298/93468704-ad80e800-f8ef-11ea-9fac-86d6cae14ba8.png">

[2020-09-17 15:47] austinlparker commented on #203
Noodled on it a bit more with your latest suggestion in mind
![image](https://user-images.githubusercontent.com/4140740/93494913-8e785b00-f8db-11ea-974f-1abc2f4a46fb.png)

[2020-09-17 17:25] ffe4 commented on #203
I like this one much more! What do you have in mind for beyond the scroll? It would be useful to define what exactly we want to have on the landing page and try to create a consistent layout that also fits the content.

[2020-09-17 17:37] austinlparker commented on #203
Let me push what I have to the preview branch - you can take a look at https://deploy-preview-247--opentelemetry.netlify.app/

[2020-09-17 17:43] austinlparker commented on #203
right now there's some information duplication - I'm not sure how much of what I want on the current frontpage to carry over. I need to start getting the registry ported over though, so that's probably next on my plate.

I see that you're active in python - one thing I've been trying to parse out in my head is how we should handle "minimum acceptable documentation" for each SIG on the site. I don'

[2020-09-17 18:14] ffe4 commented on #203
Yeah I was thinking about that as well. Defining a couple of common Getting Started scenarios would make the most sense, and I would hope that there is a place for those in each SIG's native docs. I've seen that there are some glitch pages (https://glitch.com/@opentelemetry), but haven't looked at them yet. Is there something useful among those?

I would just make the Getting Started guides the fi

[2020-09-17 19:06] austinlparker commented on #203
Yeah, those glitch samples are what we use for the official workshops. I was planning on linking to them - it might make a lot of sense to just have that be the basis of the getting started examples...

[2020-09-22 13:32] arminru opened #4348 "Documentation of default exporters"
open-telemetry/opentelemetry-specification#943 introduced the environment variable `OTEL_EXPORTER` to the SDK spec which is used for configuring the exporter. It defines `otlp` as the default value for this environment variable in [specification/sdk-environment-variables.md](https://github.com/open-telemetry/opentelemetry-specification/blob/2088381f57004be1de4fa16e0c2adeea04cf2ce2/specification/sd

[2020-09-24 14:47] pmalek-sumo opened #255 "Instructions at https://opentelemetry.io/docs/collector/about/ are out of date"
I've downloaded https://github.com/open-telemetry/opentelemetry-collector.git today and it appeared to me that instructions from https://opentelemetry.io/docs/collector/about/ , section `Local` are out of date.

There is no `examples/main.go` anymore but there is `examples/demo/app/main.go`.

I'd be happy to submit a PR to fix that.

[2020-10-01 08:29] jpkrohling opened #259 "Add mention to the operator in the collector's page"
In the following page:
https://opentelemetry.io/docs/collector/about/

We should also mention the OpenTelemetry Operator as a way to deploy the collector on Kubernetes:
https://github.com/open-telemetry/opentelemetry-operator/

[2020-10-01 08:30] jpkrohling commented on #259
This issue can be assigned to me.

[2020-10-05 12:23] #259 closed

[2020-10-08 19:34] jsuereth opened #265 "Feature Request: Fragment Open Telemetry Documentation on homepage by "User"."
I'd really love if the Open Telemetry homepage had the following content:

- A broad overview of what Open Telemetry is.
- Three sets of links for users to continue reading based on what type of user they may be (for now I'm thinking `users`, `integrators` and `maintainers`).

Then there'd be a new homepage with geared information and links.

## For Users
This would be a section for end-users on h

[2020-10-15 12:38] austinlparker opened #267 "Visual Asset Needs"
A thing that'd be nice to have is some sort of library of visual assets we can use for the website and slide decks. This issue exists to track what we can think of/might need.

- Iconography for OTel components (API, SDK, Collector)
- Diagrams of the telemetry pipeline (akin to https://user-images.githubusercontent.com/1859948/95499822-db4bd080-0973-11eb-8dc3-9bcd5b8185e4.png)
- Iconography per-SI

[2020-10-15 16:02] austinlparker commented on #267
Yeah.. to expand a bit, I think we'll need icons (or at least styles) for the 'included' processors/exporters, or at least a way to represent them in a pipeline.

So for propagation, that's W3C and B3. Zipkin/Jaeger/Console exporters. The SIG list is currently under 'Documentation' on the site, but it's basically languages (so C#, Java, Node, etc.) I think the best thing there would be a 'standard

[2020-10-15 16:04] austinlparker commented on #267
Insofar as 'well instrumented system', not really - there's plenty of "example microservice applications" like google's ecommerce app, or MS eshop, spring petclinic, whatever. There's nothing quite in the 'sweet spot' of simple to understand but complex enough to demonstrate concepts.

[2020-10-15 16:24] austinlparker commented on #265
I think the user/integrator stuff would be great for the new docs section, definitely. I'm going to try to get the new theme out ASAP so we can build content for it.

[2020-10-16 20:28] austinlparker opened #269 "Erlang references should be styled 'Erlang/Elixir' consistently"
per #268

[2020-10-20 13:31] nirsky opened #270 "TypeORM plugin does not appear in the website registry"
Hey,
TypeORM plugin is [in the repo](https://github.com/open-telemetry/opentelemetry.io/blob/master/content/registry/instrumentation-js-typeorm.md).
But I can't find it in the registry search: https://opentelemetry.io/registry/

Edit: I now noticed some other registry files got excluded as well.
Made a PR to fix this: https://github.com/open-telemetry/opentelemetry.io/pull/271

[2020-10-20 14:26] austinlparker commented on #270
closed by #271, thanks for catching this!

[2020-10-20 14:26] #270 closed

[2020-10-21 21:07] tedsuo opened #273 "Bug: Blog navigation no longer points to medium"
The blog link in the navigation goes to https://opentelemetry.io/blog/ (which looks like a test feature) instead of https://medium.com/opentelemetry

[2020-10-21 21:46] mtwo commented on #273
Yikes, fixing

[2020-10-21 22:05] mtwo commented on #273
Nevermind, I don't know how to fix this since the top nav is automatically generated from the content sections. @austinlparker can you redirect the Blog navigation link to the Medium blog?

[2020-10-21 23:24] austinlparker opened #274 "Where do distros go?"
Are distributions a registry thing or should they get a special site, or should the main site address them at all?

[2020-10-21 23:32] austinlparker commented on #273
I really need to start squashing locally, but there's a PR up for it.

[2020-10-22 02:37] austinlparker commented on #273
Closed by #275

[2020-10-22 02:37] #273 closed

[2020-10-22 14:44] austinlparker commented on #203
Started a doc for structuring each language's content: https://docs.google.com/document/d/1YyGax0fXZau17hV0lePnGc0LDvKokjFqWb2AhdlbyO4/edit?usp=sharing

[2020-10-22 14:48] taylor-sutton opened #277 "Dead links to supported frameworks on homepage"
I'm referring to the three links to `https://tktk` here: https://github.com/open-telemetry/opentelemetry.io/commit/2b4c3ebd9f8bb76781d7171b46bc27f1491875da#diff-f1f180e860deaa9c82eefe2a7a7102cc1cfeb159e7271758996b608ccf81cef9R56

Not sure what these links are supposed to go to; happy to make a PR if you let me know.

[2020-10-23 12:56] josemaia commented on #277
I didn't see this issue, but I submitted a PR just a bit ago: https://github.com/open-telemetry/opentelemetry.io/pull/281

[2020-10-23 12:57] josemaia commented on #182
Is this supposed to go in https://opentelemetry.io/vendors/? It felt weird to me to click that link and see a blank page, considering, for example, the recent AWS release. Maybe add a placeholder there?

[2020-10-23 13:32] austinlparker commented on #182
There is a stub page there but since I didn't convert it to the new format the text is hidden under the navbar, whoopsie. 🙃

[2020-10-23 13:50] austinlparker commented on #277
Closed by #281, ty

[2020-10-23 13:50] #277 closed

[2020-10-23 14:33] austinlparker opened #283 "Documentation - Java"
Tracking issue for the Java documentation section. See `./templates/language-docs` for markdown templates.

Content should live at `./content/en/docs/java/`

- [x] Index
- [x] Getting Started
- [x] Instrumentation
- [x] Export and Config

[2020-10-23 14:34] austinlparker opened #284 "Documentation - Go"
Tracking issue for the Go documentation section. See `./templates/language-docs` for markdown templates.

Content should live at `./content/en/docs/go/`

- [x] Index
- [x] Getting Started
- [x] Instrumentation
- [x] Export and Config

[2020-10-23 14:35] austinlparker opened #285 "Documentation - Python"
Tracking issue for the Python documentation section. See `./templates/language-docs` for markdown templates.

Content should live at `./content/en/docs/python/`

- [x] Index
- [ ] Getting Started
- [ ] Instrumentation
- [ ] Export and Config

[2020-10-23 14:36] austinlparker opened #286 "Documentation - .NET"
Tracking issue for the .NET documentation section. See `./templates/language-docs` for markdown templates.

Content should live at `./content/en/docs/dotnet/`

- [x] Index
- [ ] Getting Started
- [ ] Instrumentation
- [ ] Export and Config

[2020-10-23 14:38] austinlparker opened #287 "Documentation - JS (Browser + Node)"
Tracking issue for the JS documentation section. See `./templates/language-docs` for markdown templates.

Content should live at `./content/en/docs/js/`

- [ ] Index
- [ ] Getting Started
- [ ] Instrumentation
- [ ] Export and Config

_Note_: Browser and Node documentation should be shared where appropriate but split into subpaths where needed (i.e., `./content/en/docs/js/browser` and `./content/e

[2020-10-23 15:19] austinlparker commented on #203
See https://github.com/open-telemetry/opentelemetry.io/projects/1 for status of individual doc sections

[2020-10-26 12:25] jkowall commented on #267
**Components in app:**
- API
- SDK
- Processing
- Exporter

**Components in Otel**
- Collector
-Exporter

**Protocols:**
- W3c Tracecontext https://www.w3.org/TR/trace-context/
- B3 https://github.com/openzipkin/b3-propagation

**Exporters:**
- Jaeger (can get idea from their page)
- Zipkin (can get idea from their page)
- OTLP (OpenTelemetry Protocol)
- Prometheus (can get idea from their page)

[2020-10-26 16:42] svrnm commented on #287
I will look into this: I can take the existing "Getting Started" guide from https://github.com/open-telemetry/opentelemetry-js/tree/master/getting-started copy it over and change it to fit the outlined template at https://docs.google.com/document/d/1YyGax0fXZau17hV0lePnGc0LDvKokjFqWb2AhdlbyO4/edit#

[2020-10-26 20:08] austinlparker commented on #287
That sounds great!

[2020-10-27 09:59] svrnm commented on #287
https://github.com/svrnm/opentelemetry.io/tree/master/content/en/docs/js

Not doing a PR yet, it's a big draft & playground as of now. Asking for feedback&thoughts:

- How much explaining should the guide do, or should it reference the specification as often as possible?

- The sample code lives in the docs now, at some point it could be helpful to have a repository holding all the tutorials (agai

[2020-10-27 10:48] svrnm commented on #285
Playing around also with the python part of the docs. I just checked if I can almost 1:1 copy from [javascript](https://github.com/open-telemetry/opentelemetry.io/issues/287) and "only" change the example code:

https://github.com/svrnm/opentelemetry.io/tree/master/content/en/docs/python

I think that works fairly well. I am still digging into hugo, but maybe it's even possible to reuse text/instr

[2020-10-29 19:14] jkowall commented on #267
Update on content which is in progress. Let me know what you think. Thanks to Ella for her work on them!

![image](https://user-images.githubusercontent.com/1859948/97621545-665f3a00-19f9-11eb-9dbd-3e364c891c4a.png)

[2020-10-29 19:17] austinlparker commented on #267
ooh this is neat

[2020-10-29 19:18] austinlparker commented on #267
re: integration icons for the main page, I think it might be nice to have those redrawn to look consistent with the rest of the icon set since i presume people will also want to use these with slides

[2020-10-29 19:31] jkowall commented on #267
Which integration icons do you mean?

[2020-10-29 19:34] austinlparker commented on #267
The ones you listed in the comment before the WIP

[2020-10-29 19:38] jkowall commented on #267
Yep, we will be getting to those, there was a little miscommunication, but they are on the list. They are all vector graphics, so we'll be able to keep the originals in GH, we are working off figma right now.

[2020-10-29 19:43] austinlparker commented on #267
cool. i like it so far tho!

[2020-11-02 18:50] yegle opened #289 "Documentation: no per-language navigation bar"
The top of the page at https://opentelemetry.io/docs/ states:

[code]

But there's no navigation bar for language or project.

[2020-11-03 02:57] flands commented on #274
Vendor page is probably a good first step.

[2020-11-03 02:59] #182 closed

[2020-11-03 02:59] flands commented on #255
This appears to be updated -- closing.

[2020-11-03 02:59] #255 closed

[2020-11-03 03:21] austinlparker commented on #274
yeah, closing this by way of the vendor page PR

[2020-11-03 03:21] #274 closed

[2020-11-04 02:07] flands commented on #200
This is done, right?

[2020-11-04 02:15] flands commented on #175
Is this needed? It does not appear the k8s documentation adds this.

[2020-11-04 02:18] flands opened #294 "Consider switching license to CC BY 4.0"
k8s documentation uses a different license for the website.

[2020-11-04 03:10] flands commented on #162
This should be fixed

[2020-11-04 03:10] #162 closed

[2020-11-05 07:19] Ella-bz commented on #267
I'm working on other icons now. Correct me, guys, if I'm doing something wrong or it's ok
![image 1](https://user-images.githubusercontent.com/73476445/98209625-eb8da600-1f47-11eb-81f1-4921c2b5d2fb.jpg)

[2020-11-05 12:21] jkowall commented on #267
Looks good to me @Ella-bz . See what @austinlparker thinks :)

[2020-11-05 14:30] austinlparker commented on #206
Closed by #295

[2020-11-05 14:30] #206 closed

[2020-11-05 15:56] #193 closed

[2020-11-05 17:24] austinlparker commented on #267
I like it! legibility on the 'sdk' bug on those language icons is pretty low, but i'm not really sure how to improve it. Maybe use iconography rather than letters (like a wrench?)

[2020-11-05 18:28] austinlparker commented on #294
Let me look into this, I think it'd be fine.

[2020-11-05 18:47] flands opened #302 "Searches in registry result in duplicated items"
Steps to reproduce: Search for anything for example `splunk`

Behavior: Every entry listed twice

Expected behavior: Entry only listed once

[2020-11-05 19:31] jkowall opened #303 "Top nav is visually inconsistent"
When you click across the top nav we have inconsistencies for the About, and Docs.

The other pages have a separator like this:
![image](https://user-images.githubusercontent.com/1859948/98287630-99fb1080-1f73-11eb-9a38-4b6c2ae03d97.png)

We should do the same across the pages we control. Obviously the Blog on Medium is going to have a different nav.

[2020-11-08 12:36] Ella-bz commented on #267
About SDK I will try to make something like a suitcase with a wrench maybe? Ill work on options.

I need help with a "Well instrumented" system diagram. Can I have some reference or concrete examples of what it is? Visually I mean. And in general, all diagrams that you guys have and want to change attache please here, then it will be much easier for me to understand which elements need to be done.

[2020-11-08 14:04] Ella-bz commented on #267
What if to make SDK as a tool kit but with a wrench inside?
![image 1](https://user-images.githubusercontent.com/73476445/98467061-0415ee80-21dc-11eb-9b60-9eb004d1203d.jpg)

[2020-11-08 17:34] flands opened #308 "Need architecture diagrams in documentation"
People should know what the architecture of OpenTelemetry looks like. This includes:

- Instrumentation library components
- Collector components
- Reference architecture

[2020-11-08 17:34] flands commented on #308
Here is a proposal: https://docs.google.com/presentation/d/1UvN_ag52n3FVqOr4T7vtU6ohLidz74SntVVcCK0rxJ0/edit?usp=sharing

[2020-11-09 16:03] austinlparker commented on #294
See https://github.com/open-telemetry/community/issues/565 for tracking.

[2020-11-09 16:06] austinlparker commented on #287
I think the guide should do some explaining and cross-reference the conceptual docs that are coming into the site when needed. I like the idea of doing a big sample code repo, but I think for now we should reference the samples that are in the upstream repos as much as possible since they're most likely to be accurate.

[2020-11-09 16:07] austinlparker commented on #267
The wrench is pretty clear, yeah.

[2020-11-09 16:08] austinlparker commented on #308
Could you change sharing settings on that, I can't access it @flands

[2020-11-09 17:05] austinlparker commented on #44
I'm going to close these because each language will have specific guides on export.

[2020-11-09 17:05] #44 closed

[2020-11-09 17:06] austinlparker commented on #45
This is being closed as each language will have its own exporter configuration guide.

[2020-11-09 17:06] #45 closed

[2020-11-09 17:15] austinlparker commented on #12
FYI this was briefly discussed and there was a general consensus in the last comms SIG, so I'm going to write up "where we're at" and close this issue.

Things that should be documented in the website:
- General OTel Concepts
- General use cases and practices (i.e., interpreting telemetry data or instrumenting across a queue)
- Stable "end user" documentation for released versions of OTel componen

[2020-11-09 17:15] #12 closed

[2020-11-09 17:53] austinlparker commented on #110
I think this would still be useful, especially in regard to #267 - gonna leave it for someone else to pick up, but what would be great is a page (linked from the community page) that collects the visual assets for the project (icon library, slide templates, logos, etc.) and makes them easily accessible.

[2020-11-09 17:54] #133 closed

[2020-11-09 17:54] #135 closed

[2020-11-09 17:56] austinlparker commented on #154
Some work was done on this in #293 but we'll continue to flesh it out. These sort of "high level" concepts can either go into the concepts section of the docs, or under the community page.

[2020-11-09 17:58] austinlparker commented on #175
I think it might be needed, yeah, since we have web analytics going to the CNCF account.

[2020-11-09 18:00] austinlparker commented on #190
Hopefully the new theme helps with this, but I'd love if someone more read up on web accessibility could take a look at the site and let us know what we're missing!

[2020-11-09 21:44] mtwo opened #312 "Search Engine Optimization"
I noticed that neither opentelemetry.io nor the Medium blog rank in the first two pages of Google or Bing search results for 'opentelemetry'. We should find a way to improve our rankings for both.

[2020-11-09 22:01] austinlparker commented on #312
I think our best bet there is gonna be getting more content up on the site, and having it linked to from other places, right?

[2020-11-10 02:25] mtwo commented on #312
I think so as well, I’m just wondering if there’s any actions that we could take like meta tags or more links back to the site from GitHub (we already do this).

________________________________
From: Austin Parker <notifications@github.com>
Sent: Monday, November 9, 2020 2:01:31 PM
To: open-telemetry/opentelemetry.io <opentelemetry.io@noreply.github.com>
Cc: Morgan McLean <morgan_mclean@hotmail.c

[2020-11-10 13:52] austinlparker commented on #312
Oh, it seems like one problem might be that I've got something configured incorrectly and a lot of pages are set to NOINDEX, NOFOLLOW in the robots meta. Lemme tweak that.

[2020-11-10 14:58] flands commented on #308
@austinlparker thought I had... try now!

[2020-11-10 15:28] flands opened #317 "Website needs a global search option"
It would be nice to have a search option especially with documentation now being added. The k8s docs added this to the left nav.

[2020-11-10 18:11] austinlparker commented on #312
Ok #316 flipped the robots flag, so we should at least be getting indexed now.

[2020-11-10 18:13] austinlparker commented on #317
We should be able to do this over the next couple of days now that the site is marked indexable. https://www.docsy.dev/docs/adding-content/navigation/#configure-search-with-a-google-custom-search-engine

[2020-11-10 18:13] austinlparker commented on #308
Ah, yep, I can see it now.

[2020-11-10 18:14] austinlparker commented on #267
@Ella-bz there's some diagrams linked in #308 that we can use as a starting point for the 'well architected system'. cc @flands

[2020-11-11 13:37] Ella-bz commented on #308
![Diagram 2](https://user-images.githubusercontent.com/73476445/98817938-906e1e80-2433-11eb-8765-5e8730d760a8.jpg)

Guys. Made one diagram from the presentation. Is that ok? or I need to change something?

[2020-11-12 06:33] Ella-bz commented on #267
![Graph](https://user-images.githubusercontent.com/73476445/98824244-c0212480-243b-11eb-8deb-7a676f4c3b20.jpg)
Some updates about icons. Correct me- what I need to change or upgrade

[2020-11-12 14:40] Ella-bz commented on #308
![image](https://user-images.githubusercontent.com/73476445/98953671-a3e9ba00-2505-11eb-8b94-a9ca3a2a3847.png)
update. need for feedback

[2020-11-12 14:43] austinlparker commented on #267
Lookin' pretty good! What font is that? Ideally we can use something that's available in google slides.

[2020-11-12 14:45] austinlparker commented on #308
Looks nice - @flands are the 'back-ends' supposed to be analysis tools (jaeger, splunk, etc)? Might be better to label them as 'Jaeger' and 'Prometheus' in the reference architecture diagram.

[2020-11-12 16:46] StevenACoffman commented on #45
Uh, Prometheus is not a programming language? How to set up Prometheus in order to collect the metric data from a OpenTelemetry exporter is a different thing.
Are you suggesting that for every programming language you will export to the Prometheus Push Gateway?
Are you suggesting that for every programming language you will demonstrate how to adapt OpenTelemetry monitoring to provide a Prometheus

[2020-11-12 16:58] austinlparker commented on #45
Since metrics are still in-flight for so many languages (and is officially unstable), we're going to defer website documentation on prometheus export to each SIGs github repo. Once the metrics API is more stable, then we'll come back around to adding some high-level docs on the website.

[2020-11-12 18:20] jkowall commented on #267
We probably want slides, jpeg, and also the vector graphics so that they can be used for anything, no @austinlparker ? These are in figma, but I am sure @Ella-bz has them in vector format (ai or something of the sort).

[2020-11-12 18:52] austinlparker commented on #267
Yeah, I think they can be exported from figma as SVG?

[2020-11-12 21:37] austinlparker commented on #294
This change has been approved by the GC to apply to the creative work (documentation, visual assets, etc.) Apache 2 remains the license for the technical work (code, etc.)

[2020-11-13 12:44] svrnm commented on #287
Okay. I'll work on it and do a Pull Request. I saw also that there has been some work done for the other languages, so I can also pick inspiration from there.

[2020-11-15 06:28] Ella-bz commented on #267
From Figma, I can transfer it to SVG, pdf,  jpeg, and png. I can export each icon to png and svg let's say (make ai out of it if necessary). And about google slides -it's possible to create an editable slide.

[2020-11-15 14:52] kmlhsn opened #321 "There is only "About" on the footer"
There should have more links like "Community","Blog" along with About

Steps to:
1. Go to https://opentelemetry.io/
2. scroll Down to footer

screen shot
![image](https://user-images.githubusercontent.com/32615215/99188006-03ed9400-2784-11eb-8035-67cfb7dd8903.png)

[2020-11-15 15:16] kmlhsn opened #322 "Excessive width of the gray area under "Registry""
Width of the gray area under "Registry" excess and horizontal scrollbar appears

Steps:
1. Go to https://opentelemetry.io/
2. Click "Community"
3. Scroll down to "Registry"

Screen Shot:
![image](https://user-images.githubusercontent.com/32615215/99188591-deae5500-2786-11eb-97ff-37fef33c871a.png)

[2020-11-16 02:22] flands commented on #321
Is it better to just remove About? The link are in the top right and they follow you.

[2020-11-16 02:23] flands commented on #322
I believe it's because it is a preformatted box. If the `repo:` line is wrapped or reduced in length it will go away.

[2020-11-16 02:24] flands commented on #308
Nice! Yes, the back-ends would be analysis tools. The metrics line is easy: prometheus. The metrics + traces line may be tricky... perhaps just change it traces and make it go to Jaeger?

[2020-11-16 02:27] flands commented on #308
looks great! one nit would be that receivers, processors, exporters, and extensions are all components however in the diagram they are represented differently (receivers/exporters are non-filled dotted lines while others are solid filled solid line).

one other nit that is likely very hard to address is that both receivers and exporters are push or pull based -- the icons make it seem like it is o

[2020-11-16 09:08] Ella-bz commented on #308
Is it more correct that way?
![image](https://user-images.githubusercontent.com/73476445/99233442-e8be6b00-27fb-11eb-839b-79f8f0ee14b0.png)

[2020-11-16 11:59] kmlhsn commented on #321
Yes. I think it is better to remove it from the footer as top menu is always in view-port

[2020-11-16 13:59] #294 closed

[2020-11-16 20:03] austinlparker commented on #200
Yeah, this is done. Closing!

[2020-11-16 20:03] #200 closed

[2020-11-16 23:59] austinlparker commented on #321
The linked PR removes the extraneous 'about' from the footer. Doesn't really look great there anyway.

[2020-11-17 00:02] austinlparker commented on #312
it's been about a week and it looks like that helped a boatload - 'opentelemetry' now ranks #1 on bing/google (private window), and 'opentelemetry blog' is also #1 for our medium page.

[2020-11-19 01:24] flands commented on #308
This one is more consistent, but now pipelines are hard to read -- other one is likely better. Really nice, thanks!!

[2020-11-19 07:59] Ella-bz commented on #267
So here is the link that I hope will work  for  you guya with the latest updates. I'm waiting to hear from you what am I doing with that. am I exporting it in a certain way, or I need to correct something. https://www.figma.com/file/PZ1zSzBeNOjJkHTbmRSEcK/?node-id=191%3A2

[2020-11-19 11:56] jkowall commented on #267
I think they look great. @austinlparker how do you want these exported and added to the repo?

[2020-11-19 16:06] austinlparker commented on #267
Can we export them as png/svg and put them in a zip file? We can host the zip file on the site and link to it from the 'about' page.

[2020-11-24 13:57] d-baranowski opened #328 "Go doc out of date"
[Example](https://opentelemetry.io/docs/go/getting-started/#creating-a-metric-provider)  uses

[code]

Should be

[code]

[2020-11-24 22:52] d-baranowski commented on #328
Full example

[code]

[2020-12-01 02:45] #283 closed

[2020-12-01 02:45] #284 closed

[2020-12-01 15:00] #317 closed

[2020-12-01 15:00] #321 closed

[2020-12-02 09:10] Ella-bz commented on #267
Guys, I finally organized it for SVG and png. Took a bit longer cause of specific glitches while exporting from Figma. Check it out and tell me if I need to do something else
[OT_Project.zip](https://github.com/open-telemetry/opentelemetry.io/files/5628092/OT_Project.zip)

[2020-12-03 13:40] jkowall commented on #267
@austinlparker do you want us to make a dir for these or how did you want to proceed? Did you want vector graphics as well or just these formats? I can submit a PR.

[2020-12-03 13:51] austinlparker commented on #267
Yeah, a PR would be great. Maybe link to it in the 'workshop resources' page?

[2020-12-03 14:47] jkowall commented on #267
Do you want them in a subdir in /static/iconography or something of the sort, or stored in a different location?

[2020-12-03 16:04] austinlparker commented on #267
Actually it might make the most sense to keep the zip out of the website assets and just have it in git, then we can link to the raw zip on github? That way we aren't getting dinged on netlify for bandwidth when people download it.

[2020-12-03 18:37] austinlparker commented on #312
It's been a few more weeks, I think this is sorted out. We're getting the top spot on google/bing/whatever now.

[2020-12-03 18:37] #312 closed

[2020-12-03 18:42] jkowall commented on #328
Please assign to me, thanks

[2020-12-03 18:59] jkowall opened #334 "Explain the collector build/distribution types"
It seems like we don't explain the collector builds, so often folks will download the main collector, not realizing there is a contrib build that includes loads of other exporters. I will submit a PR to clarify this on: https://opentelemetry.io/docs/concepts/components/

[2020-12-03 20:04] jkowall commented on #328
@d-baranowski thanks for submitting. I can update the docs for you. I did the first section, but your example doesn't match the example on the page right now. Can you make the example match the example on the page?

https://opentelemetry.io/docs/go/getting-started/#quick-start

[2020-12-05 22:10] tvvignesh opened #337 "Broken links in registry"
Hi guys. Just wanted to report that quite a few links in https://opentelemetry.io/registry/ are broken I guess because of migration to contrib repositories.

For eg. the link points to https://github.com/open-telemetry/opentelemetry-js/tree/master/plugins/node/opentelemetry-instrumentation-graphql whereas it should be https://github.com/open-telemetry/opentelemetry-js-contrib/tree/master/plugins/n

[2020-12-07 17:17] johnkerl opened #338 "Getting Started build-from-source findings"
Following https://opentelemetry.io/docs/collector/getting-started/ to build from source, in particular this part

[code]

I ran into several issues along the way.

I'm new to Opentelemetry and maybe some of these issues are RTM or PEBKAC. Nonetheless perhaps others would benefit from some of these missing steps being written down?

I feel like a "getting started" should be shorter than longer, and

[2020-12-07 17:18] johnkerl commented on #338
(I'm happy to put up a PR, but, I wanted to first get a feel for whether I'm going in the right direction or not.)

[2020-12-10 15:02] austinlparker commented on #338
I think there's some steps missing from the docs that are in https://github.com/open-telemetry/opentelemetry-collector/blob/master/CONTRIBUTING.md, yeah. I think `make install-tools` fixes some of this though.

[2020-12-15 09:15] jaoord commented on #302
This appears to be fixed. Tested with https://opentelemetry.io/registry/?s=splunk

![image](https://user-images.githubusercontent.com/6464609/102195097-6d191200-3ebe-11eb-89fa-942a040015c7.png)

Or am I missing something?

[2020-12-22 20:41] OmarEltamasehy opened #347 "Error in opentelemetry/instrumentation/django/middleware.py related to "wsgi.url_scheme""
Hi,
Appreciate your support.
We try to use DjangoInstrumentor by putting it in settings.py as the below,
[code]

Our application uses Django channels and the above code gives us an error.
After debugging we found out that the cause of the error is in opentelemetry/instrumentation/django/middleware.py
related to "wsgi.url_scheme". Please check the stacktrace for details.

Any thoughts on how to byp

[2020-12-27 11:10] WPH95 commented on #347
Hi, personally I think you need goto https://github.com/open-telemetry/opentelemetry-python to ask the question.
https://opentelemetry-python.readthedocs.io/en/stable/instrumentation/django/django.html?highlight=DjangoInstrumentor

this repo is OpenTelemetry website repo and documentation repo

[2021-01-05 13:25] wph95 opened #352 "Website add i18n support"
I saw the #203  and working on how to make OTel website support a language.

Personally, I would like to be able to support i18n (e.g. Chinese) before OTel GA. I have done some research. some work needs to do.

1. Extracting common vocabulary
   for example

[code]

2. base page need translate
   - Index.md
   - About.md
   - Registry.md
   - Community.md
3. document translate

---

For me, there

[2021-01-06 13:12] ShubhamSonawane commented on #337
I can look into this. Please assign it to me. Would be my first contribution to open source! :)

[2021-01-06 13:44] austinlparker commented on #337
Sure thing, thanks!

[2021-01-08 09:00] govine opened #355 "Why we don’t have a file exporter?"
We all know that the memory buffer is limited, and the port-based exporter will cause longer I/O blocking, and may have to have a retry mechanism.
Using file expoter and a collection mechanism similar to filebeat can solve this type of problem.

[2021-01-08 09:07] #355 closed

[2021-01-08 09:07] govine commented on #355
wrong place

[2021-01-08 10:23] ShubhamSonawane commented on #337
Hi @austinlparker, I have fixed 22 of 25 broken links. However, I am not able to find relevant links for the below 3 broken links. Any suggestions where to look for them? -
https://github.com/open-telemetry/opentelemetry-java-instrumentation/tree/master/instrumentation/java-classloader
https://github.com/open-telemetry/opentelemetry-java-instrumentation/tree/master/instrumentation/java-concurrent

[2021-01-08 13:47] austinlparker commented on #337
looks like they got renamed in this PR https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1733

[2021-01-08 14:51] austinlparker commented on #352
For the overall project GA, i18n is certainly in scope. I don't believe the base page is necessarily stable yet, we need to have a bit of a larger discussion around what should go on there (specifically around features that aren't specced out all the way yet and when they're coming in relative to project GA) - but I think that relates to your third point about a process for community contributions

[2021-01-08 14:52] austinlparker commented on #347
Hi, you will probably have better luck asking this in https://github.com/open-telemetry/opentelemetry-python. Thanks.

[2021-01-08 14:52] #347 closed

[2021-01-09 08:34] WPH95 commented on #352
Thanks! I'll keep an eye out and try to attend the 1/14 SIG call :) Hope to contribute to OTel's localization :)

[2021-01-11 09:43] ShubhamSonawane commented on #337
I have raised a PR #358 for the fix

[2021-01-11 14:40] austinlparker commented on #337
thanks, merged!

[2021-01-11 14:40] #337 closed

[2021-01-28 18:47] bogdandrutu opened #364 "Rename default branch to main"
I apologize if there is already an open issue for this. I searched and did not find one.

For more information see open-telemetry/community#402

[2021-01-29 21:53] bogdandrutu commented on #364
I had to change the netlify config, seems to work now

<img width="1338" alt="Screen Shot 2021-01-29 at 1 52 11 PM" src="https://user-images.githubusercontent.com/1373887/106331157-45e18e80-6239-11eb-8836-87771bc65228.png">

[2021-01-29 21:53] bogdandrutu commented on #364
See latest change https://opentelemetry.io/docs/collector/getting-started/#kubernetes contains `main` in the link

[2021-01-29 21:53] #364 closed

[2021-01-31 05:52] bogdandrutu commented on #302
@flands Ping, please close the issue if fixed

[2021-02-01 21:11] codeboten commented on #137
This can now be accomplished by the following query: https://opentelemetry.io/registry/?s=&component=exporter&language=python

[2021-02-01 21:11] #137 closed

[2021-02-02 19:32] ericmustin opened #370 "Update Getting Started guide with improved Docker and K8s setup details"
Hello friends,

I'd like to kindly ask about whether there are plans to update the Getting Started guides for docker and kubernetes on the current roadmap? At present, they leave a lot to be desired

- For example, Docker points to [a local repo instead of the appropriate image](https://github.com/open-telemetry/opentelemetry.io/blob/0333664c4e14d35c96c3ed72d37aa46bf38de7eb/content/en/docs/collect

[2021-02-02 21:27] austinlparker commented on #370
FWIW I'm very supportive of the idea of improving these (opentelemetry.io) docs, I've just haven't had the time to commit to improving the upstream docs in a while. Would absolutely welcome even small PRs to improve them, though!

[2021-02-03 10:01] bboreham commented on #370
My 2 cents as someone with a bit of experience in metrics and tracing: when I was trying to get started with OpenTelemetry in Go a couple of months back I found it very frustrating.

My recommendation would be to port this page to Otel: https://opentracing.io/docs/getting-started/
The similar page [here](https://opentelemetry.io/docs/go/getting-started/) has improved since I needed it, but the exa

[2021-02-03 17:09] SergeyKanzhelev commented on #370
consider referencing posts from @jpkrohling on the topic: https://medium.com/@jpkroehling

[2021-02-03 20:36] jkowall commented on #308
Forgot about this PR for a bit, @austinlparker when do you want to incorporate into docs or should I submit PRs?

[2021-02-03 20:49] austinlparker commented on #308
if you've got the time to add them to the docs that'd be fantastic!

[2021-02-03 20:56] jkowall commented on #308
I would be happy to, but I need to understand how to contribute/change things on that side or how the build/release process works. If you can provide that I can do that or find someone over here to make the changes to the docs and or the site.

[2021-02-03 22:15] austinlparker commented on #308
https://github.com/open-telemetry/opentelemetry.io/blob/main/CONTRIBUTING.md has some instructions on how to get set up for development.

[2021-02-08 11:22] hdost opened #373 "Documentation: Child Page Rust"
On the main page there is a listing of Rust, but there is no actual information about rust related APIs.

[2021-02-08 22:36] hdost commented on #328
Seems like this could be closed base on the linked PR

[2021-02-08 22:37] #373 closed

[2021-02-08 22:37] austinlparker commented on #328
yep, thanks!

[2021-02-08 22:37] #328 closed

[2021-02-11 13:33] austinlparker opened #375 "Add banner for 1.0 Spec Announcement"
As the spec has gone to 1.0, we need to add an announcement banner and link to the medium post when available.

[2021-02-11 13:46] austinlparker opened #376 "i18n process definitions + standards"
As there's been some questions about internationalization (see #352), we need to define a process/guidelines for translation and internationalization. Here's the current thinking -

- There are two categories of pages that are suitable for translation; Documentation pages, and Structure pages.
- Documentation pages are anything in the /docs section, Structure pages are all other non-blog pages suc

[2021-02-13 09:59] WPH95 commented on #375
maybe we need some feature like this https://github.com/kubernetes/website/pull/16210

[2021-02-13 13:58] WPH95 commented on #376
I've made some attempts (en -> zh) and encountered some confusion, which I hope can be solved in this process definitions.
1. I'm not sure if the pages (about, community) are 1.0 ready. (I'm worried that there will be big changes in the translation and need to retranslate significantly)
2. I'm not sure how far the translation has progressed to merge to the main branch.
    e.g. When homepage, abou

[2021-02-14 01:59] flands commented on #267
This appears to be done -- closing

[2021-02-14 01:59] #267 closed

[2021-02-14 02:00] flands commented on #334
Thanks!

[2021-02-14 02:00] #334 closed

[2021-02-14 02:05] flands commented on #338
Yeah, `make install-tools` is the missing step and then this works.

[2021-02-14 16:08] flands opened #379 "Proposal: Remove About page"
The About page duplicates information found on the home, community, and docs pages. It also hides links to additional information such as the project status. What if we remove this page and make the following changes:

- Ensure license is in footer (like on k8s site)
- Create a Releases page which would including information such as project status
- Create a FAQ in documentation as needed

[2021-02-14 17:31] flands commented on #370
@ericmustin have a look at #380. The getting started documentation was ported directly from the core repository and the core repository had pre-existing examples. I went ahead and added the Docker Hub information especially since it comes with a default configuration now this really is easier than the example -- thanks for pointing this out!

Regarding k8s -- the examples are built on the core rep

[2021-02-14 23:30] flands opened #381 "Add documentation around distributions"
This would need to cover both instrumentation libraries as well as the collector.

[2021-02-15 04:30] flands opened #383 "Cover block causes issues with nav"
If you use something like this on a page:

[code]

then when scrolling down the page the top nav background is transparent which causes display issues

![Screen Shot 2021-02-14 at 11 27 15 PM](https://user-images.githubusercontent.com/645366/107905408-8cfb9f00-6f1c-11eb-87d7-9962b3d1dcc9.png)

workaround is not to use cover block

[2021-02-15 04:31] flands commented on #383
If this is needed in the future then this issue can be re-opened and the issue addressed.

[2021-02-15 04:33] flands opened #384 "CSS for links needs to be fixed when primary color is used"
If the background for a section is set to the primary color (blue) then links are hard to see on hover.

![Screen Shot 2021-02-14 at 11 31 53 PM](https://user-images.githubusercontent.com/645366/107905584-fda2bb80-6f1c-11eb-9c42-601b194053f5.png)

![Screen Shot 2021-02-14 at 11 31 58 PM](https://user-images.githubusercontent.com/645366/107905591-01364280-6f1d-11eb-9eb6-08328e112c7f.png)

In additi

[2021-02-15 09:41] jpkrohling commented on #370
Feel free to use/reuse the blog posts as you see fit!

[2021-02-15 15:39] #338 closed

[2021-02-15 15:39] #379 closed

[2021-02-15 15:39] #170 closed

[2021-02-15 15:39] #303 closed

[2021-02-15 16:26] flands opened #389 "Latest releases on Releases page does not word wrap"

[2021-02-15 18:01] flands commented on #383
This actually impacts the home page so re-opening this.

![Screen Shot 2021-02-15 at 1 00 54 PM](https://user-images.githubusercontent.com/645366/107980234-e51eb980-6f8d-11eb-8c01-6af18ad56567.png)

[2021-02-15 19:57] flands opened #392 "Additional icon requests"
Loving the icons! I was wondering if a few more could be created:

- gRPC (to go with HTTP)
- service and extension (to go with receivers/processors/exporters). These may be challenging...
- Fluent Bit (to go with Jaeger and Prometheus)

[2021-02-15 19:58] flands commented on #392
@jkowall

[2021-02-15 21:09] jkowall commented on #392
Yes, we can do these. I can chat with Ella on these items.

Can you please clarify the second bullet "service and extension"? @flands

[2021-02-16 02:47] flands commented on #392
In addition to receivers/processors/exporters in the Collector there are extensions: https://github.com/open-telemetry/opentelemetry-collector/tree/main/extension. I am hoping to add an icon to this section: https://opentelemetry.io/docs/collector/configuration/#extensions and ideally to the collector image: https://github.com/open-telemetry/opentelemetry.io/blob/main/iconography/Otel_Collector.sv

[2021-02-16 02:48] flands commented on #392
In addition, the following languages need icons:

- PHP
- Rust
- Swift

[2021-02-16 13:56] austinlparker commented on #389
Fixed by #390

[2021-02-16 13:56] #389 closed

[2021-02-16 16:29] flands opened #406 "Collector diagram spells Jaeger incorrectly"
See: https://github.com/open-telemetry/opentelemetry.io/blob/main/iconography/Otel_Collector.svg

FYI @jkowall

[2021-02-16 16:50] jkowall commented on #406
Ella will have a look.

[2021-02-16 18:07] #375 closed

[2021-02-16 23:14] joeblubaugh opened #409 "Collector Page: Jaeger is misspelled in Otel_Collector.svg"
Jaeger is misspelled as Jeager: https://raw.github.com/open-telemetry/opentelemetry.io/main/iconography/Otel_Collector.svg

[2021-02-17 02:13] flands opened #411 "Reference architecture image: updates needed"
Two changes required:

- `OT Library` should be `OTel Library`
- `Otel Collector` should be `OTel Collector`

source: https://github.com/open-telemetry/opentelemetry.io/blob/main/iconography/Reference_Architecture.svg

@jkowall FYI

[2021-02-17 03:32] #381 closed

[2021-02-17 03:34] flands commented on #308
This should mostly be addressed in #393 and #399. A few issues were uncovered and are tracked in #392, #409 and #411

[2021-02-17 08:34] WPH95 commented on #384
we have different link color
![image](https://user-images.githubusercontent.com/2732352/108177227-e8f13e00-713d-11eb-8199-050a70da046c.png)
![image](https://user-images.githubusercontent.com/2732352/108177248-f0b0e280-713d-11eb-9d8c-7acf7ee716a7.png)

[2021-02-17 13:21] jkowall commented on #411
Thanks! Can get those changed.

[2021-02-17 13:46] #383 closed

[2021-02-17 13:46] #384 closed

[2021-02-18 09:41] Ella-bz commented on #411
<img width="784" alt="Reference Architecture@2x" src="https://user-images.githubusercontent.com/73476445/108337814-34f3bf80-71de-11eb-9854-860bc1aca34c.png">
fixed

[2021-02-18 12:10] jkowall commented on #411
Thanks @Ella-bz!

@flands do you want the icon images updated from the zip too?

[2021-02-18 16:34] flands commented on #411
yes please!

[2021-02-18 16:35] flands commented on #302
yes, fixed!

[2021-02-18 16:35] #302 closed

[2021-02-19 07:53] ericmustin commented on #370
@flands Sorry for the delayed response, I have been a little underwater.

I appreciate all the work you've put in here. I think it shows, and certainly makes the docs clearer. The docker addition in #380 along with the additional details around Linux packaging is definitely helpful.

I do happen to think that a well documented k8s_processor will be quite necessary for most k8s use cases, so i'm gl

[2021-02-19 13:59] austinlparker commented on #370
I'm fine leaving it open for more discussion for now. If we can identify specific workable items (such as visual aids for concepts, context prop, etc.) then let's split those out into separate issues.

[2021-02-20 00:10] flands commented on #409
dup of #406

[2021-02-20 00:10] #409 closed

[2021-02-22 07:08] jean opened #423 "Collector: typo: s/Jeager/Jaeger/"
On https://opentelemetry.io/docs/collector/

typo: s/Jeager/Jaeger/

In (at least) two places.

![image](https://user-images.githubusercontent.com/84800/108674105-54108b00-7517-11eb-8295-68409c261c9c.png)

[2021-02-22 08:46] WPH95 commented on #423
dup of #406

[2021-02-22 14:03] #423 closed

[2021-02-24 08:23] Ella-bz commented on #392
![image](https://user-images.githubusercontent.com/73476445/108969122-4a5b6480-768a-11eb-87a0-f56e85a55c0c.png)
Feedback?

[2021-02-24 17:19] mnadeem commented on #411
I have tried doing something similar with **Microsoft power point** it is not as classy as the one above :(

![image](https://user-images.githubusercontent.com/476145/109039153-79a5bc00-76f2-11eb-84c5-fbe3c1c22779.png)

[OTel.pptx](https://github.com/open-telemetry/opentelemetry.io/files/6037710/OTel.pptx)

[2021-02-25 05:58] mnadeem commented on #411
Did something similar for other image as well, attaching it so that it could be reused by community.

![image](https://user-images.githubusercontent.com/476145/109109953-3b44e700-775c-11eb-98ff-08a25f731fbb.png)

[OTel.pptx](https://github.com/open-telemetry/opentelemetry.io/files/6040795/OTel.pptx)

Glad That I have learnt creating nice ppt from community as I have learned java, Javascript and Go

[2021-02-25 12:14] jkowall commented on #411
Here is a new ppt from @Ella-bz https://docs.google.com/presentation/d/19woronewjAZT1GF0jgbr0XaTh9_x8DrnyhqyGD2OGLI/edit?usp=sharing

[2021-02-25 20:30] joubin opened #465 "What is OpenTelemetry?"
Typo in the documentation should be changed:

[2021-02-26 15:54] #465 closed

[2021-02-26 15:55] #406 closed

[2021-03-01 17:27] jkwatson opened #471 "Please update the java documentation to be consistent with the 1.0.0 release."
Our QUICKSTART.md is up-to-date:  https://github.com/open-telemetry/opentelemetry-java/blob/main/QUICKSTART.md

[2021-03-01 20:24] austinlparker opened #472 "Process for authoritative 'getting started' guides"
Per comments in maintainers meeting, SIG maintainers desire a more clear process for handling website 'getting started' docs updates. Suggested process is this -

- SIG maintainers create a new `website_docs` directory at the root of their repo.
- The structure of this directory should mirror the subdirectory structure appropriate to that language
  - For example, Java would maintain the contents

[2021-03-08 17:59] jkwatson commented on #472
What format would these docs be in?

[2021-03-08 18:03] austinlparker commented on #472
Markdown. The only real requirement is that they have a block at the beginning like so, with appropriate frontmatter (see https://gohugo.io/content-management/front-matter/) -

[code]

They can also use any other features available to the docs site, such as tabs by calling the appropriate blocks (as seen in the Erlang/Elixir docs) -

[code]

[2021-03-10 18:04] #471 closed

[2021-03-11 00:02] mangotron opened #490 "Add banner + form for i18n support"
(Per discussion in recent comms SIG)

Add a banner announcement to the site with a link to a short form (Google form or similar maybe) to capture details from people interested in helping to translate OTel docs. The form should include fields for:

- Name and email address (or other contact info if preferred)
- Language(s) the person wants to help with (e.g. English > French) as a short text entry

[2021-03-12 16:59] okilker opened #491 "Data Collection Collector sentence"
The Collector is the default location instrumentation libraries export their telemetry data.

⬆️ This sentence seems like it could be unpacked a little. (for greenfield environments), or perhaps a word or two could be added for clarification?:

- The Collector is the default location where instrumentation libraries export their telemetry data.
OR
- The Collector is the locally-running default loca

[2021-03-15 15:46] tedsuo commented on #472
How should links be handled?

[2021-03-22 00:07] pankajch82 commented on #190
Hi @austinlparker,
Few open issues :

- Provide alternative text for images
-  Ensure links or controls that open new windows or frames do not open without a warning
- Ensure link text is meaningful within the context

[2021-03-22 13:42] pbh101 opened #497 "Glossary links to 'Concepts Overview' are dead"
From the Glossary, clicking on 'Baggage' https://opentelemetry.io/docs/concepts/overview/#baggage returned my a 404. Upon inspection, it appears many links in the Glossary are pointing to https://opentelemetry.io/docs/concepts/overview/ and 404'ing.

[2021-03-22 15:25] austinlparker commented on #472
Absolute links should be fine irregardless. Relative links should also be fine, as Hugo defaults to not canonifying relative links, and it tends to be kinda smart about it.. for example, in `/content/en/docs/java/getting_started.md` there's a link to `[/docs/java/#releases-1]`. Hugo will do the right thing for `[../#releases-1]` as well (the link it creates in both cases will be to `<protocol>://<

[2021-03-22 21:49] pankajch82 commented on #190
Here are some details for home page :

- Provide alternative text for images
 <img src="/img/logos/opentelemetry-stacked-color.png" class="card-img-top mx-auto">-

- Ensure links or controls that open new windows or frames do not open without a warning
<a target="_blank" href="https://medium.com/opentelemetry" class="nav-link"><span>Blog</span></a>

- Ensure link text is meaningful within context

[2021-03-29 15:57] austinlparker commented on #472
I'm going through and making PR's mirroring the website docs to SIG repos today.

[2021-03-30 06:47] BitProcessor opened #507 "OTEL_EXPORTER_JAEGER_SERVICE_NAME no longer exists"
On https://opentelemetry.io/docs/java/automatic_instrumentation/ there is a mention of `OTEL_EXPORTER_JAEGER_SERVICE_NAME` which is no longer a valid ENV variable.

See https://github.com/open-telemetry/opentelemetry-java/issues/3056 for more info.

(the same might be true for `OTEL_EXPORTER_ZIPKIN_SERVICE_NAME` - unverified)

[2021-03-31 04:52] harshita19244 commented on #497
Could you assign me this issue? I want to work on it

[2021-03-31 17:06] harshita19244 commented on #269
Is help on this issue still required?

[2021-04-01 16:10] harshita19244 opened #511 "Addition of navbar icons"
More of an enhancement, we can add icons in the navbar for greater accessibility (and a better overall look).

[2021-04-02 17:27] harshita19244 commented on #190
I can suggest some UI fixes for the same and additionally submit a pr. Could you assign me the issue?

[2021-04-02 17:27] austinlparker commented on #190
Sure thing.

[2021-04-02 20:10] harshita19244 commented on #190
@austinlparker Sorry but could you guide me as to where the code corresponding to the navbar on the homepage is? I cant seem to find it.

[2021-04-02 21:01] austinlparker commented on #190
The navigation bar is generated automatically from the content directory - if you look at the `_index.md` files under `content/en`, the front matter specifies which get displayed in the nav bar.

There's more info here: https://www.docsy.dev/docs/language/

[2021-04-03 06:14] harshita19244 commented on #190
![Screenshot (11)](https://user-images.githubusercontent.com/60603854/113470246-babb8980-9471-11eb-9da8-875049e639a4.png)
Been trying to add icons in the navbar for improved accessibility, but the changes do not show up on make serve. @austinlparker Am I missing something? I followed the documentation of docsy, and their procedure of adding navbar icons, but it does not seem to work out.

[2021-04-03 08:28] harshita19244 commented on #190
https://github.com/open-telemetry/opentelemetry.io/pull/509
Kindly review the above pr. It solves a number of accessibility issues. (solves #190 and #497)I have added alt text for all images and resolved dead links on the website. Let me know if these work out, and if they can be merged to the main branch.

[2021-04-03 11:09] harshita19244 commented on #110
I would like to work on it, could you assign me the issue and specify the exact requirement?

[2021-04-03 11:14] harshita19244 commented on #175
I can help with this, please assign me this issue

[2021-04-04 02:53] harshita19244 commented on #110
@austinlparker I am developing a visual aid page linked to the community page. I have taken the first step and added a simple icon library. Let me know if I am on the right track with this implementation.
![Screenshot (13)](https://user-images.githubusercontent.com/60603854/113497176-02e4b580-951f-11eb-8c28-f8058775e1cf.png)

[2021-04-05 16:03] aabmass opened #520 "Update status of tracing for 1.0 languages"
https://opentelemetry.io/docs/python/#status-and-releases still says tracing is beta for python which has a 1.0 release. Same for .NET and Java.

[2021-04-07 15:33] kmt opened #524 "https://opentelemetry.io/about/#what-is-observability is gone"
There used to be a https://opentelemetry.io/about/#what-is-observability page that explained the "3 pillars" of observability: tracing, metrics and logging.  It's gone now.

Is this on purpose?  It was a page that my observability team was referring to often until it disapeared.

If this is on purpose, what reference do you recommend instead?

[2021-04-09 16:27] martinliu commented on #376
Hello there,

The steps I would recommend:

1. Do the site translate first, there are only around 10 pages that need to be done. The site has i18n support by theme docsy.  This job can be done by 3~5 max contributors for each language, and need at least one owner for each language. The owner will do the final review on a staging site, it can be released as soon as one language got completed done.

[2021-04-12 18:47] paulmcconico opened #531 "Node.JS Docs"
When instantiating the NodeTracerProvider an error occurs (if following the docs here: https://opentelemetry.io/docs/js/getting_started/nodejs/).
LogLevel is not exported by '@opentelemetry/core' AND LogLevel is not a property of NodeTracerConfig.

![chrome-capture (65)](https://user-images.githubusercontent.com/23711791/114445153-96a02c80-9b84-11eb-951e-8f7a77c9093c.jpg)

[2021-04-13 18:20] shelbyspees commented on #286
These docs now live in the [dotnet repo](https://github.com/open-telemetry/opentelemetry-dotnet/tree/main/docs/trace/getting-started), yes? Should this ticket get moved there?

[2021-04-13 18:48] austinlparker commented on #286
I guess they're going to take care of it on release by updating these themselves? https://github.com/open-telemetry/opentelemetry-dotnet/pull/1951

[2021-04-13 18:48] austinlparker commented on #286
I think we can probably close it out either way.

[2021-04-13 18:48] #286 closed

[2021-04-13 20:55] shelbyspees commented on #531
Thanks for finding this! The Node.js OTel docs gets pulled into this repo from the open-telemetry/opentelemetry-js repo. We don't have permissions to move this ticket to that repo, so please open a new one over there. The change is relatively recent so thanks for your patience while we smooth out the process for managing docs issues.

[Here's a link to the specific file](https://github.com/open-te

[2021-04-14 04:55] harshita19244 commented on #520
I would like to work on this issue @austinlparker @flands, could you please assign me?

[2021-04-14 17:49] #520 closed

[2021-04-14 20:59] aabmass commented on #520
@shelbyspees per your comment https://github.com/open-telemetry/opentelemetry.io/pull/539#issuecomment-819674722, this has been updated in the Python repo. How do we sync the changes over to this repo? Is there any documentation for that?

[2021-04-14 21:05] austinlparker commented on #520
Each SIG needs to either manually or automatically copy changes over to this repository by making a PR of their `website_docs` content.

[2021-04-14 21:28] austinlparker opened #542 "Edit/Create links for docs pages should point to authoritative sources"
Currently, on each doc page there's a set of links in the upper-right above the doc ToC for opening issues/creating child pages for a docs page.
![image](https://user-images.githubusercontent.com/4140740/114781208-643e2d00-9d46-11eb-8f61-018c505848e2.png)

It would be nice if these could point to the upstream source (i.e., `open-telemetry/opentelemetry-java/website_docs`) rather than the website r

[2021-04-16 02:29] harshita19244 commented on #542
@austinlparker I would like to work on it, could you assign it to me?

[2021-04-16 02:30] harshita19244 commented on #497
@austinlparker this issue can be closed. The linked PR resolves it

[2021-04-16 10:30] #497 closed

[2021-04-16 10:31] austinlparker commented on #524
That content moved over to the 'Concepts' page in the docs - https://opentelemetry.io/docs/concepts/.

[2021-04-16 14:32] harshita19244 commented on #542
I had a question, to make these changes, do I need to directly modify the code in the Docsy repo? Since the `themes/docsy `points to the actual Docsy repo itself. Do I send a pr there? @austinlparker

[2021-04-16 14:50] austinlparker commented on #542
I don't think we should change the underlying theme (as that means we wouldn't be able to update it easily) - Hugo has a lookup order for partials, so we could customize it by creating a copy of it then tweaking it. See https://gohugo.io/templates/partials/ for more information on how the template lookups work.

[2021-04-16 18:33] austinlparker commented on #110
I think we just need a link from the community page to the otel icons and to the cncf logo page for otel.

[2021-04-16 19:21] #175 closed

[2021-04-16 19:22] austinlparker commented on #203
In the interest of doing some issue cleanup, closing this as we're pretty much at a solid process at this point (see #472) for the docs content, where it lives, and how it's updated.

[2021-04-16 19:22] #203 closed

[2021-04-16 19:23] austinlparker commented on #285
Python getting started docs exist, closing.

[2021-04-16 19:23] #285 closed

[2021-04-16 19:23] austinlparker commented on #287
JS Getting Started docs exist, closing

[2021-04-16 19:23] #287 closed

[2021-04-16 19:24] #289 closed

[2021-04-16 19:25] austinlparker commented on #322
This issue was fixed by #394

[2021-04-16 19:25] #322 closed

[2021-04-16 19:38] #524 closed

[2021-04-17 02:54] harshita19244 commented on #110
Cool I will do that

[2021-04-17 21:06] shelbyspees opened #544 "Update contributing guidelines to clarify docs mirroring on sdk repos"
This is regarding the change discussed in #472 that's been rolled out across most of the language repos.

I hope most of the friction will be solved by #542, but it'll be helpful to describe how the docs mirroring works in a bit more detail. As a bonus, describing the current process may make it easier to automate mirroring/syncing in the future.

[2021-04-17 21:12] shelbyspees commented on #544
@austinlparker one of my thoughts for this is to add a readme each language's `website_docs` directory in those repos (and have them mirrored back here), at least so people know whether they're in the right place (i.e. "You know you're in the right place because the directory should be called `website_docs`" basically). That would involve opening PRs against all the language repos though, so I mig

[2021-04-17 21:15] shelbyspees commented on #544
Oh there's also the [contribution guidelines page](./content/en/docs/contribution-guidelines.md) page that gets published 🤔

It's pretty buried at the bottom of the menu though so idk how many people see it. This is starting to be a lot of pages to update. Let me poke at this a bit.

[2021-04-17 21:45] shelbyspees opened #545 "Releases page doesn't render markdown"
published page: https://opentelemetry.io/releases/
line in releases page in repo: https://github.com/open-telemetry/opentelemetry.io/blame/main/content/en/releases/_index.md#L52
hugo shortcode implementation: https://github.com/open-telemetry/opentelemetry.io/blob/main/layouts/shortcodes/release_notes.html#L14

The content of the releases is rendered in a `<pre>` block:

![latest .NET release on t

[2021-04-17 22:42] shelbyspees opened #546 "`make ci-link-check` fails on MacOS"
https://github.com/open-telemetry/opentelemetry.io/blob/21f56859b3faff5418601182e0f3350937195f16/Makefile#L9-L11

There's an [open issue](https://github.com/wjdp/htmltest/issues/146) in which cURL fails to download htmltest on MacOS.

For local development on MacOS, running `make test` or `make ci-link-check` fails on the cURL command. I was able to work around this by downloading htmltest from th

[2021-04-19 15:47] #544 closed

[2021-04-21 11:41] #110 closed

[2021-04-22 17:41] austinlparker commented on #511
Closed by #550

[2021-04-22 17:41] #511 closed

[2021-04-22 17:45] shelbyspees commented on #269
should this be moved to the Erlang/Elixir repo?

[2021-04-22 17:58] shelbyspees opened #554 "Document how the docs update GitHub action works for releasing from language repos"
It requires a personal access token from @austinlparker at this point in time.

Here's how the Java SDK repo has it set up:
https://github.com/open-telemetry/opentelemetry-java/blob/main/.github/workflows/docs-update.yml#L8-L35

[2021-04-28 19:28] Andrew-Wichmann opened #556 "Concepts"
should be

[2021-05-06 17:41] austinlparker opened #564 "Tracing update broke site JS"
The recent dependabot tracing updates broke tracing (and the site JS) - someone just needs to go through and fix it.

[2021-05-06 17:45] shelbyspees opened #565 "Allow SDK repo website_docs to use images from a local resource directory"
Overwrite the hugo template to support this, since the theme doesn't do it by default.

[2021-05-06 20:22] dprotaso opened #566 "Instrumentation"
This page has references to a `label` package which seems to be removed

[2021-05-07 11:57] chalin opened #567 "Homepage top is muddled because of announcement / banner"
Visiting the homepage, this is what I see on desktop:

The display is fine for narrow views.

cc @nate-double-u

[2021-05-07 13:01] chalin opened #568 "Site build: npm install reports vulnerabilities"
When I build the site locally npm reports vulnerabilities:

[code]

[2021-05-07 13:10] chalin opened #570 "Drop yarn.lock?"
There's no mention of `yarn` in [CONTRIBUTING.md][], and the [Makefile][] uses `npm`. There's a [package-lock.json][] so, `yarn.lock` seems at best superfluous, at worst it might cause issues if ever the lock files become out of sync and folks & tools start using exclusively one lock file in preference over the other.

[Makefile]: https://github.com/open-telemetry/opentelemetry.io/blob/main/Makefi

[2021-05-07 14:48] chalin opened #572 "Site search doesn't work"
Site search doesn't seem to be working whether I use Chrome (90.0.x) or Safari (14.1): I type text and hit return (not sure if that's necessary) and nothing happens.

I'm noticing an error in the JS console:

[code]

Clicking on the last "Global Code" frame brings me to following (although that's not the cause):

[code]

Related: #317, #323

[2021-05-07 16:14] austinlparker commented on #572
Thanks for the report - this was due to an update of the OTel libraries that didn't get everything.

[2021-05-07 17:04] #567 closed

[2021-05-07 17:26] chalin commented on #572
Closed by #573

[2021-05-07 17:26] #572 closed

[2021-05-12 15:33] tigrannajaryan opened #577 "Need to be able to publish schema files from specification repo"
[OTEP 0152](https://github.com/open-telemetry/oteps/blob/main/text/0152-telemetry-schemas.md) introduces the notion of schema files that need to be published at some canonical location for OpenTelemetry schemas. The OTEP [proposes to use](https://github.com/open-telemetry/oteps/blob/main/text/0152-telemetry-schemas.md#opentelemetry-schema) https://opentelemetry.io/schemas/<version> as the location

[2021-05-12 15:35] tigrannajaryan commented on #577
@flands @mtwo @austinlparker I need your advice on this. Does website SIG do regular meetings? I can join to discuss if you prefer that.

[2021-05-12 16:53] austinlparker commented on #577
We have meetings every two weeks, so if you want to show up next week then we can chat about it there.

From a technical side it's pretty straightforward though, we can create a static directory that serves to whatever path then use the same automation that's available to sync changes between the language repos into the website to sync that on a manual trigger or on a release of the spec.

[2021-05-12 16:55] austinlparker commented on #577
The meeting is on the public calendar, it's 'Communications SIG' on every other thursday

[2021-05-12 18:02] nigthnourse opened #578 "Documentation"

[2021-05-12 18:49] tigrannajaryan commented on #577
@austinlparker Thanks for confirming this is possible. I will join the SIG meeting next week and in the meantime I will try to put together a draft PR that does what you described.

[2021-05-12 18:59] tigrannajaryan commented on #577
@austinlparker can you point me to the current automation that syncs the changes?

[2021-05-12 19:34] austinlparker commented on #577
Sure thing, here's an example in the Java repo: https://github.com/open-telemetry/opentelemetry-java/blob/main/.github/workflows/docs-update.yml

Essentially you just need a source directory (on the spec side) and a target directory (on the website side), then the script will rsync one way from the source to the target on command/trigger.

It would be nice if we could get a bot user for these acti

[2021-05-12 21:32] tigrannajaryan commented on #577
@austinlparker so, just to clarify:
- In the https://github.com/open-telemetry/opentelemetry-specification repo we will put the source files in some directory, e.g. `/schemas`, so `/schemas/1.4.0` will be a YAML file containing the schema for specification version 1.4.0.
- In this repository we will have all schema files in `/static/schemas/`.
- When a new version of the specification is planned t

[2021-05-12 23:46] austinlparker commented on #577
Yeah, that all sounds right. There might be an extra piece of config on this side to expose `/schemas` but I think it should just work as long as `/static/schemas/` exists.

[2021-05-13 00:09] austinlparker commented on #577
Just as an FYI Tigran I'm moving house this week so my access will be limited from tomorrow until next Monday, in case we're trying to time this with something else. I'll try to keep an eye on things though.

[2021-05-13 00:59] tigrannajaryan commented on #577
@austinlparker thanks, no rush. We need to publish the first file for 1.4.0 spec release which is still 3 weeks away, so we have plenty of time. And for the very first release we can even do it completely manually, so it shouldn't be a problem.

[2021-05-17 12:39] austinlparker commented on #564
This was fixed by #573

[2021-05-17 12:39] #564 closed

[2021-05-17 13:50] austinlparker commented on #568
This has been resolved

[2021-05-17 13:50] #568 closed

[2021-05-18 12:18] #570 closed

[2021-06-04 19:33] johnmezzetta commented on #491
I agree that the sentence is really vague. The java example does not show the creation/configuration of a collector in conjunction with the java instrumentation. So it would be reasonable to assume that the collector logic is imbedded in java instrumentation. However, that might be a bad assumption. Can a clear statement be made as to whether a given instrumentation has an imbedded collector? For

[2021-06-22 20:13] #578 closed

[2021-06-22 20:14] #556 closed

[2021-06-23 16:43] cviebrock commented on #392
@Ella-bz The official PHP logo is an oval.  Maybe consider changing the rounded rectangle? :)

[2021-06-24 06:06] Ella-bz commented on #392
[PHP.svg.zip](https://github.com/open-telemetry/opentelemetry.io/files/6706676/PHP.svg.zip)
Got it. Like this is good?

[2021-06-25 19:44] cviebrock commented on #392
Looks great!

[2021-06-27 10:46] automano opened #616 "otel.SetMeterProvider(pusher.MeterProvider()) no longer works"
otel.SetMeterProvider(pusher.MeterProvider()) no longer works

for golang demo

[2021-06-28 20:26] kenfinnigan opened #618 "Adding Quarkus"
**Desired feature or idea.**
What are the steps, or process, for adding [Quarkus](https://quarkus.io/) to the list of projects mentioned under "Integrates With Popular Frameworks and Libraries" and "Drop-In Instrumentation"?

[2021-06-29 02:15] automano commented on #616
![image](https://user-images.githubusercontent.com/17286982/123726577-d09ae800-d8c2-11eb-92ae-334f4e16e410.png)
Documentation need to be modified.

[2021-06-29 09:13] darrenparkinson opened #619 "Node.JS error following documentation cannot read property ERROR of undefined"
When following the instructions in the [node js](https://opentelemetry.io/docs/js/getting_started/nodejs/) docs, the command `node -r ./tracing.js app.js` results in the error `TypeError: Cannot read property 'ERROR' of undefined`.

This is due to `const { LogLevel } = require("@opentelemetry/core");` resulting in undefined.

Seems like this might be related to #531

[2021-06-29 11:51] davsclaus opened #620 "Adding Apache Camel"
Desired feature or idea.

What are the steps, or process, for adding Apache Camel to the list of projects mentioned under "Integrates With Popular Frameworks and Libraries" and "Drop-In Instrumentation"?

Apache Camel has been integrated with open telemetry since Camel 3.5 that was released end of August 2020
https://camel.apache.org/components/latest/others/opentelemetry.html

[2021-06-29 11:52] davsclaus commented on #620
Similar to #618

[2021-07-02 10:38] AtlanCI opened #622 "Getting Started not runing"
In the setting global options section of the article,SetMeterProvider mothed not-existent.
[code]

[2021-07-02 10:53] AtlanCI commented on #622
link :+1: https://opentelemetry.io/docs/go/getting-started/

my go  module
[code]

[2021-07-04 16:05] theletterf commented on #566
@dprotaso Could you add a link to the page? And, did you check if the package is effectively gone?

[2021-07-04 16:08] theletterf commented on #269
Looking at https://github.com/open-telemetry/opentelemetry-erlang/tree/main/website_docs, this seems to have been solved already.

[2021-07-05 15:48] aarongreenlee commented on #616
I found this issue as well. I think you can now import `go.opentelemetry.io/otel/metric/global` and then use global.SetMeterProvider(...)`. I'm learning but the context of a "global" package makes sense. Seems like the API shifted.

[2021-07-05 15:55] aarongreenlee commented on #616
Posted what I hope is a fix here https://github.com/open-telemetry/opentelemetry.io/pull/625

[2021-07-07 08:22] Arnatious opened #627 "Glossary: Dead Link to Distributed Tracing Page"
https://github.com/open-telemetry/opentelemetry.io/blob/6111140f06f941f9c8ee192bfb6366031cbf8ccc/content/en/docs/concepts/glossary.md#L42

References since deleted "Overview" page.

[2021-07-07 16:08] ritwizsinha opened #628 "Terms not linked on Components page"
I am a newbie to Open Telemetry and I was going through the concepts. I was reading about [components](https://opentelemetry.io/docs/concepts/components/) in Open Telemetry. I came across this line, I had no idea what this term 'data-source' meant. (Because Data sources are mentioned later)

Then I came across this line

and found that I had no idea what baggage and propagators meant.

Some of the

[2021-07-09 13:37] #618 closed

[2021-07-14 19:19] chalin commented on #545
Yeah, I still see this problem. For the record, release info is now published under https://opentelemetry.io/status/.

[2021-07-14 19:27] chalin opened #635 "Address top 404s by adding redirect rules"
There have been about 400 page not found errors in the past 30 days (which isn't too bad). For example, the link to https://opentelemetry.io/releases/ mentioned in #545 no longer exists.

AFAICT there are no redirect rules currently.

[2021-07-14 19:32] chalin opened #636 "Upgrade Hugo"
The website is currently using [Hugo 0.65.3](https://gohugo.io/news/0.65.3-relnotes/) from 2020/02/23. There have been a number of improvements (including performance) since then. As of the time of writing, the current version of [Hugo is 0.85.0](https://gohugo.io/news/0.85.0-relnotes/).

[2021-07-14 19:37] chalin commented on #546
I'm in favor of (2), and this is in fact the solution I adopted for other website repos.

[2021-07-15 07:16] automano commented on #616
Thanks so much. It works now.

[2021-07-18 13:21] chalin opened #639 "fetchMilestones.js: drop GH_TOKEN if possible"
AFAICT, all the data that `fetchMilestones.js` needs to access is public, so we shouldn't need a GitHub PAT (passed via `GH_TOKEN`).

Dropping the need for `GH_TOKEN` will simplify the build and make it easier for local builds to match the production site exactly.

[2021-07-18 13:30] chalin commented on #639
Ah, I see why. From [Authentication](https://docs.github.com/en/rest/guides/getting-started-with-the-rest-api#authentication):

[2021-07-18 13:36] #639 closed

[2021-07-18 17:30] chalin opened #640 "Docsy favicons are being used instead of that of OTel"
The [Docsy favicons](https://github.com/google/docsy/tree/master/static/favicons), for example

are currently being used by the website instead of the [OTel favicon](https://github.com/open-telemetry/opentelemetry.io/blob/acd8dc257a0c3e33dc1f9208301c76aa03700978/static/favicon.png):

[2021-07-18 17:32] chalin opened #641 "Upgrade Docsy theme files"
There have been improvements to the Docsy theme files since they were first copied for use as part of this project. In particular, the updated head.html file makes it easer to create development versions of the website (without asset file finger-printing), which makes it a lot easier to perform local site diffs during development.

[2021-07-18 19:27] chalin commented on #546
FYI, there's a [brew formula for htmltest](https://formulae.brew.sh/formula/htmltest) now.

[2021-07-20 05:00] simonlsk opened #644 "Getting Started Docs - snippet error"
In the **Creating metric instruments** section the snippet includes the line:
[code]
For which I get an unresolved reference. I believe the function `Meter` is in `global` and the correct line should be:
[code]

That waisted me about an hour trying to figure out what I was doing wrong.

Thank you!

[2021-07-23 03:05] zzxwill opened #646 "Getting Started: library otel doesn’t have function Meter()"
In this section https://opentelemetry.io/docs/go/getting-started/#creating-metric-instruments, it shows library `otel` doesn’t have function `Meter()`.

[code]

[2021-07-23 03:07] zzxwill commented on #646
It seems we should create a meter by `meter := pusher.MeterProvider().Meter("example")`.

[2021-07-23 16:30] dprotaso commented on #566
I believe it was here: https://opentelemetry.io/docs/go/instrumentation/ but I think it was fixed.

Note I created this issue by clicking 'Create documentation issue` which opens up the link
https://github.com/open-telemetry/opentelemetry.io/issues/new?title=Instrumentation

It's probably worth adding some additional details or body to that url so it links to the page version & url.

[2021-07-23 16:30] #566 closed

[2021-07-30 23:51] irl-segfault opened #653 "[go] Getting Started docs broken"
https://opentelemetry.io/docs/go/getting-started/

states you should run

[code]

This produces the error

[code]

[2021-07-30 23:59] irl-segfault opened #654 "Getting Started"
https://opentelemetry.io/docs/go/getting-started/

states you should run

[code]

This produces the error ```go get go.opentelemetry.io/otel@v1.0.0-RC1 go.opentelemetry.io/otel/sdk@v1.0.0-RC1 go.opentelemetry.io/otel/exporters/stdout/stdouttrace@v1.0.0-RC1 go.opentelemetry.io/otel/trace@v1.0.0-RC1

go get: module go.opentelemetry.io/otel@v1.0.0-RC1 found, but does not contain package go.openteleme

[2021-08-10 19:20] chalin commented on #635
**Top 10 404s** as of 2021-08-10 (see opening comment for text versions of the paths):

[2021-08-10 19:21] chalin commented on #635
For example, @alolita's [Nurturing Observability with Open Source](https://alolitasharma.com/2020/10/11/nurturing-observability-with-open-source/) post links to `/about`.

[2021-08-12 12:24] chalin commented on #654
Dup of #653. Closing.

[2021-08-12 12:24] #654 closed

[2021-08-12 12:32] chalin commented on #653
/cc @tedsuo @shelbyspees @austinlparker

@MrAlias @Aneurysm9: ping. Btw, what is the process for OTel Go docs: should issues like these be moved to https://github.com/open-telemetry/opentelemetry-go/ given that the canonical sources for the doc pages are in the `opentelemetry-go` repo?

[2021-08-12 12:36] chalin commented on #646
I believe that this is reporting the same issue as https://github.com/open-telemetry/opentelemetry-go/issues/2087? It has been fixed (https://github.com/open-telemetry/opentelemetry-go/pull/2093), but the updated docs haven't been ported.

I'm going to mark this as a duplicate, but leave it open until the docs are updated in this repo.

/cc @Aneurysm9 @lastchiliarch

[2021-08-12 12:42] chalin commented on #646
Oh, I'm going to close this in favor of #644, which was opened earlier.

[2021-08-12 12:42] #646 closed

[2021-08-12 12:43] chalin commented on #644
I believe that this is reporting the same issue as https://github.com/open-telemetry/opentelemetry-go/issues/2087? It has been fixed (https://github.com/open-telemetry/opentelemetry-go/pull/2093), but the updated docs haven't been ported.

I'm going to mark this as a duplicate, but leave it open until the docs are updated in this repo.

/cc @Aneurysm9 @lastchiliarch

[2021-08-12 13:24] chalin commented on #542
Hi all. Need a hand with this? I've implemented this in other website repos, and would be glad to set this up here too (once I'm done with basic infrastructure cleanup).

[2021-08-12 13:30] chalin opened #661 "Bring in language docs via submodules"
Hi all. I see that you've already spent some time fleshing out a [Process for authoritative 'getting started' guides #472](https://github.com/open-telemetry/opentelemetry.io/issues/472), which is based on file copying.

I'd like to suggest that we keep things [DRY][], by using submodules instead. I've implemented that successfully in other projects. (Btw, we're already using (recursive) submodules

[2021-08-12 17:45] MrAlias commented on #653
I'm not able to reproduce this error.

[code]

`go.opentelemetry.io/otel` does not depend on either of the stated missing packages so this seems like it might be a contextually based error.

Can you provide steps to reproduce the error and info about the environment you are running in?

[2021-08-12 18:00] tmancill opened #662 "collector Getting Started examples refer to non-existent paths in opentelemetry-collector"
This issue refers to https://opentelemetry.io/docs/collector/getting-started/ at commit https://github.com/open-telemetry/opentelemetry.io/commit/e24d9b77fb6e3391078fa6a0edec75fc82a89ec1 (according to the page footer) and the open-telemetry/opentelemetry-collector retrieved at 632ed32b5f8515da8da377d8ae34215b30301c24.

The issue is that getting started guide refers to non-existent paths.  If the d

[2021-08-12 18:36] chalin opened #663 "Don't link to raw.github.com images and resources, deploy them with the site"
For example see, https://github.com/open-telemetry/opentelemetry.io/blame/main/content/en/docs/_index.md#L36:

[code]

---

Edit: I'm generalizing this to don't serve resources from GH. Another example is the `iconography.zip`.

Serve all of the following resources from the production server, not GH:

- [x] #2367
- [x] #2369
- [x] #2370
- [x] #2378
- [ ] Go docs:
  - [x] https://github.com/open-te

[2021-08-12 18:45] chalin opened #664 "Iconography.zip should contain icons only, not diagrams"
It currently contains two diagrams. /cc @jkowall

[2021-08-12 18:49] chalin opened #665 "Redirect /lang to /docs/lang rather than just /docs"
Why have `/java` link to `/docs` and not `/docs/java`? Aren't these aliases in the wrong place?

_Originally posted by @chalin in https://github.com/open-telemetry/opentelemetry.io/pull/144#r687999886_

[2021-08-13 13:40] chalin opened #668 "Define a policy for introducing redirects when site pages are deleted"
Generally speaking, when pages disappear, we should add an appropriate redirect rule. (Related: #635)

So, in this case, if a reader was interested in the content of this page (and the _Authentication_ section on the parent page), where should they go to next for pertinent info?

/cc @bogdandrutu @tigrannajaryan

_Originally posted by @chalin in https://github.com/open-telemetry/opentelemetry.io/p

[2021-08-13 20:23] #546 closed

[2021-08-13 20:54] chalin opened #669 "Post-docsy 2020/10 cleanup"
Some resources that were used to generate the site prior to the adoption of the Docsy theme are still present in the repo. They're like "dead code", and should be removed:

- [x] NPM packages:
  - [x] bulma - #737
- [x] Style files that were used in conjunction with bulma - #737
- [x] #640

[2021-08-16 09:29] jpkrohling opened #673 "Reinstate the authentication configuration for collector"
The PR #649 removed the authentication configuration for the collector. Please, reinstate that.

cc @flands, @austinlparker

[2021-08-16 19:35] chalin commented on #542
Mind if I pickup work on this issue @harshita19244?

[2021-08-16 19:38] chalin commented on #542
@austinlparker - By the way, there's a "feature interaction" with multi-language support -- which the website is currently ready for, though currently on `en` is supported.  That is, language repos should probably be setup for multi-language support as well. Thoughts?

[2021-08-16 20:03] chalin opened #680 "Remove markup (like images) from page descriptions"
For example, page description for the Java landing page contains an image; here's the relevant excerpt from the front matter of https://github.com/open-telemetry/opentelemetry.io/blob/main/content/en/docs/java/_index.md (whose canonical source is https://github.com/open-telemetry/opentelemetry-java/blob/main/website_docs/_index.md):

[code]

While this looks nice in the website page, it causes pro

[2021-08-16 20:30] jkowall commented on #411
The design is in Figma if you want to have access to it there that is possible. https://www.figma.com/file/PZ1zSzBeNOjJkHTbmRSEcK/Materials-(pics%2C-screens-etc.)?node-id=378%3A0

I can export it if you want, or we can ask Ella for changes.

[2021-08-16 20:30] #636 closed

[2021-08-16 20:49] chalin commented on #411
Thanks for the link! (Who owns the file?)

As far as I can tell, the changes were made, and it seems like I can export the SVG, so I'll submit a PR soon.

[2021-08-16 23:03] chalin commented on #680
I see that the icons were added via #399 (for example). There are a couple of ways that we can address this so as to preserve the current page display, while fixing social media post descriptions. Let's discuss when you're back @austinlparker, or whoever else would like to share an opinion.

[2021-08-16 23:07] #411 closed

[2021-08-17 12:49] chalin commented on #542
Self-assigning. The first couple of PRs are landing soon.

[2021-08-17 18:36] chalin commented on #542
@harshita19244 - FYI, I'll be completing the resolution of this issue. Thanks for your original interest!

[2021-08-18 18:56] chalin opened #693 "Build should be reproducible: avoid build-time content generation"
Another way to say this is that the site build command should (to the extent practical) be idempotent. If I build the site today, touch none of the files, and build again in, say, 6 months, then the generated files should be the same.

This currently isn't the case, in particular, because [scripts/fetchMilestones.js](https://github.com/open-telemetry/opentelemetry.io/blob/main/scripts/fetchMilesto

[2021-08-30 13:30] austinlparker commented on #661
Couple of notes...

First, I generally agree with @dyladan that website docs should live entirely in this repository. That's how it was for many months! Maintainers of other SIGs disliked this approach, as it caused 'drift' between documentation that they were writing in their repositories and documentation on the website. When we proposed moving docs per-language into the language repositories, s

[2021-08-30 17:43] tedsuo opened #699 "Add marketing guidelines to website"
**What needs to be changed?**

Currently our marketing guidelines are not very discoverable to non-technical contributors, such as marketing people and managers working at contributing organizations. They should be added to our website to make them more visible.

**What is the name + path of the page that needs changed?**
I propose adding a new page - openTelemetry.io/guidelines - and link to it f

[2021-08-30 17:45] tedsuo opened #700 "Add marketing guidelines to website"
**What needs to be changed?**

Currently our marketing guidelines are not very discoverable to non-technical contributors, such as marketing people and managers working at contributing organizations. They should be added to our website to make them more visible.

**What is the name + path of the page that needs changed?**
I propose adding a new page - openTelemetry.io/guidelines - and link to it f

[2021-08-30 17:45] tedsuo commented on #699
Sorry this is a feature request not a bug, opening new issue here: https://github.com/open-telemetry/opentelemetry.io/issues/700

[2021-08-30 17:45] #699 closed

[2021-08-30 22:15] #577 closed

[2021-08-31 18:18] dyladan commented on #661
Another disadvantage of submodules that austin didn't mention is that it depends on external repositories not merging changes which break the website build, something that is very easy to do. Not all valid markdown compiles into a working site. For an example, see the most recent JS docs update where the valid relative links of the form `[text](../relative_path.md)` caused the build to fail even t

[2021-09-01 03:52] wong2 opened #703 "Update JS Exporter docs with collector OTLP export instructions"
https://opentelemetry.io/docs/js/exporters/
At the bottom of this guide, it links to how to setup a OpenTelemetry Collector, but not how to use it with JavaScript sdk.

[2021-09-02 18:10] riferrei opened #705 "Update Elastic Support for Native OTLP"
**What happened?**

Currently, the vendor's page on the website shows Elastic as not supporting natively OTLP. This is no longer true as it has been a while since this support was added.

![image](https://user-images.githubusercontent.com/35476/131894909-ba2c01f1-a075-438e-8ad6-42135db670b1.png)

**What did you expect would happen?**

For the entry related to Elastic, change from "No" to "Yes" the

[2021-09-03 07:47] cyrille-leclerc commented on #705
See proposed fix https://github.com/open-telemetry/opentelemetry.io/pull/706

[2021-09-07 15:51] austinlparker commented on #700
Reopening this because we have a stopgap solution in place

[2021-09-07 17:32] chalin commented on #661
Thank you both for your feedback. I'm not wed to using submodules. The most important thing IMHO is to avoid having files reside in two repos.

I agree, and this brings up another point: IMHO we don't need to have the same solution implemented for all languages. (In fact, we don't currently -- there seemed to be pushback on the mirroring scheme, see the table in https://github.com/open-telemetry/o

[2021-09-07 17:38] chalin opened #709 "OTEL schema files should be in a single repo"
OTEL schema files are duplicated across this repo and [opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification). Here's some more context for this issue:

- https://github.com/open-telemetry/opentelemetry.io/pull/695#discussion_r703596784:

- https://github.com/open-telemetry/opentelemetry.io/pull/695#discussion_r703677865

The **schema files** should **reside in

[2021-09-07 17:39] chalin commented on #661
FYI, another example of how having files into two places can go wrong: #709.

[2021-09-07 19:48] austinlparker commented on #709
Yeah, I concur that this should be a submodule. Could we continue to have push-button automation from the spec side in order to do the submodule update if that's how they're doing it now?

[2021-09-07 20:02] austinlparker opened #710 "Change the homepage badge from sandbox to incubation"
On the bottom block above the footer, the CNCF Sandbox logo should be CNCF Incubation

[2021-09-08 13:10] GaryPWhite opened #711 "Data Sources should include baggage signals"
Noticed that [the data sources page](https://opentelemetry.io/docs/concepts/data-sources/) doesn't yet include notes about [Baggage Signals](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/overview.md#baggage-signal). Should be trivial to translate the gist of the content -- I might come back and write it if nobody takes the issue :)

[2021-09-08 14:58] chalin opened #712 "Pages with non-trivial but short TOCs don't get displayed"
The [Data sources](https://opentelemetry.io/docs/concepts/data-sources/) page has three H2 headings but no TOC is displayed in the right nav:

This is because the current [toc.html](https://github.com/google/docsy/blob/master/layouts/partials/toc.html) partial (somewhat arbitrarily IMHO) decides whether it should display the TOC based on the character length of the TOC HTML! We can do better than

[2021-09-08 15:08] chalin opened #713 "Glossary contains many "external" links to https://opentelemetry.io"
The [Glossary](https://opentelemetry.io/docs/concepts/glossary/) contains link references to site-local pages that are written as external links to https://opentelemetry.io. These should be change to be site-local references.

This should be fixed in all pages -- I haven't checked pages other than the glossary.

[2021-09-08 17:30] chalin opened #714 "Use YAML for the site config"
TOML makes sense for _really_ simple config files, but when there too much nesting, folks end up using indentation like the follow (which is just begging for YAML IMHO):

[code]

YAML will be easier to read.

[2021-09-08 17:38] austinlparker commented on #714
👍🏼 go for it

[2021-09-09 00:18] bcdady opened #717 "docs: broken links in registry"
**What needs to be changed?**
Components that have moved from 'core' to 'contrib' need their `repo` links updated in the registry.

**What is the name + path of the page that needs changed?**
content/en/registry/collector-exporter-file.md
content/en/registry/collector-exporter-jaeger.md
content/en/registry/collector-exporter-kafka.md
content/en/registry/collector-exporter-logging.md
content/en/reg

[2021-09-09 13:39] #709 closed

[2021-09-09 14:20] chalin opened #720 "Migrate opentelemetry-js website_docs back here as the single source of reference"
In https://github.com/open-telemetry/opentelemetry.io/issues/661#issuecomment-909484566, @dyladan wrote:

Ok then, @dyladan shall we move the JS [website_docs][] back into this repo? Doing so is consistent with the docs management scheme we'll be promoting moving forward. /cc @austinlparker

---

- [x] Update the JS pages here to reflect the otel-js content of website_docs - #722
- [x] Submit a PR

[2021-09-09 14:25] chalin commented on #720
@dyladan - if you agree, then #696 can be closed.

[2021-09-09 14:55] #710 closed

[2021-09-09 15:18] chalin opened #721 "Drop unused logos and other homepage cleanup"
As a followup to #716:

- [ ] Delete unused logos
- [ ] Ensure that CNCF and projects links introduced in #716 use `target="_blank" rel="noopener"`

[2021-09-09 15:20] chalin commented on #717
Thanks for the issue and the PR!

Closed by #717 -- if not, feel free to reopen the issue @bcdady.

[2021-09-09 15:20] #717 closed

[2021-09-09 15:32] dyladan commented on #720
@open-telemetry/javascript-maintainers I'm ok with this if you are

[2021-09-09 15:35] austinlparker commented on #720
I'm good with this - in the future, docs will either live in here or be linked via submodule so that there's only one copy of them at any given time.

[2021-09-09 18:15] chalin commented on #700
The first entry of a Google search for ["opentelemetry marketing guidelines"](https://www.google.com/search?q=opentelemetry+marketing+guidelines) is https://github.com/open-telemetry/community/blob/main/marketing-guidelines.md. We really want to direct folks to the website.

I agree with @tedsuo that we should move the page to the website, but I'd suggest it be under `/community/marketing-guidelin

[2021-09-10 15:25] chalin opened #724 "Serve & build scripts need webpack to be run first"
Originally reported by @jessitron in https://github.com/open-telemetry/opentelemetry.io/pull/723#issue-730904464 (edited):

[2021-09-10 15:28] chalin commented on #724
Actually, the same problem surfaces for a first run of the `build` NPM script.

[2021-09-10 15:50] #724 closed

[2021-09-10 15:51] chalin opened #726 "registrySearch.js should be fingerprinted only if in production mode"

[2021-09-12 01:57] sirandysaunders commented on #190
Yes, Agreed! Can you continue to assist me? You guys are far better at this than I.

[2021-09-12 01:58] sirandysaunders commented on #190
Please 🙏

[2021-09-12 02:17] sirandysaunders opened #727 "We want to defer the responsibility of fetcher type defining and locator definition/normalization to `fossa core`."
We want to defer the responsibility of fetcher type defining and locator definition/normalization to `fossa core`.

If this change were in effect today, all cli uploaded builds would have a fetcher of `custom`. This means that fetcher definition in `.fossa.yml` should be removed.

Additionally, we should not attempt to normalize locators on uploads, rather we should supply the necessary fields to

[2021-09-12 02:17] sirandysaunders commented on #727
Great work guys

[2021-09-12 02:17] sirandysaunders opened #728 "NEUROMED RESEARCH INITIATIVE"
Great work guys

__Originally posted by @sirandysaunders in https://github.com/open-telemetry/opentelemetry.io/issues/727#issuecomment-917535756__

[2021-09-12 02:18] sirandysaunders commented on #728
Save

[2021-09-13 07:10] genemat opened #729 "Provide a Tutorial Guide showing how to "ping a collector install" with a dummy signal (e.g., metric) without the use of a language SDK or other component"
The current Getting Started guide includes a demo that use Zipkin, Jaeger and Prometheus. I am looking for a more simpler guide. Something that would show how to send a metric(s) using a utility like CURL and seeing the metric being recorded in a local file. This would help confirm that the installation of OTEL Collector is working normally.

[2021-09-13 13:19] austinlparker commented on #729
I think something like https://github.com/equinix-labs/otel-cli might be useful for this under the collector quick start as it can send gRPC (which is, presumably, what most people using a collector + OTLP will be using).

[2021-09-13 13:20] austinlparker commented on #727
Not sure what you meant to do but I don't think this issue belongs in this repository.

[2021-09-13 13:20] #727 closed

[2021-09-13 13:22] austinlparker commented on #728
Did you mean to open this issue here? Closing as off-topic.

[2021-09-13 13:22] #728 closed

[2021-09-13 13:24] austinlparker commented on #711
Feel free to pick this up if no one else does!

[2021-09-13 13:24] austinlparker commented on #705
Closed by #706

[2021-09-13 13:24] #705 closed

[2021-09-13 13:29] austinlparker commented on #693
FWIW we could probably deprecate the `fetchMilestones.js` script entirely, especially as we move the 'latest release' info to the docs pages.

[2021-09-13 13:30] austinlparker commented on #680
What's the best fix here, you think? Editing the template so that we can include the icon as a separate Hugo resource and have it inserted that way?

[2021-09-13 13:31] austinlparker commented on #673
If it was removed, that's because it was removed in the canonical copy on the collector documentation, so it needs to be re-added there.

[2021-09-13 13:34] austinlparker commented on #662
The canonical copy of these docs are located at https://github.com/open-telemetry/opentelemetry-collector/tree/main/website_docs, please open this issue in the appropriate repository. Thanks!

[2021-09-13 13:34] #662 closed

[2021-09-13 13:43] austinlparker commented on #668
Let's tackle writing up the policy here as part of the revamped IA.

[2021-09-13 13:44] austinlparker commented on #627
Closed by #708

[2021-09-13 13:44] #627 closed

[2021-09-13 14:53] genemat commented on #729
Yes otel-cli looks like a great and capable OTEL utility to quickly and simple send metric data to OTEL, however, I'm looking something even more simpler, without GO and Jaeger. I am looking to confirm that OTEL is installed and working correctly.

Is there a curl command that can be used, with dummy random metric data, to send to the OTEL collector listener and confirm the receipt of data to a lo

[2021-09-13 14:57] jpkrohling commented on #673
Is this something new? Would you mind pointing me to the right place to add?

[2021-09-13 15:53] austinlparker commented on #729
I'm not sure if the metric receiver supports measurements in formats other than gRPC at this point? Might be a better question for the collector repository. You can confirm receipt of data pretty easily with the logging exporter on the collector though.

[2021-09-13 15:55] austinlparker commented on #673
Been this way since May - https://github.com/open-telemetry/opentelemetry-collector/pull/2839

You update the docs in the collector repo then run an action to merge them over here. I'll be talking about some changes to this process we're going to introduce during today's maintainer meeting as well.

[2021-09-13 15:57] austinlparker commented on #661
Per discussion during the last comms meeting, we'll be moving forward with the following -

1. If maintainers wish to keep the canonical copy of their docs in their SIG repo, those docs will be pulled into opentelemetry.io via submodule.
2. Otherwise, their docs will be migrated back to the opentelemetry.io repository.

This ensures that there is only ever one copy of the documentation.

We _stron

[2021-09-13 16:21] bogdandrutu commented on #661
Collector wants the docs in the website if that simplifies things

[2021-09-13 16:38] austinlparker commented on #661
Per @jkwatson, java will keep their docs in their repo, so we'll need to submodule that @chalin

[2021-09-13 19:34] genemat commented on #729
Thank You! I'm just starting my journey with Opentelemetry . I am wondering if a simple curl command can be formatted using Opencensus format to send a dummy metric to OTEL? If there was a guide on how to do this it would be immensely helpful.

[2021-09-13 20:15] chalin opened #730 "Ensure that all doc pages have a single source repo"
Quoting @austinlparker in https://github.com/open-telemetry/opentelemetry.io/issues/661#issuecomment-918336385:

Let's use this issue to record the **decisions made (1 or 2, per SIG)**, track the progress for each SIG.

In some cases, SIGs have docs that aren't under `website_docs` and/or aren't even in a format suitable for inclusion in the website. Let's refer to this as (0). Discussions & asses

[2021-09-13 20:17] chalin commented on #661
Let's use #730 to track the decision and overall progress for each SIG.

[2021-09-13 23:31] jkwatson commented on #730
Who will be doing this work, though, to keep the docs up to date with i18n, etc? What is the plan for keeping the docs in sync as versions drift? I'd love to hand off the documentation duties to someone else and have it hosted in this repo, but in the past no one has done that work and things have rapidly gotten out of date. With I18N I can only imagine that will get much worse, since no person wi

[2021-09-14 09:26] jpkrohling commented on #673
Alright, I'll get it there. For reference, this is the PR that added the auth doc: https://github.com/open-telemetry/opentelemetry.io/pull/605

[2021-09-14 14:14] chalin opened #731 "Migrate Collector docs back to this repo"
Per @bogdandrutu in https://github.com/open-telemetry/opentelemetry.io/issues/661#issuecomment-918358524. Contributes to #730:

- [x] Sync docs / ensure Collector docs in this repo are up-to-date - checked on 2021/09/14
- [x] Delete [opentelemetry-collector website_docs][website_docs] - https://github.com/open-telemetry/opentelemetry-collector/pull/4042
- [ ] Revert https://github.com/open-telemet

[2021-09-15 13:29] chalin commented on #730
Here's a concrete example of how things can go bad when we have doc pages in two repos, https://github.com/open-telemetry/opentelemetry-collector/pull/4041#issuecomment-919286572:

[2021-09-15 13:55] chalin commented on #730
@jkwatson - OTel maintainers would be responsible for keeping the **base-language docs** (in English) up-to-date. Other language versions are maintained by community members. That's how things work for [kubernetes.io], which has docs available in 13 languages.

Base-language maintainers can help other community members in their task of translating doc pages into other languages by following certai

[2021-09-15 14:02] chalin commented on #673
@jpkrohling - thanks for alerting us to the fact that #605 was mistakenly undone/overwritten by #649. As I mention in https://github.com/open-telemetry/opentelemetry-collector/pull/4041#issuecomment-920018575, we're in the process of **migrating the collector docs back into the website repo** (#731) so as to avoid such problems in the future.

Would you mind closing https://github.com/open-telemet

[2021-09-15 14:03] chalin commented on #680
Yes, something like that would do.

[2021-09-15 15:20] jpkrohling commented on #673
If it's easy for you to reinstate it, go for it! Otherwise, I can do it as well.

[2021-09-15 18:18] #731 closed

[2021-09-15 18:30] #720 closed

[2021-09-15 18:57] chalin commented on #673
@jpkrohling - PR #734 adds the pages back.

[2021-09-16 14:40] #673 closed

[2021-09-17 14:13] GaryPWhite commented on #711
alright, i'm on it!

[2021-09-20 09:51] gquintana opened #741 "Linux & Windows package links are invalid"
**About Linux Packaging** https://opentelemetry.io/docs/collector/getting-started/#linux-packaging
The link
https://github.com/open-telemetry/opentelemetry-collector/releases/download/v0.20.0/otel-collector_0.20.0-1_x86_64.rpm
returns 404 not found
More over, it still points to a very old release 0.20

**About Windows Packaging** https://opentelemetry.io/docs/collector/getting-started/#windows-pac

[2021-09-21 14:42] chalin opened #744 "Complete file setup for recommended use of docsy"
- [x] Switch to cncf/docsy repo, opentelemetry.io branch - #745
- [x] **Assets**
  - [x] Refactor and cleanup `assets/scss` - #746
    - [x] #751
    - Related: #755
  - [x] #756
  - The following full overrides remain:
    - `assets/icons/logo.svg`
    - `assets/scss/_styles_project.scss`
    - `assets/scss/_variables_project.scss`
- [x] **Layouts**, these are the current overrides relative to do

[2021-09-21 16:02] chalin opened #746 "Refactor and cleanup assets/scss"
Contributes to #744 by refactoring and cleaning up SCSS files:

- Move project-specific SCSS definitions and overrides into `assets/scss/_styles_project.scss`
- Delete duplicate SCSS files that unnecessarily shadow docsy files of the same name
- Drop obsolete SCSS

[2021-09-21 17:22] chalin opened #748 "Community page: don't use headers as styled paragraphs"
If you hover over the text of the last section of the [Community]() page, you'll see anchor link icons:

We don't want that to happen for regular paragraphs.

[2021-09-21 19:05] chalin opened #751 "Fix snap-to-anchor adjustment for doc pages"
#749 doubly added snap-to-anchor margin adjustments because I failed to properly override / undo the effects of the style changes from Docsy's `main.scss` on the `h*[id]`s. It might be easier just to fix this in Docsy. I'll look into that soon.

[2021-09-21 19:06] #746 closed

[2021-09-22 07:35] chalin opened #753 "Top-nav entry labels line-wrap at certain widths"
Visit https://opentelemetry.io/docs/ and set the view width to 1024px, and you'll see this:

The line-wrap of the top-nav entries causes the height to increase and that breaks formatting as well as page positioning afer anchor navigation.

[2021-09-22 07:47] #751 closed

[2021-09-22 08:03] chalin opened #755 "Scroll-snap CSS override is unnecessary and incompatible with older browsers"
Consider the following CSS override (relative to the Docsy base CSS):

https://github.com/open-telemetry/opentelemetry.io/blob/8f745bef41031bc719a7080995a5211e10acff99/assets/scss/_styles_project.scss#L84-L91

The original problem (#348) wasn't due to Docy's scroll-snap CSS, it was because of the use of `flex` displays in non-documentation pages. While `scroll-margin-top` works wonderfully well, b

[2021-09-22 08:09] chalin opened #756 "Generated `assets/js/base.js` is shadowing the Docsy file of the same name"
I don't think that this is what we want.

[2021-09-22 09:24] chalin opened #757 "Homepage doesn't display properly on mobile"
This is what the homepage looks on mobile (iOS, for example):

Initial experiments show that the "announcement" feature might be the problem.

[2021-09-22 09:33] chalin commented on #753
@austinlparker - I'd propose that we drop the icons from the top-nav entry labels. WDYT?

[2021-09-22 10:08] chalin opened #759 "Add external-link icons to external links"
Consider using https://fontawesome.com/v5.15/icons/external-link-alt

[2021-09-22 10:35] #757 closed

[2021-09-22 17:14] austinlparker commented on #753
I'm not wedded to the icons, so let's drop them.

[2021-09-22 18:17] chalin opened #764 "Status page: change formatting to not rely on trailing spaces"
_Originally posted by @chalin in https://github.com/open-telemetry/opentelemetry.io/pull/761#issuecomment-925155067_

[2021-09-23 11:52] chalin opened #767 "Sourcemaps aren't being generated"
When building or serving the site in development mode, sourcemaps aren't being generated. I see nothing in the site files that should prevent this. Using the same version of Hugo and key site files as etcd.io (in particular for `head-css.html`), we get different results -- no maps here, but they are generated for etcd.io.

For now I'm going to assume that it might have to do with an older version

[2021-09-23 13:39] chalin opened #769 "21Q4 planning and work log"
_Reorder items using drag-and-drop_.

🟢 **Active**ly being worked on:
- [ ] #770
- [ ] ...

🟡 **Top / next** to do:
- [ ] #925
- [ ] #906
- [ ] #744
- [ ] #949
- [ ] #833
- [ ] #669
- [ ] #948

🔴 **Blocked/awaiting**:
- [ ] ...

🟠 **Other** to do:
- [ ] #712
- [ ] #668
- [ ] #896
- [ ] #897

☑️ **Done** (selected).

For a complete list, see [closed 21Q4 PRs]
- [x] #989
- [x] #922
- [x] #693
- [x]

[2021-09-23 13:43] chalin opened #770 "Information Architecture (IA): 2021 assessment, proposal and rework"
Provide an assessment of the current website's IA, and propose updates.

- [x] #963
  - [x] #970
- [x] #895
  - [x] #894
  - [x] #901
- [x] Publish spec under /reference: #852
- [x] #845

Related:

- #964
- #1001
- Top:
  - @cartermp's [OpenTelemetry docs scorecard](https://docs.google.com/spreadsheets/d/1EO0HkjraZSN_7LlFpwFPoazR9xbdCCgQi-IFc0YA5rU) -- thanks for this! /cc @theletterf
  - #154
  -

[2021-09-23 20:45] #726 closed

[2021-09-24 00:11] chalin opened #775 "Prep and upgrade docsy"
- [ ] #744
- [ ] #641
- [ ] #756
- [x] #726

[2021-09-24 14:55] #711 closed

[2021-09-24 15:39] chalin opened #778 "[meta] CODEOWNERS has redundant entries"
There are redundant entries in the auto-generated list of PR approvers. Here is the list of reviewers generated for each PR:

The problem is that every person who is explicitly listed is also a member of docs-approvers. This duplication prevents folks from explicitly indicating that they'd like a specific maintainer's attention & review. Can we simplify the auto generated list to be docs-approvers

[2021-09-24 15:46] chalin commented on #756
Closed by #776

[2021-09-24 15:46] #756 closed

[2021-09-24 17:27] #778 closed

[2021-09-24 19:40] chalin commented on #644
Closed by #690

[2021-09-24 19:40] #644 closed

[2021-09-24 19:43] chalin commented on #653
It's been over a month, so I'll close this for now. If you still have a problem, open an issue over https://github.com/open-telemetry/opentelemetry-go/edit/main/website_docs.

[2021-09-24 19:43] #653 closed

[2021-09-24 19:52] chalin commented on #622
I believe that this has been fixed. If not, please open an issue here: https://github.com/open-telemetry/opentelemetry-go

[2021-09-24 19:52] #622 closed

[2021-09-24 19:57] chalin commented on #619
/assign @open-telemetry/javascript-approvers

[2021-09-24 19:58] chalin commented on #531
Actually, the JS docs are back in this repo since #720.

/assign @open-telemetry/javascript-approvers

[2021-09-24 20:07] chalin opened #780 "[CI/infra] Doc file names: use kebab-case not snake_case"
We need a consistent naming convention for doc file names. I suggest adopting [kebab-case] over [other cases], [snake_case] in particular.

In particular note that we have some **Getting started** pages in `getting_started.md` files and other in `getting-started.md` files. These should be consistently named.

- JS
  - [x] #841
  - [x] `content/en/docs/js/instrumentation_examples.md` - #1095
- PHP

[2021-09-24 20:13] chalin commented on #472
Superseded by #730, but I'll keep this open for now since I'm still updating the table with statuses.

[2021-09-24 20:13] chalin commented on #542
See #730

[2021-09-24 20:14] austinlparker commented on #780
kebabs sound good to me

[2021-09-24 20:16] chalin opened #781 "Use Netlify redirects instead of Hugo aliases"
_Originally posted by @chalin in https://github.com/open-telemetry/opentelemetry.io/issues/635#issuecomment-897874506_

[2021-09-25 04:59] himanshu007-creator commented on #780
Hi , I would like to work on this issue

[2021-09-25 12:46] chalin commented on #472
Status table is complete. Closing in favor #730.

[2021-09-25 12:46] #472 closed

[2021-09-27 15:13] austinlparker opened #789 "Update navbar logo to horizontal rather than icon"
cc @chalin

Per @amye on Slack, we need to update the navigation bar artwork (on the left side) to use the horizontal image (https://github.com/cncf/artwork/blob/master/projects/opentelemetry/horizontal/color/opentelemetry-horizontal-color.svg) rather than the icon. This is related to ongoing trademark applications, so it's vaguely urgent.

We'll also need to adjust the navbar color, I believe, to

[2021-09-28 19:06] chalin commented on #789
I've started investigating this suggested change to the navbar. Design-wise, I don't think it makes sense to use a logo+text in the navbar. I'll have more to share, including a concrete proposal later this week.

[2021-09-29 14:11] chalin opened #791 "Setup use of netlify-cli"
References:

- https://docs.netlify.com/cli/get-started/
- https://www.npmjs.com/package/netlify-cli

[2021-09-29 14:24] chalin opened #793 "Update README and/or CONTRIBUTING to mention Node LTS requirement"
Context: #792

[2021-09-29 14:35] austinlparker commented on #789
Thanks!

[2021-09-29 18:57] chalin opened #796 "Homepage: add a direct link to the JS Getting started page"
- Followup to #794
- First fix the name of the JS section, it should be in kebab-case, see #780. Of course, this implies adding redirects.

[2021-09-29 19:48] chalin commented on #789
@amye: generally speaking, from a design point of view, we use an icon -- not a logo+text -- in the navbar, unless the logo+text is customized artwork designed to _fit_ in the top navbar.

Here's the best that I can do to make the `opentelemetry-horizontal` logo+text fit in the navbar:

Instead of that, I'd propose the following:

If need be, I can make the icon ~30% bigger (as compared to the def

[2021-09-29 19:59] austinlparker commented on #789
tbf I like the one using the defaults. easier to read. As long as we have the horizontal logo on the page, rather than the stacked one, is that good enough? cc @amye

[2021-09-30 16:40] chalin commented on #780
Come to think of it, this has dependencies on other issues I need to address in parallel. Thanks for the offer @himanshu007-creator, I'll let you know if/when you can contribute.

[2021-10-01 12:47] chalin commented on #154
FYI, I just linked this to #770, which will be used to track progress on the IA rewrok.

[2021-10-01 12:49] chalin commented on #265
FYI, I just linked this to #770, which will be used to track progress on the IA rework.

[2021-10-01 13:13] chalin opened #799 "Drop the banner announcing the 1.0 tracing specification?"
Given that the spec is now at 1.7 (#798), it seems reasonable to drop the 1.0 announcement banner?
WDYT? @tigrannajaryan @austinlparker @tedsuo?

[2021-10-01 15:31] tigrannajaryan commented on #799
It may be worth keeping for a while longer, since 1.0 Tracing GA was an important milestone. Perhaps we can replace it by 1.0 Metrics GA when it happens, hopefully soon.

@open-telemetry/governance-committee what do you think?

[2021-10-01 15:38] yurishkuro commented on #799
I don't mind the banner, but perhaps it should say GA rather than 1.0.

Below the fold there is a more out of place note that should be changed:

[2021-10-01 15:46] lizthegrey commented on #799
agree, the latter thing is the more important thing to change

[2021-10-01 16:01] chalin commented on #799
@yurishkuro @lizthegrey: what would you like it changed to, or should those two sentences simply be dropped?

[2021-10-01 16:09] lizthegrey commented on #799
I'd say "OpenTelemetry is widely deployed, including at [...]" (pull list from ADOPTERS.MD)

[2021-10-01 16:35] yurishkuro commented on #799
We should be careful about this, it creates unnecessary friction of who gets to be on the homepage. Just linking to ADOPTERS is ok, but I often see ADOPTERS list quickly growing stale.

[2021-10-01 16:39] lizthegrey commented on #799
sure thing, how about saying "widely adopted" and link to ADOPTERS without naming specific names?

[2021-10-01 19:12] chalin opened #802 "For some Erlang doc pages, all headings need to be demoted one level"

[2021-10-01 20:51] #802 closed

[2021-10-05 20:12] #796 closed

[2021-10-07 02:17] lizthegrey opened #812 "Please create banner for OpenTelemetry election process"
**Desired feature or idea.**
https://medium.com/opentelemetry/announcing-the-2021-opentelemetry-governance-committee-election-26d15c874de7 should be linked in a banner from the otel website for the month of October.

[2021-10-07 15:10] #812 closed, assigned to chalin

[2021-10-07 17:54] svrnm opened #814 "Add 'examples' as a category into the registry"
As discussed during the SIG adding examples/tutorials to the registry seems like a good experiment: this would allow new-comers to OTel to explore different ways into getting started, also people creating those examples/tutorials can make them a little bit more visibile.

A requirement would be that those examples are vendor-agnostic.

[2021-10-12 08:32] Rauno56 commented on #619
The docs are updated since the issue was created and do not reference `LogLevel` nor `@opentelemetry/core` anymore so this can be closed.

[2021-10-12 08:39] Rauno56 commented on #531
Was fixed in https://github.com/open-telemetry/opentelemetry.io/pull/621

[2021-10-13 03:08] sinsay opened #821 "the home page shows 404"
**What happened?**
the home page of opentelemetry now shows page not found

[2021-10-13 03:40] #821 closed

[2021-10-13 03:42] mtwo commented on #821
Thanks for the quick turnaround @bhs!

[2021-10-13 03:43] sinsay commented on #821
oh, it's fixed already :), great to hear that.

[2021-10-13 15:11] austinlparker opened #823 "Hugo-Extended exit code not propagating; Until closed, manually verify that deployment check in PR is OK!"
#820 passed deployment checks, but left the site in an unusable state (#821). We should figure out how this happened, then ensure that failed builds can't false positive the check.

[2021-10-13 17:54] austinlparker commented on #730
Unpinning this for a minute.

[2021-10-13 18:41] #823 closed, assigned to chalin

[2021-10-13 19:37] jkwatson commented on #730
When Java updates the website docs in their repo, are we supposed to notify someone that a docs update is needed here?

[2021-10-13 21:21] chalin commented on #730
@jkwatson: you can either (A) submit the update yourself (instructions follow), or (B) [create an issue](https://github.com/open-telemetry/opentelemetry.io/issues/new) to notify us that the docs need updating, and which tag/commit we should use.

For (A): assuming you want to submit an update for the Java `website_docs` `@HEAD` then run the following command from a checked-out version of this repo

[2021-10-14 00:41] #531 closed

[2021-10-15 15:00] chalin commented on #661
All done!
#542 will be next.

[2021-10-15 15:00] #661 closed

[2021-10-15 15:16] chalin opened #833 "Ensure non-API docs are hosted on opentelemetry.io"
As a part of **improving user experience** and **SEO**, all OTel docs should be hosted on [opentelemetry.io] possibly aside from low-level technical notes and autogenerated docs (like API references) that require language-specific tools.

The initial notes below come from the items marked as "(0)" in #730:

- [x] #852
- [ ] **Collector**: consider migrating relevant parts of the Collector [docs][c

[2021-10-17 19:47] chalin commented on #665
@austinlparker - any objections?

[2021-10-17 19:53] #781 closed

[2021-10-18 02:17] austinlparker commented on #665
This is fine -- the current redirects are a placeholder, actually. I wasn't 100% sure on if the paths were gonna be consistent going forward (because the old way was, as you see there, `/lang/{,metrics, tracing}/`), or if every language was gonna have on-site docs, and decided to just dump anything to the new docs root.

[2021-10-18 14:58] chalin commented on #665
Thanks for the context.

That makes sense.

[2021-10-19 18:55] chalin opened #845 "Host blog posts on website"
Steps to transitioning to the website-hosted blog:

- [x] Create Blog section - #1057
- [x] [@open-telemetry/blog-approvers]:
  - [x] Call for [@open-telemetry/blog-approvers] - https://lists.cncf.io/g/cncf-opentelemetry-comms/message/283
  - [x] https://github.com/open-telemetry/community/issues/953
  - [x] Add to README Roles section - #1064
  - [x] Add to CODEOWNERS - #1064
- [x] Create a blog

[2021-10-20 01:57] ymotongpoo opened #847 "Dotted arrow from OTel Collector Agent to Host is reversed"
The reference architecture diagram on [the landing page of OpenTelemetry documentation](https://opentelemetry.io/docs/) has some arrows, and a couple of them should be reversed.

The orange dotted arrow from OTel Collector Agent to Host should be the one from Host to OTel Collector Agent.
<img src="https://raw.github.com/open-telemetry/opentelemetry.io/main/iconography/Reference_Architecture.svg"

[2021-10-20 19:04] chalin commented on #791
Closed by #838

[2021-10-20 19:04] #791 closed

[2021-10-20 19:55] chalin commented on #635
@austinlparker - what did `/releases/` used to refer to? What could we usefully redirect it to, if at all?

[2021-10-21 13:19] chalin opened #852 "Publish the specification via opentelemetry.io"
The spec is a core OTel resource, and as such it should be published through this repo. (#833)

- [x] Add spec pages to website
- [x] Ensure that repository links (like **Edit this page**) point to the canonical source (cf. #542)

[2021-10-21 14:23] bhs commented on #852
@chalin Per your note elsewhere, I will raise this with the GC today.

[2021-10-21 17:47] austinlparker commented on #852
As a first step, we should add a 'Specification' category to the left nav in `/docs` that links to the main GitHub repo for specs.

[2021-10-21 18:49] reyang commented on #852
Couple things need to be clarified:
1. Do we only publish Stable version of specs, or we also publish Experimental specs? What to do if a spec status is Mixed?
2. Do we only publish the latest-stable version, or we publish ALL the stable versions?

[2021-10-21 18:52] chalin commented on #852
Good questions.

I'd suggest _starting with_ the latest-stable version (no experimental).

[2021-10-21 18:57] chalin commented on #669
All done!

[2021-10-26 15:12] svrnm opened #865 "Website Glossary vs. Spec Glossary"
There are two glossaries now, one on the website (https://opentelemetry.io/docs/concepts/glossary/) and one in the spec (https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/glossary.md).

From an end-user perspective this is confusing. An ideal solution would be having only one, but I assume that's not an easy task: My assumption is (I might be wrong here!), that

[2021-10-29 18:08] austinlparker commented on #852
Perhaps it should be under 'concepts'?

[2021-10-29 18:24] chalin commented on #852
Ok. Under the new IA (once it is defined via #770), I would imagine that it would make sense to have a **Reference** section, with the spec under that.

Until we have a new IA I can I can think of a these options:

1. Not show the Specification section in the sidenav.
2. Show the Specification in the sidenav but move it towards the end of the list.
3. Add a Referrence section now (even before we h

[2021-10-29 18:34] austinlparker commented on #852
I like #3

[2021-10-29 20:26] tedsuo commented on #852
Option 3 sounds good

[2021-10-31 12:48] horovits opened #873 "On /status page, need to update Tracing Collector status from Experiment to Stable"
**What needs to be changed?**
On opentelemetry.io/status/ page, need to update Tracing Collector status from Experiment to Stable

**What is the name + path of the page that needs changed?**
https://opentelemetry.io/status/
https://github.com/open-telemetry/opentelemetry.io/blob/main/content/en/status/_index.md

**Additional context**
to align with the achieved maturity status

[2021-10-31 12:48] horovits opened #874 "On /status page, need to update Metrics SDK status from Experiment to feature-freeze"
**What needs to be changed?**
On opentelemetry.io/status/ page, need to update SDK status from Experiment to feature-freeze

**What is the name + path of the page that needs changed?**
https://opentelemetry.io/status/
https://github.com/open-telemetry/opentelemetry.io/blob/main/content/en/status/_index.md

**Additional context**
to align with the achieved milestone

[2021-11-02 13:30] chalin commented on #873
@tedsuo - can you comment?

[2021-11-02 13:31] chalin commented on #874
@tedsuo - can you comment?

[2021-11-04 15:21] chalin commented on #852
@tedsuo @austinlparker et al - Done:

- I've implemented option 3, and
- Replaced the "Edit page" button by a "View page source"

PTAL https://deploy-preview-866--opentelemetry.netlify.app/docs/reference/specification/

[2021-11-04 17:40] austinlparker commented on #852
Since we've addressed the issues raised here outside of automation (which would take a bit to solve in a generalized fashion), we'll commit to a less than 24 hour turnaround for updates when new spec releases are cut from notification.

With that in mind, unless there are other blockers we'll be merging #866 next Tuesday.

[2021-11-04 17:45] austinlparker commented on #874
SDK status for which component?

[2021-11-04 17:48] horovits commented on #874
@austinlparker status for the metrics SDK specification

[2021-11-09 15:36] chalin commented on #852
Closed by #866

[2021-11-09 15:36] #852 closed

[2021-11-10 02:00] katepangLiu opened #891 "opentelemetry-cpp-contrib can't be search in https://opentelemetry.io/registry"
**What happened?**
No result:
https://opentelemetry.io/registry/?s=nginx&component=&language=
https://opentelemetry.io/registry/?s=http&component=&language=

**What did you expect would happen?**
Search result:
opentelemetry-cpp-contrib/instrumentation/nginx
opentelemetry-cpp-contrib/instrumentation/httpd

**What is the name + path of the page where you encountered the issue?**
https://opentelemet

[2021-11-10 02:36] #891 closed

[2021-11-10 20:41] chalin opened #895 "Docs sidenav: initial cleanup"
On desktop, the docs sidenav currently looks like this:

As a part of some preparatory work to #770, I'd like to _delist_ the **Workshop** and **Contribution Guidelines** entries -- they would no longer showup in the sidenav -- while preserving the pages for now.

The end result would be this:

@austinlparker - thoughts?

[2021-11-10 21:04] chalin opened #896 "Workshop resources seem obsolete"
The [Workshop Resources] page contains links to:

- Slides at https://docs.google.com/presentation/d/1nVhLIyqn_SiDo78jFHxnMdxYlnT0b7tYOHz3Pu4gzVQ/edit#slide=id.p
- Sample code hosted on Glitch at https://glitch.com/@opentelemetry

Both of these resources seem to have been created in 2019 (when OTel was in beta) and have not been updated since. If these resources aren't being maintained, then they

[2021-11-10 21:10] chalin opened #897 "Contribution guidelines needs rework or should be dropped"
We have the following "contributing" resources that overlap (at least in part) in their content:

- https://opentelemetry.io/docs/contribution-guidelines/
- https://github.com/open-telemetry/opentelemetry.io/blob/main/CONTRIBUTING.md
- https://github.com/open-telemetry/community/blob/main/CONTRIBUTING.md

We should consolidate these resources to avoid overlap. One idea is to drop the website page,

[2021-11-10 22:30] austinlparker commented on #895
sgtm

Sent from my iPhone

[2021-11-11 08:39] chalin opened #900 "Registry entries with invalid fields are ignored"
Registry entries with invalid fields are ignored -- cf. https://github.com/open-telemetry/opentelemetry.io/pull/892#pullrequestreview-803528760. Invalid fields should be reported at build time.

[2021-11-11 09:06] #895 closed

[2021-11-11 10:54] chalin commented on #874
Actually, this isn't a bug since the website docs reflect the latest officially published specification version, which is https://github.com/open-telemetry/opentelemetry-specification/tree/v1.7.0 as of the time of writing.

https://github.com/open-telemetry/opentelemetry-specification/blob/v1.7.0/specification/metrics/sdk.md shows a status of experimental. So this is blocked until the next release

[2021-11-11 10:56] chalin commented on #873
@horovits - Where are you seeing the updated tracing collector status from?

[2021-11-11 20:35] #545 closed

[2021-11-11 20:37] austinlparker commented on #897
I'd drop the contribution page and refer to CONTRIBUTING.md in each repo.

[2021-11-11 20:38] austinlparker commented on #896
The glitch projects do still get used, albeit less than before... can we relocate the workshop stuff and put an (outdated) tag on it for now? It's something I'm interested in fixing in the new year.

[2021-11-11 20:40] austinlparker commented on #873
I believe the collector is tracing stable (https://medium.com/opentelemetry/opentelemetry-collector-achieves-tracing-stability-milestone-80e34cadbbf5), although the fact that the collector is versioned as a single binary makes it a bit confusing.

[2021-11-12 11:18] chalin opened #905 "Status page > Latest releases: not all links are to the latest release"
**Summary**: I'd like to suggest that we do away with the "Latest release" section of the status page because it isn't up-to-date, and interested readers can visit the SIG's landing page for a link to the latest release. WDYT @austinlparker?

**Work items**:

- [x] #929
- [x] #930
- [x] Drop script used to fetch release info - #931
- [x] Update submodule repos:
  - [x] Go: https://github.com/open-

[2021-11-12 13:51] chalin opened #906 "Integrate the OTel specification into the website"
- [x] #852
- [x] #908
- [x] #921
- [x] #1131
- [x] Fix spec 404s:
  - [x] #935
    - https://github.com/open-telemetry/opentelemetry-specification/pull/2136
  - [x] Remove the following ignore rules: https://github.com/open-telemetry/opentelemetry.io/blob/2ae73ac5474aae86e4a5714e404dbabe74ba977f/.htmltest.yml#L5-L10
  Done via:
  - #1131
  - #1135
- [x] Sections with missing index pages:
  - [x] P

[2021-11-12 15:26] chalin opened #907 "Glossary: Label term links to invalid spec page?"
The term **Label** appeared in the glossary via #293, see [glossary.md L70-L72](https://github.com/open-telemetry/opentelemetry.io/blob/2ae73ac5474aae86e4a5714e404dbabe74ba977f/content/en/docs/concepts/glossary.md?plain=1#L70-L72). The term is linked to the following:

- https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#labels

**But the `api.md

[2021-11-12 16:23] austinlparker commented on #907
Label has been superseded by 'Attribute'. IMO, since metric attributes are described as 'labels' in other metrics systems, it might be useful to do something like 'Label (see Attribute)' in the glossary and redirect it to that entry.

[2021-11-12 16:23] austinlparker commented on #905
sgtm

[2021-11-12 16:28] austinlparker commented on #905
I believe if we remove this then we can nix the script that pulls release info as well and remove some cruft from the build.

[2021-11-12 16:29] chalin opened #908 "Ensure that links to the spec are local"
- [x] This repo - #910
- [x] Go:
  - [x] https://github.com/open-telemetry/opentelemetry-go/pull/2380
  - [x] #917
- [x] Java:
  - [x] https://github.com/open-telemetry/opentelemetry-java/pull/3868
  - [x] #918
- [x] Python:
  - [x] https://github.com/open-telemetry/opentelemetry-python/pull/2276
  - [x] #919
- [x] Ruby:
  - [x] https://github.com/open-telemetry/opentelemetry-ruby/pull/1018
  - [x

[2021-11-15 15:55] #907 closed

[2021-11-15 15:56] chalin opened #915 "Glossary: fix page-scroll adjustment"
Context: https://github.com/open-telemetry/opentelemetry.io/pull/914#issue-780820499

[2021-11-15 16:18] horovits opened #916 "On /status page, need to update Metrics API status from feature-freeze to Stable"
**What needs to be changed?**
On opentelemetry.io/status/ page, need to update Metrics API status from feature-freeze to Stable

**What is the name + path of the page that needs changed?**
https://opentelemetry.io/status/
https://github.com/open-telemetry/opentelemetry.io/blob/main/content/en/status/_index.md

**Additional context**
https://github.com/open-telemetry/opentelemetry-specification/pul

[2021-11-15 20:36] chalin commented on #908
All done!

[2021-11-15 20:36] #908 closed

[2021-11-15 22:26] chalin opened #922 "Intra-site links should not be external"
Some intra-site links defined via external references -- i.e., starting with `https://opentelemetry.io`.

- [x] #924
- [x] Go:
  - [x] https://github.com/open-telemetry/opentelemetry-go/pull/2397
  - [x] Update submodule - #941
  - [x] https://github.com/open-telemetry/opentelemetry-go/pull/2666
  - [ ] Go submodule update
- [x] Java:
  - [x] https://github.com/open-telemetry/opentelemetry-java/pu

[2021-11-16 12:39] chalin opened #925 "Status page rework"
- [x] #952
- [x] #764
- [x] #854
- [x] #545 via #902
- [x] #905

[2021-11-16 13:49] chalin opened #927 "Set up a spelling checker"

[2021-11-16 13:53] #927 closed

[2021-11-16 21:22] chalin commented on #693
Closed by #931

[2021-11-16 21:22] #693 closed

[2021-11-17 09:35] korsmakolnikov opened #934 "Creating Spans for New Processes elixir example is wrong"
**What needs to be changed?**
The elixir example in `instrumentation.md` at `Creating Spans for New Processes` doesn't work. I try to propose the correct example in this pr https://github.com/open-telemetry/opentelemetry.io/pull/933.

[2021-11-17 13:42] chalin opened #935 "Specification > Project Package Layout: some TOC entries result in 404s"
1. Visit https://opentelemetry.io/docs/reference/specification/library-layout/
 2. In the right-side TOC, select `/metrics` for example.

Result is:

This is because the corresponding headings, like those for `/metrics`, are links:

[code]

Such links need to be moved into that section's prose.

[2021-11-18 14:27] #905 closed

[2021-11-19 10:37] chalin opened #948 "CI: run spelling checker"
- Use [cSpell](https://cspell.org)? Resources:
  - https://www.npmjs.com/package/cspell
  - The [Prettier folks use](https://github.com/prettier/prettier/blob/main/package.json) this script: `cspell --no-progress --relative --dot --gitignore`
  - Might be worth moving the cSpell config currently under `.vscode` to the top level?
- @svrnm setup `textlint`: what advantages does it have over cSpell?

[2021-11-19 10:44] chalin opened #949 "Use `console` code class for console sessions"
These code-class names are aliases: `bash-session`, `console`, `shell-session`. We might eventually want to use them under different circumstances -- e.g., `console` blocks when selected/copied would omit the prompt but `bash-session` wouldn't.

[2021-11-19 11:45] #764 closed

[2021-11-19 11:46] chalin opened #952 "Status page: update status, or better yet, automate the process"
I'd vote to automate it so that we can avoid issues like these:

- [x] #916
- [x] #874
- [x] #873

[2021-11-19 13:41] umarkhan17 opened #953 "Can we have an official documentation for how to use this with Angular Applications"
I need to implement this in Angular application. Is there any documentation. Please assist.

[2021-11-22 20:58] #748 closed

[2021-11-23 21:39] #741 closed

[2021-11-25 19:19] chalin commented on #935
Closed by https://github.com/open-telemetry/opentelemetry-specification/pull/2136

[2021-11-25 19:19] #935 closed

[2021-11-29 15:43] chalin opened #964 "Getting started: provide a uniform experience for Collector and all language SIGs"
I think that each language SIG's **Getting started** page should use the equivalent of a "console exporter". Exporting to a backend should be covered elsewhere.

Thoughts @austinlparker @cartermp @theletterf

[2021-11-29 16:00] chalin opened #965 "Collector page: add link to opentelemetry-collector-releases"
https://github.com/open-telemetry/opentelemetry-collector-releases/releases

[2021-12-01 15:23] #874 closed

[2021-12-01 15:23] #916 closed

[2021-12-01 16:51] chalin commented on #964
☝️

[2021-12-01 18:08] #873 closed

[2021-12-01 18:08] #952 closed

[2021-12-02 00:27] cartermp opened #971 "Guidance around using OTel for tracing in language SDKs"
Something that's come up a few times in feedback channels for me was that it can be unclear which part of the API to use for which scenario.

For example, consider the following APIs in .NET:

[code]

and in Java:

[code]

Which is the "right" thing to do? Well, if you dig through some issues in opentelemetry-dotnet, you'll stumble on this comment: https://github.com/open-telemetry/opentelemetry-s

[2021-12-02 00:55] cartermp commented on #964
Yep, agreed! I would also argue that every language section should have a dedicated page (or exporter section) that shows how to export to a backend, since it is important, just not for getting started.

The question in my mind is, what should the thing being instrumented cover? I can see two options:

1. An http server or something (think "hello world with express") that uses automatic instrument

[2021-12-02 14:43] #703 closed

[2021-12-02 14:44] #628 closed

[2021-12-02 20:19] cartermp opened #972 "Document how to enable automatic instrumentation for each langauge SDK"
Tracking issue for the Auto Instrumentation row here: https://docs.google.com/spreadsheets/d/1EO0HkjraZSN_7LlFpwFPoazR9xbdCCgQi-IFc0YA5rU/edit#gid=0

Emoji guide:

✔️ - this is basically good
➖ - this could be improved
❌ - this needs to exist or be rewritten

Currently documented with an example:

- [x] ✔️ Java
- [x] ✔️ JavaScript (nodejs)
- [x] ✔️ JavaScript (browser)
- [x] ✔️ Python (individual

[2021-12-02 20:31] cartermp opened #973 "Document getting the active/current span for each language SDK"
Tracking issue for the "Getting Current Span" row here: https://docs.google.com/spreadsheets/d/1EO0HkjraZSN_7LlFpwFPoazR9xbdCCgQi-IFc0YA5rU/edit#gid=0

Emoji guide:

✔️ - this is basically good
➖ - this could be improved
❌ - this needs to exist or be rewritten

Currently documented with an example:

- [x] ✔️ Python ([link](https://opentelemetry-python.readthedocs.io/en/stable/faq-and-cookbook.html

[2021-12-02 20:37] cartermp opened #974 "Document creating a nested/child span"
Tracking issue for the "Nested Spans" row here: https://docs.google.com/spreadsheets/d/1EO0HkjraZSN_7LlFpwFPoazR9xbdCCgQi-IFc0YA5rU/edit#gid=0

Emoji guide:

✔️ - this is basically good
➖ - this could be improved
❌ - this needs to exist or be rewritten

Currently documented with an example:

- [x] ✔️ Java
- [x] ✔️ C++
- [x] ➖ Go (probably needs explicit section for the sample)
- [x] ➖ JavaScript (

[2021-12-02 20:48] cartermp opened #975 "Document config and ENV vars (at least important ones) for each language SDK"
Tracking issue for the "Config / Env vars" row here: https://docs.google.com/spreadsheets/d/1EO0HkjraZSN_7LlFpwFPoazR9xbdCCgQi-IFc0YA5rU/edit#gid=0

Emoji guide:

✔️ - this is basically good
➖ - this could be improved
❌ - this needs to exist or be rewritten

Currently documented with an example:

- [ ] ➖ Python (in the exporters pages there are some important env vars listed)
- [ ] ➖ Go (some read

[2021-12-02 21:25] ericsampson commented on #971
In general, [this section on the documentation](https://github.com/open-telemetry/opentelemetry-dotnet/blob/main/src/OpenTelemetry.Api/README.md#instrumenting-using-opentelemetryapi-shim) is really lacking. It would be very helpful for end users if it was expanded to be as comprehensive as the surrounding sections regarding how to use this library with the native Activity methods.

[2021-12-02 21:44] cartermp opened #976 "Also support `docs.opentelemetry.io` domain"
I'm unopinionated about what the main URL should be, but I think both URLs:

* opentelemetry.io/docs
* docs.opentelemetry.io

should point to the same thing. I'm not sure if this improves SEO, but I wouldn't be shocked if several folks try to go to `docs.opentelemetry.io` and get surprised at the 404.

[2021-12-02 23:51] puckpuck commented on #976
I am one of the people who regularly type docs.opentelemetry.io and get a 404.

[2021-12-10 00:46] cartermp opened #2780 "Document how to set JVM arguments for different application servers when used with automatic instrumentation"
As per here https://github.com/open-telemetry/opentelemetry-java-docs/pull/4#discussion_r766225263 this is something that new users can struggle with.

There is a little prior art here:

* https://github.com/signalfx/splunk-otel-java/blob/main/docs/server-instructions.md
* https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-arguments

This kind of configuration ought to live i

[2021-12-11 00:48] cartermp opened #980 "See if toc/tocstop is required for docs or not"
For example, the java docs have this at the top of the manual instrumentation page:

[code]

It makes the page look kinda busy even though there's already the side-bar TOC

![image](https://user-images.githubusercontent.com/6309070/145657563-db93d9db-ce72-42fc-b734-6878a24e48b4.png)

Is it necessary to have right at the top of the page? A few other docs pages do this too (e.g., https://opentelemet

[2021-12-15 16:52] cartermp opened #987 "Add a section or page for span processors in JS"
Ref: https://github.com/McSick/NodeOtelTracingExamples/tree/main/processors

Specifically, using the MultiSpanProcessor to wire up several of 'em.

[2021-12-16 18:22] chalin opened #989 "Move Java docs into this repo"
_Originally posted by @austinlparker in https://github.com/open-telemetry/opentelemetry.io/issues/978#issuecomment-995156648_

---

- [x] Move doc files into this repo - #1002
- [x] Delete `website_docs` folder from https://github.com/open-telemetry/opentelemetry-java https://github.com/open-telemetry/opentelemetry-java/pull/4019
- [x] Delete `website_docs` folder from https://github.com/open-tele

[2021-12-16 18:24] austinlparker commented on #989
cc @jkwatson @anuraaga

[2021-12-16 18:25] chalin commented on #980
There should be no toc/tocstop for docs that live in this repo. I had started cleaning those out, but there are more to do.

[2021-12-16 20:50] jkwatson commented on #989
If we move some docs into here, and some docs into the common java docs repo, and we have some docs in the individual repos, then we'll have 3 places that have to be updated. I think that is too much for maintainers to worry about.

[2021-12-17 15:27] chalin opened #992 "Upgrade docsy to address google_news deprecation warning"
From #991, Hugo now gives a deprecation warning:

[2021-12-17 15:28] chalin commented on #992
The template is used by Docsy in `layouts/partials/head.html`. A fix landed recently (https://github.com/google/docsy/pull/769) so all we need to do us upgrade Docsy.

[2021-12-17 15:36] tomkerkhove opened #993 "Docs for Helm installation for Collector"
**What needs to be changed?**
Provide documentation for Helm installation for Collector to Kubernetes.

**What is the name + path of the page that needs changed?**
N/A

**Additional context**
It currently only has docs on doing YAML deployments on https://opentelemetry.io/docs/collector/getting-started/#kubernetes

[2021-12-17 16:12] chalin commented on #989
@jkwatson - You are right that having docs spread out is a headache for maintainers. **Now multiply that by 11 languages** and you'll get a better appreciation of the maintenance challenge for this repo.

As a language SIG you have the liberty to organize your source code as you see fit, which includes moving example code into a separate repo (which, if I understand correctly, is one of the object

[2021-12-17 18:33] jkwatson commented on #989
@chalin Were these decisions made after consulting maintainers, or completely ad-hoc without consultation? OTel maintainers are generally over-committed already, so before you make decisions that will impact us, it's probably a good idea to talk to us about it.

[2021-12-17 18:41] jkwatson commented on #989
I believe that having 2 java repositories consolidate their documentation into 1 docs repository makes the docs team's job easier, doesn't it? Now you only have 1 place to sync with, rather than the 2 you would otherwise have.

[2021-12-17 19:40] chalin commented on #989
I totally get being over-committed already.

I do believe that @austinlparker brought up the subject at a **maintainers meeting**. For our decision, see https://github.com/open-telemetry/opentelemetry.io/issues/661#issuecomment-918336385:

As for your comment:

Oh, so you're consolidating _all_ the Java docs under the new repo?

Btw, even if the Java docs are not in this repo, Java maintainers nee

[2021-12-18 12:01] hdost commented on #989
Would it be possible that regardless of where Javadocs end up that there could be a doc test in the Java side?

[2021-12-20 19:16] austinlparker commented on #989
I want to point out that what we've tried to do since the beginning was have all docs in a single place, but some maintainers (including Java) demurred because they believed having docs 'close' to the SIG repo would improve doc quality. And yes, it's been brought up several time at maintainer meetings.

I get that maintainers are over-subscribed, but as the project expands then it becomes less and

[2021-12-20 19:25] austinlparker commented on #989
In the interests of getting the required updates done before the holidays, we'll go ahead and submit PR's to fix the links on the submodule side and pull it into the website.

[2021-12-20 19:30] cartermp commented on #989
My perspective - as someone who's been starting to add docs for each language, and plans on doing that for quite a while - is that hopping around between different repos is much more challenging.

For example:

* Policy requires multiple maintainer approvals, which means turnaround tends to be longer because folks are busy maintaining the SDK itself - go, python repos so far
* PRs that have been a

[2021-12-20 19:36] chalin commented on #989
Other advantages for having the docs here:

- You can submit a PR and know if you've broken the build, and if so, fix the problem.
- PRs automatically get a deployed preview. That's (very) challenging to get when docs are pulled in from another submodule.

If you're modifying docs in a submodule, it's easy to break the build, for example: https://github.com/open-telemetry/opentelemetry-java-docs/p

[2021-12-20 19:38] chalin commented on #989
Thanks for sharing your perspective @cartermp!

[2021-12-20 20:18] chalin opened #996 "Java docs: don't unnecessarily indent code"
There are some code blocks (e.g., in the Manual instrumentation page), that contain indented code like this:

[code]

The code shouldn't be indented unless the indentation is significant, which in this (and many other cases) is doesn't seem to be.

Thoughts @cartermp?

[2021-12-20 20:19] cartermp commented on #996
Yep, agreed. That level of indentation should only be there if it's in the context of another method or class or something. The indentation also makes it harder to copy-paste, since you then need to de-indent to match your editor 🙂

[2021-12-20 20:27] chalin opened #997 "Java instrumentation docs: rename files, drop redundant `instrumentation` qualifier"
@cartermp, all of the Java docs are under

- **[Docs](https://opentelemetry.io/docs/) > [Instrumentation](https://opentelemetry.io/docs/instrumentation/) > [Java](https://opentelemetry.io/docs/instrumentation/java/)**

That is, they're already under the **Instrumentation** section, so I'd like to suggest that we simplify the file names by dropping `instrumentation`. WDYT?

[code]

If you agree, th

[2021-12-20 23:18] #980 closed

[2021-12-21 01:26] cartermp opened #1001 "Rework .NET Docs - proposed mini-IA"
.NET is a little special. So I propose a mini-IA for the .NET docs:

Under instrumentation/.NET:

* Getting started
* Terminology and APIs
* Automatic
* Manual
* Exporters
* .NET Framework

Most .NET developers doing modern services work use modern .NET (i.e., not .NET Framework, which is a legacy Windows-based technology).

So, I propose that _everything except for a page entitled ".NET Framework

[2021-12-21 01:29] cartermp commented on #997
This seems reasonable to me.

[2021-12-21 03:01] anuraaga commented on #989
FWIW, I think the java maintainers, at least myself, don't put enough time into docs to have a huge say in the matter :P We needed to have a repo with shared docs because of how related SDK and instrumentation functionality is and came up with the opentelemetry-java-docs repo, but in reality I think it's OK for that to only focus on code samples. I don't see a problem from a maintenance perspectiv

[2021-12-21 12:58] chalin commented on #989
Thanks for the honest feedback @anuraaga!

I'll gladly help streamline that process.

[2021-12-21 13:32] chalin commented on #1001
A few questions:

- Could **Terminology and APIs** (either or both the terminology or the API references) be a part of the index page?
- The main pages/topics for modern .NET are **Getting started**, **Automatic**, **Manual** and **Exporters**. Which of these topics would be covered under **.NET Framework**? Would it make sense to instead have a **.NET Framework** section at the bottom of each pag

[2021-12-21 13:58] chalin commented on #973
@cartermp - I added checkboxes to the opening comment for subtasks. Please mark items as done when they are completed, thanks.

[2021-12-21 15:56] cartermp commented on #1001
I think so, yes. At least certainly a terminology overview. The API reference itself is actually just here: https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics?view=net-6.0

...there's nothing in there about OTel (in fact, the core `Activity` class says it's for logging...), but, err, it's...there? Heh

For .NET Framework, the main differences are in setup (where to "hook" in otel), and

[2021-12-21 16:35] jack-berg commented on #989
Agree with @anuraaga. It's important that we have a place to put working code that incorporates `opentelemetry-java-instrumentation`, the `opentelemetry-java`, and `opentelemetry-contrib`. Having good code examples on topics that are cross cutting is important to adoption.

The docs will end up referencing these code samples, and ideally they would be located in the same place. I don't think the d

[2021-12-21 17:27] jkwatson commented on #989
I worry about chicken/egg situations where changes to the code samples will break documentation links until the documentation can be updated. How can these two be coordinated if they are kept in separate repositories?