[2021-12-21 17:45] chalin commented on #989
Only internal links are checked as part of CI (because external link checking isn't fully configured yet -- though you can check external links manually) so, there's no risk of breaking the docs build if code changes are committed first, which is what I've seen happen most often.

[2021-12-21 18:40] #992 closed

[2021-12-21 19:47] chalin commented on #997
It seems like this applies to the Go docs too.

[2021-12-21 19:53] chalin opened #1006 "Go docs 404: manual instrumentation file needs alias definitions"
Visit the following, previously valid, URL: https://opentelemetry.io/docs/instrumentation/go/instrumentation/ and you'll get a 404. That shouldn't happen. The link should redirect.

---

There's file name change in that submodule update of #1003: `website_docs/instrumentation.md → website_docs/manual_instrumentation.md ` via https://github.com/open-telemetry/opentelemetry-go/pull/2437. I missed th

[2021-12-21 19:56] chalin commented on #1006
While you're at it, could you also make the following changes?

- Rename `website_docs/using_instrumentation_libraries.md` --> `libraries.md`
  - And add an alias
  - Add `linkTitle: Libraries`
- Add `linkTitle: Exporting data` (or maybe just "Data") to `exporting_data`

[2021-12-21 20:00] chalin commented on #1006
(@cartermp, if you comment on this issue, I'll be able to assign it to you.)

[2021-12-21 20:02] cartermp commented on #1006
Yep! Will do.

[2021-12-22 02:39] jkwatson commented on #989
I'm not worried about breaking the docs *build* but the currently in-place docs, since changes to a far-flung repository will create broken links with no one having any idea that it's occurred until a user complains about it.

[2021-12-22 03:03] anuraaga commented on #989
@chalin If it's possible for the docs build to generate a list of referenced external URLs, I think we could add a link checking job to the code samples repo when making changes to it. Does that sound possible?

[2021-12-22 04:45] cartermp commented on #1006
This one is resolved now!

[2021-12-22 13:27] chalin commented on #989
Yes! I've been working on such a solution (part-time) since the spring. I'll give it more priority in 22Q1.

[2021-12-22 13:28] chalin opened #1011 "22Q1 planning and work log"
_Reorder items using drag-and-drop_.

🟢 **Active**ly being worked on:
- [ ] ...

🟡 **Top / next** to do:
- See https://github.com/open-telemetry/opentelemetry.io/issues/989#issuecomment-999577091
- [ ] ...

🔴 **Blocked/awaiting**:
- [ ] ...

🟠 **Other** to do:
- [ ] ...

☑️ **Done** (selected).

For a complete list, see [closed 22Q1 PRs]
- ...

**References**:

- #769

[closed 22Q1 PRs]: https://g

[2021-12-22 13:30] chalin commented on #1006
Great, thanks! (Let's close this issue once the changes land in this repo.)

[2021-12-22 16:26] cartermp commented on #1006
Just now managed to get the site to build off of my fork from a submodule, so hopefully less downstream link breakage moving forward 😄

[2021-12-22 20:07] cartermp commented on #971
From https://github.com/open-telemetry/opentelemetry-go/pull/2481

This is probably most relevant to Go (it certainly isn't much of a concern in .NET), but there's guidance that can be offered around:

* How you should _generally_ initialize things
* Managing things like a TracerProvider
* How many tracers per app/service? Is this scenario-based? What's the 90% case? Or is that a 99% case? etc.

[2021-12-23 14:44] #996 closed

[2021-12-23 20:24] #1006 closed

[2022-01-06 22:26] cartermp opened #1026 "Gitpod support"
Gitpod is a great way to make contributing easy for repositories. It's similar to GitHub Codespaces, but more mature, free for OSS projects, and priced better when you want the more premium features. I've been using it for most OSS projects I help maintain and it's been a joy - no `node_modules` black hole on any of my machines, fresh environments each time I do something, and no complex environme

[2022-01-07 23:21] shelbyspees opened #1030 "[Collector docs] Distributions "ocb" links to Releases page instead of the Collector Builder page"
**What needs to be changed?**
The [link](https://github.com/open-telemetry/opentelemetry.io/blob/761549483298e64f35459dc79eccc9847f04c255/content/en/docs/collector/distributions.md?plain=1#L22) to the OpenTelemetry Collector Builder ("ocb") on the Distributions page points to the Collector's Releases page. I think it would be more helpful to point to where the Builder's README lives in the repo: h

[2022-01-10 17:13] algattik opened #1031 "Manual Instrumentation doc - Java - Exception swallowed"
The doc for java proposes to write the following code, which swallows the Throwable:

[code]

It would seem logical to add `throw t;` after `span.setStatus(StatusCode.ERROR, ...);`.

[2022-01-10 22:16] austinlparker commented on #845
I did! We should do this in Q1.

[2022-01-11 17:04] austinlparker commented on #845
AFAICT here's a rough plan/to-dos:

- [ ] Migrate existing Medium blog posts to /content/en/blog
- [ ] Figure out redirect strategy
- [ ] Tweak blog template if needed
- [ ] Create blog contribution guide
- [ ] Announce timeline to listserv

Probably some stuff I'm missing, but this should be a start.

[2022-01-12 13:43] algattik opened #1032 "Java - Manual Instrumentation - What is an Event?"
https://opentelemetry.io/docs/instrumentation/java/manual_instrumentation/#create-spans-with-events states:

_Spans can be annotated with named events that can carry zero or more Span Attributes, each of which is itself a key:value map paired automatically with a timestamp._

https://opentelemetry.io/docs/concepts/glossary/ states:

_Event: Something that happened where representation depends on t

[2022-01-12 13:53] algattik opened #1033 "Java - Manual Instrumentation - add @WithSpan annotation"
Annotation-driven code generation greatly reduces boilerplate. It's documented at https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/main/docs/manual-instrumentation.md, and should be added to https://opentelemetry.io/docs/instrumentation/java/manual_instrumentation/

[2022-01-12 20:22] cartermp commented on #1033
There's a little discussion about it here: https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/4524

+1 on adding it, it should be in the manual instrumentation docs here, and perhaps also linked to from the automatic instrumentation docs.

Happy to review a PR if you got one! I've had this on my backlog for a bit but haven't been able to get to it for a while.

[2022-01-12 20:24] cartermp commented on #1032
There is a broader gap here that we'll need to solve: there is very little conceptual documentation about each of these concepts.

Ideally, we have a document or part of a document describe what span events are, what they're good for, and when you might generally use them. Then each language's manual instrumentation docs link to that doc or section, then simply document how you create one in that

[2022-01-13 18:25] chalin commented on #989
All done. Thanks to all for your participation in the discussion.

[2022-01-13 18:25] #989 closed

[2022-01-13 18:31] chalin opened #1035 "22Q1 planning and work log"
### This tracker issue is now expired and closed.

**Done**:

- [x] #770
- [x] #845
- [x] #1101
- [x] #1132
- [x] #1037

For a complete list, see [closed 22Q1 PRs]

**Progress** made on these long-term issues, among others, this quarter:

- #669
- #744
- #833
- #906
- #925
- #948
- #1039

**Closed**:

- [x] #1144

**Next/prev**:

- #1266
- #769

[closed 22Q1 PRs]: https://github.com/open-telemetry

[2022-01-13 18:32] chalin commented on #769
Closing. For the next quarter see #1035

[2022-01-13 18:32] #769 closed

[2022-01-13 18:35] austinlparker commented on #1035
Could we get #845 on here as well

[2022-01-13 18:43] chalin commented on #925
@tedsuo et al. have something in the works. Should we coordinate here? /cc @austinlparker

[2022-01-13 19:48] chalin opened #1036 "Add a top-level Migration section"
As discussed during 22/01/13 Comms meeting. /cc @tedsuo @austinlparker

[2022-01-13 19:49] chalin opened #1037 "Add OT to OTel migration page"
Add OpenTracing migration page:

- [x] #1083
- [x] #1089
- [x] #1090
- [x] #1227

Depends on:

- #1036

(Per 22/01/13 Comms meeting discussions.)

[2022-01-13 19:54] chalin opened #1038 "Advertise on various channels that we welcome additions to the registry"
As discussed during 22/01/13 Comms meeting.

We might also want to update the instructions on how to submit a PR with a registry addition?

[2022-01-13 19:54] chalin commented on #1038
@austinlparker - is this one assigned to you? /cc @tedsuo

[2022-01-13 20:01] chalin opened #1039 "[meta] OpenTracing archiving"
Let's use this issue to coordinate / discuss the main work items related to completing the archiving of [OpenTracing][OpenTracing org].

- [x] #1037
- [ ] [OpenTracing org] related subtasks:
  - [x] https://github.com/opentracing/opentracing.io/pull/461
  - [x] #1316
  - [ ] Officially archive the https://github.com/opentracing/opentracing.io repo
  - [ ] Reduce the website to a single page?
  - [

[2022-01-13 20:05] cartermp commented on #1001
I think I will close this one out. After sleeping on it a few times, I don't think there needs to be a dedicated terminology&APIs section.

[2022-01-13 20:23] chalin commented on #1026
There's already a link to open this repo in GitPod, see
https://github.com/open-telemetry/opentelemetry.io/blob/b7a2d4cef70e10c26499232b2f77d95d707252c0/CONTRIBUTING.md?plain=1#L5:

I've chosen to not add a custom `.gitpod.yml` file because the default one that is generated works fine.

[2022-01-13 20:28] chalin commented on #1026
Otherwise I agree, I've had good experiences so far using GitPod.
Can we consider this issue resolved, or is there anything else that you'd want addressed?

[2022-01-13 20:32] chalin commented on #780
@cartermp - when creating new files (e.g., https://github.com/open-telemetry/opentelemetry-ruby/pull/1060/files) please use kebab-case filenames.

If ever you choose to rename some of the snake_case filenames you've recently introduced to kebabe-case, please ensure you add a redirect rule (#668). Thanks!

[2022-01-13 20:37] cartermp commented on #1026
Yep, resolved!

[2022-01-14 09:00] chalin opened #1042 ".NET Automatic Instrumentation page title"
_Originally posted in https://github.com/open-telemetry/opentelemetry.io/pull/1015#discussion_r784668409_

@cartermp - I'd like to suggest that we use the same title and linkTitle here as the corresponding page in the Java docs, namely:

[code]

[2022-01-14 09:08] chalin commented on #1042
/assign @cartermp

[2022-01-14 09:17] chalin commented on #1011
Oops, I'd forgotten about this placeholder issue. Closing in favor of #1035.

[2022-01-14 09:17] #1011 closed

[2022-01-14 14:40] cartermp commented on #1042
So this one might be a little point of contention. My understanding is it is inaccurate to call it automatic instrumentation because it documents how to initialize instrumentation libraries. That said, I have seen a lot of people also refer to this as automatic instrumentation anyways, so it's a question of technical accuracy vs. familiarity in my mind.

[2022-01-15 23:56] lizthegrey opened #1043 "Please remove the GC election announcement"
It's been 3 months, we can stop congratulating the new GC members. as it's said, now get back to work for them ;)

[2022-01-17 20:16] chalin opened #1047 "layouts/partials/page-meta-links.html: avoid use of .Path"
Since the upgrade to Hugo 0.92.0, we're getting this (expected) warning:

[code]

Related: https://github.com/google/docsy/issues/835

[2022-01-17 20:25] #1043 closed

[2022-01-18 15:27] #1036 closed

[2022-01-18 15:36] chalin opened #1052 "CI: check external links"
@anuraaga wrote in https://github.com/open-telemetry/opentelemetry.io/issues/989#issuecomment-999247927:

Yes! I've been working on such a solution (part-time) since the spring. I'll give it more priority in 22Q1.

Related:

- Once we have external link checking in place, we should consider adding a check to guard against #922.

---

- [x] #2349
- [x] #2362
- [x] #2364
- [x] #2365
- [x] Spec link

[2022-01-19 16:10] chalin opened #1055 "Remove docsy workaround"
Remove the docsy workaround introduced by #1054, once https://github.com/google/docsy/issues/848 has been addressed.

[2022-01-19 16:19] #1047 closed

[2022-01-19 21:33] bobstrecansky opened #1059 "Opentelemetry PHP SDK Icon"
**Desired feature or idea.**
What would you like to see happen?

We'd love an OpenTelemetry PHP icon similar to the ones that the rest of the SIGs have on the website:
https://opentelemetry.io/docs/instrumentation/

Thanks in advance!

cc:\ @tidal

[2022-01-19 22:02] austinlparker commented on #1059
@jkowall Would we be able to get your designer to create logos for the SIGs that weren't covered by the original drop? PHP, Rust, Swift, and C++ are missing iconography.

We also have a few more top-level concepts on the docs that could use icons.

[2022-01-20 15:26] chalin opened #1063 "CI: check markdown formatting and common gotchas"
Now that we starting to have more and more contributors, the project would benefit from standardizing Markdown formatting, and a prettifier and linter could help in this respect.

- I've (@chalin) started experimenting with [Prettier](https://prettier.io), e.g., see:
  - #1290
  - https://github.com/open-telemetry/opentelemetry.io/pulls?q=is%3Apr+prettier+is%3Aclosed
- Note that there's module for

[2022-01-20 16:00] chalin opened #1065 "Registry entries: update instructions and consider using an archetype file."
Originally from https://github.com/open-telemetry/opentelemetry.io/pull/1062#issue-1109429877

[archetypes]: https://gohugo.io/content-management/archetypes

[2022-01-21 03:16] dyladan commented on #1059
I see that there is a JS icon, but other than the list on the website is there anywhere else these icons are meant to be used? I saw @trask used it for the java bot user. Are there other suggested applications?

[2022-01-21 14:23] svrnm commented on #964
@chalin when you say "console collector" do you mean a console exporter or do you mean that there should be a collector receiving data via OTLP and the collector is then dumping the data to the console?

From an end-user experience I would argue that both would be great:
* Using the exporter is a quick win and it's easy to debug if anything goes wrong
* At the end, exporting with OTLP to a collect

[2022-01-21 15:53] chalin commented on #964
Yes, thanks! I fixed that in the opening comment.

I like it! It seems smooth to me. Thoughts @tedsuo @cartermp @austinlparker?

[2022-01-21 16:01] austinlparker commented on #1059
Yeah - presentations, workshops, internal slide decks, etc.

[2022-01-21 16:14] cartermp commented on #964
I do like that flow, yes.

[2022-01-22 16:45] chalin opened #1071 "Contributing: nvm arguments are different under Windows"
_Originally posted by @chalin in https://github.com/open-telemetry/opentelemetry.io/issues/1066#issuecomment-1019306352_:

References:

- https://github.com/coreybutler/nvm-windows
- https://docs.microsoft.com/en-us/windows/dev-environment/javascript/nodejs-on-windows

[2022-01-22 21:48] cartermp opened #1073 ".NET Docs: document how to start independent spans"
Sourced from this discussion: https://cloud-native.slack.com/archives/C01N3BC2W7Q/p1642882241025300

When creating a new activity or span, you need to explicitly ~not~ associate it with a parent, such as calling this API: https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.activitysource.createactivity?view=net-6.0#system-diagnostics-activitysource-createactivity(system-string-system-di

[2022-01-23 14:54] jkowall commented on #1059
Yes I can get Ella to help us with more icons. Do you have an idea as to what we should base them off? The open source project icons or do you want us to be creative? I am sure Ella has a lot of ideas for us.

Let me know if this is the list or we need anymore graphics work.

[2022-01-24 22:15] austinlparker commented on #1059
There's probably some other stuff that we'll want to get later, but it'd be great to get the languages filled out for now. I think the icons should look consistent with the existing Otel ones.

[2022-01-24 22:35] jkowall commented on #1059
Okay, cool. I will get it going.

[2022-01-24 22:37] jkowall commented on #1059
You can assign to me or @ella-bz

[2022-01-26 09:17] yzeng25 opened #1076 "Cooperation invitation from Apache APISIX community"
Hi ,

I am Yilin, from the Apache APISIX community. Apache APISIX is a Cloud-native API gateway, and it is the top-level project of the Apache Software Foundation. You can get more details from our GitHub repository[1].

We have developed a plugin for open-telemetry[2] to integrate it with Apache APISIX. I think the plugin is very meaningful for developers and both communities. In addition, it wil

[2022-01-26 15:57] cartermp commented on #971
Another one: https://cloud-native.slack.com/archives/CJFCJHG4Q/p1643212043135500?thread_ts=1643187503.132000&cid=CJFCJHG4Q

This is for span status: Don't set OK unless you're overriding ERROR

[2022-01-26 16:18] chalin opened #1078 ".NET shim page copyedits needed"
Followup copyedits to #1041 are needed:

- `content/en/docs/instrumentation/net/shim.md `: https://github.com/open-telemetry/opentelemetry.io/pull/1041#discussion_r784682447_

- `content/en/docs/instrumentation/net/netframework.md `: https://github.com/open-telemetry/opentelemetry.io/pull/1041#discussion_r784682109

[2022-01-26 16:38] chalin commented on #1042
What might be missing from that page so warrant it being about automatic instrumentation? Let's discuss this at the next Comms meeting.

[2022-01-27 07:59] eugeniyk commented on #971
Thank you for adding such guidance
Personally, during migration our custom sdk based on opentracing API /Jaeger SDK (java) to opentelemetry API / SDK I found few additional topics not clear from the first sight:

Meta concerns:
- shift in mindset (before span controlled tags and baggage, now it's all about context)
- [java] unification of scoping: Baggage.current / Span.current is part of Context

[2022-01-27 18:18] chalin commented on #1076
Hi Yilin. You can [submit a proposed blog post](https://github.com/open-telemetry/opentelemetry.io#submitting-a-blog-post), and we'll gladly review your submission.

[2022-01-27 18:24] chalin commented on #1055
Closed by #1070

[2022-01-27 18:24] #1055 closed

[2022-01-27 18:33] #1078 closed

[2022-01-27 19:33] chalin commented on #1042
Was discussed during [2022/01/27 Comms meeting](https://docs.google.com/document/d/1wW0jLldwXN8Nptq2xmgETGbGn9eWP8fitvD5njM-xZY/edit#heading=h.rpg501xxtq16). There was a general consensus for using "Automatic Instrumentation".

[2022-01-27 19:35] chalin commented on #1076
I'll close this issue for now since, I believe, your question was answered. We'll be looking forward to your PR.

[2022-01-27 19:35] #1076 closed

[2022-01-27 20:05] #1042 closed

[2022-01-28 01:08] yzeng25 commented on #1076
Awesome! Thanks!

[2022-02-01 23:12] chalin commented on #845
@austinlparker do you want to make the announcement re. the blog's move (see the opening comment for the subtask). /cc @tedsuo

[2022-02-01 23:19] chalin commented on #845
On the #otel-comms Slack @tedsuo, wrote “if we aren’t just about to do a migration ...”, what do you mean? I don’t think that we should migrate (copy) the old posts (we want single source for posts too). We might want to create entries with the same title and an abstract, but that simply refer readers to the medium page for the details. We’d set the canonical link to be the Medium page in that cas

[2022-02-01 23:35] tedsuo commented on #845
Ideally, we would copy the articles over, and set the original article as the canonical link so that SEO isn't a problem. Or at least create entries which redirect to the old blog articles, like you suggest (probably way less work, unless there's an easy markdown exporter for Medium).

Otherwise, I'm concerned that the content of the old blog will be effectively lost. A lot of it is important and

[2022-02-01 23:47] chalin commented on #845
Thanks for the feedback @tedsuo.

Ok, I'll look into those options tomorrow.

[2022-02-02 04:08] austinlparker commented on #845
Sorry for dropping the ball on this one, I meant to look into it after the last comms meeting but I was sidelined for a bit. In terms of conversion the open question I have is canonical URLs or redirects; I don't think there's a way to export markdown from Medium easily, I was already resigned to manually migrating the content. @chalin ping me on Slack and we'll sort something out once you have an

[2022-02-02 14:12] chalin commented on #845
No worries. I'll reach out later today.

[2022-02-02 15:00] Ella-bz commented on #1059
Guys, I have a question. I have the icons for PHP, Rust, Swift, and C++. Do I understand right that you want me to add the sign of SDK like I did for some other languages or it just got lost in files somewhere?
![image](https://user-images.githubusercontent.com/73476445/152173594-b235930c-08f5-4da9-9135-11f5f7b2db5b.png)

[2022-02-03 20:17] mic-max opened #1096 ""View page source" and "Edit this page" button broken"
**What happened?**
When visiting the link to "View page source" on the right side it 404s

**What is the name + path of the page where you encountered the issue?**
https://opentelemetry.io/docs/instrumentation/go/
Go | OpenTelemetry

**Additional context**
It works for this page https://opentelemetry.io/docs/instrumentation/net/ so I believe it has to do with the go documentation being a submodule

[2022-02-03 21:12] chalin commented on #1096
Strange, I'm sure that was working earlier. I'll have to figure out what changed. Thanks for reporting the issue!

[2022-02-04 13:56] chalin opened #1098 "Update Ruby docs 2022/02/04"
- Closes #1029
- Will bring in the changes of the issues/PRs cross-referenced by GH below in addition to the following:
  - https://github.com/open-telemetry/opentelemetry-ruby/pull/1081
  - https://github.com/open-telemetry/opentelemetry-ruby/issues/1104
  - https://github.com/open-telemetry/opentelemetry-ruby/pull/1120
  - https://github.com/open-telemetry/opentelemetry-ruby/pull/1121

[2022-02-04 14:25] chalin opened #1100 "Ruby docs: add aliases to cover for recent file renames"
The renames were:

- /docs/instrumentation/ruby/configuring_automatic_instrumentation → automatic
- /docs/instrumentation/ruby/context_propagation → context-propagation
- /docs/instrumentation/ruby/getting_started → getting-started
- /docs/instrumentation/ruby/manual_instrumentation → manual

[2022-02-04 14:26] chalin commented on #1098
Reopening for:

- [ ] #1100

[2022-02-04 14:28] chalin commented on #668
It would also be nice if we had checks to detect when redirects are missing. (I have some thoughts about how to do this.)

[2022-02-04 14:34] chalin opened #1101 "Homepage: link the Get-started ellipsis button to the instrumentation section"
... rather than linking to `/docs`.

[2022-02-04 14:38] chalin opened #1102 "Right nav formatting problem when page has no TOC"
E.g., see:

- https://opentelemetry.io/docs/getting-started/
- https://opentelemetry.io/blog/2023/integrations/
- https://opentelemetry.io/docs/instrumentation/ruby/events/

Here's an example:

Notice the space missing between the page-meta links and the top-nav.

Might this be a recently introduced docsy issue?

Here is the corresponding Docsy issue:

- https://github.com/google/docsy/issues/1573

[2022-02-04 15:00] chalin opened #1103 "Update Go docs"

[2022-02-04 15:20] #1103 closed

[2022-02-04 15:23] chalin commented on #1098
Actually, will keep this closed and track the Ruby-docs update via #1100.

[2022-02-04 15:23] #1098 closed

[2022-02-04 16:18] #1101 closed

[2022-02-04 23:07] cijothomas commented on #1042
@cartermp @chalin This change is incorrect. Automatic instrumentation is well defined in the spec repo : https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/glossary.md#automatic-instrumentation

In case of Java (https://opentelemetry.io/docs/instrumentation/java/automatic/) the term is correct, as it is talking about the actual auto instrumentation. For .NET, aut

[2022-02-06 14:43] bobstrecansky commented on #1059
@Ella-bz - would love to see the PHP one when you get a chance!

[2022-02-07 06:41] Ella-bz commented on #1059
![Net](https://user-images.githubusercontent.com/73476445/152737649-b8698e8f-f4df-4654-8145-88d4062b4286.svg)
![PHP](https://user-images.githubusercontent.com/73476445/152737652-46a4043c-34d7-4ee0-a5eb-aa75439ff505.svg)
![Rust](https://user-images.githubusercontent.com/73476445/152737653-249e13c7-0702-490a-b2b7-c1634302af2c.svg)
![Swift](https://user-images.githubusercontent.com/73476445/152737655

[2022-02-07 16:15] #1100 closed

[2022-02-07 16:54] chalin commented on #1042
Hi @cijothomas - thanks for the information and link. I've added an entry to the agenda for discussion at our next Comms/Website meeting this coming Thursday. In case you'd like to join, the meeting info is available in the [minutes doc](https://docs.google.com/document/d/1wW0jLldwXN8Nptq2xmgETGbGn9eWP8fitvD5njM-xZY).

In the meantime, feel free to respond here @cartermp @tedsuo @austinlparker if

[2022-02-07 18:03] cijothomas commented on #1042
I think this is something to be discussed in Maintainers/Spec meeting. The fundamental question I am asking is "If one uses instrumentation libraries to get automatic spans from the library, is that called "Auto-Instrumentation" ?

[2022-02-07 18:35] bobstrecansky commented on #1059
I'm able to see them here.  Thank you!

[2022-02-08 16:05] chalin opened #1109 "Migrate Python docs to this repo"
This is the Python part of

- #833

The decision to migrate the Python (non-API) docs was recorded in

- https://github.com/open-telemetry/opentelemetry-python/issues/2172#issuecomment-1029324910.

---

- [x] Update Python submodule - #1110
- [x] Handle `website_docs` (https://github.com/open-telemetry/opentelemetry-python/tree/main/website_docs) pages:
  - [x] Move `website_docs` pages into this

[2022-02-08 22:19] enyinna1234 opened #1114 "Node.JS"
The documentation here does not make it clear how to use the exporters or tracing backends with the tracing.js provided. For instance how does one add a specific backend code to the tracing.js file?

[2022-02-09 17:17] chalin commented on #1109
@cartermp - are there specific pages you wanted to see migrated? If so, after https://github.com/open-telemetry/opentelemetry-python/pull/2453 lands (assuming it will), could you tell which pages you specifically require to be migrated? Otherwise, I'll just continue to migrate what seems most reasonable to move over. Thanks!

[2022-02-09 17:49] cartermp commented on #1109
Everything non-API docs, so the following will be off-limits to move:

* Core Packages (API and SDK)
* Exporters
* Shims

There are some module-level docs in each of those that _might_ be useful to bring over, but we can do that in a phase 2 as needed.

[2022-02-10 16:54] chalin opened #1119 "Update PHP docs"
Bring in https://github.com/open-telemetry/opentelemetry-php/pull/578.

[2022-02-11 18:43] codeboten opened #1121 "Ensure the consistency of signal names"
Currently Trace/Tracing/Traces, Metrics, and Logging/Logs are used in various places to name the OpenTelemetry signals. It would be great to ensure these are named consistently at least in the status section for each language implementation.

Edit (@chalin): for context, see https://github.com/open-telemetry/opentelemetry.io/pull/1116#discussion_r804878218.

[2022-02-11 20:31] #1096 closed

[2022-02-11 20:31] #1119 closed

[2022-02-11 20:40] TylerHelmuth commented on #1030
I just got mixed up by the current ocb link.  Would much rather it link directly to the builder's README.

[2022-02-14 13:21] dimitrisfinas opened #1126 "Getting Started linux instructions"
I have downloaded and installed on debian version 0.39.0 of otel collector package, and the name of the service started is "otelcol" and not "otel-collector" as put in Linux Packaging documentation

[2022-02-15 14:37] chalin commented on #1126
@dimitrisfinas - which documentation page(s) were you using, and that illustrate this issue?

[2022-02-15 14:39] dimitrisfinas commented on #1126
I am referring to this page:
https://opentelemetry.io/docs/collector/getting-started/#linux-packaging

[2022-02-15 14:56] jpkrohling commented on #1126
That's true, it's a reflection of our recent change to using the builder and allowing multiple distribution instances to be available at the same time:

https://github.com/open-telemetry/opentelemetry-collector-releases/blob/main/distributions/otelcol/otelcol.service
https://github.com/open-telemetry/opentelemetry-collector-releases/blob/main/distributions/otelcol-contrib/otelcol-contrib.service

[2022-02-15 17:01] cartermp commented on #1114
@enyinna1234 There's a page about exporters here - exporters are how you get data to a particular place: https://opentelemetry.io/docs/instrumentation/js/exporters/#otlp-endpoint-or-collector

Would it be helpful to have a code comment and a link to this page in the code sample so that it's clearer where the exporter goes?

[2022-02-15 22:04] chalin opened #1132 "OT-shim language-version-support table appears in two places"
The OT shim language version support appears in these two places:

- The OT migration page, e.g., https://deploy-preview-1090--opentelemetry.netlify.app/docs/migration/opentracing/#language-version-support
- The Spec OT compliance page, e.g., see one of the following:
  - [opentelemetry-specification/specification/compatibility/opentracing.md]
  - https://opentelemetry.io/docs/reference/specificat

[2022-02-16 15:38] chalin opened #1144 "Consider adding a section page for `/schemas`"
Folks are trying to visit the section root and getting 404. It would seem like a reasonable use case to want to list the contents of that section.

Thoughts @tigrannajaryan @carlosalberto?

[2022-02-16 16:25] tigrannajaryan commented on #1144
I would prefer not to. We may define a formal machine-readable format for `/schemas` page in the future and I want to make sure the URL remains available and is not populated by some human-readable page.

[2022-02-16 19:53] chalin commented on #1126
So, did #1134 fully address this issue? /cc @rogercoll

[2022-02-17 07:18] dimitrisfinas commented on #1126
Thanks

[2022-02-17 08:07] rogercoll commented on #1126
@chalin Yes, the issue can be closed.

[2022-02-17 11:39] #1126 closed

[2022-02-17 13:45] chalin opened #1149 "Markdown cleanup: use {{% %}} rather than {{< >}}"

[2022-02-17 14:20] chalin commented on #906
I'm exploring bringing in the (adjusted) spec pages via a `mount`, but have run into a snag. For details, see https://discourse.gohugo.io/t/content-mount-problem-for-single-language-multilingual-site/37215.

[2022-02-17 23:17] chalin opened #1154 "Migrate PHP website_docs back to this repo"
- PHP part of #833
- [x] Update PHP submodule - #1155, somewhat of a formality since `website_docs` hasn't been updated since our last update of the submodule.
- [x] Make PHP pages local, and remove repo-link front-matter override - #1156
- [x] Drop [website_docs](https://github.com/open-telemetry/opentelemetry-php/tree/15785689ab681a707b299512179db2c224a270c2/website_docs) - https://github.com/op

[2022-02-17 23:57] chalin opened #1157 "Migrate integration pages from PHP repo docs folder?"
@bobstrecansky @cartermp: might it also make sense to migrate the integration pages under [PHP repo `docs`](https://github.com/open-telemetry/opentelemetry-php/tree/main/docs) here too?

- https://github.com/open-telemetry/opentelemetry-php/blob/main/docs/laravel-integration.md
- https://github.com/open-telemetry/opentelemetry-php/blob/main/docs/symfony-integration.md

[2022-02-18 00:19] chalin commented on #1157
@cartermp - if you agree, how do you see these pages fit into the PHP section organization?

[2022-02-18 02:28] cartermp commented on #1157
I think at first, it would be fine to have these be individual pages. In the future it might be better to find a way to consolidate common content and make it more uniform w.r.t. other languages.

[2022-02-18 02:43] cartermp commented on #964
@svrnm I really like this a lot. I think this would be a great place to point newcomers. I do worry about the list of tabs getting too large, though. But maybe that's a thing to worry about at a later date 🙂

[2022-02-18 14:45] chalin opened #1159 "C# syntax highlighting is wrong of identifiers starting with an underscore"
There's been a similar problem before, see:

- https://github.com/alecthomas/chroma/issues/507
- https://github.com/gohugoio/hugo/issues/8532

Visit https://opentelemetry.io/docs/instrumentation/net/netframework/, notice the `_` in `_tracerProvider` is highlighted differently:

The entire identifier should be highlighted the same, like this:

[code]

As of the time of writing this, we're using Hug

[2022-02-21 11:13] kevinearls opened #1160 "Link to Java examples is incorrect"
**What needs to be changed?**
The link to the Java examples is incorrect.  It currently points to https://github.com/open-telemetry/opentelemetry-java/tree/main/examples but should be https://github.com/open-telemetry/opentelemetry-java-docs

**What is the name + path of the page that needs changed?**
On https://opentelemetry.io/docs/instrumentation/java/, i.e docs/instrumentation/java in the **AP

[2022-02-24 17:09] chalin commented on #1160
Closed by #1161

[2022-02-24 17:09] #1160 closed

[2022-02-24 18:48] austinlparker commented on #976
Let's do it

[2022-02-24 18:52] austinlparker opened #1168 "OTel Tuesday Page/Info"
things to decide:
- Otel Tuesday 'what is it' page
- Links to archives
- Stream to YouTube/archive to YouTube
- Topic/guest suggestions

??

[2022-02-24 20:39] chalin opened #1169 "Add k8s operator injection reference into relevant SIG pages"
_Originally posted by @chalin in https://github.com/open-telemetry/opentelemetry.io/issues/1147#issuecomment-1050066265_

/cc @svrnm @cartermp

[2022-02-24 21:09] chalin opened #1170 "Some pages contain invalid HTML"
For example, consider the following: https://github.com/open-telemetry/opentelemetry.io/blob/7e86a7f26ff4e8094286cccf48c3026e1bc44011/content/en/vendors/_index.md?plain=1#L7-L14

Notice how the `<span>` contains a `<p>`, which isn't permitted. There are more such occurrences, search for `<\w+ class="h4` for example.

[2022-02-24 21:13] chalin opened #1172 "Top-level pages have issues on mobile"
There are formatting issues with the vendor page on mobile. Here's a screenshot:

<img width="350" alt="image" src="https://user-images.githubusercontent.com/4140793/155609397-b10d7599-8a09-4005-b0f6-a02d684d1c85.png">

Issues:

- [x] Notice the white bar between the top nav and the blocks/lead, this bar should be removed:
  - [x] #1171
  - [x] #1174
  - [x] #1175
  - [x] #1176
- [x] Use a single

[2022-02-28 16:09] chalin commented on #976
Closed by #1177 and #1179.

[2022-02-28 16:09] #976 closed

[2022-02-28 18:23] hardik-epifi opened #1180 "Outdated documentation for local core collector run"
**What needs to be changed?**
Update documentation/docker command for otel core collector local run

**What is the name + path of the page that needs changed?**
https://opentelemetry.io/docs/collector/getting-started/#docker

**Additional context**
Command given to run the local otel core collector is wrong, their is no go file inside anymore.

[code]

[2022-03-01 15:32] TylerHelmuth opened #1181 "Collector configuration doc is missing new service.telemetry subsection"
**What needs to be changed?**
Update collector configuration doc with new service.telemetry section

**What is the name + path of the page that needs changed?**
https://opentelemetry.io/docs/collector/configuration/#service

**Additional context**
With [#4069 in opentelemetry-collector](https://github.com/open-telemetry/opentelemetry-collector/pull/4069) there is now a new subsection, `telemetry`,

[2022-03-02 00:26] chalin commented on #1180
/cc @open-telemetry/collector-approvers @open-telemetry/collector-contrib-approvers

[2022-03-02 09:23] jpkrohling commented on #1180
I think this second example should be removed from the getting started. To someone getting started, it's not entirely clear what's going on there.

[2022-03-02 10:28] pmm-sumo commented on #1180
I agree it might be too complex for "Getting started". Also, the port numbers seem outdated

[2022-03-03 17:08] henrikrexed commented on #1168
We should share the regular updates on the project.
Where to find the latest stable version of the library.

Explain the different type of Sampler, SpanProcessor ....Etc.

[2022-03-03 17:26] nemerkab commented on #1168
Regarding the topic/guest list: There are 20 streams remaining in 2022.
I suggest we aim for 10 guests so half of the streams have a guest and half are the current format. That will allow us to compare engagement between the 2 formats to see which is better received. If the guest format is clearly winning then we can move to have a guest every episode.

Here are possible topics that we could discu

[2022-03-07 20:19] #1033 closed

[2022-03-07 20:56] chalin opened #1194 "Create and use a config/section parameter for release versions for each language"
For example, #1193 manually updates the OTel-Java release version. The version number for each language should be provided as a (site-config or section-front-matter) parameter.

[2022-03-07 21:47] chalin commented on #964
Finally getting back to this: @cartermp and @svrnm, I like your ideas, and have some points I'd like to discuss. If both of your are available, maybe we can discuss this at the next Comms meeting this week. WDYT?

[2022-03-07 21:49] chalin opened #1195 "Create a Getting-started page for Java"
Java task for #964.

@cartermp @svrnm: how about realizing the kind of Getting-started page you've envisioned in #964, but only for Java to start off with?

[2022-03-07 23:36] cartermp commented on #964
Sounds good to me

[2022-03-08 15:55] svrnm commented on #964
Sounds good to me!

[2022-03-09 13:38] chalin opened #1196 "Vendor page: improve vendor list presentation on mobile"
Vendor-page specific items of #1172:

- [ ] The table is too wide on mobile
- [ ] Links in the table are raw URLs. Consider using an icon.

Later we might want to consider generating the vendor list table (or list of cards) using a shortcode from a data file.

[2022-03-09 13:39] chalin commented on #1172
All done. For remaining items, see #1196.

[2022-03-09 13:39] #1172 closed

[2022-03-09 14:23] jpkrohling commented on #1181
@TylerHelmuth, would you be open to sending in a PR? If so, just ping me and I'll review it.

[2022-03-09 21:15] chalin commented on #1132
I propose to use a shortcode to extra the table from the spec page (using that table as the canonical one), embedding it then in the OT migration page.

[2022-03-09 21:18] chalin commented on #1037
@tedsuo - are we ready to publish the OT migration page? If so, I'll remove the `draft` param and get it published. If not, what needs to be done before we publish it? (I'll address #1132 separately, as proposed in https://github.com/open-telemetry/opentelemetry.io/issues/1132#issuecomment-1063377580.)

/cc @austinlparker

[2022-03-09 22:07] chalin opened #1199 "Consider adding a check to ensure that intra-site links are not external"
- Related #922

[2022-03-10 09:38] svrnm opened #1200 "Distributions - creating a distribution - language specific best practices."
**Desired feature or idea.**

When going to the [distributions page](https://opentelemetry.io/docs/concepts/distributions/) checking for some guidance on "creating my own distribution" I can only find details for the OpenTelemetry collector.

It would be great to also have some details for the language specific SDKs/auto-instrumentations:

* Java provides an [extension mechanism](https://github.co

[2022-03-10 16:59] austinlparker commented on #1200
I like the idea, but I'm not sure if 'distribution' is really the right concept we should be capturing. Maybe each language should have an 'extensibility' section that we can file docs like this under? Or, to reverse it, there should be an 'Extensibility' topic that has items like, 'Building a custom OTel Collector', 'Building a custom Java Agent', 'Extending the Node.JS SDK', etc. etc.

[2022-03-10 19:16] austinlparker opened #1201 "Omnibus Documentation Consolidation 2k22"
# Preface

OpenTelemetry suffers from a lack of authoritative content. This is due to several factors, most of which aren't terribly interesting or relevant to this issue, but it is an issue we are resolving to fix. In the absence of authoritative, centralized, educational content about the project many alternate sources have popped up on vendor blogs or documentation pages. The OpenTelemetry Comm

[2022-03-10 19:27] cartermp commented on #1201
Some others:

https://opentelemetry.uptrace.dev/
https://docs.honeycomb.io/getting-data-in/opentelemetry-overview/ (may have more conceptual content soon-ish)
https://www.splunk.com/en_us/data-insider/what-is-opentelemetry.html
https://www.aspecto.io/blog/what-is-opentelemetry-the-infinitive-guide/

[2022-03-10 20:41] svrnm commented on #1200
Not sure if I understand: do you mean that we should replace the existing page on "Distributions" with "Extensibility", or do you think that those are two separate (but related topics)?

I see advantages in both. Maybe have it per language and some common place like "Distrubtions" (or rename it to "Extensibility & Distributions"?

[2022-03-11 22:08] marcolus17 opened #1202 "Instrumenting libraries - Events"
This sentence in the Events section might need some proofreading:
Always attach events to the instance of span, your instrumentation created, avoid using active span if you can, as you don’t control what it refers to.

Should it be something like this?
Always attach events to the instance of span your instrumentation created. Avoid using the active span if you can, as you don’t control what it ref

[2022-03-14 09:55] AlongRezal opened #1204 "all Documentation"

[2022-03-14 23:13] TylerHelmuth commented on #1181
I'll need to brush up on the new telemetry config code in the collector but I can take a shot.

[2022-03-15 03:18] #616 closed

[2022-03-15 13:13] jpkrohling commented on #1181
If you need a primer, this is how you can configure it:

[code]

The code with all the available options can be seen here:
https://github.com/open-telemetry/opentelemetry-collector/blob/7666eb04c30e5cfd750db9969fe507562598f0ae/config/service.go#L35-L111

[2022-03-15 16:27] #1202 closed

[2022-03-15 20:51] TylerHelmuth commented on #1181
@jpkrohling The only things I'm not 100% on is if the default value for metrics.address, [which I believe is `:8888`](https://github.com/open-telemetry/opentelemetry-collector/blob/7666eb04c30e5cfd750db9969fe507562598f0ae/config/configunmarshaler/defaultunmarshaler.go#L198-L203) means that the collector by default sends itself metrics on port 8888.  I noticed most configurations of the collector e

[2022-03-16 03:10] NinoFloris commented on #1073
Relevant https://github.com/dotnet/runtime/issues/65528

[2022-03-16 11:47] jpkrohling commented on #1181
Indeed, the default port is 8888. With the example I gave previously, metrics can be scraped from `localhost:8888/metrics`. I'd say most configs explicitly setting the metrics port to :8888 are just a result of copy/paste without further consideration.

[2022-03-16 15:30] #1181 closed, assigned to jpkrohling, codeboten

[2022-03-16 18:19] cartermp opened #1214 "Document when you'd want to use a collector"
This is probably worth putting in collector conceptual docs, and linked to from some other places.

In my company's community slack, we got a fantastic question:

This is definitely a general question/concern and not specific to one vendor. Some answers in the thread given were:

* Wanting to process all spans prior to sending to a backend
* Wanting to hook up to other sources (e.g., OpenTracing t

[2022-03-17 18:41] paigerduty commented on #1201
![](https://media0.giphy.com/media/5FDfOtafB4Gnwr9dBm/giphy.gif?cid=5a38a5a2m4jqxunwjej7imbygjds20ifxw340rl0xib9qqcr&rid=giphy.gif&ct=g)

I am here to answer the call if y'all want a dedicated person to see this type of project thru

[2022-03-17 19:47] #922 closed

[2022-03-18 12:34] svrnm commented on #964
Based on the conversation from the call last week, I follow up here on the flow I suggested a few weeks back. I'd like to add a premise to the whole "getting started guide", and get your opinion on it:

The personae that should follow this "Getting Started Guide" is someone who has an application in `<language>` using `<list of frameworks>` and know wants to see what insights they can get from add

[2022-03-18 14:37] austinlparker commented on #964
☝🏼

This really captures the spirit of the 'getting started' pages. Historically we've set the bar for 'success' as "how quickly can I see a span/metric/log" but I don't think that really gets the value prop across.

A few misc notes --

* We should avoid adding instructions for proprietary/commercial tools. In my perfect world, vendors can link to this page and say "Ok, go through these instructi

[2022-03-18 15:01] svrnm opened #1219 "Add automatic checks for html validation & accessibility"
**Desired feature or idea.**
I was looking into #1170 and #190 today and it reminded me of something I was playing around with for a different project a few months back:

* [The Nu Html Checker](https://validator.github.io/validator/), the tool behind https://validator.w3.org/nu/. It can be run on the command line (requires java or docker!) within `npm run test` to generate a report. The current r

[2022-03-18 15:34] svrnm commented on #964
Makes sense! What about replacing that link list with a search with the registry? or the /vendor page?

Good point, if all of those sample apps are a "simple webserver" then they should be able to use the same `curl sampleapp` independent of language

I was thinking about, "go through the docs again with a different language and stitch them together", but as you suggested, being explicit would be

[2022-03-18 23:49] cartermp commented on #964
@svrnm I sort of think it might be best to just let vendors handle this in their own docs for now. Some vendors support direct OTLP ingest and they make it no different from sending to a collector other than maybe needing to specify a header or two. Others might require you to pull in a contrib module to the collector, or use their distribution of a collector or an SDK, etc.

[2022-03-21 09:02] svrnm commented on #1214
While I agree that this is an important question, I would make "not using a collector" the exception rather the norm, so instead of asking "under what circumstances does one use a collector", the question is "under what circumstances does one not use a collector" and the only answer to that (*in my opinion*) is in a small scale environment or in a pre-production environment. A few pointers why I t

[2022-03-21 22:36] sharrmander commented on #1201
@austinlparker Here's New Relic's [OpenTelemetry masterclass content](https://developer.newrelic.com/opentelemetry-masterclass/) for review/consolidation consideration too.

[2022-03-22 18:36] chalin commented on #1037
@tedsuo, this is a follow up ping (since it's been almost two weeks).

I believe that the [OT migration page] is ready (pending the review and acceptance of #1227). I noticed that [opentelemetry-specification/specification/compatibility/opentracing.md], on which the OT migration page is inspired by, has been published since March 2021 (over a year ago), so I'd like to propose the following:

- If

[2022-03-22 22:57] yurishkuro commented on #1037
+1 to publish, I think the value of having a guide in public is much higher than the concerns over possible inaccuracies that can be fixed incrementally. I assume it will be linked under Migration page, which is currently empty.

[2022-03-22 23:00] chalin commented on #1037
@yurishkuro - thanks for your feedback.

Correct.

[2022-03-23 15:18] chalin commented on #1037
I'm going to be a bit preemptive relative to my [original suggestion](https://github.com/open-telemetry/opentelemetry.io/issues/1037#issuecomment-1075490509) (since we've been working on this page since January), and go with @yurishkuro's +1 because I'd like to submit some followup PRs.

[2022-03-23 15:39] #1195 closed

[2022-03-23 16:35] #1037 closed

[2022-03-23 20:08] chalin opened #1229 "Migrate Java Agent doc pages to this repo, starting with Agent config"
@trask @jack-berg et al., as part of the work on

- https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/4523

What do you think about migrating selected Java-Agent pages from [opentelemetry-java-instrumentation/docs] to this repo under [Docs > Instrumentation > Java > Automatic]. Good candidate page to start off with might be:

- [x] [docs/agent-config.md]
  - [x] #1233
  -

[2022-03-23 20:32] trask commented on #1229
I support this

cc @open-telemetry/java-instrumentation-approvers

[2022-03-23 22:13] jack-berg commented on #1229
@chalin Did you have any heuristics / rules of thumb in mind for how to decide whether content is better suited for the docs website or the source repository?

[2022-03-23 23:09] #1132 closed

[2022-03-24 11:31] dharmaplay opened #1231 "auto-instrumentation for Java Spring Kafka Streams - is NOT generating the Jaeger Deep Dependency graph with Producer and Cosnumer"
Hi,
I have written 1 Producer and 1 Consumer using Spring Kafka streams/Cloud streams and able to see the traces in JaegerUI but when I click on the Deep Dependency graph its not showing the graph like

Producer --> Kafka TopicName --> Consumer.

Is it possible to generate Information above like Producer ->TopicName -> Consumer informations like traces and metrics?

Thanks
Dharma

[2022-03-24 12:30] chalin commented on #1229
@jack-berg - our _general_ objective is to migrate all non-API docs -- the tracking issue is:

- #833

[2022-03-24 12:37] chalin commented on #1231
This repo is for the OpenTelemetry website. You should direct your question to a more appropriate forum. For example, see the links to **discussions** or **mailing lists** under the [Community > Communication](https://github.com/open-telemetry/community#communication).

Since you aren't reporting a problem with the website, I'll close this issue.

[2022-03-24 12:37] #1231 closed

[2022-03-24 15:12] chalin commented on #1219
Thanks for the info about and link to the tools.

There are a number of checks that I'd like to add (currently at the top of my list is external links, #1052), but our focus has been on adding content so far -- and docsy-related work for me. As for the tools that you mention, I wouldn't consider adding them to CI checks, but it might make sense to consider using them now and again. My 2 cents.

[2022-03-24 15:22] austinlparker commented on #1168
I think creating a page/section for it is probably off the books for now, but I don't want to just dumpster the whole thing in case someone else wants to come in and start running it, y'know?

[2022-03-24 17:33] tedsuo commented on #1037
Thanks for publishing! 👍

[2022-03-24 20:02] svrnm commented on #1219
I am fully OK with that, there are plenty of errors, you might not want to fix right now, some false positives, some things you just have to live with etc, so let me find some time to run them over some packages and report back some results.

[2022-03-24 20:08] chalin commented on #1229
@trask, I'm looking at migrating [suppressing-instrumentation.md] next (possibly embedding it in the Agent config page).

I'm thinking that it might make sense to use Hugo to **generate the "Suppressing specific agent instrumentation" table from data** -- possibly using the command you wrote here: https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/14372adb6872624b89022e25310

[2022-03-24 20:22] chalin commented on #1229
Or another thought would be to use a manually-curated data file to generate the table, and a separate script (like the one you wrote) to simply cross-check if any new matching `*Module.java` files are missing. I'll let this simmer and try out a few things tomorrow.

[2022-03-25 10:44] chalin opened #1236 "Java docs: consider generating table from data"
Consider generating, from data, the table in the section on **Suppressing specific agent instrumentation** of the **Agent conf** page.

This is a script that was (manually) used to cross-check the table entries:

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/5133f99cca30b5b0db1352da3b80668f8a487297/buildscripts/check-suppressing-instrumentation-docs.sh

---

Here is som

[2022-03-25 16:48] trask commented on #1236
cc @open-telemetry/java-instrumentation-approvers in case anyone has good idea how to generate this table more reliably than the script at https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/main/buildscripts/check-suppressing-instrumentation-docs.sh (maybe with some code restructuring?)

[2022-03-28 12:28] bshramin commented on #1149
@chalin Can you please assign this issue to me?

[2022-03-29 19:12] #993 closed

[2022-03-29 20:17] chalin opened #1247 "Merge system-property and env-var columns in config tables"
_Originally posted by @chalin in https://github.com/open-telemetry/opentelemetry.io/pull/1246#discussion_r837855943_:

[2022-03-29 20:37] #1180 closed

[2022-03-30 09:27] geff10 opened #1252 "Collector 'Getting Started' shell commands do not work in Powershell"
This line does not work for me in Powershell:

[code]

[2022-03-30 12:01] chalin commented on #1149
There's another issue that I need to resolve before work on this can begin. I'll post here once I have an update.

[2022-03-30 13:28] austinlparker commented on #1252
Thanks -- there is a note under those instructions that say the commands only work in bash.

[2022-03-30 13:37] austinlparker commented on #1214
It seems to me that there's broad alignment around "collector-as-default" deployment models for OpenTelemetry, especially given that the default OTLP exporters in each language assume a local collector endpoint. I think this also holds into the future as OpenTelemetry is integrated into more libraries/frameworks -- you'd start up a collector and you'd just start getting telemetry.

[2022-03-30 13:41] geff10 commented on #1252
Actually, it did not work neither in bash shell, but I realized that it was partly about the lack of `make` in Windows, so I downloaded the Windows version of it. However, it still does not work neither with git bash: "makefile:153: *** multiple target patterns.  Stop.", neither with PS or cmd. Powershell tells bit more: "FIND: Parameter format not correct
Access denied -" - which I assume means t

[2022-03-30 13:50] austinlparker commented on #1252
That part of the documentation isn't about running the collector on Windows specifically, it's supposed to be general instructions for running it locally.

[2022-03-30 22:49] cartermp commented on #1214
Hmmm, I don't know if there's necessarily broad alignment in user expectations. Smaller-scale and pre-production are quite valid scenarios. I agree that you should eventually be using a collector, even for smaller-scale things when in production. But that's just not spelled out anywhere. Motivating examples might help for developers who aren't as savvy towards production concerns like this, or jus

[2022-04-01 02:30] cartermp commented on #1214
I feel like a "Why use the collector?" article could fit nicely under https://opentelemetry.io/docs/collector/ as well. Might not be terribly long, but listing off several motivating scenarios and then linking to it in lots of places could be nice. I think that the collector docs in general should also be linked to in every exporter page we have in languages, perhaps under Next Steps.

[2022-04-01 15:25] #1247 closed

[2022-04-02 20:46] chalin opened #1266 "22Q2 planning and work log"
### Note: some issues listed here are **multi-step tracking issues**. Open the issue to see steps and progress.

🟢 **Active**ly being worked on:
- [ ] #906
- [ ] #1201
- [ ] #833
- [ ] #1063
- [ ] ...

🟡 **Top / next** to do:

- [ ] #1194
- [ ] #1170
- [ ] #1052
- [ ] #1149
- [ ] #668
- [ ] #744
- [ ] #949
- [ ] #669
- [ ] #948
- [ ] #1268

🔴 **Blocked/awaiting**:
- [ ] #833
  - [ ] #1109
- [ ] #9

[2022-04-02 20:49] chalin commented on #1144
Closing, based on @tigrannajaryan's feedback

[2022-04-02 20:49] #1144 closed

[2022-04-02 21:08] chalin opened #1267 "Move relevant parts of medium archetype into blog archetype"
- Followup to #845
- Move relevant parts of medium archetype into blog archetype, e.g.:
  - `canonical_url`, commented out
  - Suggested closing sentence that uses the canonical URL, something like:

[2022-04-02 21:10] chalin commented on #845
This tracking issue is pretty much done, closing. We'll track the final issue via #1267.

[2022-04-02 21:10] #845 closed

[2022-04-02 21:21] chalin opened #1268 "Information Architecture (IA) 2022 assessment and rework"
Items that we should probably reassess and consolidate into this issue, and finally close:

- #964
- #1001
- Top:
  - #154
  - #265

Other:
- #814
- #865
- #896
- #897

Previous issue:

- #770

[2022-04-02 21:21] chalin commented on #770
The major items have been completed. Closing. For the remaining changes, see #1268.

[2022-04-02 21:21] #770 closed

[2022-04-02 22:37] #1035 closed

[2022-04-02 22:46] chalin opened #1269 "Add link to LF trademark usage"
Context:

- https://clomonitor.io/projects/cncf/open-telemetry#community_legal:

- [Checks reference documentation](https://github.com/cncf/clomonitor/blob/main/docs/checks.md#legal)

I'd like to repeat what I did for [gRPC], and add [linuxfoundation.org/trademark-usage](https://www.linuxfoundation.org/trademark-usage) to the footer:

This might require upstreaming the gRPC footer changes.

/cc @c

[2022-04-04 14:06] rquedas commented on #814
I agree with @chalin, having tutorials and examples within each SIG's website will make it easier for people to find them.

I also believe there is a difference between example and tutorial. I would look at the [opentelemetry-collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib) repo as a great source of examples, while a tutorial would be focused in guiding me thro

[2022-04-04 20:27] chalin opened #1273 "Update spec to v1.10.0"
- [ ] https://github.com/open-telemetry/opentelemetry-specification/releases/tag/v1.10.0
- [ ] Note that this will require script changes since the spec folder now has an index (README) file

[2022-04-04 20:44] pizzaz93 commented on #713
I found a couple matching that format:

- https://github.com/open-telemetry/opentelemetry.io/blob/e8b6cb668d5936d5923cbf8b4287e9c19cd77e33/layouts/shortcodes/spec_status.html
- https://github.com/open-telemetry/opentelemetry.io/blob/3a276af6349347738d653348e3b754cd2c1121f3/content/en/docs/instrumentation/js/api/tracing.md
- https://github.com/open-telemetry/opentelemetry.io/blob/9ea83542eb0d8da196

[2022-04-05 11:33] chalin opened #1274 "Fix issues in CODEOWNERS as reported by GitHub"
https://github.com/open-telemetry/opentelemetry.io/pull/1272/files:

/cc @austinlparker

[2022-04-05 16:27] chalin opened #1276 "View page source for spec pages derived from README files gives 404"
For example:

- Visit https://opentelemetry.io/docs/reference/specification/metrics/
- Select "View page source"

That'll direct the browser to the following URL, which is clearly wrong (and results in a 404):

- https://github.com/open-telemetry/opentelemetry-specification/tree/main/specification/content/en/docs/reference/specification/metrics/_index.md

[2022-04-05 17:17] chalin opened #1279 "Spec: promote "Attribute Limits" up one heading level"
- Context: in v1.10.0 of the spec, subsections were created under the level-3 heading **Attribute Limits**. Prior to that these were pseudo-sections introduced by a heading formatted as a bolded regular paragraph.
- Consider promoting the section **Attribute Limits** (and its subsections) up one heading level, in https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification

[2022-04-05 17:22] #1273 closed

[2022-04-05 17:22] #1276 closed

[2022-04-05 20:53] chalin opened #1280 "Specification: left-nav contains subsection entries"
Visit https://opentelemetry.io/docs/reference/specification/ on desktop and you'll see the following: the **left-nav** (red box in screenshot below) shows flattened collection of **pages from arbitrary sections**, as you can see from the screenshot below.

What we need to do to fix this is to **ensure that every section has an index (README) page**.

Tasks:

- [x] https://github.com/open-telemetry

[2022-04-06 12:48] chalin commented on #713
- Thanks, I'll fix those in my next PR.
- Glossary links were actually fixed in #924. Closing this issue.
- Related: #922

[2022-04-06 12:48] #713 closed

[2022-04-06 13:02] chalin commented on #713
- See, #1282

[2022-04-07 08:17] svrnm commented on #1201
Based on [the discussion on twitter](https://twitter.com/lizthegrey/status/1511842005520846851?s=20&t=L1rhdYquGUfBKjq7EPULPQ), I'd like to share an idea we discussed internally a while back, that might be beneficial for vendors & the oss community, and make it easier for everybody to collaborate. Let me know if this is part of this issue or if I should open a new one.

# Problem

When `customers`

[2022-04-07 11:42] chalin opened #1284 "JS example: fix "do work" loop"
_Originally posted by @blumamir in https://github.com/open-telemetry/opentelemetry.io/pull/1230#discussion_r838522784_:

Notes:

- There are multiple instances of that code in the page.
- Also see https://github.com/search?q=org%3Aopen-telemetry+%22Math.random%22&type=code

[2022-04-07 11:47] chalin commented on #1284
Note that there are multiple instances of that code in the page.

[2022-04-07 12:22] chalin opened #1285 "Site optimization: look into purge-css"
References:

- https://zwbetz.com/how-to-use-purgecss-with-hugo/
- https://github.com/FullHuman/purgecss

[2022-04-08 14:17] austinlparker commented on #1269
Would it also make sense to add the marketing guidelines (https://github.com/open-telemetry/community/blob/main/marketing-guidelines.md) to the footer as well? They're kinda buried right now.

[2022-04-08 14:25] #1214 closed

[2022-04-08 14:36] austinlparker commented on #1274
I just went through and added each of these teams to the repo directly with write access, although the file is still showing errors. Maybe it takes a bit to refresh?

[2022-04-08 14:53] austinlparker commented on #1269
🙃 the limitations of iconography I suppose

[2022-04-09 13:33] chalin opened #1289 "Host Mission page on website from community repo"
- Current location of the page: https://github.com/open-telemetry/community/blob/main/mission-vision-values.md
- Subtask of #833

Subtasks:
- [x] Add page to this repo
- ~Remove page from https://github.com/open-telemetry/community~
- [x] #1809
- [x] https://github.com/open-telemetry/community/pull/1369
- [x] https://github.com/open-telemetry/community/pull/1370
- [ ] #2381

/cc @austinlparker @bh

[2022-04-10 11:08] horovits opened #1291 "On /status page, need to update expectation statement on header"
**What needs to be changed?**
On opentelemetry.io/status/ page, the header contains a forward looking statement:
"We expect metrics to reach the same status in the second half of 2021 and are targeting logs in 2022."
as Metrics hasn't reached that status in 2021 and we're in Q2 '22, we'd better update the expectation statement.

**What is the name + path of the page that needs changed?**
https://o

[2022-04-16 19:54] cartermp commented on #1201
Hmmm. So I think I actually disagree with this:

In Honeycomb's case, we've consistently had customers and prospects complain that they googled about OpenTelemetry and didn't find what they wanted in the actual OpenTelemetry docs. They did not expect us to be the ones who documented all OpenTelemetry concepts. They expected us to document how you get ensure OpenTelemetry data can be sent to Honeyc

[2022-04-18 13:00] pabagan opened #1302 "Getting started example code does not compile with NodeJS/Typescript"
Hi!
I am beginner with Open Telemetry and was trying to get the code at [Getting Started](https://opentelemetry.io/docs/instrumentation/js/getting-started/nodejs/) to run in a typescript application but getting the following error:
<img width="852" alt="image" src="https://user-images.githubusercontent.com/1871204/163810599-de579558-dd3b-4fad-8744-ab20bf477ddb.png">

[code]

It would be great if t

[2022-04-18 18:26] cartermp commented on #1302
Yeah, probably expected, since metrics are still experimental in the SDK.

I wonder if the example could be simplified a bit to just map the path to the counter with this notion of "binding", which isn't a part of the API anymore as far as I can tell.

[2022-04-18 20:05] #1031 closed

[2022-04-21 18:56] svrnm commented on #1302
Thanks for calling this out, tbh, I never tested that code with typescript.

Actually this reminds me that I wanted to take the code out from the text and make it testable (like python binds the source code from somewhere else)

[2022-04-22 05:18] cartermp opened #1309 "Documenting "enterprise" concerns"
We semi-regularly see enterprise users have scenarios that go far beyond the "getting started" stuff we have documented today, or their version of "getting started" is either more complex or required plugging OTel into a particular workflow.

To that end, it's probably a good idea to collect some things we've seen from enterprise users (or potential users) and see if there's a set of concerns we c

[2022-04-25 14:23] paulius-valiunas opened #1315 "Document Node.js context propagation"
**What needs to be changed?**
Node.js (or just Javascript) documentation should have at least a short introduction to Context Propagation and how it works in the JS API. Practical usage examples would be nice too.

**What is the name + path of the page that needs changed?**
`instrumentation/js/getting-started/nodejs/`

**Additional context**
Examples:
https://opentelemetry.io/docs/instrumentation/

[2022-04-25 18:21] chalin opened #1316 "OT appears ahead of OTel in searches"
@austinlparker posted on Slack, https://cloud-native.slack.com/archives/C02UN96HZH6/p1650296911544559:

It's crazy and confusing to NOT see [@opentelemetry](https://twitter.com/opentelemetry) on the first page of [@Google](https://twitter.com/Google) search for "tracing Go" or Go client for tracing...:crying_cat_face:
[@opentracing](https://twitter.com/opentracing) docs pop up and are nice (deprec

[2022-04-26 15:43] chalin commented on #1316
I'll track the GA/GSC for a little while before closing this.

[2022-04-26 19:46] chalin opened #1320 ".NET has a local Getting-started page and an external reference"
_Originally posted by @chalin in https://github.com/open-telemetry/opentelemetry.io/pull/1319#discussion_r859032031_

- [x] #1364

[2022-04-26 19:52] chalin commented on #1320
@reyang wrote:

So I believe that you're suggesting that the (site-local) **Getting started** page be updated? If so, @cartermp is this something that you have time for?

[2022-04-26 20:00] reyang commented on #1320
Yes. And moving forward we might need some systematic way of keeping these docs up-to-date.

Couple things to consider:
* Do we require language maintainers/approvers to review/approve the change for each language?
* Do we expect the maintainers to keep the content fresh here once they release new versions of packages?
* Do we want to have contents in both places (language repo and here) or it sho

[2022-04-26 21:46] cartermp commented on #1320
Happy to add sections for metrics and logs - it's pretty simple to add - Some additional thoughts:

We don't have a precedent for how to recommend which signal to start with. I believe traces are the best signal to use to diagnose a system, and new users should start there. This is the _de facto_ guidance anyways for the most part, since metrics and logs are not as mature as tracing across all of

[2022-04-26 22:00] reyang commented on #1320
In .NET we started with trace 2 years back, now we've tweaked it by giving people options regarding which signal (logs/metrics/traces) they want to get started with - https://github.com/open-telemetry/opentelemetry-dotnet#getting-started

[2022-04-29 14:36] austinlparker commented on #1320
Some thoughts --

- Re: Approvers, we can add .net maintainers as code owners to the docs path. @chalin or @cartermp?
- In general, I'd prefer OpenTelemetry website docs to be trace-first. .NET is extremely far out in front of the rest of the project in terms of log support and the majority of OpenTelemetry users are coming in for tracing. I would rather not cause frission with end-users asking wh

[2022-04-29 14:44] austinlparker commented on #1316
Added you to the OpenTracing GA, check email.

[2022-04-29 17:31] cartermp commented on #1315
What sort of content would you expect to be here, showing how to use B3 propagation instead of W3C?

I mainly ask because in Go, context propagation isn't on by default and so it needs to be explicitly called out.

[2022-04-30 11:48] paulius-valiunas commented on #1315
well, neither W3C nor B3 propagation is even mentioned there, so documenting either of them would be nice. I've been told the Express.js auto-instrumentation includes some form of context propagation, but even that wasn't mentioned in the Node.js documentation. I'd say anything that would put someone who doesn't use auto-instrumentation (or if auto-instrumentation is not available for the packages

[2022-04-30 14:52] chalin commented on #1316
Thanks @austinlparker. Could you grant me edit access so that I can also view the Google Search Console results?

[2022-04-30 16:30] cartermp opened #1325 "Setting service.name and service.version - recommended way to do it across languages?"
As we know, `service.name` is a required resource attribute and `service.version` is a "this is not required but you should really set this damn thing" resource attribute too.

The two major ways to set these are in code or environment variables. Each has a drawback though:

* If you set it in code, these will get picked up by manual instrumentation. But automatic instrumentation will not pick the

[2022-04-30 16:43] cartermp commented on #1315
In this case of JS (and most languages), context propagation is one by default ([source](https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-sdk-trace-base/src/BasicTracerProvider.ts#L55-L62)) and it's set to W3C because that's the default format chosen for OpenTelemetry. You may be able to find a way to trace without context propagation, but I think you'd have to r

[2022-05-01 04:31] paulius-valiunas commented on #1315
wait, so what does this default do, how do I use it? I mean, someone has to take the trace id from HTTP headers or wherever else it's being sent through and feed it to a propagator.

[2022-05-01 23:34] Grunet opened #1327 "No Mention of the Docker Image Distribution of the Collector Anywhere"
**What needs to be changed?**
There is no way to figure out that a dockerized distribution of the collector exists from the site's documentation.

**What is the name + path of the page that needs changed?**
These 3 pages don't mention it

https://opentelemetry.io/docs/collector/getting-started/
https://opentelemetry.io/docs/collector/configuration/
https://opentelemetry.io/docs/collector/distribut

[2022-05-02 03:55] cartermp commented on #1327
I think something like this (in a pr branch for something else) is required: https://deploy-preview-1326--opentelemetry.netlify.app/docs/instrumentation/net/getting-started/#configure-and-run-a-local-collector

Would be curious what others think?

[2022-05-02 19:37] svrnm commented on #1327
I added it here  https://github.com/open-telemetry/opentelemetry.io/pull/1332 (not pointing to dockerhub but to ghcr.io, can update that)

[2022-05-02 23:32] cartermp commented on #1315
When you instrument either via exclusively automatic instrumentation, or you manually use one of `BasicTracerProvider`/`NodeTracerProvider`/`WebTracerProvider` then context propagation will be on by default (Node and Web both subclass `BasicTracerProvider`). These are the ways we document how to instrument, and what is used in all examples.

Technically, you could write your own TracerProvider tha

[2022-05-03 03:22] Grunet commented on #1327
Yeah personally speaking I like both of those approaches. As long as it's at a minimum mentioned somehow somewhere among the other options.

Also somewhat related but I got bitten by leaving off the version tag (as DockerHub suggested) when trying to get things working (I couldn't get the volume mount to work with that image) which I noticed @svrnm you call out explicitly, which I liked.

[2022-05-03 09:37] paulius-valiunas commented on #1315
correct me if I'm wrong, but if I don't use http auto instrumentation, there's nothing that will pull the trace id out of (or insert into) my http headers, even if I use W3C propagation in my network requests, because the http library is not instrumented by default.

[2022-05-03 09:44] paulius-valiunas commented on #1315
In other words, context propagation will only work if something pulls the trace id (and other fields) out of http requests, and that is only possible by instrumenting Node.js http API, and as far as I know `@opentelemetry/sdk-trace-base` doesn't do that, and neither does `@opentelemetry/sdk-trace-node`. Only `@opentelemetry/instrumentation-http` can do that, which is optional and I might opt not t

[2022-05-04 11:05] leoandrea7 opened #1334 "Update Status Page"
**What needs to be changed?**
Needs to update status description at the top of the page (2021 is passed) and needs to update "Current status" section.

**What is the name + path of the page that needs changed?**
Status | OpenTelemetry
https://opentelemetry.io/status/

[2022-05-04 11:43] MikeGoldsmith commented on #1325
An addition to option 1) would be to ensure SDKs that manually set `service.name` also set the corresponding environment variables so auto instrumentation picks them up.

[2022-05-05 00:54] cartermp commented on #1315
Gotcha, sorry, I think I misunderstood your questions here.

Yes, if you don't have instrumentation for calls across service boundaries, then context cannot propagate across those boundaries automatically. Your only other option to propagate context is to pluck things out of headers yourself.

What the JS SDK does, though, is ensure that between these network calls context is still propagated so t

[2022-05-13 23:13] trask opened #1345 "Update Javaagent instrumentation suppression keys"
A couple of them are changing in upcoming 1.14.0 release, it's worth re-running the script we used to generate the list again after that release in case there has been any other drift.

[2022-05-16 08:46] paulius-valiunas commented on #1315
@cartermp yes, this does sound more like what I'm looking for. Either intentionally not using instrumentation libraries, or when such libraries don't exist for my use case, such as an in-house network protocol using plain (or web-) sockets, or IPC...

To be even more specific, I think extending the `TextMapPropagator` class is what I'm looking for, but I can't figure out where it should be plugged

[2022-05-16 19:02] chalin opened #1349 "Registry language dropdown has empty entries"
The empty entries in the language dropdown menu correspond to:

- `Elixir`
- `Kotlin`
- `Lua`
- `Swift`

For details, see the following screenshots:

<img width="225" alt="image" src="https://user-images.githubusercontent.com/4140793/168663459-b41b2e17-884b-42e0-9f2b-b5dfb9688a9f.png">

/cc @austinlparker

[2022-05-16 19:38] #1349 closed

[2022-05-17 13:56] chalin opened #1355 "Registry: validate language and component-type fields"
The registry allows folks to add languages and component types on the fly. I think that's fine, but we need a way to ensure that this addition doesn't slip by unnoticed by reviewers.

Adding a cross-check against a fixed list/text file might be all we need. For example we could track the output of the following:

[code]

And advantage of doing this outside of the build cycle is that it doesn't slo

[2022-05-17 17:27] cartermp commented on #1201
Another one: https://logz.io/learn/opentelemetry-guide/

[2022-05-17 19:30] chalin opened #1357 "Instrumenting-libraries page says semantic conventions are not stable, which is incorrect"
Visit https://opentelemetry.io/docs/concepts/instrumenting-library/#opentelemetry-api and you'll read (emphasis mine):

But the section to which "not stable yet" links to has been updated from

- [NOT DEFINED: Semantic Conventions Stability](https://github.com/open-telemetry/opentelemetry-specification/blob/0b4daf7cf6c87b9cf10e2bb9fb84c85b0499ead0/specification/versioning-and-stability.md#not-defi

[2022-05-18 16:26] #1345 closed

[2022-05-18 18:27] chalin commented on #1289
@svrnm Thanks for migrating the mission page. Might you be willing to remove the source page from the community repo (see the subtask list above). If you'd prefer that I do it, let me know.

[2022-05-18 19:59] chalin opened #1365 "docs-approvers membership"
@cartermp - we'd like to add you to the [docs-approvers](https://github.com/orgs/open-telemetry/teams/docs-approvers) team, but for that you need to be part of the [open-telemetry](https://github.com/open-telemetry) organization. Can you put in a request for that and let @austinlparker and me know when that is done?

[2022-05-19 03:28] vincentff7 opened #1366 "what is the difference between state and status?"
when naming metric name and attribute name,
what is the difference between **state** and **status**?

in https://opentelemetry.io/docs/reference/specification/metrics/semantic_conventions/system-metrics/:
system.cpu.time, **state**=idle, user, system, interrupt, etc.
system.memory.usage, **state**=used, free, cached, etc.
system.processes.count, **status**=running, sleeping, etc.

[2022-05-19 10:56] svrnm commented on #1366
This content is copied from the spec directly, would you mind opening the same issue at https://github.com/open-telemetry/opentelemetry-specification

[2022-05-19 11:29] cartermp commented on #1365
Registered here: https://github.com/open-telemetry/community/issues/1057

[2022-05-19 12:43] vincentff7 commented on #1366
done, thx!

[2022-05-19 12:43] #1366 closed

[2022-05-19 15:30] chalin opened #1368 "Collector: revisit Deployment and Distribution pages"
PR #1332 introduced a **Deployment** page, which doesn't _really_ talk about deployment (i.e., "how to deploy") but rather _possible_ runtime configurations. Consider renaming the page and/or consolidating it with ** Distributions**. Maybe the latter can be folded into the Collector landing page.

Thoughts @svrnm @cartermp @austinlparker?

[2022-05-19 15:56] pellared opened #1369 "Approvers should not be able to merge a PR"
According to https://github.com/open-telemetry/community/blob/main/community-membership.md#maintainer, as an approver, I should not be able to merge a PR.

[2022-05-19 17:58] chalin commented on #1316
OT no longer appears before OTel pages -- though there are other pages before any OTel website pages show up. I'm going to close this now that the original concern has been addressed.

[2022-05-19 17:58] #1316 closed

[2022-05-19 18:37] chalin opened #1372 "Move redirect rules into front matter of spec pages"
Ideally these lines should be in the front-matter of the page files in question.

_Originally posted by @chalin in https://github.com/open-telemetry/opentelemetry.io/pull/1371#discussion_r877408991_

[2022-05-19 21:21] tigrannajaryan opened #1373 "Update status of Logs OTLP and Logs Data model to stable"
- OTLP Logs are now Stable: https://github.com/open-telemetry/opentelemetry-proto#maturity-level
- Log Data model is also Stable: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/data-model.md

---
Edit(@chalin):

- [x] Update Logs note "The data model is experimental and released as part of the OTLP protocol" - #1379
- [x] Wait for https://github.com/open

[2022-05-20 13:34] chalin commented on #799
- FYI, proposed banner change for metrics RCs: #1376

[2022-05-20 14:04] arminru commented on #1365
I invited @cartermp and added him to the team.

[2022-05-20 14:04] #1365 closed

[2022-05-20 14:12] chalin commented on #1365
Thanks @arminru! (I'm not seeing @cartermp in [the team list](https://github.com/orgs/open-telemetry/teams/docs-approvers/members), but I'll assume that it's because he hasn't accepted the invite yet.)

[2022-05-20 14:14] chalin commented on #799
Closed by #1376

[2022-05-20 14:14] #799 closed

[2022-05-20 15:04] chalin commented on #1373
1. The OTLP-logs status is automatically extracted from the spec (currently at v1.11.0). But even in the spec `@HEAD`, the status is still showing as `beta`, see https://github.com/open-telemetry/opentelemetry-specification/blame/main/specification/protocol/otlp.md#L57:

    So an issue would need to be open over the spec. Would you like for me to create one?

2. Where does the "log data model" st

[2022-05-20 17:09] tigrannajaryan commented on #1373
Created: https://github.com/open-telemetry/opentelemetry-specification/pull/2565

[2022-05-20 17:10] tigrannajaryan commented on #1373
See "The data model is experimental and released as part of the OTLP protocol.":

![image](https://user-images.githubusercontent.com/4194920/169578563-8829a4ab-89bd-4505-97bd-c2c6f463aff8.png)

[2022-05-20 17:41] chalin commented on #1373
@tigrannajaryan - how about if I update that bullet to read the following instead:

[2022-05-20 18:12] chalin opened #1377 "Status page title refers to old banner announcement text"
PR #1376 updated the banner on the homepage from:

- The OpenTelemetry tracing specification is now 1.0!

to

- OpenTelemetry metrics release candidates are now available!

The heading of the [Status page](https://opentelemetry.io/status/) reads:

- Status: OpenTelemetry Tracing Specification now 1.0!

This refers to the old banner text. I see two reasonable approaches to fixing this:

 1. Just dr

[2022-05-20 18:13] chalin commented on #1377
/cc @tedsuo

[2022-05-20 18:13] austinlparker commented on #1377
First is fine

[2022-05-20 18:18] tigrannajaryan commented on #1373
@chalin sounds good, thanks.

[2022-05-22 07:24] cartermp commented on #1368
I think it is fine to keep it as-is for now. These are about deployment models/strategies. I think we can extend the page over time to have specific guides, but for now it is helpful to describe the concepts.

[2022-05-23 10:11] svrnm commented on #1368
+1 for "keeping it as-is for now"

+1 for extending. I thought about this a little bit: this could be an incredible helpful page with a deep dive on this topic. Many people do not see all the potential you have with the collector and  I also have people internally asking question about the collector, how to deploy it beyond the basics, etc.

A potential structure:

* Calling out once again the fle

[2022-05-23 18:14] chalin opened #1384 "Configure site-search results to exclude ads"
From https://cloud-native.slack.com/archives/C02UN96HZH6/p1651833428199339:

Links:

- For the CSE console, see https://cse.google.com/cse/all
- Info: https://developers.google.com/custom-search

[2022-05-23 18:17] chalin commented on #1384
I've created this issue mainly to record the work that was done:

- The original account was created by @austinlparker.
- The account was given a non-profit status, and non-profits can disable ads. Which @austinlparker  did.

Note that @chalin was given admin access to the account.

[2022-05-23 18:18] chalin commented on #1384
Closing, since this has been resolved.

[2022-05-23 18:18] #1384 closed

[2022-05-23 18:22] #1334 closed

[2022-05-23 18:22] #1377 closed

[2022-05-23 18:36] chalin opened #1385 "Mission: use oxford commas"
_Originally posted by @bhs in https://github.com/open-telemetry/community/pull/1056#discussion_r879656362_

[2022-05-23 18:42] cartermp commented on #1385
Oh, I read this as like a "it is our mission, our guiding light, ..."

[2022-05-23 19:29] svrnm commented on #1327
@Grunet: how about now: https://opentelemetry.io/docs/collector/getting-started/#docker?

[2022-05-24 01:43] Grunet commented on #1327
Yeah that seems like a solid starting point to me.

I'd maybe like to see other things (like setting up with Docker compose and how to override the config) but that could probably live elsewhere outside of this Getting Started page.

I think this alone gets at my original root concern well.

[2022-05-26 09:44] sjwarner-bv opened #1393 "Link given in registry when searching for AMQP returns 404"
**What needs to be changed?**
Searching for `amqp` on the registry gives a single result - but this links to a 404.
https://opentelemetry.io/registry/?s=amqp&component=&language=

From what I can see, this file needs the link updated.
https://github.com/aspecto-io/opentelemetry-ext-js/tree/master/packages/instrumentation-amqplib

I've taken a look:
https://github.com/aspecto-io/opentelemetry-ext-j

[2022-05-27 02:03] cartermp opened #1395 "Have a docker compose section in collector getting started"
As per https://github.com/open-telemetry/opentelemetry.io/issues/1327#issuecomment-1135308673

We now have a docker section! But none for docker compose.

[2022-05-27 02:04] cartermp commented on #1327
I'll close this and we can use https://github.com/open-telemetry/opentelemetry.io/issues/1395 to track docker-compose

[2022-05-27 02:04] #1327 closed

[2022-05-27 04:23] cartermp commented on #1291
This can be closed now I think, since the page doesn't have this kind of statement anymore.

[2022-05-27 04:23] #1291 closed

[2022-05-27 14:16] bruno-bert opened #1400 "Node.js metrics API update needed"
This line of code does not work:
requestCount.bind
it raises an error "bind is not a function"

[2022-05-27 17:24] #1393 closed

[2022-05-27 18:49] cartermp commented on #1400
The issue here is that the code sample is using an older metrics API that has since changed in the lead up to the release candidate. We should update that section (and likely others) soon.

[2022-05-28 13:17] Petrie commented on #833
Why is there no golang in the task list. @chalin

[2022-05-28 16:27] cartermp commented on #833
I won't speak for @chalin, but I'd eventually love to get the golang docs in here too. Just haven't gotten around to it, and it hasn't been difficult to update them in the current arrangement. Will bring it up in the next comms SIG. Go and Ruby are the only remaining repos that we submodule docs from.

[2022-05-30 09:51] svrnm opened #1406 "Details on "novel problems" you can handle with observability"
Follow up to #1401. The following sentence in the [observability primer](https://opentelemetry.io/docs/concepts/observability-primer/) requires additional details (emphasis are mine):

My suggestion is to have either a subsection on that page or (my preference) a subpage in concepts on the topic "problems you can solve with observability/OpenTelemetry" (or a more detailed "Why Observability?" "Why

[2022-05-30 10:02] svrnm opened #1407 "Rename / Restructure "OTel concepts""
The page "OTel concepts" contains a lot of valuable material, but from the title it's not clear what it contains and it's also confusing from a reader's perspective that there's a "OTel concepts" navigation item below "Concepts" on the OpenTelemetry page.

I was thinking about renaming it and merging it with "Data Sources", but that's not 100% accurate.

My suggestiond would be to fork out `Tracin

[2022-05-30 13:53] cartermp commented on #1407
I think breaking it up is okay (and better to do this earlier since it's already being linked to within other docs)

I think I prefer the first suggestion, breaking it up into the 4 pages. Signals is a technically correct term that could work too, but I feel like I've only ever heard that in the context of the spec rather than when people talk about what you generate with OTel.

[2022-05-30 17:54] cartermp commented on #1406
That'd be a good idea, yeah.

[2022-05-30 18:46] svrnm commented on #1407
See #1411

Agreed.

I tried both, having 4 additional pages without context / grouping looked not appealing to me, so I went with **Signals**, although I agree with you that it's not used that commonly outside of the spec (it's used in the observability primer and I also updated the glossary to replace "data sources" with signals)

[2022-05-31 16:36] austinlparker commented on #1406
+1 to this, yes.

One thing I'd like for authors to be very circumspect about; Try to avoid 'about observability' verbiage that is overly... vendor-specific. "unknown unknowns" is an example of this.

[2022-06-01 19:44] svrnm opened #1416 "Also support `blog.opentelemetry.io` domain"
Like #976, I type blog.opentelemetry.io all the time instead of going to opentelemetry.io/blog, can we add that redirect?

[2022-06-02 17:57] austinlparker commented on #1369
I'll look into this, thanks.

[2022-06-02 18:24] #1407 closed, assigned to nobody

[2022-06-06 08:36] hari-hara opened #1419 "Configuration"
Hi Support,
Can you please share us the step by step configuration of Open telemetry  configuration of a collector and config files.

Thanks & Regards,
Hari

[2022-06-06 12:00] svrnm commented on #1419
@hari-hara you will find all documentation for OpenTelemetry at https://opentelemetry.io/docs/ — there are instructions for setting up the collector and for the different language SDKs. If any of these documentations does not provide you the help you’re looking for, raise a specific question in an issue so we can triage if this needs to be added to the documentation.

Please note that you’re not i

[2022-06-07 02:50] hari-hara commented on #1419
Hi support,

If we use below command to build open telemetry . What will be the server
url to access the the details of server and client

 git clone ***@***.***:open-telemetry/opentelemetry-collector-contrib.git;
\    cd opentelemetry-collector-contrib/examples/demo; \
docker-compose up -d

On Mon, 6 Jun 2022 at 8:00 PM, Severin Neumann ***@***.***>
wrote:

[2022-06-07 02:54] cartermp commented on #1419
I'm going to close this since as mentioned, this OSS repo is not a support forum.

@hari-hara if you have a specific documentation issue or question about the docs, please feel free to create another issue and we can engage there.

[2022-06-07 02:54] #1419 closed

[2022-06-07 05:42] hari-hara commented on #1419
Hi Severin Neumann,
i want the details document for open Telemetry server setup and  java application agent setup with jaeger.

is there any support group to call and discuss?

Thanks ,
Hari

[2022-06-07 13:23] #1369 closed

[2022-06-07 14:30] #1416 closed

[2022-06-07 17:21] cartermp opened #1425 "What's the best way for Rust developers to get started?"
I was re-learning Rust last evening with aims to figure out how to write a decent Getting Started article. But I realized pretty quickly that there's some decision points to make about such an article, and I'm not equipped to make those decisions:

* What's the best web server framework to center the guide around? E.g., what's "Flask but for Rust"?
* As far as I can tell there's no automatic instr

[2022-06-07 17:28] marcusradell commented on #1425
I think https://github.com/lukemathwalker/tracing-actix-web could be worth exploring.

We are setting up a Rust backend against Honeycomb right now and will open source our progress here: https://github.com/deversify/dev_api/blob/main/src/tracing.rs

When we solved a few kinks, we can document it more if it's of value to the community.

The best guide for me so far has been Luca Palmieri's Zero to

[2022-06-08 14:31] TommyCpp commented on #1425
I don't think there is a most famous/widely used web server framework in Rust. [actix web](https://actix.rs/) and [axum](https://github.com/tokio-rs/axum) maybe two that worthing looking.

We do have integration with actix in https://github.com/OutThereLabs/actix-web-opentelemetry

Personally, I think `tracer.in_span` may be easier. I have seen cases where the span gets dropped immediately because

[2022-06-11 17:49] cartermp opened #1436 "Which JS SDK should be used in manual instrumentation docs?"
The manual instrumentation docs today use `sdk-trace-base`: https://opentelemetry.io/docs/instrumentation/js/instrumentation/

This is helpful insofar as the code here is useful both in Node and in the browser.

However, `sdk-trace-base` doesn't propagate context, and so creating nested spans is kind of awful: https://opentelemetry.io/docs/instrumentation/js/instrumentation/#create-nested-spans

C

[2022-06-13 07:33] pellared opened #1437 "OTLP Exporter Configuration doc issues"
I know it is merged but I have a few more comments

_Originally posted by @pellared in https://github.com/open-telemetry/opentelemetry.io/pull/1432#pullrequestreview-1003891807_

[2022-06-13 20:55] #1437 closed

[2022-06-13 20:57] austinlparker commented on #1436
Let's split them out. I think it'd make sense to actually break node and browser into separate files entirely?

[2022-06-14 00:49] cartermp commented on #1436
So I think that the majority of content can stay the same for both SDKs, including nested spans. Both propagate context (at least within the same process!) and so creating nested spans is easy peasy.

Maybe this can be the layout?

### Initialize tracing
words
#### Node.js
words and code sample
#### Browser
words and code sample
### Create spans
...
etc.

And then maybe a separate doc or section a

[2022-06-14 15:00] cartermp opened #1443 "We should probably clarify the differences between "Context" and SpanContext in language-agnostic docs"
For example, both Go and JS maintain a notion of Context and SpanContext as distinct types in the API. They are not interchangeable. However, the current language-agnostic docs kinda imply that they might be: https://opentelemetry.io/docs/concepts/signals/traces/#context-propagation

[2022-06-15 04:53] odidev opened #1446 "Missing Data Sources Documentation"
Hi Team,

**What needs to be changed?**
I have been exploring regarding Exercising each data source type, trace, metric, log etc.

I followed the opentelemetry [documentation](https://opentelemetry.io/docs/concepts/otel-concepts/#metrics-in-opentelemetry) to explore regarding the same although it looks like the documentation specific to data sources which should be present [here](https://opentelem

[2022-06-15 04:56] cartermp commented on #1446
Hello @odidev, I believe these were the recently-added docs that got moved into a more appropriate subfolder (OpenTelementry uses the term "signal" to refer to what was called "data source"). You should be able to find all the content here: https://opentelemetry.io/docs/concepts/signals/

Does that help?

[2022-06-15 19:39] davaya opened #1447 "Baggage grammar"
https://opentelemetry.io/docs/concepts/signals/baggage/#what-otel-baggage-be-used-for

Not a grammatical section header.  Missing "should"?

[2022-06-16 17:17] austinlparker opened #1448 "Update Blog Instructions"
The blog instructions should be changed to allow creation/editing of a post from within the GitHub UI

[2022-06-16 17:52] austinlparker opened #1449 "End User Discussion Group Website Updates"
- [x] Write blog post
- [x] Add to community page
- [x] Update banner

cc @sharrmander

[2022-06-18 16:10] Santosh1176 commented on #1449
Hey @austinlparker, I would love to be part of this website update.

[2022-06-19 16:30] austinlparker commented on #1449
Cool beans -- this is mostly a tracking issue, Sharr should be able to pop some more detail in about the specifics.

[2022-06-19 17:48] sharrmander commented on #1449
Hi,

I've got the blog post drafted (and the private slack channel created).

I just need to get the first discussion group on the community calendar, then we'll be ready to publish the post.

Draft here: https://docs.google.com/document/d/1OUBGZCOQIzO3yULjn2WA4XVKiQQiRMY3F6UMXJ_0KyU/edit?usp=drivesdk --open to feedback!

[2022-06-19 19:12] Santosh1176 commented on #1449
Hi @sharrmander that’s a nice intro.👍

[2022-06-20 14:58] chalin opened #1458 "OTel Concepts page results in 404"
PR #1401 removed `content/en/docs/concepts/otel-concepts.md`. When pages are removed, we need to provide a redirect. That page is currently the second top 404 for the website (FYI).

What should be the redirect target @cartermp @svrnm?

/cc @austinlparker

Last(ish) link to the page: https://github.com/svrnm/opentelemetry.io/blob/5aaa89e01c9409edab1adf50740c14839d08c6d0/content/en/docs/concepts/ot

[2022-06-20 15:09] chalin commented on #1446
Thanks for reporting the 404 @odidev. The data-sources page was removed via #1411, and it's currently the site's top 404.

As I mentioned elsewhere, let's try to get into the habit of adding a redirect whenever a page is removed. /cc @svrnm

I'll submit a fix shortly.

[2022-06-20 15:36] #1458 closed

[2022-06-20 15:47] chalin opened #1461 "Apache Http Server blog post has layout issues"
For example, code blocks that belong to list entries are mis-indented. E.g., see https://opentelemetry.io/blog/2022/instrument-apache-httpd-server/#how-can-module-level-details-be-beneficial-:

The blog post was created via #1398.

[2022-06-20 20:03] chalin opened #1463 "Avoiding environment variable spec & doc drift"
@cartermp, @austinlparker, @svrnm - Since #1432, we're now in a position where env. variables are described in two places, e.g.:

- https://opentelemetry.io/docs/reference/specification/sdk-environment-variables/#general-sdk-configuration
- https://opentelemetry.io/docs/concepts/sdk-configuration/general-sdk-configuration

Our effort from the start has been to try to keep things [DRY][], to avoid

[2022-06-21 13:29] chalin opened #1467 "Move spec-page front-matter into spec pages"
There is too much custom front-matter magic happening in https://github.com/open-telemetry/opentelemetry.io/blob/615d79f338ab87c6d944077de6dac51ff78a4dfa/scripts/adjust-spec-pages.pl#L28-L45

Probably all script-created front-matter entries other than the title when fetched from a level-1 heading, should be removed from the script and moved into the corresponding spec pages now that #1466 has land

[2022-06-21 14:09] chalin commented on #1447
Closes by #1453

[2022-06-21 14:09] #1447 closed

[2022-06-21 19:50] chalin commented on #1194
We'd also want to get the collector version, I suppose.

[2022-06-21 20:00] chalin commented on #1194
We might even want to tie it into the git-submodule version that is fetched, though that could be handled via a separate PR

[2022-06-28 08:52] niteshsinghal85 opened #1487 "OpenTelemetry Tracing Shim"
The Example given on this page for ASP.NET CORE does not work.
It does not log any trace on console.
https://opentelemetry.io/docs/instrumentation/net/shim/#aspnet-core

[2022-06-28 19:54] chalin commented on #1063
@svrnm - I've noticed that lately you've been running a markdown linter/prettifier and submitting PRs. Thanks for those.

It would be good if we could agree on the same tool. I'd like to suggest [Prettier](https://prettier.io). I'm open to discussing this at the next Comms meeting if you have a strong preference for another tool.

You can run Prettier as follows:

[code]

/cc @cartermp @austinlpar

[2022-06-28 20:15] austinlparker commented on #1063
I'm fine with Prettier

[2022-06-28 21:03] chalin commented on #1114
@enyinna1234 - I'll assume that you're satisfied with @cartermp's response. If not, feel free to reopen this issue.

[2022-06-28 21:03] #1114 closed

[2022-06-29 06:07] svrnm commented on #1063
I'm fine with prettier, I just had setup markdownlint to check MD files automatically for me when I open them up, but I can work with prettier as well!

[2022-06-29 13:54] #1487 closed

[2022-06-29 14:36] chalin opened #1492 "Status page: add link to baggage section"
Followup to #1373:

- [ ] Add link into the spec's baggage section from the Baggage header (as is done for Metrics) once the spec is updated (since the spec's Baggage section has a landing page now).
- [ ] Make similar updates to the other sections (e.g., Logging) if those spec sections have landing pages too.

[2022-06-29 14:38] chalin commented on #1373
Closed by #1464
Optional items moved to #1492

[2022-06-29 14:38] #1373 closed

[2022-06-29 17:06] chalin opened #1495 "Update spec to v1.13.0 or later"
When you update the spec repo, also remember to:

- [ ] Remove the lines in https://github.com/open-telemetry/opentelemetry.io/blob/main/scripts/adjust-spec-pages.pl that are no longer required. For context, see
  - #1467
- [ ] Do the remaining change (subtask) of #1492

[2022-06-30 09:42] issraee opened #1499 "Docs Instrumentation PHP Getting Started"
The example shown in the documentation, what trace data is generated (the source). And how to add a source application that we want to instrument. (for example wordpress : there's no example in the internet for this case).

[2022-06-30 15:18] svrnm commented on #1499
I am not sure if I understand, can you be more specific what you are missing in the documentation?

Are you asking for a wordpress example in the documentation?

[2022-06-30 16:51] #1436 closed

[2022-06-30 18:01] chalin opened #1502 "Collector "build a ..." pages -- update "what next" section"
_Originally posted by @rquedas in https://github.com/open-telemetry/opentelemetry.io/pull/1277#discussion_r911275619_:

[2022-06-30 18:05] chalin commented on #1502
@rquedas, shall I assign this to you?

[2022-06-30 21:30] sharrmander commented on #1449
All of this work is complete now, right?

[2022-06-30 21:31] rquedas commented on #1502
Yup
________________________________
From: Patrice Chalin ***@***.***>
Sent: Thursday, June 30, 2022 1:06:07 PM
To: open-telemetry/opentelemetry.io ***@***.***>
Cc: Renato Quedas (rquedas) ***@***.***>; Mention ***@***.***>
Subject: Re: [open-telemetry/opentelemetry.io] Collector "build a ..." pages -- update "what next" section (Issue #1502)

@rquedas<https://github.com/rquedas>, shall I assign t

[2022-07-01 08:49] issraee commented on #1499
Hello, yes a wordpress example since it hasn't been done yet anywhere.
Also, in the example that you provided I want to know what php application
you're getting trace from, there isn't a name or path of the app that you
instrumented like what's the source of the trace?
Thank you very much.

Le jeu. 30 juin 2022 à 16:18, Severin Neumann ***@***.***> a
écrit :

[2022-07-04 18:36] svrnm commented on #1499
Indeed, there's none, but the otel php community is currently still focused on working towards a stable implementation of otel itself, so I assume that's not a priority right now (cc: @open-telemetry/php-approvers)

the file is called `GettingStarted.php`, it's below the content of that file. Mentioning the filename above would improve readability indeed. Let me look into that.

[2022-07-04 20:23] jpkrohling commented on #1368
Sorry for the silence on this and other related PRs/issues, I've been AFK for a couple of months and have just returned. I'll review what we currently have and provide my feedback here later this week. If I don't, feel free to ping me directly.

[2022-07-05 10:28] issraee commented on #1499
Okay I got it. Thank you for your response and clarification.

Le lun. 4 juil. 2022 à 19:36, Severin Neumann ***@***.***> a
écrit :

[2022-07-05 15:04] svrnm commented on #1063
@chalin -- if we add a `.prettierrc.json` to the project vscode and other editors should be able to pick it up and use prettier (instead of markdownlint in my case). Sounds like a non-invasive first step, wdyt?

[2022-07-05 15:13] chalin opened #1511 "22Q3-Q4 planning and work log"
### Note: some issues listed here are **multi-step tracking issues**. Open the issue to see steps and progress.

☑️ **Done** (selected).

For a **complete list**, see [closed 22Q3-Q4 PRs]

- [x] #1039
- [x] #1574
- [x] #730, now that Ruby docs have been migrated
- [x] #906
  - Will track longer-term subtask separately: https://github.com/open-telemetry/opentelemetry-specification/issues/2558
- [x]

[2022-07-05 18:04] chalin commented on #1266
For the next quarter, see #1511

[2022-07-05 18:04] #1266 closed

[2022-07-05 18:07] chalin opened #1515 "Set up Google Analytics 4"
- [x] Create a GA4 tag (measurement ID) --> G-QZHM7YEG07. For details see comments below
  - **Note**: the UA and GA4 tags are now [connected]
- [x] #1517
- [x] Add config `gtag()` call to GA4 tag by doing either of the following:
  - (Option 1, preferred) **Update: doesn't work** - Switch to using GA4 tag as an argument to `gtag()`, and see if the fact that the UA tag is [connected] back propagat

[2022-07-05 18:25] svrnm opened #1516 "blog.opentelemetry.io gives DNS_PROBE_FINISHED_NXDOMAIN"
Follow-Up to #1416:

[code]

@austinlparker , @chalin

[2022-07-05 18:37] chalin opened #1517 "Google analytics: switch from Netlify injection to Hugo config"
GA is currently enabled via Netlify's snippet injection: https://app.netlify.com/sites/opentelemetry/settings/deploys#snippet-injection.

The **main problem** with this approach is that it injects GA into all pages for all servers, including site previews -- which isn't what we want.

Consider switching over to the Docsy/Hugo support for GA.

- [x] Removed Netlify's GA-injected snippet
- [x] Add t

[2022-07-05 19:03] chalin commented on #1515
Steps:

- Select **Admin** (bottom of left-nav)
- Select **GA4 Setup Assistant**
- Select **I want to create a new Google Analytics 4 property > Get started**

Here is the resulting web-stream measurement ID: G-QZHM7YEG07

[2022-07-05 22:16] chalin commented on #1517
I've temporarily reinstated the snippet, until #1518 is ready, approved and just about to be merged.

[2022-07-06 11:58] chalin opened #1519 "Set up image(s) for social media posts"
As mentioned elsewhere, special measures need to be taken to setup this up because the URLs we publish will need to be supported forever.

- [x] Ensure that all pages have an Open Graph image (`og:image`) explicitly specified - #1514
- [x] Create a better OG image
  - @austinlparker suggests that we use the logo + wordmark instead
  - [x] Create a version of [opentelemetry-stacked-color.png] that

[2022-07-06 12:50] chalin commented on #1517
#1518 has been merged and the GA snippet injection removed.

[2022-07-06 12:50] #1517 closed

[2022-07-06 12:51] chalin commented on #1517
GA scripts are part of page `head`s on the production server, e.g.:

[code]

[2022-07-06 12:53] chalin commented on #1515
I confirm, as of this morning (2022/07/06) that analytics data is appearing in both the UA and GA4 consoles.

[2022-07-06 13:21] #1499 closed

[2022-07-06 13:24] austinlparker commented on #1519
How far do we want to go with this, I wonder? Generating cards based off the page title with a preprocessor? I think it'd be good to have a little design work/thought go into this.

[2022-07-06 14:36] austinlparker commented on #1449
Did you want to add something to https://opentelemetry.io/community/ about it? Otherwise we can close it

[2022-07-06 15:27] chalin commented on #1515
Option 1 isn't working, sadly:

The drop in page views corresponds to about the time when #1523 was merged. I'll revert it now so that we get back to a steady state.

[2022-07-06 17:57] chalin commented on #1515
I confirm that option 2 (#1525) works:

The part of the histogram in the green box shows activity after #1525 was merged.

[2022-07-06 17:57] #1515 closed

[2022-07-06 18:07] chalin opened #1526 "Migrate towards Hugo's native support for Google Analytics"
Hugo has "native" support for GA, see [Google Analytics]. We should switch over to using it.

- [ ] Update our custom scripts, bringing them closer to Hugo's internal templates
- [ ] Upstream a PR with similar changes
- [ ] Switch over to the Hugo version including those changes, if/when they are approved

[Google Analytics]: https://gohugo.io/templates/internal/#google-analytics

[2022-07-06 18:11] svrnm commented on #1289
fixed? https://github.com/open-telemetry/community/pull/1056 @chalin

[2022-07-06 18:12] svrnm commented on #1289
deleted my last comment, it's not fixed per the last comment on the community ticket https://github.com/open-telemetry/community/pull/1056:

[2022-07-06 18:24] cartermp commented on #1395
Yep!

[2022-07-06 18:24] #1395 closed

[2022-07-06 18:33] svrnm opened #1528 "Link/Migrate opentelemetry-collector/docs (partially)"
Like with the language specific projects there's a set of documentation for the collector living at https://github.com/open-telemetry/opentelemetry-collector/tree/main/docs

There's a lot of valuable content for end-users (especially on Troubleshooting, Performance & Security), but so far I only see a link to the [Security](https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/s

[2022-07-07 20:15] svrnm commented on #1368
👍 -- we should do that, maybe group them by page.

I forked the Deployment page out because of the confusion it creates and it also significantly downplays the things you can do with the collector (by chaining them, etc.), so I am all in for redoing it towards a "patterns" page.

That's a good point! If we compare the Getting Started page of the collector with the individual languages, it's a very

[2022-07-08 09:49] aivinog1 opened #1536 "`OpenTelemetrySdkAutoConfiguration` class doesn't exists"
**What needs to be changed?**
Right now [this section](https://opentelemetry.io/docs/instrumentation/java/manual/#auto-configuration) says that I should use the `OpenTelemetrySdkAutoConfiguration` class for autoconfiguration Open Telemetry. But as I can see there is no such class in the `1.15.0-alpha` version. I think, that this class was replaced by `AutoConfiguredOpenTelemetrySdk` so, the docs s

[2022-07-08 10:06] aivinog1 commented on #1536
I guess it happened since this commit: https://github.com/open-telemetry/opentelemetry-java/commit/2fb3d633a0c39b74a645be2931cf51beb7cd24de#diff-946e384e90e9353b5ed9ea9dcf4f7bb69ef6f9c71f2cd0931aa5702fc056be70

[2022-07-08 13:04] svrnm commented on #1536
@aivinog1 would you mind opening a PR to fix that?

[2022-07-08 22:25] cartermp commented on #109
This is basically accomplished for overall maturity, and each language SDK represents this info in its respective place. The statuses get bumped by maintainers as well, so the system seems like it works! I'll close this out

[2022-07-08 22:25] #109 closed

[2022-07-08 22:28] cartermp commented on #237
I'll close this out since it's more or less done in many languages - with respect to exporters, which the original issue was about. The pattern is that each language has an Exporters doc, and there we list console/otlp/jaeger/zipkin/prometheus, all depending on which SDK has which kind of exporter. So it's sort of the inverse. Instead of $EXPORTER page that then lists all the languages, the langua

[2022-07-08 22:28] #237 closed

[2022-07-08 22:33] cartermp commented on #308
I think we've got this more or less covered now with the work here and in recent updates, such as in https://opentelemetry.io/docs/

I think we could probably add more diagrams to help things, but we've got some now and I think we could track the need for topic-specific ones in separate issues.

[2022-07-08 22:33] #308 closed

[2022-07-08 22:35] cartermp commented on #507
This is now resolved with the article being rewritten and pointing to the up to date environment variables: https://opentelemetry.io/docs/instrumentation/java/automatic/agent-config/

[2022-07-08 22:35] #507 closed

[2022-07-08 22:36] cartermp commented on #554
I think we can probably close this out - Go and Ruby are the remaining languages with submodules and we're likely to move those in this repo like the other languages. It's also relatively easy to update the submodule now and shouldn't require any specific person's credentials.

[2022-07-08 22:36] #554 closed

[2022-07-08 22:38] cartermp commented on #565
I'll probably close this out as well, since we've moved most languages to be in-repo and we'd like that to be the case for the remaining ones. It's probably better to just focus on pulling in Go and Ruby than enable this for them.

[2022-07-08 22:38] #565 closed

[2022-07-08 22:44] cartermp commented on #491
The collector page was updated a little while ago to address this topic: https://opentelemetry.io/docs/collector/#when-to-use-a-collector

Additionally, we've started to normalize Getting Started and Exporters pages for all the languages to show how to send to a local collector, but also mention that it's the same as general OTLP export. It's not 100% complete, but it's an established pattern that

[2022-07-08 22:44] #491 closed

[2022-07-08 22:48] cartermp commented on #620
Somewhere along the line Camel got added to the registry! https://opentelemetry.io/registry/?s=camel&component=&language=

I'll close as this is complete.

[2022-07-08 22:48] #620 closed

[2022-07-08 22:50] cartermp commented on #269
This one is indeed complete, yep. All the erlang/elixir docs either say this directly, or only one of the languages when there is something mentioned specific to that language.

[2022-07-08 22:50] #269 closed

[2022-07-08 22:58] cartermp commented on #729
A bit wordy, but I renamed this issue to be a little more clear about the intent. We do offer what you're asking for in language docs today (e.g., the python docs show how to set up a local collector and send data to it), but there's nothing that's purely collector-focused and doesn't involve any other components.

[2022-07-08 23:01] cartermp commented on #154
With the addition of a lot of content recently (under both /concepts and in language docs), we're a lot closer to what's proposed here now I think. I'll leave this open since there's clearly more work to be done, but it's kinda neat seeing that what's live today does represent what's in this issue more closely.

[2022-07-08 23:11] cartermp opened #1538 "Consider having the k8sattributesprocessor in the default configuration for Collector Getting Started with K8s"
This was discussed in https://github.com/open-telemetry/opentelemetry.io/issues/370

Today, we point at a manifest that doesn't have the k8sattributesprocessor. It's a very valuable processor that people are likely to use when in the context of k8s.

Currently, the file we recommend pulling in lives in the upstream collector repo. So if that file were to change, it'd have to include the processor.

[2022-07-08 23:17] cartermp opened #1539 "Consider an explicit subsection on semantic attributes for each language SIG's manual instrumentation page"
JS docs have this here: https://opentelemetry.io/docs/instrumentation/js/instrumentation/#semantic-attributes

This should really be done for each language. Semantic Attributes are awesome and people should use them!

[2022-07-08 23:18] cartermp commented on #370
Probably more to improve, but the collector getting started docs have improved a bit since late last year: https://opentelemetry.io/docs/collector/getting-started/

Some other things mentioned here are also in docs now:

* The spec is pulled into the site itself, so anything spec-related is now searchable in the site
* There are now conceptual docs for common env vars
* There are (thankfully) now

[2022-07-08 23:18] #370 closed

[2022-07-08 23:21] cartermp commented on #847
This is now out of date I think, since we don't use this figure anymore on the site.

[2022-07-08 23:21] #847 closed

[2022-07-08 23:38] cartermp commented on #953
I'll close this out for now since we're, frankly, a very long way away from being able to offer docs and guidance for modern frontend instrumentation. This is something that is being designed as a core capability for OTel, and will likely involve a long period of experimentation as vendors also try to support it as a concept. So I don't think we can really offer anything helpful here until a whole

[2022-07-08 23:38] #953 closed

[2022-07-08 23:50] cartermp commented on #965
This is done now! https://opentelemetry.io/docs/collector/ contains both the current release and the releases page.

[2022-07-08 23:50] #965 closed

[2022-07-08 23:54] cartermp commented on #1032
We now have a language-agnost conceptual doc that explains what span events are here: https://opentelemetry.io/docs/concepts/signals/traces/#span-events

I've been (slowly...) working through instrumentation pages and adding links to this and other concepts. .NET and JS have these links. I'll close this out since the concept is documented, and in time it will also be linked to from all the languag

[2022-07-08 23:54] #1032 closed

[2022-07-09 00:02] cartermp commented on #1229
@chalin it looks like every specific sub-task is complete. Should this issue remain open?

[2022-07-09 00:07] cartermp commented on #1302
THIS WAS THE ONE I knew existed but had forgotten about.

This will be resolved by https://github.com/open-telemetry/opentelemetry.io/pull/1534

https://github.com/open-telemetry/opentelemetry.io/issues/1400 is also a duplicate, but since it's more specific to the issue I'll keep that one open.

[2022-07-09 00:07] #1302 closed

[2022-07-09 00:09] cartermp commented on #1201
I'll close this one out since, thanks to @avillela, much of the vendor content that existed is now pulled in. I think it's far easier to iterate on what's there and we don't have as big of a need to pull stuff in from other sites now.

[2022-07-09 00:09] #1201 closed

[2022-07-09 00:10] cartermp commented on #1039
@chalin should this still stay open? Each specific subtask (sans the `...` one) is marked complete.

[2022-07-09 00:58] jkowall commented on #847
If you want, I can ask Ella (the designer) to update the diagram, I like these. Please let me know.

[2022-07-09 13:29] tidal commented on #1499
No it's not a priority and it likely never will be (just a nice-to-have).
In general we are of course interested in having instrumentations for "everything" in the PHP eco-system, and we are working on making (auto) instrumentations very easy to implement. But again this will likely not include WordPress due to its outdated architecture (not using composer etc.). When time comes, we are planning t

[2022-07-10 11:09] mc-chaos commented on #729
Hi @cartermp ,
we use [telemetrygen](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/cmd/telemetrygen) from opentelemetry collector contrib Repo.
It works for us.
Regards, Sascha

[2022-07-11 04:13] aivinog1 commented on #1536
@svrnm Sure, but it seems that I am late :)

[2022-07-11 20:57] #1536 closed

[2022-07-11 21:08] chalin commented on #1039
@cartermp - I've added a few more items. (We probably won't be able to close this until 23Q1, based on info I've received from elsewhere).

[2022-07-11 21:20] #1400 closed

[2022-07-14 14:00] trivikr opened #1548 "Add summary table of the current status of Traces, Metrics and Logs in languages"
**Desired feature or idea.**

The [OpenTelemetry Status Page][status] currently links to specifications compliance, and requests visitors to check README files of individual repos to check the status.

It would be helpful, if there's a single table which shows latest status across all languages as follows like the one shown in [Introduction to OpenTelemetry](https://www.youtube.com/watch?v=dfpGU9a

[2022-07-14 14:28] trivikr commented on #1548
Created feature requests in individual repos to show Project Status table in top section of README:

* https://github.com/open-telemetry/opentelemetry-java/issues/4611
* https://github.com/open-telemetry/opentelemetry-python/issues/2822
* https://github.com/open-telemetry/opentelemetry-js/issues/3095
* https://github.com/open-telemetry/opentelemetry-ruby/issues/1343
* https://github.com/open-telem

[2022-07-14 14:40] cartermp commented on #1548
Each language page should have this information in a table like so: https://opentelemetry.io/docs/instrumentation/java/#status-and-releases

It appears that not all are in a table though, so that could get updated. Does that help?

[2022-07-14 15:17] trivikr commented on #1548
Yes. That's why I created issues with individual GitHub repos.
I've proposed a standard for table based on existing project status tables.

I usually take GitHub as source of truth, as that lies closest to the source code.

What are the docs pages? Did you mean https://opentelemetry.io/docs/instrumentation/java/ for Java?
If they're updated from source code on GitHub, that would also work if it's

[2022-07-14 22:09] cartermp commented on #1548
Yes, the docs pages are the official docs for each language on the website. While I think it's fine to have repos also track status, I would actually expect most users of opentelemetry to refer to the docs for this kind of information. The language SIG maintainers also do a good job of updating the docs when there's a meaningful status update.

[2022-07-14 22:20] trivikr commented on #1548
Should the status page link to the docs instead of GitHub repo READMEs then?

[2022-07-14 23:35] chalin commented on #1548
Thanks for this @trivikr.

I agree with @cartermp, especially

In that respect, let's avoid adding tables across all of the language repos and instead add them to the appropriate language pages in this repo. /cc @austinlparker

[2022-07-17 17:19] svrnm commented on #1539
💯

Should we also have a "Semantic Conventions" page under "Concepts"?

[2022-07-17 17:21] svrnm commented on #1538
You mean https://raw.githubusercontent.com/open-telemetry/opentelemetry-collector/main/examples/k8s/otel-config.yaml ?

That issue should then be raised with the collector repo?

[2022-07-18 20:13] chalin opened #1553 "Use standard Hugo/Docsy templates for analytics"
- [x] Use only standard Hugo/Docsy templates for analytics, configured for use of the GA4 site tag only - #1554
- [x] Under the GA4 site tag settings, connect (back) to the UA tag

Notes:

- This will implement phases 1 to 3 of the [CNCF Google Analytics 4 migration process](https://github.com/cncf/techdocs/blob/main/docs/analytics.md#migrating-to-google-analytics-4).
- Supersedes and closes #1526

[2022-07-18 21:16] chalin commented on #1553
About 10 minutes after the deployment (to the production server) of #1554, data is still being received by both the GA4 and UA site tags. Closing.

[2022-07-18 21:16] #1553 closed

[2022-07-19 21:31] TylerHelmuth commented on #1538
The reason it isn't included by default in that example, and why it isn't included by default in the [collector helm chart](https://github.com/open-telemetry/opentelemetry-helm-charts/tree/main/charts/opentelemetry-collector), is that it requires [extra permissions](https://pkg.go.dev/github.com/open-telemetry/opentelemetry-collector-contrib/processor/k8sattributesprocessor#hdr-RBAC).  Requiring e

[2022-07-20 17:04] mx-psi opened #1555 "Add OpenTelemetry Collector Builder docs"
**Desired feature or idea.**

Per https://github.com/open-telemetry/opentelemetry-collector-releases/pull/164, the OpenTelemetry Collector Contrib maintainers want to promote usage of the [OpenTelemetry Collector Builder](https://github.com/open-telemetry/opentelemetry-collector/tree/main/cmd/builder#opentelemetry-collector-builder) so that people build their own distribution with only the compone

[2022-07-20 17:53] cartermp commented on #1555
@mx-psi awesome! We do have some docs on this here I believe, but I imagine it could be updated: https://opentelemetry.io/docs/collector/custom-collector/

But moreover, this sounds like more a _guidance_ issue than anything else. We could definitely have that documented. I'd propose that something also be added to the Getting Started pages here: https://opentelemetry.io/docs/collector/getting-sta

[2022-07-20 18:36] TylerHelmuth commented on #1538
Sure, the processor's documentation has a good RBAC section to help users.  Should be able to link to that.

[2022-07-21 16:34] jchoffmann opened #1556 "Add Metrics section to .NET Manual Instrumentation documentation"
The [.NET Manual Instrumentation](https://opentelemetry.io/docs/instrumentation/net/manual/) documentation only contains information about tracing. A section for manually collecting metrics (and different types of metrics) would be very helpful.

[2022-07-24 23:46] melbgirl opened #1560 "Deployment - consolidate into Data Collection page"
Some of the content here is already in https://opentelemetry.io/docs/concepts/data-collection/ - which makes sense. I'd suggest moving the rest of the content into that page and then removing this one.
This makes it easier to understand when reading the documentation, as the user doesn't need to flip between two pages.

[2022-07-27 22:41] cartermp opened #1567 "Jaeger now supports OTLP directly - how should we document it for the SDKs?"
SDKs have all built Jaeger exporters because historically, Jaeger has not supported OTLP. But now they're not technically necessary: https://medium.com/jaegertracing/introducing-native-support-for-opentelemetry-in-jaeger-eb661be8183c

Given this, I think it's best to migrate our jaeger exporter documentation sections. I'd actually rather just get rid of the current pieces of docs that tell you how

[2022-07-28 10:43] iomari opened #1569 "json output"
Greetings,
I'm running the following command:
[code]
How can I get my console metric output to like:
[code]

instead of like this:

{"resource_metrics": [{"resource": {"attributes": {"telemetry.sdk.language": "python", "telemetry.sdk.name": "opentelemetry", "telemetry.sdk.version": "1.12.0rc2", "service.name": "inspired", "telemetry.auto.version": "0.32b0"}, "schema_url": ""}, "scope_metrics": [{"

[2022-07-28 18:16] cartermp opened #1570 "Status page - make it a hub for language SDKs, spec, collector, etc."
This was discussed in the 7/28/22 SIG meeting.

Today, the status page is actually the _specification_ status page. However, whenever we talk to end-users, this is not the primary thing that comes to mind when they want to know the "status" of something. Most of the time, they actually want to know if a given signal (e.g., metrics) is stable/alpha/beta in the language that they need to use. Spec a

[2022-07-28 18:43] melbgirl commented on #1570
I can take this one, I have some time later this week. Can someone point me to any exiting style elements (eg cards) ?

[2022-07-28 18:59] chalin commented on #1570
Thanks @melbgirl - note that there's some preparatory work to be done first (see the meeting notes) for a proposed "update plan".

[2022-07-28 19:00] cartermp commented on #1570
Also FWIW the iconography is at least all standard and usable: https://github.com/open-telemetry/opentelemetry.io/tree/main/iconography/512x512

[2022-07-28 20:01] chalin commented on #1570
Oops, sorry Libby, I was rushing to my next meeting and didn't realize that `@melbgirl` was your ID! So of course you know about the proposed update plan 🤷‍♂️.

[2022-07-29 04:18] TylerHelmuth commented on #1570
For the collector, are customers asking for the status of the collector as a whole or individual components within the collector (otlpexporter, hostmetricsreceiver, etc)? I have encountered both on the slack channel.

[2022-07-29 08:12] rahuldimri commented on #793
@chalin Do we still need to update above document? if yes can I work on this ?

[2022-07-29 15:08] cartermp commented on #1570
@TylerHelmuth That's a good question. I've personally only fielded questions about the collector as a whole, and why some components aren't a part of the contrib distribution. Not necessarily about if a given component is stable. But I imagine that will come up sooner than later.

I think that in docs, we could probably do two things:

1. State the status of the collector itself
2. Make mention th

[2022-07-29 15:15] TylerHelmuth commented on #1570
Makes sense.  The collector SIG has established [Stability Levels](https://github.com/open-telemetry/opentelemetry-collector#stability-levels) for components and is [working towards getting all component READMEs updated](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/10116) with that status (and more).  There has also been updates to allow components to print out their st

[2022-07-29 15:24] chalin opened #1573 "Add Collector status to the collector page"
This issue is a part of:

- #1574

For prior and relevant discussion see, https://github.com/open-telemetry/opentelemetry.io/issues/1570#issuecomment-1199491412, and https://github.com/open-telemetry/opentelemetry.io/issues/1570#issuecomment-1199506433 in which @TylerHelmuth wrote:

[2022-07-29 15:26] chalin opened #1574 "Status page rework 22Q3"
Status page rework tasks from 2022/07/28 Comms/website meeting:

- [x] #1573
- [x] Move spec status into another page - #1606
- [x] #1570
- [x] Update individual language SDK status sections, using the Python page as a model

Related:

- Previous Status page rework tracking issue: #925

[2022-07-29 15:28] chalin commented on #1570
FYI: keeping this issue for the status-page-as-hub feature, I've created #1574 to track all of the Status page rework that was agreed to during the Comms/Website meeting.

[2022-07-29 15:29] chalin commented on #1570
@TylerHelmuth et all: FYI, here's the collector-specific issue:

- #1573

[2022-07-29 16:49] chalin commented on #1573
@TylerHelmuth and @open-telemetry/collector-maintainers: where can I find the collector's status (as a whole)? /cc @cartermp

[2022-07-29 16:52] chalin commented on #925
I'm going to close this since we're enter a new "phase" of rework for the status page, which we'll track via #1574.
/cc @tedsuo

[2022-07-29 16:52] #925 closed

[2022-07-29 17:42] chalin commented on #793
Oh, this was fixed by

- #1239

Thanks for the ping.

[2022-07-29 17:42] #793 closed

[2022-07-29 19:52] cartermp commented on #934
#1571 should have this resolved, so closing!

[2022-07-29 19:52] #934 closed

[2022-07-30 16:46] #1443 closed

[2022-07-31 15:21] cartermp commented on #1569
@iomari could you specify your steps to reproduce this behavior?

[2022-08-01 07:57] pilhuhn opened #1578 "Python getting started mentions modifying code, but it stays as is"
**What needs to be changed?**

https://opentelemetry.io/docs/instrumentation/python/getting-started/#modify-the-code-to-export-spans-and-metrics-via-otlp says "[...]  replace the console exporter with an OTLP exporter:" but the code example below it is the same as above. Either some change is missing or the block should be eliminated.

**What is the name + path of the page that needs changed?**

h

[2022-08-01 12:52] ppatierno opened #1582 "Adding attributes to the SDK set up in the Java manual instrumentation"
**What needs to be changed?**
The SDK set up in the Java manual instrumentation page is missing to mention attributes to be set to get it working, like for example the service name which is the main one (as it is mentioned in the corresponding agent documentation https://opentelemetry.io/docs/instrumentation/java/automatic/#configuring-the-agent).
We would need to change the code snippet and the t

[2022-08-01 12:52] ppatierno commented on #1582
@mateuszrzeszutek you could assign this one to me as well :-)

[2022-08-01 14:39] cartermp commented on #1582
@ppatierno happy to review a PR!

[2022-08-01 18:09] chalin commented on #1519
@austinlparker - after making some minimal updates, I merged #1514. I agree that the "featured" image isn't the best choice as an Open Graph (social media) image. Can you see if someone on your team might have a better OG image to propose?

/cc @cartemp @svrnm

[2022-08-01 18:28] ppatierno commented on #1582
@cartermp here the PR #1584!

[2022-08-01 21:34] austinlparker commented on #1519
Honestly I think just the logo (with word mark) is the best option for now.

[2022-08-02 07:03] rahuldimri commented on #1252
@geff10 @austinlparker can I work on this, updating the note section ?

[2022-08-02 10:48] pilhuhn opened #1586 "Python exporters docs omit the default traces/metrics access path"
**What needs to be changed?**

https://opentelemetry.io/docs/instrumentation/python/exporters/#trace-1 mentions for exporting traces the OTLPSpanExporter with its endpoint, but does not mention that the user has to supply the `/v1/traces` path if the endpoint is passed in code.
Same applies to the env variable `OTEL_EXPORTER_OTLP_TRACES_ENDPOINT`
If the endpoint is passed via Env variable `OTEL_EX

[2022-08-02 12:01] austinlparker commented on #1252
Go for it

[2022-08-02 12:20] rahuldimri commented on #1252
@austinlparker thank you very much !!. Could you please assign this to me.

[2022-08-02 14:09] #1578 closed

[2022-08-02 14:46] cartermp commented on #1586
Great catch!

[2022-08-02 14:53] cartermp commented on #1586
Hmmm, actually, this is always kind of confusing since the main thing shown here is gRPC.

My understanding is that this is not necessary for gRPC. I do not believe that `/v1/traces` or `/v1/metrics` are required for gRPC export.

There's a separate subsection that talks about using HTTP. Here is where the info would most likely need to go.

[2022-08-02 23:23] cartermp commented on #1519
Agreed, logo with word mark seems gouda me

[2022-08-03 12:28] arbiv opened #1596 "Workshop code in python is outdated"
**What happened?**
The workshop code in python is outdated. See [student](https://glitch.com/edit/#!/opentelemetry-python-student) and [instructor](https://glitch.com/edit/#!/opentelemetry-python-instructor) copies.

Workshop page is at [main/content/en/docs/workshop/resources.md](https://github.com/open-telemetry/opentelemetry.io/blob/main/content/en/docs/workshop/resources.md)

[2022-08-03 12:35] arbiv commented on #1596
I created an updated version [under my GitHub account](https://github.com/arbiv/opentelemetry-workshop-python), but I am not sure how to update the glitch project. I clicked the "request to join" button but got no feedback.

Maybe we should create a repo in open-telemetry org for this purpose?

@austinlparker what do you think?

[2022-08-03 15:46] chalin commented on #1519
@austinlparker @cartermp @melbgirl - could y'all get a designer to create an logo+w/m image with the proper ratio -- 1.91:1? I'm assuming that we'll be using the following image as a base: https://github.com/open-telemetry/opentelemetry.io/blob/68935931c9b7d7471d33d16a92b553e256a6e834/static/img/logos/opentelemetry-stacked-color.png

/cc @jkowall @Ella-bz

[2022-08-03 16:37] melbgirl commented on #1570
@chalin and @cartermp: I was thinking to use images as the 'boxes' in the design, rather than using an HTML table. What are your thoughts?

[2022-08-03 16:40] melbgirl commented on #1519
@chalin happy to help, but I don't have access to a designer. If there's one in our community could you point me to them?

[2022-08-03 18:32] cartermp commented on #1570
I'd defer to @chalin on if that fits the overall technical goals for the repo, but I'm quite fine with that as an approach.

[2022-08-03 19:03] chalin commented on #1519
Thanks @melbgirl but, just to be clear, I'm already working on this issue (#1588), which needs care in the way it is setup: the strategy that I've used on other sites (base image URL + image version as a parameter), is difficult to implement currently under Hugo so I'm exploring an alternative. If you know of a solution that works under Hugo, I'm glad to learn about it.

My request was **specifica

[2022-08-03 19:30] chalin commented on #1519
Never mind y'all, I remembered that I can easily do such simple transformations using ImageMagick!

[2022-08-03 20:49] chalin commented on #1519
@austinlparker et all: the PR is ready for review:

- #1588

[2022-08-03 21:03] #640 closed

[2022-08-04 08:17] rahuldimri commented on #1252
@austinlparker do you want me to update the note section or we need to define the steps for the windows users?

[2022-08-04 11:06] #1586 closed

[2022-08-04 11:07] #1582 closed

[2022-08-05 06:34] rahuldimri commented on #1071
@chalin Can we add above URLs in the document section ?

[2022-08-06 01:45] truekonrads opened #1599 "Traces"
The sample span in [this documentation page ](https://opentelemetry.io/docs/concepts/signals/traces/#spans-in-opentelemetry) does not include neither "Trace Flags" nor "Trace State". This needs either a better example span or the documentation needs adjusting.

[2022-08-06 04:10] truekonrads opened #1600 "Baggage"
The [documentation on Baggage](https://opentelemetry.io/docs/concepts/signals/baggage/) provides examples of "non-sensitive data that you’re okay with potentially exposing to third parties", such as:

- Account Identification;
- User Ids;
- Product Ids;and
- origin IPs,
Under GDPR regulation, the user information is likely to be considered as personal information and should _not_ be shared with th

[2022-08-06 15:18] chalin commented on #1570
We'll want a flex design that caters to viewing on mobile as well as desktop -- so not a table. As a first cut for the page design, I'd vote to use plain text (rather than images) either as a simple link or a button-role (rather than a card). That is, IMHO, we should aim to get a functional page first with the proper flex design (for mobile and desktop), then beautify it later. (But if you want to

[2022-08-06 17:46] chalin commented on #1071
Thanks for the ping @rahuldimri. I had something in mind already, see #1603.

[2022-08-07 01:41] cartermp commented on #1600
Hmm, I'm not so sure. My rough reading online is that a user ID made up of non-PII is not necessarily considered PII.

What would you recommend, given the context that Baggage is information that _could_ be exposed to third-parties since it sits in HTTP headers?

[2022-08-08 03:15] trask commented on #1229
@chalin I think this can be closed

[2022-08-08 09:24] svrnm commented on #1600
I would assume that is rarely the case? Might be true if one uses "roles as user" like "admin" or something, but with GDPR even a pseudonym or a pseudonymization (hashing) is problematic quickly. I had a great paper on that topic a few months back, let me see if I can find it

Independent of that discussion, I would agree with @truekonrads that providing some examples that are non-potential-PII mi

[2022-08-08 09:25] svrnm commented on #1599
@truekonrads can you provide a sample span that includes the missing details?

[2022-08-08 09:58] svrnm commented on #1567
+1, I like that idea!

[2022-08-08 12:59] cartermp commented on #1600
This is one example I was referring to: https://developers.google.com/analytics/solutions/crm-integration#user_id

[2022-08-08 16:14] svrnm commented on #1600
Thanks for sharing! Coming from GDPR-land and having my share of customer conversations on that topic, I might be overthinking that: "non obfuscated alphanumeric database identifiers" or "encrypted identifier that is based on PII" are both pseudonymised datat that can _become_ PII data when combined with other data (e.g. a data breach of the database holding those identifiers), so I personally pre

[2022-08-08 22:22] #1071 closed

[2022-08-08 22:23] #1573 closed

[2022-08-09 00:06] #1519 closed

[2022-08-09 03:29] truekonrads commented on #1600
I wanted to also chip in that logging session IDs raw is not a good idea (hashed could be a suitable). Whoever views the logs can set the session ID in a cookie and work as the user. In no way an advert for the product, but [Google Cloud DLP transformations ](https://cloud.google.com/architecture/de-identification-re-identification-pii-using-cloud-dlp#cloud_dlp_data_transformations)which does data

[2022-08-09 10:43] svrnm commented on #1600
Baggage is not the only place affected by this kind of "please handle with care" situation and it's not the right place to answer all those questions.

In the spec we have a [call out for identity attributes](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/span-general.md#general-identity-attributes):

So, here's my proposal:

* have

[2022-08-09 15:13] cartermp commented on #1600
I think it's also important that examples of this kind of information are specifically called out (like they are today) in the baggage doc because they sit in HTTP headers rather than the body, making them eminently more "sniffable". Words and examples can change of course, but I want to preserve that dynamic in this doc specifically since it's a unique dynamic compared to attaching similar fields

[2022-08-11 03:12] akalittle opened #1610 "Kubernetes yaml file is not correct"
In the [getting-started page ](https://opentelemetry.io/docs/collector/getting-started/)

**Kubernetes**
Deploys an agent as a daemonset and a single gateway instance.
[code]
In the yaml file, the image version is
`otel/opentelemetry-collector:0.58.0`

But in the docker hub registry, there is no image `opentelemetry-collector:0.58.0`

[2022-08-11 11:42] Arhell opened #1612 "Accessibility add link name"
**What happened?**
![Screenshot_2](https://user-images.githubusercontent.com/26163841/184125626-d808dc3d-84c4-4b61-9018-bc5375477821.png)

**What did you expect would happen?**
no errors in accessibility app

/assign

[2022-08-11 12:02] truekonrads commented on #1600
@svrnm I'll give it a try

[2022-08-11 17:06] cartermp commented on #1610
This sounds like it's just a point-in-time problem where the release was cut but images weren't uploaded to dockerhub yet: https://github.com/open-telemetry/opentelemetry-collector/pull/5891

I don't know if there's anything we should do in the docs. @bogdandrutu will the dockerhub push be imminent?

[2022-08-11 18:05] eulisesquidel opened #1616 "open telemetry can't ingest dynatrace from aws lambda function with AWS Distro for OpenTelemetry"
We use AWS Distro for OpenTelemetry

arn:aws:lambda:us-east-1:901920570463:layer:aws-otel-nodejs-amd64-ver-1-5-0:1

We did a basic aws lamda function in nodejs:

const axios = require('axios');
const url = 'http://checkip.amazonaws.com/';

exports.handler = async (event) => {
    let response
    console.log('[START] - OpenTelemetry / Dynatrace');
    try {
        response = await axios({

[2022-08-11 18:24] #1612 closed

[2022-08-11 20:03] svrnm commented on #1616
hey @eulisesquidel, this here is the project for the opentelemetry website, if you need vendor specific help, you can either reach out to dynatrace or aws via their support channels or you can try to get some help at CNCF slack at the #otel-vendor channel: https://cloud-native.slack.com/archives/C031SAMGV2A

[2022-08-11 20:50] chalin commented on #1026
Reopening: to request that we either add a custom `.gitpod.yml` file or add that file to `.gitignore`

[2022-08-11 21:26] cartermp commented on #1026
I'd personally be in favor of adding it just so that we can specialize what the init experience is (for example, spawn a second shell for git operations but keep the first process for running `npm run serve` so you can see your changes live as you edit things).

But this isn't a particularly strong opinion.

[2022-08-12 01:53] akalittle commented on #1610
Yep. It's not a big problem. After I viewed the dockerhub, I changed the version to the latest.
It‘s just a feedback.

[2022-08-13 13:35] #1610 closed

[2022-08-15 18:14] chalin commented on #1229
@trask - are you saying that all of the files left in https://github.com/open-telemetry/opentelemetry-java-instrumentation/tree/main/docs should not be moved here?

[2022-08-15 19:38] #1616 closed

[2022-08-16 13:18] ppatierno opened #1620 "Improve the Java SDK auto-configuration section in the documentation"
Regarding the SDK auto-configuration I would improve this section in the doc https://opentelemetry.io/docs/instrumentation/java/manual/#auto-configuration.
It's just a few lines linking to the repository [README](https://github.com/open-telemetry/opentelemetry-java/tree/main/sdk-extensions/autoconfigure) file but I would at least adding the main environment variables (or system properties) you hav

[2022-08-16 17:59] svrnm commented on #1599
@truekonrads, I am still not 100% sure what the issue is, can you provide an example?

[2022-08-17 19:44] musingvirtual commented on #1026
As someone who uses GitPod because I don't do dev work in my current role so I don't have a highly customized local environment, strongly seconding this request that we consider git ignore.

I have to delete these files literally every single time I make even the most minor change which may be 3-5 times during the process of trying to land a single pull request for site copy etc.  If I do not do i

[2022-08-17 20:48] chalin opened #1626 "Set the analytics ID in Netlify config"
To avoid issues like those reported by:

- https://github.com/kubernetes/website/issues/36011

We should implement the solution proposed in https://github.com/kubernetes/website/issues/36011#issuecomment-1217887591.

- [x] Manually set `HUGO_SERVICES_GOOGLEANALYTICS_ID` to the GA4 ID in the Netlify config
- [ ] Remove the GA ID from the project config - #1628

[2022-08-17 21:01] chalin opened #1627 "Netlify config: are we still using `GH_TOKEN`?"
Question sent to @austinlparker on stack. Adding the question here for tracking purposes.

See also:

- https://github.com/open-telemetry/opentelemetry.io/pull/2351#discussion_r1109051192

[2022-08-17 21:38] chalin commented on #1626
/cc @nate-double-u ☝️

[2022-08-17 21:49] chalin commented on #1026
Thanks for your contributions @musingvirtual and sorry for the point of friction here. We're doing our best to balance priorities: as you can imagine, there's lots to do. I'll get a minimal config file ready soon.

[2022-08-17 21:52] chalin commented on #1026
Interesting idea, but I'm unsure that I'd want to do that automatically. Anyhow, here's a barebones config:

- #1629

[2022-08-17 21:53] #1626 closed

[2022-08-17 22:00] chalin commented on #1026
@cartermp - I'll let you decide if this issue gets closed now that #1629 has been merged.

[2022-08-17 22:14] cartermp commented on #1026
Let's close it! We'll see how it goes and change stuff as needed over time.

[2022-08-17 22:14] #1026 closed

[2022-08-18 14:09] cartermp opened #1630 "Document how to test that you're instrumenting traces correctly"
Something I've seen come up a few times is: "How do I unit test that I'm adding the right attributes to a span?"

You can't test this with the tracing API because it doesn't give you access to this data. But you _can_ depend on the "SDK trace API" in a language to get access to a read/write span.

This should probably be documented with an example in all the languages with stable tracing:

- [ ] J

[2022-08-18 17:10] cartermp commented on #1630
Some specific things that would be covered:

* How to establish a test harness with an in-memory exporter
* Which packages to pull in to do this testing
* Example of a simple bit of code that does a thing with otel tracing
* Example of a test that tests that function that does the tracing

[2022-08-18 17:36] Cull-Methi commented on #1630
@cartermp and I have been discussing this on the pollinators slack - I'm happy to write up some docs for Go if someone would be kind enough to point me to where they should live :)

[2022-08-18 19:04] svrnm opened #1632 "Should we "codify" some guidelines for the blog?"
Since we have some influx of blog posts right now, I recognize that there are some repeating patterns on things we ask people to change. And, as someone who assisted to create and created a blog post himself, it would be great to have some guidance on what to do and what to avoid. So, I am wondering if we should codify some guidelines for the blog? And if so, where should it live?

A few points I

[2022-08-18 19:06] svrnm commented on #1630
Put it in a subpage of https://opentelemetry.io/docs/instrumentation/go/, we can then still decide to move it somewhere else.

[2022-08-19 11:48] chalin commented on #1063
Sounds good. FYI, there is prettier config already in https://github.com/open-telemetry/opentelemetry.io/blob/25f41e27fc07e62c7e692a7f107e137b49e5eac4/package.json#L52-L54

Is that good enough -- i.e., do tools pick that up? If not, I can factor it out.

Btw, we'll have to be careful with the use of Prettier. It doesn't do a great job with Hugo template syntax. So I'd like to continue experimentin

[2022-08-19 14:56] chalin opened #1634 "Netlify build: select a newer build image"
Netlify build logs now contain the following notice:

[2022-08-19 15:00] chalin commented on #1634
Build image changed to: Ubuntu Focal 20.04 (default).

[2022-08-19 15:00] #1634 closed

[2022-08-19 15:02] #712 closed

[2022-08-19 15:20] chalin commented on #1634
No build errors reported.

[2022-08-19 15:42] chalin opened #1635 "Add tooling in support of auto-update of code excerpts in docs"
@svrnm - I remember you mentioning this somewhere, but I can't find the reference. Anyhow, I'm creating this issue to track progress on this work. /cc @cartermp

At the start of the year I introduced a simple verbatim code-copy shortcode, but what I have in mind would be more flexible.

- [x] #3948
- [ ] Replace Dart-based tooling with JS/Node-based versions
  - [ ] Investigate JS-based tooling fe

[2022-08-19 15:48] chalin opened #1636 "Address GDPR compliance requirements"

[2022-08-19 20:48] Arhell opened #1637 "Accessibility html invalid list"
https://opentelemetry.io/registry/
![Screenshot_2](https://user-images.githubusercontent.com/26163841/185659672-3a3c8e25-8584-4d43-9c86-f20a977073e3.png)

[2022-08-20 14:30] jack-berg opened #1639 "Repost exponential histogram blog post"
I recently wrote / published a blog post about otel exponential histograms on [New Relic's blog](https://newrelic.com/blog/best-practices/opentelemetry-histograms).

Its only got 1 or 2 vendor specific references that are easy to remove, after which its just a good run down of an awesome new open telemetry feature. I think it would be a good addition to the opentelemetry blog, but before I go thro

[2022-08-21 13:12] svrnm commented on #1635
we discussed that on slack and/or the comms call a few months back, but I can't find it either.

Curious to see & discuss what you have in mind

[2022-08-22 17:09] Arhell opened #1643 "add & update favicons"
**Desired feature or idea.**
https://realfavicongenerator.net/favicon_checker?protocol=https&site=opentelemetry.io%2F#.YwO4EnbP23A

**Additional context**
add icons for all devices

[2022-08-22 17:26] Arhell commented on #1643
/assign

[2022-08-22 17:51] svrnm commented on #1639
I would love seeing this published on the otel blog 👍

[2022-08-22 19:01] chalin opened #1647 "Tooling: add image compression"
_Originally posted by @mic-max in https://github.com/open-telemetry/opentelemetry.io/issues/869#issuecomment-965749094_

Making this part of the PR checks would be cool.
One way to implement it would be something like:
1. The PR either modifies or creates a PNG
2. Run a compression program on all the modified and created PNGs
3. If all the compressed images have the same file sizes in the PR, succ

[2022-08-22 19:16] chalin commented on #1511
As of 2022/08/21, here are the [infrastructure tasks] (high & medium priority) in order of decreasing priority (from @svrnm via [#otel-comms Slack discussion], +1 by @cartermp):

1. GDPR
1. Policies for redirects for deleted pages
1. Check For External Links
1. Section Parameters
1. Markdown Checks
1. Tooling for code excerpts

I'll update the **Top/next to do** ordered list in the opening comment

[2022-08-22 21:00] mic-max commented on #1647
There is a GitHub app called ImgBot that does this that I recently discovered

[2022-08-23 00:43] chalin commented on #1636
@svrnm @cartermp - how about something like this as a starting point?

I'm linking to the [Linux Foundation Cookie policy], which covers the websites of all its projects.

/cc @caniszczyk

[Linux Foundation Cookie policy]: https://www.linuxfoundation.org/cookies/

[2022-08-23 12:39] chalin commented on #1636
I'll reply to https://github.com/open-telemetry/opentelemetry.io/pull/1653#issuecomment-1223879691 here.

If I understand correctly, you (@svrnm) would be ok with the following:

- Assume opt-in, like [cncf.io] does
- Support do-not-track for GA and OTel
- Have the dialog be non-modal and a bit more discrete, like [cncf.io]

Is that right?

[cncf.io]: https://cncf.io

[2022-08-23 12:52] svrnm commented on #1636
cncf.io neither provides an Opt-In, nor an Opt-Out, it implicitly sets the cookies and only provides an "Accept" button to acknowledge the cookies & tracking. Per my understanding, the following is required:

* Do not set (non-functional) cookies or enable any tracking without the consent of the user (which is equivalent to the user clicking on decline)
* There needs to be an "accept" and a "decli

[2022-08-23 18:07] svrnm commented on #1569
@iomari, I am closing this issue now, please re-open it with the requested info. Thanks

[2022-08-23 18:07] #1569 closed

[2022-08-23 18:11] svrnm commented on #1567
Tagged this with help wanted. Languages that mention jaeger still need to be updated:

- [x] [JavaScript](https://opentelemetry.io/docs/instrumentation/js/exporters/)
- [ ] [.NET](https://opentelemetry.io/docs/instrumentation/net/exporters/)
- [ ] [Go](https://opentelemetry.io/docs/instrumentation/go/exporting_data/)
- [ ] [Python](https://opentelemetry.io/docs/instrumentation/python/exporters/)

[2022-08-24 08:28] svrnm opened #1657 "Add link to meeting recordings to community page"
Add a link to https://opentelemetry.io/community/ that points to the recordings of the OpenTelemetry SIG meetings: https://www.youtube.com/channel/UCHZDBZTIfdy94xMjMKz-_MA

[2022-08-24 10:34] Petrie commented on #1567
I'll try  update the part of Go. @svrnm

[2022-08-24 12:45] ppatierno commented on #1620
@svrnm yes, I will open a PR for what I think could be enough

[2022-08-24 12:55] svrnm commented on #1620
thank you @ppatierno !

[2022-08-24 12:57] svrnm commented on #1567
Thank you @Petrie!

[2022-08-24 13:22] Petrie commented on #1567
@svrnm Ah! I mean Golang, not .NET

[2022-08-24 14:17] svrnm commented on #1567
Thanks, that was just my mistake putting you in the wrong line!

[2022-08-24 18:09] chalin opened #1660 "Blog posts order differs in side-nav vs list"
Visit https://opentelemetry.io/blog/:

I'll have to investigate: this might be a Docsy bug, or it might be due to local overrides.

[2022-08-24 18:35] chalin commented on #1660
I can reproduce the problem from a fresh Docsy site, so it's either a Docsy issue or a Hugo issue (or both) :). I'll track this from the Docsy repo:

- https://github.com/google/docsy/issues/1197

[2022-08-25 00:07] #1639 closed

[2022-08-25 03:44] trask opened #1661 "Is it OpenTelemetry Java Agent or OpenTelemetry Javaagent?"
"Java Agent" is the established term in the Java community, but I have seen many people outside of the Java community confused by this, b/c when they see "Agent", they think of out-of-process "Agent" (i.e. OpenTelemetry Collector/Agent). [btw, this confusion was [mentioned way back in the very first OTEP](https://github.com/open-telemetry/oteps/blob/main/text/0001-telemetry-without-manual-instrume

[2022-08-25 06:47] svrnm commented on #1661
I remember that we had that discussion with another PR a few months back as well.

While it makes things much longer (and harder to read?) what about calling it "Java Auto Instrumentation Agent"?

Independent of what we use as a term, it might be got to have an explicit statement on that potential confusion in the documentation.

[2022-08-25 10:09] Arhell opened #1666 "docs navigation on hover bug"
**What happened?**

https://opentelemetry.io/docs/
![Screenshot_1](https://user-images.githubusercontent.com/26163841/186637553-09dd1f67-6510-414b-bc12-a315184a797b.png)

**What did you expect would happen?**

or should it turn completely or not

[2022-08-25 10:37] chalin commented on #1666
No, that works as intended. The UX offers feedback on the hover, which is independent (and distinct from) of the "open" or "closed" state of a nav non-leaf section.

I'm going to mark this as won't-fix and close it for now. If you feel strongly about this, that it's a misdesigned UX feature, then please open an issue over the Docsy repo: https://github.com/google/docsy.

[2022-08-25 10:37] #1666 closed

[2022-08-25 14:05] ppatierno opened #1668 "Write blog post about instrumenting Kafka applications"
Hey team, a week ago I have got merged a PR about adding some more information on how to instrument Kafka clients. At the beginning, it was too much content and discussing on that PR it sounded to be a good idea to make it a blog post. As maintainer of the Strimzi project (Kafka on Kubernetes) I was going to write it on our blog but then I thought that, maybe, the OpenTelemetry blog could be the b

[2022-08-25 14:09] svrnm commented on #1668
Hey,
the title suggest that it belongs here:-) For my understanding can you share the link to the merged PR you have mentioned?

[2022-08-25 17:12] chalin commented on #1636
FYI, @caniszczyk confirmed on 08/24 that we have a thumbs-up to go with the cncf.io approach for now. So I'll codify that as a first step and we can take it from there.

[2022-08-26 00:57] trask commented on #1661
do you know if this works for other languages? (e.g. .NET Auto Instrumentation Agent)

if so that's definitely a nice +

[2022-08-26 01:08] cartermp commented on #1661
Heh, to make matters more confusing, .NET autoinstrumentation is explicit _not_ an agent, but a set of runtime diagnostics hook...

[2022-08-26 08:24] ppatierno commented on #1668
@svrnm can I assume that your "love" on my previous comment means something like "please go ahead we are happy to have you writing this blog post" ? 😉

[2022-08-26 08:38] svrnm commented on #1661
If you come from the APM world, yes, that works. Same for auto instrumentation for any other language. Reading through [OTEP-1](https://github.com/open-telemetry/oteps/blob/main/text/0001-telemetry-without-manual-instrumentation.md#motivation) I see that this already has some mentioning of that topic:

APM vendors have called their way of auto instrumenting an application independent of the underl

[2022-08-26 08:41] svrnm commented on #1668
@ppatierno yes!!:-)

[2022-08-26 09:04] chalin commented on #1661
How about "Java-agent"?

Why? Well, an ambiguity in "OpenTelemetry Java Agent" IMHO, is that the reader might not know how to parse this. To use parentheses to disambiguate, the two options are ((OpenTelemetry Java) Agent) and (OpenTelemetry (Java Agent)). The way we usually handle that in English is to use a hyphen. So "Java-agent" would make sense to me, and it's more readable than Javaagent --

[2022-08-26 13:52] #1637 closed

[2022-08-26 14:27] uday060 commented on #1657
I would like to take this task and do it. Should I add this link under "Learn and Connect" or "Develop and Contribute"?

Any description to add next to the link?

[2022-08-27 17:12] ppatierno commented on #1668
@svrnm quick question ... if I have to add some images, do I have to follow the structure of the exponential-histograms or instrument-ngix? So a folder with `index.md` and then images inside?

[2022-08-27 17:22] svrnm commented on #1668
index.md  and images in one folder would be great. We still need to update the blog instructions asking people to do it that way

[2022-08-27 21:10] akasprzok commented on #1630
I wrote a rough draft of I think what this issue is asking for in https://temporaryhack.com/blog/opentelemetry-testing, for elixir.

Happy to take some feedback on it, polish it, and submit it -- if it's what y'all are looking for.

[2022-08-29 08:36] svrnm commented on #1630
Can you put it as a (draft) PR here? makes the review easier for us.

[2022-08-29 08:39] svrnm commented on #1657
thanks @uday060, put it below "Learn & Connect" with something like "Watch our meeting recordings on Youtube"

[2022-08-29 11:12] ppatierno commented on #1668
@svrnm I just opened the corresponding PR. I plan to review it one more time but anyway would be great your feedback soon.

[2022-08-29 12:40] uday060 commented on #1657
@svrnm Any Icon I need to select to keep before the description?

[2022-08-29 13:33] svrnm commented on #1657
@uday060 there's class="fab fa-youtube"

[2022-08-29 14:10] uday060 commented on #1657
@svrnm Thank you for all your inputs, created the PR https://github.com/open-telemetry/opentelemetry.io/pull/1681

[2022-08-29 17:15] svrnm commented on #1661
@trask what do you think about java-agent like @chalin suggested?

[2022-08-29 20:16] akasprzok commented on #1630
Done, submitted rough draft [here](https://github.com/open-telemetry/opentelemetry.io/pull/1682)

[2022-08-30 01:18] #1448 closed

[2022-08-30 14:02] uday060 commented on #1660
@chalin I am able to see in the same order when I visited the page now.

[2022-08-30 18:17] svrnm commented on #392
looks like this never got implemented & the issue is stuck. I like those additional icons very much, @jkowall, @Ella-bz: if the SVGs of those still exist, I would be happy to put them in https://github.com/open-telemetry/opentelemetry.io/tree/main/iconography/512x512 & use them accordingly through out the docs.

[2022-08-30 18:27] svrnm commented on #663
it looks like the whole issue comes down to images being located in `iconography`.

@chalin, @cartermp: could we just move those images to static/ or any other folder that will be published or are we going to break things?

[2022-08-30 18:35] #865 closed

[2022-08-30 18:36] #814 closed

[2022-08-30 18:42] svrnm commented on #1059
Looks like this issue & #392 are related.

[2022-08-30 18:45] svrnm commented on #1121
While I agree with this, I don't see a way to get this fix besides going through all pages and double check if those terms are used properly (if I crawl for "Tracing" I get matches for "OpenTracing" and there is some places where "Tracing" might be the right term, same for Logs & Logging)

Looks like something we have to fix gradually, so I tag this with "help wanted" and "good first issue" hoping

[2022-08-30 19:07] svrnm opened #1686 "Replace "sample of the type of information ... present in a Span" image with a text"
At the top of section [Spans within Observability Primer](https://opentelemetry.io/docs/concepts/observability-primer/#spans) we use the following image to show a sample of a span:

![](https://opentelemetry.io/img/span_visualization.png)

I think this picture has a few issues:

1. it is hard to read & for someone with a screenreader it is entirely inaccessible.
2. it looks like a vendor specific

[2022-08-31 10:04] svrnm opened #1689 "Add a section in Components about "agents" & what to use instead of "agent"?"
This is a follow-up to @trask's question (#1661):

Sub-projects like [opentelemetry-java-instrumentation](https://github.com/open-telemetry/opentelemetry-java-instrumentation), [opentelemetry-dotnet-instrumentation](https://github.com/open-telemetry/opentelemetry-dotnet-instrumentation) & [python's opentelemetry-distro](https://github.com/open-telemetry/opentelemetry-python-contrib/tree/main/opent

[2022-09-01 12:53] #392 closed

[2022-09-01 13:15] svrnm opened #1693 "Link to Iconography"
We link to the "Otel_iconography.zip" at the bottom of the page, when you click on that link you're redirected to the "fiel view of github" and still need to click on Download. A quick fix would be replacing it with a link to the download, but long term we should either have a page for it showing all the icons or at least have the zip included in the published website to accomplish #663

Related:

[2022-09-01 13:19] svrnm commented on #1657
fixed via #1681

[2022-09-01 13:19] #1657 closed

[2022-09-01 13:26] svrnm commented on #1539
Here are all the languages that have a section on attributes, that then could be enriched with semantic attributes:
- [ ] [.NET](https://opentelemetry.io/docs/instrumentation/net/manual/#add-tags-to-an-activity)
- [x] [Go](https://opentelemetry.io/docs/instrumentation/go/manual/#span-attributes)
- [x] [Java](https://opentelemetry.io/docs/instrumentation/java/manual/#span-attributes)
- [x] [JavaScr

[2022-09-01 13:29] svrnm commented on #1252
@rahuldimri are you still up for this?

[2022-09-01 16:45] svrnm opened #1694 "Add icons for php, rust & swift"
Until #680 is fixed, we should nevertheless bring the missing icons we know have (PHP, Rust, Swift) to the descriptions of the languages:

https://opentelemetry.io/docs/instrumentation/

[2022-09-01 16:46] uday060 commented on #1693
@svrnm I can fix this bug by converting the current hyperlink to a downloadable hyperlink

[2022-09-01 16:53] svrnm opened #1695 "Collector Getting Started Rewrite"
Copying this from https://github.com/open-telemetry/opentelemetry.io/issues/1368#issuecomment-1178157486:

- [ ] The "Getting Started" starts by requiring people to read two other pages. One of them refers them back to the Getting Started page. I would prefer to have the getting started as the first thing users might read, making a brief explanation on what the collector is and how it fits the big

[2022-09-01 16:58] svrnm opened #1696 "Collector "Deployment" Rewrite"
Copying from https://github.com/open-telemetry/opentelemetry.io/issues/1368#issuecomment-1134478826

A potential structure:

* Calling out once again the flexibility of the collector and linking back to some basic pages (collector concepts, OTLP, ...).
* Maybe some "basics"/"theory" on deployment (collectors can be chained, there can be LBs and other things between you and the collector, using ope

[2022-09-01 17:01] svrnm opened #1697 "Collector "Configuration" page issues"
- [ ] The config under the Configuration page, Exporters section, is a bit odd. For instance, the prometheus exporter specifies prometheus:8889 as the endpoint. As it refers to the same host, I would use either localhost or 0.0.0.0. Similarly, external URLs are following different patterns: "jaeger-all-in-one", "some.url", "example.com", "localhost". I would suggest having them all follow a patter

[2022-09-01 17:03] svrnm opened #1698 "Other collector pages issues"
via https://github.com/open-telemetry/opentelemetry.io/issues/1368#issuecomment-1178157486

- [ ] Perhaps the Distributions page should be joined with the "Build a custom collector". It should also say a few words about vendor-specific distributions.

- [ ]  The "building a custom collector" page needs some love. The main use case isn't to allow people to run a code within their favorite Go IDE, a

[2022-09-01 17:04] svrnm commented on #1368
@jpkrohling I think all those todos are great, I bubbled them up to be their own issues so we can close this one and have them visibile.

[2022-09-01 17:07] svrnm opened #1699 "APM definition in the glossary is bad"
The [glossary](https://opentelemetry.io/docs/concepts/glossary/) states that APM is "typically a back-end of the Tracing Data Source". This makes people think that APM is *only* doing traces and not metrics, logs or anything else, which is incorrect. Would be good to have a better description.

[2022-09-01 17:11] svrnm opened #1700 "Revisit "Data Collection" page"
The [Data Collection](https://opentelemetry.io/docs/concepts/data-collection/) page is a duplication from the Collector pages, including some content we want to get rid of.

Do we should get rid of it or transition it into something more general about "Data Collection" (whatever that might mean)?

[2022-09-01 17:18] svrnm commented on #1059
Will be fixed via #1694

[2022-09-01 17:18] #1059 closed

[2022-09-01 17:27] uday060 commented on #1694
@svrnm  How to find out the rawgithub user content image hyperlinks for php, Rust and Swift?

[2022-09-01 17:27] melbgirl commented on #1570
How do we think the page transformation is going? Are there other things we'd like to see, or can we consider this item complete?

[2022-09-01 17:32] svrnm commented on #1694
https://github.com/open-telemetry/opentelemetry.io/blob/main/iconography/32x32/Rust.svg
https://github.com/open-telemetry/opentelemetry.io/blob/main/iconography/32x32/PHP.svg
https://github.com/open-telemetry/opentelemetry.io/blob/main/iconography/32x32/Swift.svg

[2022-09-01 18:42] svrnm opened #1701 "How do we document & promote non-collector & non-language projects?"
We have a few projects within OTel that are currently not having a proper place within our docs (maybe mentioned somewhere put not as highlighted as the languages & collector):

* K8s operator + helm charts
* Lambda
* Demo
* OpAMP
* sql commenter
* flowmill / ebpf
* "middleware" instrumentation like Apache & Nginx within CPP Contrib

Let's have a case-by-case discussion if/how/when we want to have

[2022-09-01 18:54] uday060 commented on #1694
@svrnm Here is the PR with the fix https://github.com/open-telemetry/opentelemetry.io/pull/1702/files

[2022-09-01 22:46] cartermp commented on #1701
Great question. Tough one too. I could see the k8s operator being something we document and promote here, especially since it's vendor-neutral. But serverless platforms, despite being prevalent, aren't vendor-neutral and so I'd have to think about how I feel about that.

I guess my initial feelings about what should be documented here:

* K8s operator + helm charts ✅
* Lambda
* Demo ✅
* OpAMP ✅
*

[2022-09-01 22:47] cartermp commented on #1570
I'm happy with how it's looking right now. Always ways to improve, but it's got all the necessary information on it today. Let's close this out and if there's more enhancements people want to do, we can just create PRs and/or issues. Thanks, @melbgirl!

[2022-09-01 22:47] #1570 closed

[2022-09-01 22:50] cartermp commented on #1700
I think we should consider rewriting it, since it's an important conceptual topic. But I wouldn't really know what to say about it right now. I don't think it's actively harmful to have it there right now, though.

[2022-09-02 06:12] svrnm commented on #1701
Yeah, the items on the list are not equal in the way how/if we should promote them.

I also had the feeling that K8s operator, demo & opamp deserve a prominent place. *Those are the one we should focus on*

Lambda: yes, I also don't know what a good approach is, maybe have a "serverless" section somewhere, that has all of them (including some of the content we had on knative?)

For sql commenter w

[2022-09-02 21:05] #1121 closed

[2022-09-05 08:37] svrnm commented on #1596
following up on this.

@austinlparker: do we want to keep those resources (presentation, glitch) updated/maintained? Is opentelemetry.io the right place to discuss or does this belong to open-telemetry/community?

cc @cartermp , @chalin

[2022-09-05 11:45] dansl1982 opened #1709 "Add read from secret to oauth2client extension"
**Desired feature or idea.**

If I'm not mistaken, currently, there is no way to read client_id and client_secret from the k8s secret file in the oauth2client extension configuration. As I see, there are two options,
 1. To set `clinet_id` and `client_secret` explicitly.
 2. Environment variables https://opentelemetry.io/docs/collector/configuration/#configuration-environment-variables

example:
`

[2022-09-05 11:50] svrnm commented on #1709
@dansl1982 from the issue description it's not clear to me if this is a documentation issue (which belongs here) or an issue with the extension (which you should raise here: https://github.com/open-telemetry/opentelemetry-collector-contrib)

[2022-09-05 13:40] dansl1982 commented on #1709
@svrnm
issue/improvements for the extension, I opened a new request using the link you sent. Thanks!

[2022-09-05 13:40] #1709 closed

[2022-09-05 15:32] svrnm opened #1711 "/docs/ is not linked from the homepage and hard to find"
The [index](https://opentelemetry.io/docs/) of the "docs" section is only accessible via the following link:

![Screen Shot 2022-09-05 at 17 25 54](https://user-images.githubusercontent.com/1519757/188481578-95c79266-e726-48a9-bc79-fdd7f90d7136.png)

The "Learn More" on opentelemetry.io/ links to the Concepts page.

I looked for this page a few times already myself until I found it. Here's a few s

[2022-09-05 17:52] cartermp commented on #1596
I would be in favor of dropping these assets in favor of the community demo.

[2022-09-05 18:39] cartermp commented on #1539
Only .NET remains! Unfortunately, there's more to do before we can add docs for it: https://github.com/open-telemetry/opentelemetry-dotnet/pull/2069

[2022-09-06 10:18] shijiadong2022 commented on #1699
Is there a preferred APM description if I'd like to make my first contribution?

[2022-09-06 12:15] svrnm commented on #1699
So my minimal requirement is dropping that statement "typically a back-end of the Tracing Data Source", because APM is not only the backend and as said does more than tracing. The definition should capture that APM is about monitoring software applications, their performance (speed, reliability, availability, etc.) to detect issues, alerting and tooling for finding the root cause

[2022-09-06 17:04] Arhell opened #1719 "add indent to list (ui)"
**Desired feature or idea.**
What would you like to see happen?
https://opentelemetry.io/registry/
![Screenshot_2](https://user-images.githubusercontent.com/26163841/188693729-a1e51f8e-70af-406f-9b9a-8edb8aa365db.png)

**Additional context**
Anything else you can think about that would be helpful.

need to add some padding for the right side, the content is too close to the edge of the screen

[2022-09-06 17:32] cartermp commented on #1719
I'd be in favor of indenting this somehow, yeah. Or maybe even just moving it to be next to the next/description. I agree that it's nearly running off the page and that's not very nice visually.

[2022-09-07 17:17] cartermp opened #1722 "JS Docs: consolidate /api/tracing and /instrumentation"
We have some duplicated content in /api/tracing and /instrumentation. The latter is the most up to date, and the former was donated to this repository a while ago.

Both have a lot of views: https://play.honeycomb.io/opentelemetry-web/datasets/opentelemetry.io/result/fGMfroiQT5Z?useStackedGraphs

I propose that we migrate stuff from /api/tracing that's not in /instrumentation over to /instrumentat

[2022-09-08 15:31] marcalff opened #1726 "[meta] Define labels for each SIG language"
Please create github labels per SIG, for example "sig:cpp", "sig:java", etc,
and tag issues accordingly,
so that "we" (maintainers of opentelemetry-cpp) can find all the issues related to the cpp documentation at once.

The suggestion is on purpose to not use the "lang:" namespace, to preserve it for translations later ("lang:en", "lang:fr", etc)

[2022-09-08 15:40] svrnm commented on #1726
I think that's a good idea, @cartermp let's discuss this later today in the comms meeting.

[2022-09-08 16:14] cartermp commented on #1168
@austinlparker is otel tuesday still happening?

[2022-09-08 16:15] cartermp commented on #1548
I think we can close this now that the status page has been revamped to point to each relevant page in docs.

[2022-09-08 16:15] #1548 closed

[2022-09-08 17:45] melbgirl commented on #1711
I may be not understanding what you mean by index. There's the Docs link in the menu bar, which takes you to the above page.

[2022-09-08 17:57] melbgirl opened #1728 "Update repo Readme to be explicit about how to get involved"
Including things like how to find good first issues, join discussions etc.

[2022-09-08 18:08] svrnm commented on #1726
We are going to do that!

I will create

sig:cpp
sig:dotnet
sig:erlang
sig:go
sig:java
sig:javascript
sig:php
sig:python
sig:ruby
sig:rust
sig:swift
sig:collector

and then we can grow from there if we need more.

[2022-09-08 18:11] #1726 closed

[2022-09-08 18:12] svrnm commented on #1694
fixed via #1702

[2022-09-08 18:12] #1694 closed

[2022-09-08 18:13] #1668 closed

[2022-09-08 18:13] svrnm commented on #1668
closed via 1677

[2022-09-08 18:27] svrnm commented on #1728
As said on the meeting, for me the README.md should focus around how people can get involved, so we can also move out certain segments into own or existing documents.

[2022-09-08 18:44] svrnm opened #1729 "End User Discussion Group should not live out of a blog"
Since these are regular we should give them a place outside of the blog, https://opentelemetry.io/blog/2022/new-end-user-resources/#monthly-discussion-group, maybe under [Community](https://opentelemetry.io/community/) or have a End User space on top on its own?

[2022-09-08 20:19] reese-lee commented on #1729
Big plus one!! I don't have a clear idea yet of what this should look like, but agree that it would be great to have a space like this.

[2022-09-08 22:42] musingvirtual commented on #1729
Enthusiastic second from me! It would also be great to have a place that we can update easily when we have topics and whatever rather than doing blog posts.

[2022-09-09 08:49] svrnm commented on #1729
@musingvirtual , @reese-lee : see my PR (#1730)

I guess that _could_ be doable via CODEOWNERS, let's do this as a second step.

[2022-09-09 09:54] svrnm commented on #1711
Yes, I know, but I always find it hard to find, but maybe it's just me having that problem ;-)

[2022-09-10 15:52] cartermp commented on #896
Now that we have the community demo, I'd be in favor of retiring all of this and making the page just be about that. Maybe some of the slides can get re-used but they're also only in Go, which does not represent the majority of usage of OTel for end-users.

[2022-09-11 08:37] Arhell opened #1737 "content goes outside the container"
**What happened?**
https://opentelemetry.io/registry/
![Screenshot_2](https://user-images.githubusercontent.com/26163841/189518840-86d8e00b-bec4-446c-bbfc-0cc99718020b.png)

/assign

[2022-09-11 15:02] cartermp commented on #1737
@Arhell if you're up for a contribution I'm happy to review!

[2022-09-12 15:12] #1737 closed

[2022-09-14 05:16] cartermp commented on #1630
Thanks @akasprzok - your doc is live!

[2022-09-14 07:28] svrnm commented on #1630
@cartermp: can we copy some of the content from elixir/erlang over to the other languages or is it too specific?

[2022-09-14 10:39] svrnm commented on #1711
it's probably just me ;-)

[2022-09-14 10:39] #1711 closed

[2022-09-14 14:07] cartermp commented on #1630
The content can probably be copied over easily and tweaked as needed, but the code samples will be different since setting up a test harness can vary so wildly from language to language.

[2022-09-14 14:33] cartermp opened #1746 "Sketch out how metrics should be documented for each language SIG"
In the last maintainer's meeting, we discussed the looming lack-of-metrics problem. Several SIG maintainers said that they won't consider metrics as fully released until there's docs. Yay! But they'd like some help.

The ask was that we come up with the general framework by which they can contribute some code. For example:

* Should there be metrics in getting started for each language? If so, whe

[2022-09-14 15:20] svrnm commented on #1746
I would like seeing traces & metrics (and later logs and other potential signals) being combined in one "getting started", starting with traces for sure, but then going on with metrics is the natural flow and also shows that we think as them belonging together.

I think some of the SIGs are working on automatic things, so we can do it again like with traces: here is what you get automatically, her

[2022-09-14 16:19] akasprzok commented on #1630
Thank you all for making my first contribution such a fantastic experience!

[2022-09-14 18:07] r0fls opened #1748 "[ENHANCEMENT] Getting started docs are hard to follow"
**What needs to be changed?**
The getting started docs should require minimal reading and comprehension. The estimated reading time is 5-10 minutes for this document https://opentelemetry.io/docs/instrumentation/go/getting-started/

Likely longer, if you care to look up each term here that you're unfamiliar with (imagine reading this for the first time, never having heard of tracing). These would

[2022-09-14 18:15] cartermp commented on #1748
Here is where I make my shame public for not following up on some of the latest comments here: https://github.com/open-telemetry/opentelemetry-go/pull/2895

It gets things to be a lot closer to what you're talking about here.

That said, configuring opentelemetry "correctly" does involve quite a bit of code, and so while it is copy-pasteable, it is not particularly easy. There is a need to explain

[2022-09-14 18:19] svrnm commented on #1748
+1 to what @cartermp said.

To add a generic comment: I think we all agree that the opentelemetry documentation requires some love to be more userfriendly now that lots of things are stable and many SIGs are also looking into means to make things easier (especially through auto instrumentation). So, to make a long story short: we eagerly require people to help us to make those docs better step by

[2022-09-15 07:26] svrnm opened #1750 "Update announcement banner to point to gc election announcement"
Mental note, after the [OpenTelemetry End User Discussion Group](https://opentelemetry.io/blog/2022/new-end-user-resources/#monthly-discussion-group) today (10am PDT), and when the [blog post](https://github.com/open-telemetry/opentelemetry.io/pull/1749) is live we replace the announcement banner on opentelemetry.io with a link to the blog.

cc: @cartermp

[2022-09-15 10:11] svrnm commented on #1689
@martinjt have a look here :-)

[2022-09-15 10:58] Arhell opened #1751 "registry block add container"
**Desired feature or idea.**

I would like to add a container or section like the block above, so that it would be more convenient for everyone to use this block
![Screenshot_1](https://user-images.githubusercontent.com/26163841/190387043-d7fede81-ccee-4e4a-b8db-f468dbf800de.png)

[2022-09-15 11:34] jpkrohling opened #1752 "Move blog post on the GC from Medium"
Given that the mentioned blog post might also get referenced in future elections, we might want to move it to our current blog platform.

_Originally posted by @svrnm in https://github.com/open-telemetry/opentelemetry.io/pull/1749#discussion_r971617231_

[2022-09-15 18:56] #1752 closed

[2022-09-16 07:00] #1751 closed

[2022-09-16 14:32] rahuldimri commented on #1699
Can I work on the updating the document ?

[2022-09-16 14:58] #1750 closed

[2022-09-16 15:00] cartermp commented on #1699
@rahuldimri sure thing! Let me assign you, and we can review a pull request you send our way.

[2022-09-17 15:12] cartermp commented on #1567
re-opening due to github automation closing it

[2022-09-17 22:46] melbgirl commented on #1729
+1 from me for a space for the WG

[2022-09-17 23:50] cartermp commented on #1746
(follow python example for each language: https://opentelemetry.io/docs/instrumentation/python/getting-started/)

# Getting started
words
## Installation
install everything you need / set up an environment for it if the language calls for it
## Create sample http server
No instrumentation; just an http server that does a dice roll
## Add automatic instrumentation / Add instrumentation libraries
(t

[2022-09-17 23:59] cartermp commented on #1746
(In manual instrumentation article)

# Manual instrumentation

words

## Tracing

...all the tracing stuff that's mostly documented now

## Metrics

words

### Initialization
Show how to correctly initialize metrics for manual instrumentation. Some things to consider:

* How to do it the "most correct" way
* resource attributes? which ones?
* should metrics get initialized differently based on if

[2022-09-19 09:05] svrnm commented on #1746
ok... that's much more than metrics 😆  but I like it... can you put that maybe in 2 markdown files (maybe in archetypes or some "temp" place), so that commenting is a little bit easier?

[2022-09-19 14:31] cartermp commented on #1699
Closin', thanks @rahuldimri!

[2022-09-19 14:31] #1699 closed

[2022-09-20 06:46] svrnm opened #1768 "document the concept relations between OTEL and common backends, and how those backends are visualizing OTEL data"
Via [this comment](https://github.com/open-telemetry/opentelemetry.io/pull/1767#discussion_r974848710) from @legendecas

[2022-09-20 07:38] Gaurang-Patel commented on #1686
I would like to work on this issue and will submit a draft pr for more inputs.

[2022-09-20 08:27] svrnm commented on #1686
thanks @Gaurang-Patel , assigned it to you!

[2022-09-20 08:36] svrnm opened #1769 "Should we have typscript alongside javascript examples?"
@open-telemetry/docs-approvers , @open-telemetry/javascript-approvers:

The Elixir/Erlang docs uses Tabs to provide examples in Erlang&Elixir side-by-side ([see here](https://opentelemetry.io/docs/instrumentation/erlang/instrumentation/)), I was wondering if we want to do the same for JavaScript & TypeScript?

This could be a nice set of **good first issues** / **help wanted** we can put out there

[2022-09-20 14:34] cartermp commented on #1769
How affected by ESM support would these samples be? I know that I tried standardizing on ESM for the JS examples because vscode will suggest converting `require` into `import` declarations. But for some reason I couldn't get instrumentation to load properly.

[2022-09-20 14:56] dyladan commented on #1769
I strongly support this. Typescript is what OTel itself is written in and for many early adopters it is the default choice for JS runtimes.

Not at all. ESM support is orthogonal to typescript support. Typescript support in OTel JS is very good.

autoinstrumentation does not support esm due to limitations in the nodejs module loader mechanism. those are being worked through but we're basically wai

[2022-09-20 15:06] cartermp commented on #1769
Awesome, that sounds fantastic. 100% in favor of adding typescript in then, and furthermore, I'd even love it if it was the default tab.

[2022-09-20 16:19] legendecas commented on #1769
This can be awesome! I believe TS as the default tab would be favorable as it can provide clearer type annotations on certain code snippets.

Regarding ESM, I don't think we are hasty evangelizing ESM usage as we don't have an ESM instrumentation released yet.

[2022-09-21 05:56] svrnm commented on #1769
OK, then let me raise a new ticket laying out what needs to be done. Thanks everyone :)

[2022-09-21 05:56] #1769 closed

[2022-09-21 06:02] svrnm opened #1772 "[Meta] Add TypeScript to JavaScript documentation"
# What needs to be changed?
As discussed in #1769 we want to have typescript code snippets alongside the javascript one.
We want to use tabbing like the elixir/erlang documentation is doing it right now, (e.g. [here](https://opentelemetry.io/docs/instrumentation/erlang/instrumentation/)):

[code]

**TypeScript should be the default**.

(**Edit** by @chalin) Consider using [Docsy's tabbed panes](ht

[2022-09-21 11:11] svrnm opened #1773 "[Meta] Add pages about resources & resource detection to concept & languages"
Add a new page to “concepts“ that talks about resources & detection in a general way

If available&applicable, add a page about resources & resource detection for each language, similar to [this one](https://opentelemetry.io/docs/instrumentation/js/resources/):

* What resources are detected automatically?
* Adding resources via OTEL_RESOURCE_ATTRIBUTES
* Adding resources in code
* Adding a (non d

[2022-09-22 00:50] cartermp commented on #1772
So one issue with this approach (the tabs thingie) is that some tooling for auto-formatting markdown line lengths don't recognize those tags. And so it can make the docs get fucky. I'll have to experiment with alternatives to [rewrap](https://marketplace.visualstudio.com/items?itemName=stkb.rewrap) to see if this is still doable with another tool.

[2022-09-22 16:33] cartermp commented on #1772
Yep, I tried using it to format those docs and ran into the problem too.

[2022-09-23 04:55] reyang opened #1777 "Consistent naming?"
**What needs to be changed?**

The current docs seem to use inconsistent names for different language clients.

For example:

![image](https://user-images.githubusercontent.com/17327289/191894148-6a3940fe-5776-49c1-8bfd-4195b37ad5f6.png)

![image](https://user-images.githubusercontent.com/17327289/191894174-816e4539-196a-4d4d-bf4d-e5bb2b97428d.png)

![image](https://user-images.githubusercontent.c

[2022-09-23 06:02] alolita commented on #1777
Good callout @reyang +1 on maintaining consistent naming.

[2022-09-23 07:59] svrnm commented on #1777
Thanks for bringing this up, @reyang! I am not sure if this is a sole issue for the website or for all the SIGs as well (as you called out there are differences in the repo names as well). I raised a similar topic a while back rg. the auto instrumentation where we have a similar situation: https://github.com/open-telemetry/opentelemetry.io/issues/1689

We fixed that for a few of the language index

[2022-09-23 15:56] reyang commented on #1777
Aha, I don't know! That's why I raised this issue to test the water 🤣🤣🤣

[2022-09-23 16:00] reyang commented on #1689
Here is my suggestion:
1. We should avoid the word "agent" while talking about auto-instrumentation, given "auto-instrumentation" is the official name recommended by OpenTelemetry. I understand that "JVM Agent" is a technology that has been used for decades, I would vote that in the context of Java, always use "JVM Agent" (or "JVM agent").
2. I would suggest that we use "agent" to refer to somethi

[2022-09-23 16:20] cartermp commented on #1777
We can certainly standardize on naming on the website, but yeah, this might be a "each SIG decides what the name is" sorta deal. Which would then lead to inconsistent naming for sure. Ah, bikesheds.

[2022-09-25 06:57] sweetxiaodai opened #1781 "Instrumenting Apache Kafka clients with OpenTelemetry"
To observe the full trace on the backend, is it necessary to keep the producer's service name as same as the consumer's service name in the environment variables?

[2022-09-26 07:39] svrnm commented on #1781
@ppatierno can you help with that? Thanks.

[2022-09-26 08:31] ppatierno commented on #1781
@sweetxiaodai I guess your question is related to the one you opened on my own repo here https://github.com/ppatierno/kafka-opentelemetry/issues/10, let's keep the discussion in one place. I think the OpenTelemetry repo is the best place to discuss.
So, in general having the same service name on both side, helps for sure having all the spans to be in the same place on the Jaeger UI (not needed to

[2022-09-26 08:43] svrnm commented on #1689
I am ok with avoiding the word "agent", but I don't see "auto-instrumentation" being the exact equivalent for that today:
* For an APM end-user an agent is not only that "layer that adds instrumentation to a **service** without modifying the source code for that service.", but also some packaging around it that takes care of backend connection (exporters), processing (filtering, batching, etc.), r

[2022-09-26 08:44] svrnm commented on #1777
Please see my lengthy comment here: https://github.com/open-telemetry/opentelemetry.io/issues/1689#issuecomment-1257698064

[2022-09-26 13:49] cartermp commented on #1689
Just a nit about .NET - it's explicitly not an agent (@pellared can confirm) but rather a custom profiler & assorted components that injects the instrumentation. So we'd want to use a different name for that.

[2022-09-26 14:19] ppatierno opened #1783 "Missing other exporters configuration in the SDK configuration page"
I was looking at the SDK configuration documentation here https://opentelemetry.io/docs/concepts/sdk-configuration/ and noticed that other than general SDK related configs, it also lists configuration specific for the OTLP exporter.
I was wondering if it would need to list the main two other exporters as well like Jaeger and Zipkin because their configuration seems to be listed here https://github

[2022-09-26 14:38] cartermp commented on #1783
In general I'd say it's fine to add these to the conceptual docs. I think at some point we're going to have to rationalize these two things:

1. The spec is comprehensive, but not intended for end users to read and/or use as a reference to learn how to do stuff
2. We'll want to keep from duplicating content if we can, and so we could pull stuff in from the spec via tooling if needed, but that also

[2022-09-26 15:03] pellared commented on #1689
I would stand what it is ["automatic-instrumentation"](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/glossary.md#automatic-instrumentation)

Take notice that e.g. for Python auto-instrumentation you do not need to write code as you can use env vars to configure stuff (see [here](https://opentelemetry.io/docs/instrumentation/python/automatic/#install)). Maybe

[2022-09-26 15:54] ppatierno commented on #1783
Exactly. Users should stay on the documentation website for any kind of stuff they can do with OpenTelemetry.

[2022-09-26 17:15] pellared commented on #1689
I see your concern... But right now I have no good answer (nor opinion) for it 😢

"auto-instrumentation" (sic!)? I mean like it is hard to create a hard-boundaries here as it is very language/technology specific how and what is getting automatically instrumented. Some of the things you mentioned are provided by "auto-instrumentation", some by the SDKs, and it depends on the implementation. I think

[2022-09-27 08:06] svrnm commented on #1777
For the initial question, I think it should be "OpenTelemetry for `<Language>`"? That's at least what **most** language pages have (especially due to #1732, where we started to use the same text for most language pages).

[2022-09-27 08:07] cartermp commented on #1777
Agreed.

[2022-09-27 08:26] svrnm commented on #1689
Makes us two :D

I hear you, but I am not happy with that: based on the conversation we have, I learned that "auto-instrumentation" is well-defined in the spec as _**telemetry collection methods** that do not require the end-user to modify application's source code_, so it's only about the part where instrumentation libraries are injected into the service without touching the code. I like that ver

[2022-09-27 13:11] svrnm opened #1789 "Getting Started for K8s operator"
Now with the [K8s operator docs](https://opentelemetry.io/docs/k8s-operator/) being live we want to gradually improve them. A first step would be an simple end-to-end example where someone can use the operator to get a collector & auto instrumentation working

[2022-09-27 14:29] sweetxiaodai commented on #1781
Thanks @ppatierno
I've read the blog and keep the service name of producer and consumer as one. But how ever I still got a broke span.
I put my code in the two repositories, it will help you reproduce the issue. I don't think the issue could be closed. Sorry.

https://github.com/sweetxiaodai/kafka-otel-producer.git
https://github.com/sweetxiaodai/kafka-otel-consumer.git

Would you mind kindly use

[2022-09-27 15:13] reyang commented on #1777
"For" could be confusing for clients that are targeting more than the programming language. For example:
* "OpenTelemetry for Java" sounds like it is **for** Java, although it can be used by Scala or any other languages targeting JVM.
* "OpenTelemetry for JavaScript" sounds like it is **for** JavaScript, however it can be used by TypeScript/CoffeeScript/etc.

[2022-09-27 16:35] ppatierno commented on #1781
What do you mean by broken trace?
Using my project at https://github.com/ppatierno/kafka-opentelemetry I was able to run a producer and consumer together with the opentelemetry agent. I get what I explained in the blog post.

- one producer span in its own trace
- two consumer span (receive and process) in its own trace but with ...

[code]

... where the process span is CHILD_OF receive in the sa

[2022-09-27 19:33] sweetxiaodai commented on #1781
![Screenshot 2022-09-28 at 03 29 45](https://user-images.githubusercontent.com/90817719/192618280-c96adae8-454e-45f2-9b79-53ce3622248e.png)
Hi @ppatierno
Sorry to make you confused. I attached the screen shot in jaeger. The send and receive span are in different trace looks like. Is there any way to link it together? I just developed two application, one is the consumer and the other one is the pr

[2022-09-28 11:47] ppatierno commented on #1781
As I mentioned in the blog post but even in my previous comment, as OpenTelemetry works with messaging is about having them leaving in two different traces but they are linked together (see my JSON above). Can you provide the JSON representation of your spans and traces to see that?

I also think this discussion could clarify your doubts https://github.com/open-telemetry/opentelemetry-specificatio

[2022-09-28 12:18] sweetxiaodai commented on #1781
Ok, finally, I got your point. But it is different with otel rocketMQ. otel RocketMQ could put all spans in one trace.
I attached two json.
I do find the follows_from's traceID is as same as the producer traceID. I will try to read your post to understand the mechanism. How did you figured out the produced trace and consumed trace belongs one message?

Thanks so much for your patient. It is really

[2022-09-28 13:33] ppatierno commented on #1781
I have never used RocketMQ, but I would expect to have the spans in the same trace when we are talking about a queue messaging pattern. Producer sends, just one consumer will get the message, process and delete it. Just one trace.
With Kafka, you can have consumers in different consumer groups getting the same message from the topic and also you could re-read the entire stream of events, so re-rea

[2022-09-28 18:28] svrnm commented on #1777
That's a point against "for" indeed. Not that I would rule it out because of that but maybe we can do better, so what are the alternatives we have?

1. OpenTelemetry for C++, OpenTelemetry for Rust
2. OpenTelemetry Java, OpenTelemetry JavaScript
3. OpenTelemetry in .NET, OpenTelemetry in Python
4. OpenTelemetry Go SDK, OpenTelemetry Ruby SDK (and ... API, etc.)

[2022-09-28 18:46] svrnm commented on #1729
As discussed during the last SIG meeting the plan is to turn the community (and enduser) section into something like the blog/docs.

cc: @chalin , @cartermp , @austinlparker

[2022-09-28 18:50] reyang commented on #1777
Maybe we can collect feedback here - vote with emoji:

1. ❤️ OpenTelemetry C++, OpenTelemetry Rust, OpenTelemetry Java, OpenTelemetry JavaScript, OpenTelemetry .NET, OpenTelemetry Python OpenTelemetry Go, OpenTelemetry Ruby
2. 🎉 OpenTelemetry in C++, OpenTelemetry in Rust, OpenTelemetry in Java, OpenTelemetry in JavaScript, OpenTelemetry in .NET, OpenTelemetry in Python OpenTelemetry in Go, OpenTe

[2022-09-28 21:54] yurishkuro opened #1790 "Misleading statements in the blog post"
Hey folks. This is regarding #1721.

Nice blog post. While this does not change the gist of the post, I found your explanation of the actual bug rather confusing.

First, the comparison of `tracestate` as multiple headers vs. `traceparent` is misleading. `tracestate` is a comma-separated list of entries, and since that's how RFC7230 defines header concatenation, it works as you described. But `tra

[2022-09-29 07:05] cartermp commented on #1789
Another improvement would be to have an example or two of configuring automatic instrumentation for one of the supported languages (Java, Python, JS, .NET)

[2022-09-29 08:08] svrnm commented on #1790
hey @yurishkuro,

I wrote most of these sentences, so I take full responsibility ;-) ... and I am happy to get this fixed with your help!

Here's what we have as of today:

I anticipate that you're one of the editors of the W3C Trace Context document, so read the following as the thought process from a layman that is reading that document & the RFC7230 and then trying to write down those sentences