[2022-09-29 20:57] austinlparker commented on #1689
I don't have full commentary available for this yet, but I wanted to briefly discuss the 'distribution' concept and why it's been bothering me.

We spent a _significant_ amount of time in the planning, ideation, and initial implementation of OpenTelemetry to preserve the OpenTracing goal of decomposition between interface and implementation. The goal behind this was to _reduce_ the chance that a f

[2022-09-29 22:52] reyang commented on #1689
The term "agent" is already super confusing https://en.wikipedia.org/wiki/Software_agent, I hope we can avoid adding more confusions.

[2022-09-30 06:39] svrnm commented on #1689
The more I think about that topic, the more I get back to thinking that "agent" is a good term:
* It's an industry standard used across vendors for plenty of years now. People know what to expect from an agent and people will use that term anyways. I tried for a long time now to tell people that there is no OTel agent, but everybody around me uses that term anyways.
* You can read those definition

[2022-09-30 06:46] svrnm commented on #1689
To clarify that a little bit, what's the difference for you between AGENT and DISTRIBUTION?

[2022-09-30 07:07] svrnm commented on #1689
A third one on "auto-instrumentation" based on our slack discussion at #otel-comms yesterday & [this existing discussion on that topic](https://github.com/open-telemetry/opentelemetry-specification/issues/2336) via @cartermp.

I start to understand that using the term "auto-instrumentation" for different things is OK, because it's a broad term that's just saying "I didn't instrument that manually"

[2022-09-30 07:43] pellared commented on #1689
_Writing my thoughts before I forget._

I think that also each "auto-instrumentation" tool/agent/library/whatever should provide a high-level description of what this auto-instrumentation is and how it works. [Here](https://github.com/open-telemetry/opentelemetry-dotnet-instrumentation/blob/main/docs/design.md#architecture) is how we try to do it for .NET.

[2022-09-30 14:40] joaopgrassi opened #1793 "OTLP exporters description in the registry is not accurate"
**What needs to be changed?**
I noticed that the description used in the OTLP exporter entries (e.g. [the Java one](https://github.com/open-telemetry/opentelemetry.io/blob/e53a8eb454da7ebbb73a5a175e595532a775fb72/content/en/registry/exporter-java-otlp.md?plain=1#L11)) in the registry is not accurate. It says:

It's not accurate because OTLP exporters also allow sending data to other places outside

[2022-09-30 15:05] austinlparker commented on #1689
The primary distinction between an agent and a distribution in my mind is who is providing it. I would suggest that the OpenTelemetry project will never release a _distribution_ of OpenTelemetry. However, I would speculate that eventually a company like GCP or AWS will release a _distribution_ of OpenTelemetry for their clouds. Similarly, I could see point monitoring solutions creating a _distribu

[2022-09-30 16:07] tsloughter commented on #1689
@svrnm  I don't see how your examples of Java, Ruby, Python and Javascript are different meanings for "automatic instrumentation". All of them require no code added for a particular instrumentation, the only difference I see is (maybe, this isn't clear) whether the SDK requires code changes to be initialized or not?

(And yes, please do not use "agent" for anything :)

[2022-10-01 00:26] sweetxiaodai commented on #1781
Thanks and close the issue.

[2022-10-01 00:26] #1781 closed

[2022-10-01 13:17] #1686 closed

[2022-10-03 15:31] kaiwalyakoparkar commented on #1772
Hey, I would like to work on the first page "getting started". Can you please assign it to me also can you help me with the essentials I should know etc

[2022-10-04 08:47] svrnm commented on #1772
@kaiwalyakoparkar, awesome! I'll raise a separate issue & assign it to to you, we will keep this one for tracking.

Please have a look at the elixir docs, they use a tabbing mechanism already. You should be able to do something like the following through out the doc:

[code]

The tabbing does language detection for you, so you should get that for free.

Note what @cartermp said above, that the tab

[2022-10-04 08:48] svrnm opened #1799 "Add TypeScript to "Getting Started""
Child of #1772

@kaiwalyakoparkar

[2022-10-04 08:50] svrnm commented on #1799
@kaiwalyakoparkar please comment on this issue so I can assign it to you.

[2022-10-04 09:06] svrnm commented on #1793
@cartermp, thoughts on how this should be phrased?

@joaopgrassi would you be open to fix that for all the OTLP exporters?

[2022-10-04 09:08] joaopgrassi commented on #1793
@svrnm yes, I can send a PR to fix all the others, once we agree on the sentence.

[2022-10-04 09:08] svrnm commented on #1777
So, we have a strong preference for "OpenTelemetry <Language>"?

We can change that throughout the docs, but for consistency we should also have the same for the individual repos, and I think that's something that needs to be discussed via open-telemetry/community?

[2022-10-04 10:08] svrnm commented on #1689
@austinlparker thanks for the clarification on AGENT vs DISTRIBUTION, makes sense to me, a few comments nevertheless:

[Python is doing that already](https://opentelemetry.io/docs/instrumentation/python/distro/)

Those exist already right? We have ADOT from amazon and a bunch of vendors having their "distribution"

Agreed.

Now I get it, and I agree with that one as well. I see 2 problems:
1. the

[2022-10-04 10:14] svrnm commented on #1793
@joaopgrassi thanks!

@chalin , @cartermp I am also wondering if this would be something we could fix via a short code or other mechanisms? so have that repeated text stored away somewhere

[2022-10-04 10:28] pellared commented on #1689
@svrnm @austinlparker

I am missing something. Where auto-instrumentation is used as a verb? For me it is a noun. Personally, I understand auto-instrumentation as "a method of getting the application instrumented without touching the application's source code". Using a .NET Profiler is a method to instrument C# apps, using a JVM Agent is a method to instrument Java apps, using eBPF uprobs is a met

[2022-10-04 11:02] theletterf commented on #1689
**Agent** is overloaded (as "component"), old, and not great, but it does the job, in my opinion. It also bears nasty negative SecOps connotations, but everyone seems to understand what an agent is in the context of automatic instrumentation. I've asked users and they understood what agent implied. So I wrote [this definition for the Splexicon](https://docs.splunk.com/Splexicon:Agent):

On the oth

[2022-10-04 12:35] kaiwalyakoparkar commented on #1799
hey @svrnm 👋 kindly assign this issue to me

[2022-10-04 13:06] svrnm commented on #1799
Done

[2022-10-04 13:28] svrnm commented on #1773
Added also that we need a page that talks about the concept of resources and how they are detected

[2022-10-04 13:31] kaiwalyakoparkar commented on #1799
Hey @svrnm can you please tell me the file location I need to update (The previous issue has been been updated hence I lost track of file I need to update

[2022-10-04 13:48] svrnm commented on #1799
https://github.com/open-telemetry/opentelemetry.io/tree/main/content/en/docs/instrumentation/js/getting-started

Most important one is nodejs. You can do browser as well.

[2022-10-04 13:50] kaiwalyakoparkar commented on #1799
@svrnm perfect! few more things.
1) The content written on the page is just for nodejs. Do I need to change that to be generic to ts as well?
2) How do I check out if the tab thing is working (The default vs code preview does not render it as tabs)

[2022-10-04 14:51] svrnm commented on #1799
1. Yes, make sure that it works with TS as well. So if you need additional dependencies then list them. This means also the shell code will need tabbing.
2. After cloning and pulling the repo on your local machine run `npm run serve`. This will start a local dev copy for you with auto refresh etc.

[2022-10-04 17:20] svrnm opened #1801 "Concept page on "Sampling" (+ language pages)"
As the title suggest, we need a page within concepts that takes about sampling, eventually we could build a page for one language again to have a blueprint for other languages.

[2022-10-04 17:21] MacNale opened #1802 "Building a Trace Receiver"
This page needs to be updated to replace deprecated APIS.
e.g
![image](https://user-images.githubusercontent.com/14235758/193884311-4f40d5f3-2809-4ea1-aaa1-d8ce6c73fd35.png)

 atmAttrs.InsertString needs to be replaced with atmAttrs.PutString.

Another example

`func NewSpanID() pdata.SpanID `

Needs to be changed to -

`func NewSpanID() pcommon.SpanID`

I struggled following this example. A refer

[2022-10-04 17:37] svrnm commented on #1689
I agree that instrumentation achieved via byte code instrumentation, monkey-patching, ebpf uprobes or any similar means are "auto-instrumentation", for me it's the overarching term, but for what I want a term is that layer of software that is applied at runtime to code so that instrumentation (+everything else) is accomplished for me automatically.

I disagree, a JVM Agent for example never has be

[2022-10-04 17:41] svrnm commented on #1689
💯

That's not a bug, it's a feature: agents ARE a security issues and I had many customers who were not keen on having self-installing self-updating agents ...

👍

I think that's what @austinlparker meant when he said "a noun vs a verb": The agent is doing auto-instrumentation, aka the agent is the acting noun, the auto-instrumentation is the thing the noun is doing (the verb), even if it's not us

[2022-10-04 18:36] reyang commented on #1689
How do we describe the following scenario:

[code]

Many existing solutions call Process B "agent", if we call the "auto-instrumentation mechanism" and "agent", it'll be very confusing. In addition, if the auto-instrumentation technology is something like [code weaving](https://github.com/open-telemetry/opentelemetry-specification/pull/2853#discussion_r987069378), do we still call it "agent"?

* h

[2022-10-04 20:02] tsloughter commented on #1689
That may be unique to the JVM. I always think of an agent as a separate process -- though I may be the "unique" one :)

[2022-10-04 20:05] reyang commented on #1689
@tslougher You're definitely not the "unique" one, I also feel that JVM Agent is a special case as I've suggested here https://github.com/open-telemetry/opentelemetry.io/issues/1689#issuecomment-1256392489

[2022-10-04 20:16] reyang commented on #1777
I've reached out to several groups on Slack gathering feedback:
1. OpenTelemetry Maintainers https://cloud-native.slack.com/archives/C01NJ7V1KRC/p1664914229223519
2. OpenTelemetry Community https://cloud-native.slack.com/archives/CJFCJHG4Q/p1664914268959639
3. OpenTelemetry Demo https://cloud-native.slack.com/archives/C03B4CWV4DA/p1664914257596769

[2022-10-04 20:30] chalin commented on #1729
HI all

- #1804

awaits your feedback.

[2022-10-05 08:07] theletterf commented on #1689
@reyang @tsloughter I suspect we might be falling into a "curse of knowledge" issue here, in that "agent" has very specific meanings for certain software development environments or languages. But so do other terms, like "component" or "method" or "layer". We have to compromise a bit.

The diagram by @reyang is a good starting point for a language conversation. In my opinion, it's not a big issue

[2022-10-05 09:50] svrnm commented on #1689
@tsloughter you are unique 🤩 but not because you're thinking that "agent" has to be a separate process. I read & hear this a lot, although I disagree. I used the JVM Agent just as an example. It's common among APM vendors to call the ".NET Profiler" or the equivalent in-process layer doing instrumentation for Python, PHP, Ruby, Node.JS an "agent" as well.

Thanks @theletterf for bringing up that p

[2022-10-05 09:57] theletterf commented on #1689
_Entering brainstorming mode..._

@svrnm Some alternatives to agent that might fit your description:

- Launcher (my favorite)
- Sidecar
- Driver
- Catalyst
- Companion
- Carrier

[2022-10-05 12:56] svrnm commented on #1802
cc: @open-telemetry/collector-approvers

[2022-10-05 12:58] svrnm opened #1807 "Should we have a page for "Other Languages"?"
There are a few "inofficial" implementations of OpenTelemetry out there, I saw some for perl, haskell, deno, etc.

I am wondering if we should have a page http://localhost:1313/docs/instrumentation/other/ that calls out that opentelemetry is not limited to the languages we have, that the community is open to add further languages and that there are "inofficial" implementations (and we link them, o

[2022-10-05 13:41] theghostmac commented on #1700
I have an idea on how to refactor both pages. I will make changes via a fork and send a PR.

[2022-10-05 13:48] cartermp opened #1808 "Consider how best to surface API references for each language"
Today, if you want to get to an API reference for a language's SDK, we have a link near the bottom of each language's index page on the website if there's something to link to. Example: https://opentelemetry.io/docs/instrumentation/js/#further-reading

While this technically fulfills the need to link to this kind of material, it's not terribly discoverable despite being fairly important for anyone

[2022-10-05 14:38] cartermp commented on #1700
Awesome, thank you @theghostmac. I'll assign you to this issue for now.

[2022-10-05 14:48] chalin commented on #1808
This is how I set things up on grpc.io:

- Each language menu has an (external) **API** reference link (Dart language shown in the screenshot).
- There is also a link to the **API** reference in the language's landing page -- in particular because the side-nav doesn't appear by default on mobile.

Would that work for y'all?

[2022-10-05 14:50] cartermp commented on #1807
I think so, yes. This is anecdotal, but the company I work for actually has more customers using Haskell + OTel than Rust + OTel even though Haskell is not an officially-supported language!

[2022-10-05 14:52] cartermp commented on #1808
Yes, that would be great I think! Will let @svrnm weigh in, though.

[2022-10-05 15:06] cartermp commented on #1793
Regarding this proposed sentence:

I would propose something similar, just with one word change 🙂

[2022-10-05 15:06] chalin commented on #1807
We can always start by listing **all** of the unofficial implementations on the [Instrumentation](https://opentelemetry.io/docs/instrumentation/) page and then promote them progressively to their own language-landing page.

We might need some (at least minimal) guidelines for deciding which languages get promoted.
The GC might need to be involved? WDYT @austinlparker?

[2022-10-05 16:23] reyang commented on #1689
I think that thing is called [auto-instrumentation](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/glossary.md#automatic-instrumentation)? Here is my simple proposal:

_Hey dear APM user, if you want to instrument your applications without having to change code / rebuild / redeploy, use the OpenTelemetry auto-instrumentation_.

It seems multiple implementatio

[2022-10-05 16:59] svrnm opened #1809 "Host community pages via repo submodule"
via https://github.com/open-telemetry/community/pull/1056:

[2022-10-05 18:23] chalin commented on #1808
Can you provide links to the API references for the various languages here? Or should they be relatively easy to find?

[2022-10-05 18:28] chalin commented on #1809
We're using submodules already, I'd rather continue using submodules (easier to reproduce builds IMHO).

[2022-10-05 20:50] Arhell opened #1811 "update links"
http=>https more secure
/assign

[2022-10-05 22:46] pellared commented on #1777
@reyang  Could we also try consistently naming the "auto-instrumentation" repositories or is it too much for this issue?

Current state:

1. [OpenTelemetry Instrumentation for Java](https://github.com/open-telemetry/opentelemetry-java-instrumentation)
2. [OpenTelemetry .NET Automatic Instrumentation](https://github.com/open-telemetry/opentelemetry-dotnet-instrumentation)
3. [OpenTelemetry auto-ins

[2022-10-05 23:33] theghostmac commented on #1700
I finished making the changes. I made two mistakes:
- not checking out to a new branch after cloning
- attempting a merge (ignorant of the PR procedure 😞 )

[2022-10-06 09:12] mateuszrzeszutek commented on #1777
Some of the modules released as part of https://github.com/open-telemetry/opentelemetry-java-instrumentation are not really automatic instrumentation: these library instrumentations have to be added as a dependency, and then configured and installed into the instrumented framework by the user. If possible, I'd refrain from renaming the repo to "auto-instrumentation"

[2022-10-06 09:25] svrnm opened #1815 "[C++] Getting Started Page"
via open-telemetry/opentelemetry-cpp#1589

We'd like to grow the user docs for C++ on opentelemetry.io, as a very first thing we need a "Getting Started" page, that provides installation instructions and a quick&easy way for end-users to get a sample application instrumented

Assuming that there is no automatic instrumentation for c++ yet, here are 2 other languages that currently have a manual in

[2022-10-06 09:27] svrnm opened #1816 "[C++] Manual Instrumentation Page"
via https://github.com/open-telemetry/opentelemetry-cpp/issues/1589

We'd like to grow the user docs for C++ on opentelemetry.io, for that we need a "Manual Instrumentation" page, similar to what we already have for other languages. In a first version it should talk about:

* Acquiring a tracer
* Create Spans
* Create nested spans
* get the current span
* span attributes + semantic attributes

Mor

[2022-10-06 09:29] svrnm opened #1817 "[C++] Exporters Page"
via https://github.com/open-telemetry/opentelemetry-cpp/issues/1589

We'd like to grow the user docs for C++ on opentelemetry.io. We want to have a page on "Exporters", that outlines how one can setup&configure an OTLP exporter.

In a later version we can also include other exporters if applicable.

Some other languages to copy from:
* https://opentelemetry.io/docs/instrumentation/net/exporters/
*

[2022-10-06 09:53] svrnm commented on #1777
@pellared , @mateuszrzeszutek I would prefer to have this in a separate issue, because this is a much more complicated case (see also the discussion at #1689). A layer of complexity that you called out, @mateuszrzeszutek, is that the content of the opentelemetry-<language>-(instrumentation|contrib) repositories is not consistent, so this is not a discussion that we should have here at the opentele

[2022-10-06 10:07] svrnm opened #1818 "[C++] Resources Page"
via https://github.com/open-telemetry/opentelemetry-cpp/issues/1589

We'd like to grow the user docs for C++ on opentelemetry.io. We want to have a page on "Resources", with the following content (if applicable):

* Resources that are detected out of the box
* Adding resources via OTEL_RESOURCE_ATTRIBUTES
* Adding resources via code
* Resource Detector example (e.g. container id)

In a later versi

[2022-10-06 11:20] svrnm commented on #1689
I can live with that

Agreed

💯

That's the thing we are circling right now! And I called it out before, that different projects use the term "auto instrumentation" for things that are similar but not the same:

* Java Auto Instrumentation is that "all in one" thing what I have in mind when I talk about an agent (it does not only include do-not-touch-my-code instrumentation of my application but a

[2022-10-06 11:23] tsloughter commented on #1689
We try to be clear that this isn't auto-instrumentation with the following setence:

Maybe it should explicitly say it is "not auto-instrumentation".

[2022-10-06 11:32] joaopgrassi commented on #1793
I open a PR fixing all the registry entries in the upcoming day(s). Feel free to assign this to me if you want :)

[2022-10-06 12:34] pellared commented on #1689
You found the name "instrumentation libraries bundle" 🎉
 I think they could be named e.g. like `lang-instrumentation-all` 😉

[2022-10-06 15:38] svrnm commented on #1689
@tsloughter I don't think that you need to change anything in the erlang doc here, I just raised it in comparison to ruby/nodejs.

From and end-user perspective I find this problematic, people are looking for "Automatic", and would not expect what they are looking for in a page called "Libraries" ... "Instrumentation" might work (think we have it with some languages) but it's still confusing becau

[2022-10-06 17:22] #1729 closed

[2022-10-06 18:26] amanksingh99 commented on #1772
Hey, I would like to work on the "libraries" page, can you please assign it to me?
Going through the code in docs, I have a few doubts and it would be helpful if you can clear those

1 - For typescript code can we use ES6 imports or stick to CJS? (because ES6 imports will be able to infer types as well)

2 - Second doubt depends on the answer to the first one.

- If we can use ES6 imports, should

[2022-10-06 22:34] chalin opened #1820 "Switch to using Docy's tabbed panes"
Docy has a flexible implementation of [tabbed panes](https://www.docsy.dev/docs/adding-content/shortcodes/#tabbed-panes) that, for example supports both code and text in a tab. I suggest that we drop our own custom implementation of tabs and upgrade to Docsy's.

WDYT @svrnm @cartermp @austinlparker? I'd like your thumbs up before I start on this cleanup.

We only have about 4 files so the upgrade

[2022-10-07 05:27] darint00 opened #1822 "Building a custom collector"
The Doc explains how to create a custom collector using the ocb tool.  Ex.  ocb --config builder-config.yaml.  Which in my understanding rebuilds the components.go file from the builder-config.yaml.  But the build trace receiver Doc under section: Adding the receiver factory to the Collector’s initialization
asks you to modify components.go (even though the file says not to edit it).  Then you are

[2022-10-07 05:48] cartermp commented on #1820
Yes, please! This would allow for use of rewrap on the relevant files if code moves to code blocks.

[2022-10-07 06:02] svrnm commented on #1820
Yes, let's do that!

[2022-10-07 06:16] svrnm commented on #1746
awesome! There's already a bunch of stuff for python on tracing, and a little bit on metrics. So, while you work on that, double check if the python tracing stuff is up-to-date & if things can be added and for the metrics extend it to whatever is missing.

[2022-10-07 06:23] svrnm opened #1823 "Update Docker Instructions for Collector Getting Started to contain contrib and core in both cases"
The [getting started instructions for docker](https://opentelemetry.io/docs/collector/getting-started/#docker) right now distinguish between dockerhub & ghcr.io, for dockerhub the core collector is used, for ghcr.io the contrib is used, that's confusing.

Although we plan to revamp that page entirely a good quick fix would be the following:

## Docker

Some that that there are different images

##

[2022-10-07 07:47] svrnm opened #1827 "Standardise pages per language"
Right now all the different language instrumentation documentations have different names & different order for their documentation. We should incrementally standardize:

* Have a set of common pages (Getting Started, Automatic, Manual, Exporters, Resources, ...) with a fixed order
* Make sure that each common page has the same content (e.g. Instrumentation vs Manual/Automatic)
* Have additional la

[2022-10-07 07:49] #1811 closed

[2022-10-07 09:43] chalin commented on #1660
This was fixed upstream. I'll upgrade Docsy as soon as I can.

[2022-10-07 19:54] siddhant-khisty commented on #1783
Hey, I'd like to work on this

If I understand it correctly, I have to move the information from the SDK environment variable from [GitHub](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md) to the [documentation page for SDK](https://opentelemetry.io/docs/concepts/sdk-configuration/).

Did I get that right? Or am I missing something

[2022-10-08 01:57] cartermp commented on #1783
@siddhant-khisty that sounds about right, but limited only to jaeger and zipkin for now. I think we'll want to be careful about what to add here over time - there may be a better technical solution that lets us pull in text from the spec and add commentary around it, but for now I think it is fine to move some things over and change them a bit to match the existing SDK docs page.

[2022-10-08 02:08] cartermp opened #1829 "Add Typescript to "libraries" js doc"
Doc: https://opentelemetry.io/docs/instrumentation/js/libraries/

Child of https://github.com/open-telemetry/opentelemetry.io/issues/1772

[2022-10-08 02:09] cartermp commented on #1829
@amanksingh99 here you go

[2022-10-08 02:09] cartermp commented on #1772
@amanksingh99 You should be able to use `import`s for the typescript, yeah. If you follow the pattern in https://github.com/open-telemetry/opentelemetry.io/pull/1800/files then things should be pretty good. Thanks for offering to contribute!

Filed https://github.com/open-telemetry/opentelemetry.io/issues/1829 to track separately

[2022-10-08 03:34] cartermp opened #1830 "Resources doc - reconsider use of service.name in example"
See here: https://github.com/open-telemetry/opentelemetry.io/pull/1795#discussion_r985571727

It's more likely that someone setting a service name will do so with the `OTEL_SERVICE_NAME` attribute, or in code, than just as a key-value pair. I would propose that we just put another example there, or remove it.

[2022-10-08 16:04] chalin opened #1832 "Blog post from the year 1 -- due to k8s-collector-expose post file setup"
The blog-post files of PR #1684 aren't setup correctly, and so Hugo thinks that the PR introduces two posts. In particular, `content/en/blog/2022/k8s-otel-expose/overview-diagram-source.md` creates a post for year 1 :). From the PR preview: https://deploy-preview-1684--opentelemetry.netlify.app/blog/page/3/

I'll explain what the file setup should have been shortly. ...

(Edit) Oh, I just realized

[2022-10-08 16:17] chalin commented on #1832
Oh, I just realized that the source of the problem is ... the mermaid source file included in the PR, but not used in the post.

[2022-10-08 17:11] #1832 closed

[2022-10-09 13:45] amanksingh99 commented on #1829
Thanks, @cartermp can you assign this issue to me, please?

[2022-10-09 14:27] siddhant-khisty commented on #1783
Hey, @cartermp I noticed that there is an env variable page in the documentation [here](https://opentelemetry.io/docs/reference/specification/sdk-environment-variables/). Should I add a page about it to the [SDK configuration page](https://opentelemetry.io/docs/concepts/sdk-configuration/) as well?

I made a hackmd file where I updated the current env variable files. I plan to add some more detail

[2022-10-10 06:35] svrnm commented on #1783
@siddhant-khisty you can always raise PRs with proposed changes, even if it's not yet finished, makes it easier for us to see what has changed. In the worst case we do not merge it.

Thanks!

[2022-10-10 08:31] svrnm opened #1835 "Follow-Up Issues for Resource Detection in .NET"
- [x] Adding a call to `AddService()` between _these_ lines (see https://github.com/open-telemetry/opentelemetry.io/pull/1795#discussion_r991028322 for the line numbers)
- [ ] Add resource detection with a Detector (like JS for `container.id` -> https://github.com/open-telemetry/opentelemetry-dotnet-contrib/tree/main/src/OpenTelemetry.Extensions.Docker)

[2022-10-10 12:21] cartermp commented on #1835
Assigning myself here. The package does work, I just need to fit it in correctly with a good code sample.

[2022-10-10 12:24] cartermp commented on #1783
Yes @siddhant-khisty please file a draft PR with changes if you'd like a review pass!

[2022-10-10 14:13] chalin commented on #1660
Nope, take that back, it wasn't fixed upstream, and it make [take a while before this is fixed](https://github.com/google/docsy/issues/1197#issuecomment-1272383847).

[2022-10-10 14:57] chalin commented on #1820
Great! Ok, I'll start that as soon as I can (and I'll add a comment to #1772) -- I'm waiting on some Docsy updates before proceeding.

[2022-10-10 17:23] amanksingh99 commented on #1772
@chalin the docsy way of writing as you suggested gives me this error, what could be the possible reason?

![libraries md — opentelemetry io 2022-10-10 22-32-53](https://user-images.githubusercontent.com/40262320/194921363-5af95daf-55c8-413c-9d8d-cc973e2d6ae5.png)

[2022-10-10 18:41] chalin commented on #1820
Waiting on:

- https://github.com/google/docsy/issues/1271

[2022-10-10 18:42] chalin commented on #1772
@amanksingh99 - For that error, try rebasing your branch to pick up the latest Docsy.

[2022-10-10 19:29] #1829 closed

[2022-10-10 19:38] chalin commented on #1772
I rolled that back since I hit a bug in the Docsy tabbed panes. I've re-edited the opening comment, which now again refers to the Erlang pages as an example. Note that the OTel shortcodes are now named `ot-tabs` and `ot-tab`. You can, of course, try the Docsy tabs, they _do_ work in some cases. :)

Sorry for the confusion!

[2022-10-10 21:56] cartermp commented on #1835
Blegh. Unfortunately stumped because it's to do with environments and there's wonky behavior:

* `service.instance.id` always shows up even though it's not in `env`
* The package doesn't appear to actually work, as there is no container ID listed when the container is run

Will need to investigate but I'll add the servicename stuff for now.

[2022-10-10 22:01] cartermp commented on #1835
Aha, this explains the `service.instance.id` being set: https://github.com/open-telemetry/opentelemetry-dotnet/blob/d7afc1bcb0092a56ac1ea55bfbcf5a9430c72cf9/src/OpenTelemetry/Resources/ResourceBuilderExtensions.cs#L54

[2022-10-11 07:29] melbgirl commented on #1570
No worries Patrice, all good👍

[2022-10-11 08:46] svrnm commented on #1835
It's a corner case, but the package does not work if cgroupv2 is used, there's a work around, so far only implemented by  JS. So, by any chance, can you run the container again and check if `/proc/self/cgroup` gives you something?

[2022-10-11 09:21] svrnm commented on #1835
Wanting to play around with dotnet anways, I just gave it a try:

I get some container.id (I use colima with docker engine)

[code]

When I overwrite the entrypoint with `cat /proc/self/cgroup` I see the following

[code]

[2022-10-11 16:59] tigrannajaryan opened #1846 "All schema files are returning 404"
**What happened?**
The schema file URLs that used to work are now returning 404. E.g. https://opentelemetry.io/schemas/1.7.1 or https://opentelemetry.io/schemas/1.14.0

**What did you expect would happen?**
It should be a 200 and return the content of relevant file from https://github.com/open-telemetry/opentelemetry-specification/tree/main/schemas

**What is the name + path of the page where you

[2022-10-11 17:01] tigrannajaryan commented on #1846
@open-telemetry/docs-approvers can someone help with this? I am not sure when exactly did we break this.

[2022-10-11 17:05] tigrannajaryan commented on #1846
The publishing of schema files was previously automated in https://github.com/open-telemetry/opentelemetry.io/pull/715

[2022-10-11 17:06] cartermp commented on #1846
@chalin would have the most context here.

[2022-10-11 17:16] svrnm commented on #1846
1.4.0 and 1.5.0 seem to work, so it looks like something broke with 1.6.0

[2022-10-11 17:19] svrnm commented on #1846
ok. the following versions work:

 1.10.0   1.11.0   1.12.0  1.4.0   1.5.0   1.6.1   1.7.0  1.8.0   1.9.0

[2022-10-11 17:31] svrnm commented on #1846
looks like the spec version has not been upgraded for 1.13 and 1.14. git submodule version is at `ae87c81640d18763d4df51b898c55c49e2370328`, which is 1.12

[2022-10-11 18:51] tigrannajaryan commented on #1846
@svrnm will you fix it or want me to take a look at this?

[2022-10-11 19:01] svrnm commented on #1846
I tried it but tbh my git skills are not advanced enough: I tried to pull the 1.14 commit in the Submodule and not HEAD but couldn’t figure it out

So if you know how that would be appreciated

[2022-10-11 19:02] tigrannajaryan commented on #1846
Let me try.

[2022-10-11 19:03] chalin commented on #1846
Hi all. I'll be back at my desk in about 15 min. I can give it a try then if you'd like. Let me know.

[2022-10-11 19:10] chalin commented on #1846
Ok, back. Btw, there are some extra issues to be dealt with -- see #1495. I can address all of those in one go.

[2022-10-11 19:15] tigrannajaryan commented on #1846
Please do and ping me when done so that I can re-run the verification job on the spec repo: https://github.com/open-telemetry/opentelemetry-specification/pull/2868

[2022-10-11 19:16] chalin commented on #1846
@tigrannajaryan - I'm on it. The spec has changed, resulting in broken links, so I'm fixing that now.

[2022-10-11 19:47] chalin opened #1850 "Spec-related: drop temporary redirect once spec is updated to v1.15+"
Drop the following temporary redirect rule from `layouts/index.redirects` once we:

- [x] Add the corresponding alias to the spec file - https://github.com/open-telemetry/opentelemetry-specification/pull/2870
- [x] Bring in the spec repo at v1.15+ -- #1977
- [ ] Drop this:
[code]

[2022-10-11 19:58] chalin commented on #1846
@tigrannajaryan et al.: the PR is ready for review

- #1851

[2022-10-11 20:03] chalin commented on #1846
@tigrannajaryan - I don't see any 1.7.1 schema under https://github.com/open-telemetry/opentelemetry-specification/tree/main/schemas. Did you mean 1.6.1?

[2022-10-11 20:11] #1846 closed

[2022-10-11 20:12] chalin commented on #1846
The new spec is live. If you would like any further changes, let me know and I'll include them in a followup PR.

[2022-10-11 20:13] chalin commented on #1846
To clarify: the schema files get published once the spec content-module is updated. The update of the spec isn't automated since it usually requires manual intervention, such as fixing broken links into the spec pages.

[2022-10-11 20:17] tigrannajaryan commented on #1846
My mistake. I was looking for a schema that never existed.

[2022-10-12 08:26] svrnm opened #1855 "Auto-updating the registry"
Related: #1852 & 1844

I am wondering if we can find a way to create registry entries for the non-third-party-plugins & keep them updated semi-automatically?

[2022-10-12 11:17] svrnm commented on #1808
Let's go with the GRPC way of doing things, I like that. Here are some languages:

# JavaScript
JavaScript API: https://open-telemetry.github.io/opentelemetry-js-api/
JavaScript SDK: https://open-telemetry.github.io/opentelemetry-js/

# Java
(not sure if this is something official)
https://javadoc.io/doc/io.opentelemetry

# python
https://opentelemetry-python.readthedocs.io/en/latest/#

# c++
http

[2022-10-12 14:20] cartermp commented on #1808
Sorry @chalin, this was on my TODO list. @svrnm has the list in the comment.

[2022-10-12 17:26] #1790 closed

[2022-10-12 20:14] #1643 closed

[2022-10-13 09:07] svrnm commented on #1855
We could do some github workflows for scrapping them? Not ideal, but maybe better than yet another submodule?

[2022-10-13 12:45] psk001 opened #1862 "Need of docs/demo showing end-to-end tracing in distributed services"
**What needs to be changed?**
For inter-services context-propagation, in nodejs backend, there is a dearth of available docs or relevant examples.Docs available on [W3C docs](https://www.w3.org/TR/trace-context/) , or blogs of some companies like [DoorDash](https://doordash.engineering/2021/06/17/leveraging-opentelemetry-for-custom-context-propagation/) are quite hard to understand for new joiners

[2022-10-13 15:30] chalin commented on #1808
Does the collector have API reference docs?

[2022-10-13 15:59] chalin commented on #1855
/cc @tedsuo and @austinlparker since they were present when we discussed this not too long ago.

[2022-10-13 17:43] svrnm commented on #1855
new maintainers, same ideas 🤣

[2022-10-13 17:54] austinlparker commented on #1855
Not that I'm opposed to this but for context this has been a recurring idea for almost five years now (it was suggested for the OpenTracing registry, which was the precursor to the OpenTelemetry one).

I don't want to prejudice y'all against anything in particular so let me summarize the major discussion points that have come up:

- Any sort of automated system would require three things, at minim

[2022-10-13 19:30] svrnm commented on #1855
Ok, maybe "automatic" was a little bit too much, I understand why this is not feasible.

But let's call this "semi-automatic" for now, i.e. by using a github workflow, and here's a few specific examples:

* A runner crawls the content of `https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/{receiver,exporter,processor}` and checks if any of those components is either missin

[2022-10-13 21:57] cartermp commented on #1862
I would say this isn't really a docs thing, at least not yet. This is what the community demo is intended to solve: https://opentelemetry.io/community/demo/

It is a work in progress but intended to launch later this month. At some point docs will likely have to establish best practices for end users, including "how to do tracing end-to-end", but those are extremely complex topics that are often b

[2022-10-14 07:45] psk001 commented on #1862
Thanks for quick response @cartermp . What i'm looking for is any docs or example for context propagation in nodejs distributed service. As linked above, the W3C docs is quite complex and it does not have relevant examples. It does have header examples for the requesting service but nothing as such for responding one. If you could reference any relevant docs/blogs/github repos, that would be of gr

[2022-10-14 07:56] #1815 closed

[2022-10-14 07:56] #1816 closed

[2022-10-14 07:56] #1817 closed

[2022-10-14 20:40] psk001 commented on #1862
![image](https://user-images.githubusercontent.com/56984884/195938299-1f6e4204-ad84-437e-9222-f25a44ff4147.png)

In service A, i call service B as-

![image](https://user-images.githubusercontent.com/56984884/195938488-6ef13560-9610-4c9b-894e-31128e9ed6d7.png)

I pass the traceparent header as specified in [W3C docs](https://www.w3.org/TR/trace-context/).
Now in Service b , i want to use tracepare

[2022-10-14 21:16] cartermp commented on #1862
So unless you have a requirement that you can't use instrumentation packages for Node, I highly, highly recommend not trying to manually propagate context across services. The libraries handle this for you. The `auto-instrumentations-node` pulls in everything available and should be able to do what you need there.

Now, if you must manually propagate context because you cannot add additional libra

[2022-10-14 21:26] cartermp commented on #1722
Closin'

[2022-10-14 21:26] #1722 closed

[2022-10-14 21:48] raunaqgupta opened #1866 "Low contrast hyperlink in the dark background sections"
**Desired feature or idea.**
Improve hyperlink color when inside dark background sections. They currently also fail all WCAG levels.

![image](https://user-images.githubusercontent.com/623670/195948780-22277d77-51f0-42e6-a131-87acd24046d2.png)

[2022-10-14 22:38] cartermp commented on #1866
@chalin and @Arhell any thoughts?

[2022-10-15 01:44] melbgirl commented on #1866
+1 for making a fix to this issue: improving the accessibility of the site helps make OTel more inclusive to the community.

[2022-10-15 02:13] melbgirl commented on #1866
@cartermp if we decide we do want to make a change, I'm happy to take this issue.

[2022-10-17 07:20] svrnm commented on #1862
👍 what @cartermp said, and two addendums:

* and if the library you are using is not having otel natively or their is no instrumentation library for it, instead of doing a one-off, you should raise an issue with the JS community that having it would be great (and if you can implement it, even better!)
* if we ever have such a documentation on manual context propagation, we should note that people

[2022-10-18 08:57] Chinwendu20 opened #1874 "Adding sub menu to collector docs."
Please I  am currently working on this issue https://github.com/open-telemetry/opentelemetry-collector/issues/5675

I would like to work on the third checklist. Could anyone please direct me to where the file for effecting this change is. I am not so familiar with Hugo's architecture

[2022-10-18 09:53] svrnm commented on #1874
make a fork of this repo, clone the code to your local working machine, run `npm install` & `npm run serve` to have a local working version of opentelemetry.io

The files you are looking for are most likely at content/en/docs/collector

[2022-10-18 22:07] SedemQuame commented on #1823
Hi @svrnm I want to work on this can you assign it to me?

[2022-10-19 04:18] cijothomas opened #1878 "Baggage content is too trace related, .NET specific example is confusing"
Couple suggestions:
1. The contents are too trace related. Baggage can be used for all signals, not just as span attributes. Metrics can have attributes populated from baggage. Same with logs
2. I'd recommend to use a diff. example as `Activity.Current?.SetTag("AccountId", accountId)` is .NET specific, which can confuse users as .NET calls its spans "Activity". Users will find it confusing. If we

[2022-10-19 09:37] pellared opened #1880 "Discussion: New user journey"
By @svrnm [here](https://github.com/open-telemetry/opentelemetry-specification/issues/2866#issuecomment-1283677183):

I am creating an issue here as I think that it can be addressed mainly by https://opentelemetry.io/  by structure, creating walkthroughs, etc.

Maybe we need some kind of diagram (mindmap?) that could illustrate what components are available via OTel? For example something more or

[2022-10-19 09:50] svrnm commented on #1880
Thanks @pellared

related: #1731 -- what you quoted here, is how I think about the "Developer Journey"
also related: #1746 -- the sketch that @cartermp outlined should be the basis of that

[2022-10-19 09:54] svrnm commented on #1823
sure! @SedemQuame

[2022-10-20 00:25] reyang commented on #1777
Getting back here, https://github.com/open-telemetry/opentelemetry-specification/pull/2867 is merged.

[2022-10-20 01:20] melbgirl commented on #1866
@raunaqgupta do you recommend the site handling the two modes (ie behaving one way for dark mode, behaving differently for light mode), or simply changing the URL coloring so that it can be perceived in either dark or light mode?

[2022-10-20 02:07] reyang commented on #1777
@svrnm FYI I've done some grunt work to align the existing projects:
* https://github.com/open-telemetry/opentelemetry-php/pull/847
* https://github.com/open-telemetry/opentelemetry-java/pull/4871

I'll keep this issue open since there are still several places in the docs where we need to address.

[2022-10-20 04:07] cartermp commented on #1878
Agreed overall, although I'd say that Baggage is currently the _most_ useful in tracing since it lets you propagate metadata along the rest of a trace, whereas this kind of capability is less important outside the context of tracing. So while it's true that it's independent from tracing, it's also much more niche to consider it outside the context of tracing, since going through the pains of propa

[2022-10-20 04:34] SedemQuame commented on #1823
Hi @svrnm
I just made the change, have a look at the image below and let me know what you think.
![7B442FE5-2DC2-49F8-962F-89151CFE2F31](https://user-images.githubusercontent.com/30062164/196857212-e650170a-eaac-4e1f-ba86-f9f3d2844355.jpeg)

[2022-10-20 09:12] svrnm commented on #1823
thank you @SedemQuame , let's discuss on the PR (https://github.com/open-telemetry/opentelemetry.io/pull/1885)

[2022-10-20 17:52] psk001 commented on #1862
Thanks for your response @svrnm , I have been able to pull this off.
This is what I've done

In the calling function,
` const opentelemetry = require("@opentelemetry/api");
   const {W3CTraceContextPropagator}= require('@opentelemetry/core');

   const {traceId, spanId}= span['_spanContext'];
   const traceparent= `00-${traceId}-${spanId}-01`;
   opentelemetry.propagation.inject(opentelemetry.cont

[2022-10-20 18:17] cartermp commented on #1866
I would recommend just updating colors so contrast is the so bad. IIRC we don't have a dark mode for the site.

[2022-10-20 22:35] raunaqgupta commented on #1866
https://github.com/open-telemetry/opentelemetry.io/blob/f5fc3c0a8d965794e4500bff85656511cf107c17/assets/scss/_styles_project.scss#L122

Here's the file/style where the `a` color is specifically being set for dark and secondary sections. My suggestions are to:

1. Separate dark and secondary
2. Update hyperlink for dark
3. I personally feel the secondary section is too yellow and can be toned down

[2022-10-21 06:13] Chinwendu20 commented on #1874
Thank you so much @svrnm. I checked out that folder and it seems to have only the content of the website. I would like to create a sub-menu that would encompass, thepost for creati n a trace reciever and creating a custom authenticator as per the issue raised in the referenced collector repo. I have cheked the layout directory but I cannot seem to find where the side menus are:

![image](https://u

[2022-10-21 12:46] svrnm opened #1890 "Add a section to CONTRIBUTING.md about writing/styling guidance"
Via SIG meeting, Oct, 20th:

* Add a section to the CONTRIBUTING.md, start with a list and extend it and if outgrows then we can look for alternatives
* When to use bold, cursive, inline-code with backticks, capitalization, etc.
* Google style guide (informally followed):  [Google developer documentation style guide](https://developers.google.com/style/)
* Best-effort style guide

[2022-10-21 12:54] svrnm commented on #1874
Side Menus are auto generated for you, all you need to do is creating that file.

[2022-10-21 17:29] melbgirl commented on #1890
I can take this one, can someone assign it to me?

[2022-10-21 17:33] cartermp commented on #1890
@melbgirl done!

[2022-10-24 08:21] svrnm opened #1895 "Broken Registry Links"
Some links are broken from within the registry, 301/302 can be replaced with the new target, 404s require either a new link or the entry should be removed.

- [ ] collector-exporter-aws-prometheus-remote-write.md: https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/awsprometheusremotewriteexporter, error 404
- [ ] collector-exporter-elastic.md: https://github.com/o

[2022-10-24 14:48] maksim77 opened #1899 "Broken link in collector configuration docs"
**What needs to be changed?**
At the very beginning of the article about the collector configuration there is a link to a non-existent file:
[code]

**What is the name + path of the page that needs changed?**
`content/en/docs/collector/configuration.md`

[2022-10-25 12:25] aochagavia opened #1905 "Broken testing example for Elixir"
**What happened?**

I created a new elixir project (`mix new repro`) and followed the instructions on the [documentation](https://opentelemetry.io/docs/instrumentation/erlang/testing/) to set up testing.

In `mix.exs`, I configured the following dependencies:

[code]

I created the `config/config.exs` file with the following content:

[code]

I created `lib/otel_getting_started.ex` with the follow

[2022-10-25 15:23] chalin opened #1907 "OTel showing up twice in navbar"

[2022-10-25 15:29] chalin commented on #1907
@svrnm, @cartermp, @austinlparker et al., this is because the persona PR retrograded docsy

 - #1731

as you can see from the "files" tab:

How do you think that this happened? Is it because a rebase wasn't done on the PR, or @svrnm might you have updated docsy while working on the PR?

[2022-10-25 15:48] #1907 closed

[2022-10-25 15:49] chalin commented on #1907
Not trying to assign blame (since I reviewed the PR too and so am just as responsible), I'm just curious if we can gather some useful insights as to what happened, postmortem. Cheers!

[2022-10-25 16:31] #1905 closed

[2022-10-25 19:30] chalin opened #1911 "Aliases to Java examples need to be preserved to avoid 404s."
_Originally posted by @chalin in https://github.com/open-telemetry/opentelemetry.io/pull/1898#discussion_r1004879890_

[2022-10-25 19:33] svrnm commented on #1855
Here's a script I created to get the 46 entries generated for #1909:

https://github.com/svrnm/opentelemetry.io/blob/scan-for-registry/scripts/registry-scanner/index.mjs

I will reuse it for processors & exporters alike and then try to see if I can make it fly for some language specific implementations.

For the receivers it worked 95% automatic, I needed to touch a few files because they had issu

[2022-10-25 20:22] chalin opened #1914 "Redirect placeholder-page paths to their target links"
_Originally posted by @chalin in https://github.com/open-telemetry/opentelemetry.io/pull/1898#discussion_r1004882675_

- [x] C++ - #1928
- [ ] Go
  - [x] https://github.com/open-telemetry/opentelemetry-go/pull/3401
  - [ ] Update Go-repo submodule - #1957
- [x] Java - #1915

For other language SIGs, see:

- #1808

[2022-10-25 22:00] #1911 closed

[2022-10-25 23:29] chalin commented on #1914
This issue proposes an approach that is slightly different from what is currently implemented. What is currently implemented  is a bit of side-nav "magic". That is, we have side-nav custom code that creates a side-nav entry for a placeholder page as an external link. For example, if you click on **API** in the **Instrumentation > Java** side-nav section, you'll be redirected to https://javadoc.io/

[2022-10-25 23:37] chalin commented on #1914
For an example of how this would be implemented for Java, see #1915.

[2022-10-26 05:19] raunaqgupta opened #1918 "Link to privacy policy in footer is broken"
**What happened?**
Link to privacy policy: https://www.linuxfoundation.org/en/privacy/#:~:text=The%20Linux%20Foundation%27s%20core%20purpose,%2C%20a%20“Project”%29.&text=The%20Privacy%20Policy%20does%20not,employees%20or%20other%20TLF%20personnel. does not exist

<img width="1553" alt="image" src="https://user-images.githubusercontent.com/623670/197941096-4597dced-0a0f-4384-94fe-5f9125d08ced.png">

[2022-10-26 08:01] svrnm commented on #1918
Oh, thanks! @raunaqgupta

[2022-10-26 08:02] svrnm commented on #1918
do you want to provide a PR for it?

[2022-10-26 12:38] cartermp opened #1919 "Top-level docs entry-point --- coming from jaeger, zipkin, opentracing, opencencus"
We can probably break this into separate issues over time, but something that seems to come up often is people already have some older instrumentation from jaeger, zipkin, opentracing, or opencensus. How should they adopt opentelemetry?

I would propose that we have a new top-level entry point, or 2nd-level one: something to the effect of, "I already have instrumentation in $TECHNOLOGY", where $TE

[2022-10-26 12:44] cartermp commented on #1919
Yeah, we'd need to have one for jaeger at least, but ideally all of them.

I think that doc needs work as well since it doesn't involve the collector. But it's a good place to start.

[2022-10-26 13:09] svrnm commented on #1919
Maybe https://opentelemetry.io/docs/migration/ could have some of that generic info you mentioned:

[2022-10-26 13:27] cartermp opened #1921 "Consider moving the internal collector to a web worker (wasm)"
The collector seems as though it can run in wasm as a web worker. That would be dope! Let's try it out and see if we can move our collector there.

[2022-10-26 14:34] svrnm commented on #1807
Related: https://github.com/open-telemetry/opentelemetry.io/pull/1922

[2022-10-26 14:35] svrnm commented on #1921
That would be awesome, let’s make this our only priority 😂

[2022-10-26 16:46] saurabhdes opened #1923 "Improve links in OpenTelemetry Demo now Generally Available! Blog post"
1. Update vendor link to - https://github.com/open-telemetry/opentelemetry-demo#demos-featuring-the-astronomy-shop vs. https://github.com/open-telemetry/opentelemetry-demo#demos-featuring-online-boutique
2. Update docs link to - https://github.com/open-telemetry/opentelemetry-demo/tree/main/docs#opentelemetry-demo-documentation vs. https://github.com/open-telemetry/opentelemetry-demo/tree/main/doc

[2022-10-26 17:31] svrnm commented on #1807
Also related (Lua): https://github.com/open-telemetry/community/issues/1276

[2022-10-27 00:22] chalin commented on #1320
I'm going to close this since the "Getting Started entry [at] (lines 35-36)" is gone, and that was the original topic of this issue. In the interim, we resolved #1364 too.

Feel free to reopen if y'all think that there's more to do that is in scope.

[2022-10-27 00:22] #1320 closed

[2022-10-27 00:37] #1918 closed

[2022-10-27 12:34] chalin commented on #1808
@cartermp - for .NET, which link should be used for the **API reference**?

[2022-10-27 12:45] cartermp commented on #1808
So there's at least two places to link people to:

System.Diagnostics, of which a subset is related to OpenTelemetry (there is no opentelemetry subnamespace): https://learn.microsoft.com/en-us/dotnet/api/system.diagnostics?view=net-6.0 (the history here is that the abstractions in this namespace predate opentelemetry, and so they have been repurposed for several reasons)

System.Diagnostics.Metric

[2022-10-27 12:56] cartermp opened #1935 "Move Go and Ruby docs into this repo"
Phase one: @cartermp talks to some maintainers in-person at kubecon, because face to face communication is awesome
Phase two: @cartermp files issues in each repo and offers to attend SIG meetings to discuss stuff

[2022-10-27 13:46] chalin commented on #1866
PR merged, thanks! I'll submit a followup PR for the remaining issues: #1916, doesn't fix the contrast on the Registry page, for example.

[2022-10-27 14:11] cijothomas commented on #1808
_if/where there is an API reference for the SDK APIs like Sdk.CreateTracerProvider_

Not available. Not the one like what we have for the API (Sytem.Diagnostics)

[2022-10-27 14:17] chalin commented on #1866
Here's the PR which, if y'all agree, should close this issue:

- #1937

[2022-10-27 23:28] chalin commented on #730
Reopening for Ruby:

- https://github.com/open-telemetry/opentelemetry-ruby/issues/1395

[2022-10-27 23:42] chalin opened #1942 "Migrate Ruby docs to this repo"
Contributes to #730. This is the otel.io portion of the work to be done for:

- https://github.com/open-telemetry/opentelemetry-ruby/issues/1395

Tasks:

- [x] Update otel-ruby submodule on website
- [x] Copy `website-docs` content from submodule into `content/en/docs/instrumentation/ruby` (requires replacing the symlink with a real folder)
- [x] Drop the otel-ruby submodule
- [x] Ensure that buil

[2022-10-27 23:46] chalin commented on #1935
Progress:

- https://github.com/open-telemetry/opentelemetry-ruby/issues/1395

[2022-10-28 14:39] NobbZ opened #1949 "Provide examples for Inter-Service-Tracing"
**What needs to be changed?**

Currently "distributed tracing" is mentioned as a major selling point, and it is also mentioned that this works "somehow" via Context Propagation and Baggage.

There is not a single word though, how to use this between 2 independent services.

Therefore it would be nice if there were some examples showing this.

This example could be implemented as some docker compos

[2022-10-28 14:45] svrnm commented on #1949
I agree that it is something our docs should have eventually, see also the discussion in this ticket: https://github.com/open-telemetry/opentelemetry.io/issues/1862

A good starting point to learn is the demo which gives you a complex environment to play with, beyond that, as said in the other ticket as well ideally you should not worry yourself about context propagation: instrumentation libraries

[2022-10-28 16:32] tsloughter commented on #1949
I've wanted similar to what is described. If every language implemented the same 2 client/server services then they could be swapped between in a docker-compose file and you expect the same result.

I also want this to do actual testing of implementations matching the spec, but that is a separate issue.

[2022-10-28 16:39] cartermp commented on #1949
@NobbZ where did you look when you expected to find an explanation + sample?

I agree, it is a big gap. We don't describe _generally_ how context propagation works, nor do we have a dedicated section + example for each language.

[2022-10-28 18:04] svrnm commented on #1949
ACK, here's how I see this in the future:
* Step 1, we have the "roll the dice" web server as "getting started app" for all languages
* Step 2, there is a second route/endpoint called /rolldiceRemotely (or something) that calls /rolldice on a downstream service

But there's a few things that need to be done to get there :)

[2022-10-28 20:01] NobbZ commented on #1949
The demo is hidden well. I searched the documentation and found no hints, I asked google with a couple of keyword combinations, I tried various things in the GH org repo search (but not "demo" obviously).

Perhaps linking it from the Documentation instead of "community" might help with discoverability.

Also a big problem seems to be, I can not make it work…

Something wants to bind `[::]:8080` wh

[2022-10-28 20:53] tsloughter commented on #1949
An interceptor is grpc specific. The propagation to the featureflag service is over grpc so it has the grpcbox interceptor enabled.

There is no httpoison instrumentation library that I am aware of. Taking a quick look it appears httpoison supports a sort of middlewaring (`handle_request_headers`), so it would be simple enough to create one.

[2022-10-28 20:56] tsloughter commented on #1949
Oops, I guess I should have googled first https://github.com/primait/telepoison

I need to get them to submit that to the contrib repo :)

[2022-10-28 21:15] NobbZ commented on #1949
In this case httpoison was just the library I happened to use for the prototype.

And I wouldn't actually need to trace that one (unless I can extend the trace to include ElasticSearch processing the query).

It is basically the end of everything we can observe. Though I will need to find ways for tracing from a JS frontend over backends in JS, Ruby and Elixir, which do some back and forth.

And d

[2022-10-29 14:32] cartermp commented on #1315
Another example where this could be helful: https://twitter.com/RichSeviora/status/1585849264286334976

[2022-10-30 02:23] cartermp commented on #1636
Hmmmm. What if we just didn't use google analytics? I don't personally feel I'll ever need it for the site (users by geo-region doesn't change things, user journeys are nice in theory but I never look at 'em, etc.) And we already capture anonymized requests by http route which is a more accurate count (even if it's a blunt instrument that can be spoofed).

[2022-10-30 02:25] cartermp commented on #1168
I...think we can probably close this for now. Can always re-open but if the program isn't being picked up any time soon then I don't think it's worth tracking.

[2022-10-30 02:25] #1168 closed

[2022-10-30 16:15] cartermp commented on #1923
@saurabhdes would you like to make a PR with these changes? I think they're better links to use indeed, and would love your contribution! 🙂

[2022-10-30 16:19] cartermp commented on #1777
@reyang thanks for filing. I believe this can now be closed since all language index pages use the same pattern for the name.

[2022-10-30 16:19] #1777 closed

[2022-10-30 16:30] cartermp commented on #1154
@chalin this can be closed no?

[2022-10-30 19:25] saurabhdes commented on #1923
thanks @cartermp ! Will create a PR.

[2022-10-30 22:50] #1923 closed

[2022-10-31 00:21] chalin commented on #1154
If I look at #833, I see that there's a related task left to complete (which maybe should be mentioned here?):

That might be why this is still open. But the web docs folder has been moved, so I agree with you, let's close this.

[2022-10-31 00:21] #1154 closed

[2022-10-31 18:15] cartermp commented on #1808
I will close this for now. Collector API is indeed an open question, but also not independent of several other collector docs.

[2022-10-31 18:15] #1808 closed

[2022-10-31 19:05] chalin commented on #1636
LF/CNCF requires access to analytics, and GA is it for now.

[2022-10-31 20:27] #1914 closed

[2022-10-31 20:28] cartermp commented on #1636
aha, gotcha. Bummer!

[2022-11-03 17:43] cartermp opened #1963 "Set up bot for spec and collector contrib version bumps upon a release"
Do what we do with the java instrumentation.

[2022-11-03 17:49] chalin opened #1964 "Add (more) guidance on blog writing"
New guidance as discussed during the 11/03 Comms meeting. For details, see [OpenTelemetry Communications SIG](https://docs.google.com/document/d/1wW0jLldwXN8Nptq2xmgETGbGn9eWP8fitvD5njM-xZY/edit#) meeting notes.

[2022-11-03 18:49] trask commented on #1963
related: https://github.com/open-telemetry/opentelemetry-collector-releases/issues/196 and https://github.com/open-telemetry/opentelemetry.io/pull/1838

[2022-11-03 19:58] #1073 closed

[2022-11-03 22:55] #1942 closed

[2022-11-04 13:17] windsonsea commented on #1890
Good job. It's helpful to me 👍

[2022-11-04 15:14] #1793 closed

[2022-11-09 17:44] #1850 closed

[2022-11-11 07:22] svrnm commented on #1807
Also related, dart: https://github.com/open-telemetry/community/issues/552#issuecomment-1311135028

[2022-11-11 16:17] cartermp opened #1989 "Move Parcel section in web getting-started doc up to be before the code sample"
See here: https://opentelemetry.io/docs/instrumentation/js/getting-started/browser/#creating-a-tracer-provider

When we move to typescript this will be confusing, so we'll need to move the code sample up and talk about how it will work when you use it.

[2022-11-11 18:34] cartermp commented on #1799
Done!

[2022-11-11 18:34] #1799 closed

[2022-11-14 03:45] #1989 closed

[2022-11-14 11:40] svrnm commented on #1855
This is kind of working now.

[2022-11-14 11:40] #1855 closed

[2022-11-14 15:50] svrnm commented on #1874
@Chinwendu20 is this still relevant?

[2022-11-14 16:49] Chinwendu20 commented on #1874
Heyy @svrnm. Incredibly grateful for all the help you have offered me so far. The issue is still open on the collector's repo, so I guess it is still relevant. Right now, I am a bit tight for time and limited in my knowledge of Hugo to work on this right now

[2022-11-14 18:39] svrnm commented on #1874
Sure! Just wanted to check in, so let's keep this open

[2022-11-14 21:12] chalin opened #2006 "GH actions / cron jobs should not be run for forks"
Cron jobs should run only if executed from the https://github.com/open-telemetry org using a conditional something like the follow: `if: ${{ github.repository_owner == 'open-telemetry' }}`. This avoids issues with GH actions failing for various reasons when run from forks. WDYT @svrnm et al.?

[2022-11-15 10:41] svrnm commented on #2006
I agree, that we should add some kind of rule like that, only downside is that if someone wants to improve the job the testing has to happen here **or** this needs to be updated while working on it and re-updated before committing, but maybe something like  `if: ${{ github.repository_owner == 'open-telemetry' || github.repository_owner == 'forked-repo-I-work-on-e.g.-svrnm' }}`

Let me look into th

[2022-11-15 15:32] #2006 closed

[2022-11-16 13:20] gauravesds opened #2018 "When i run the Opentelemetry i was facing the bellow issue"
Notice: Scope: missing call to Scope::detach() for scope #9, created at OpenTelemetry.Context.Context.activate(Context.php:86) at OpenTelemetry.API.Trace.Span.activate(Span.php:51) at {main}(GettingStarted.php:24) in C:\xampp\htdocs\openTelemetry\vendor\open-telemetry\opentelemetry\src\Context\DebugScope.php on line 63

Notice: Scope: missing call to Scope::detach() for scope #35, created at OpenT

[2022-11-16 13:22] svrnm commented on #2018
@open-telemetry/php-approvers please give this a look

[2022-11-16 15:58] svrnm opened #2021 "Add serverless documentation for more languages and serverless providers"
With [js/serverless](https://opentelemetry.io/docs/instrumentation/js/serverless/) we have a first documentation for the use of OpenTelemetry with lambda. As a next step we should have this replicated for other languages and other serverless/faas providers (gcp, azure, knative, etc.)

[2022-11-16 17:22] cartermp opened #2022 "Explain `in_span` more for ruby docs"
It will set the status and record an exception for you, so this is worth mentioning and explaining in the status section as well.

[2022-11-16 18:48] cartermp opened #2024 "For .NET, where should ActivitySource and Meter instances live and why?"
In .NET there's several common options for where to place these objects:

* Static instances (e.g., in a file called `Telemetry.cs` that stores other common constants)
* When using ASP.NET Core, added as singletons via dependency injection
* Living as instances within controllers

[This comment](https://github.com/open-telemetry/opentelemetry.io/pull/2017#discussion_r1024241116) highlights a conce

[2022-11-16 19:07] cijothomas commented on #2024
@utpilla FYI.

[2022-11-16 19:09] cartermp commented on #2024
Also adding @martinjt who has most certainly run into this a bunch when working with users

[2022-11-16 19:13] cijothomas commented on #2024
https://github.com/dotnet/aspnetcore/blob/main/src/Hosting/Hosting/src/GenericHost/GenericWebHostBuilder.cs#L83-L87 Good example of how *not* to do things, but have seen people doing it.

I think modifying this example to show custom Meter, Tracer(activitysource) would help majority.
https://github.com/open-telemetry/opentelemetry-dotnet/tree/main/examples/AspNetCore

[2022-11-18 17:23] svrnm commented on #1807
perl https://github.com/open-telemetry/community/issues/828

[2022-11-19 03:39] odupuy opened #2029 "Manual Instrumentation in Java is missing dependencies and imports and this makes it a time waster"
On https://opentelemetry.io/docs/instrumentation/java/manual The "set up" code below (first and last line) requires a lot of top level dependencies.
[code]
While you can find them it is a lengthy and very painful process.
Please provide the corresponding maven "top level" dependencies below (verified with `mvn dependency:analyze`). Use a collapsible section if you want to keep the things short and

[2022-11-19 04:28] odupuy commented on #2029
Hopefully fixed by #2030

[2022-11-22 07:29] dharesign commented on #1436
I was reading the docs, which state:

and looking into why ended up here as the issue which prompted this addition to the docs.

Why doesn't `startActiveSpan` work?  It seems to call the same methods as the example in the docs calls manually.

[2022-11-22 19:19] cartermp commented on #1436
Not quite - `startActiveSpan` does not set the parent span in the active context. And since sdk-trace-base doesn't propagate context, the span created by it will be a sibling rather than a child of whatever the active span was prior to calling `startActiveSpan`. I suppose if you were to use it in conjunction with `api.context.with` you could get it to be a child span? I haven't tried, but my gut f

[2022-11-23 01:44] dharesign commented on #1436
`api.context.with` is what `startActiveSpan` does though:
https://github.com/open-telemetry/opentelemetry-js/blob/3290b25d0a1f28ad0df7efd30ed3ff15dc1c2189/packages/opentelemetry-sdk-trace-base/src/Tracer.ts#L224-L228

It also does `api.trace.setSpan(parentContext, span)`, where `parentContext` is `api.context.active()` if one wasn't passed into `startActiveSpan`, which is what the docs say to do.

[2022-11-23 15:30] svrnm commented on #2018
@gauravesds I recommend that you reach out to the PHP SIG either via CNCF slack at #otel-php or by raising the same question at https://github.com/open-telemetry/opentelemetry-php/discussions

[2022-11-24 07:52] soft4rchitecture opened #2045 "Add a new persona: Software Architect"
The architect must be able to know what opentelemetry does, and what's the architecture of the solution, so that he knows how it fit into a broader infrastructure.
The software Architect seems to need to know parts of the dev persona and parts of the ops  persona, but not everything.

[2022-11-24 18:01] cartermp commented on #2045
Hmm. If someone in this role needs to know both of those parts, should they not be able to read both and then understand what they will get out of adopting OpenTelemetry?

[2022-11-24 22:13] soft4rchitecture commented on #2045
Well, the whole point is that they don’t need the degree of details each rôle require by itself. They wont waste time telling the good from the bad, the details from the overall
Rather a relevant architectural snapshot of this project, like… a getting started for the architect

[2022-11-25 18:16] cartermp commented on #2045
I've never worked with a software architect before, so I'm afraid I don't quite understand the need here. OpenTelemetry isn't really a component you drop into a system that you can neatly fit into any kind of useful architecture diagram. There are components to it, like the collector and k8s operator, that could potentially fit the bill there. But it's also a collection of SDKs and ecosystem of li

[2022-11-27 21:12] cartermp opened #2048 "Document use of `Sdk.CreateTracerProvider` (i.e., not-web scenarios) for .NET"
As per discussion here: https://github.com/open-telemetry/opentelemetry.io/pull/2017#discussion_r1024238516

People have been haphazardly copy/pasting initialization code into `void`-returning methods that immediately disposed of the `TracerProvider` due to using `uisng var`. However, explicitly calling `Dispose()` somewhere else in an example file instead of a `using var` can also lead to problem

[2022-11-28 00:28] cartermp commented on #1599
Closing this out since those are a part of `Span Context`, which is documented here: https://opentelemetry.io/docs/concepts/signals/traces/#span-context

[2022-11-28 00:28] #1599 closed

[2022-11-28 08:49] #1449 closed

[2022-11-28 14:55] cartermp opened #2052 "Fill remaining JS Metrics docs gaps"
The following concepts still need to be documented with working code samples and good commentary:

- [x] observable counter
- [x] observable updowncounter
- [x] observable gauge
- [ ] views

You can also use this as a guide, at least for Views: https://github.com/open-telemetry/opentelemetry-js/blob/main/doc/metrics.md

[2022-11-28 16:08] cartermp opened #2054 "Flesh out JS propagation docs"
The following need to be documented:

- [ ] W3C propagation with the w3cpeopagator type in openetelemtry/core
- [ ] B3 propagation
- [ ] Baggage propagation (perhaps a separate doc)

[2022-11-28 17:27] cartermp commented on #1963
@svrnm took care of the collector bit and it works as per here: https://github.com/open-telemetry/opentelemetry.io/pull/2056

[2022-11-30 05:03] trask commented on #1807
Julia: https://github.com/open-telemetry/community/issues/898